[2021-04-09 05:33] jyotibalodhi opened #1489 "Offscreening the navbar menu when not required and that's solved the contrast issue"
When we go to the `ocaml.org/learn/` and generating the lighthouse report, it gives an issue for the contrast ratio being too low between background and foreground colors as can be seen in the image below. I am solving the issue by off-screening the navbar menu when not in use and toggle it back when clicked.
In the image below the contact ratio issue can be seen on the right side as a lighthouse

[2021-04-09 05:41] guptadiksha307 commented on #1407
@pitag-ha yes, I think that might be.

[2021-04-09 05:42] guptadiksha307 commented on #1407
Thank you :)

[2021-04-09 05:59] jyotibalodhi commented on #1489
I have raised a PR #1490 solving this issue, kindly have a look!

[2021-04-09 06:19] jyotibalodhi commented on #1306
Hello @patricoferris @pitag-ha , should I proceed with what we discussed in earlier comments, or I shall wait for the maintainer's response on this?
Kindly let me know, thanks ! :)

[2021-04-09 06:36] gurleennsidhuu commented on #1403
If you want to work on this issue then go ahead. :)

[2021-04-09 07:31] pitag-ha commented on #1311
Hi @dldisha , sure, go ahead :)

[2021-04-09 07:59] Muskan-sam commented on #1245
@Srinithyee Thanks for your help. I have successfully set up the project on my system. :)

[2021-04-09 08:14] shreyaswikriti commented on #1460
Thanks, @pitag-ha, Sorry for mentioning this issue here. Should I open a particular issue for this? I am new to the open-source community, that's why don't know more about this. Looking forward to your guidance.

[2021-04-09 08:36] patricoferris commented on #1475
Hi @TildaDares,

The loading procedure is referencing things related to the [OCaml toplevel](https://ocaml.org/manual/toplevel.html#).

In particular the very first code block here: https://github.com/ocaml/ocaml.org/blob/master/site/learn/tutorials/introduction_to_gtk.md#introduction-to-gtk

The site runs these code blocks as if they were actual code using the script I linked to above. But if you

[2021-04-09 08:39] Bhavika-Gianey commented on #1387
Sure @pitag-ha, actually I opened the issue earlier than the specified one so was I was confused whether to carry this issue forward or not. Shall I close it now??

[2021-04-09 08:42] patricoferris commented on #1460
Hi @shreyaswikriti,

Wow, that document is very impressive, thank you for making it! In general the best approach for tackling problems or making suggestions is to do it incrementally or in a "divide and conquer" fashion. This makes it much easier for us to give feedback on a specific, narrowly-scoped issue rather than a larger, more general set of problems.

My advice would be to extract these sm

[2021-04-09 08:43] Bhavika-Gianey commented on #1387
Thanks, @pitag-ha :). I would love to learn and work on harder issues. I have seen all the medium issues are already assigned so if you come across any new issues, kindly let me know :).

[2021-04-09 08:52] patricoferris commented on #1447
Hi @shreyaswikriti,

Thanks for the issue. As a general rule it is important to try and explain *objectively* why an issue exists and makes sense to fix.  I wrote some of this here https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972. Right now from this issue, I personally prefer the old styling as I think it's *easier to read* and *more coherent with the rest of the site*. Happy to hea

[2021-04-09 09:02] TildaDares commented on #1475
@patricoferris Okay so running a normal `make` runs the ocaml code but since some of the code blocks are broken you want an indication or message that something has failed.

[2021-04-09 09:12] pitag-ha commented on #1308
@Muskan-sam , that does look good, thanks! Why didn't you answer when I asked you 3 days ago if you were still working on this and 2 days ago when we re-assigned this issue?

@esticojerry , have you started working on this?

[2021-04-09 09:18] Muskan-sam commented on #1308
@pitag-ha  I am really sorry for that. I had issues while setting up WSL and the project on my system. The issue was finally solved yesterday and I could build the project successfully on my system. I have completed the work. Can you guide me with creating the PR?

[2021-04-09 09:38] patricoferris commented on #1483
Yep, totally agree, this would be great 👍

I think a good place for someone to start is trying to get it working without authentication (I think you can do *some* requests without it https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#authentication) and probably using the Github library for OCaml: https://github.com/mirage/ocaml-github

If we can get a basic example off the g

[2021-04-09 09:56] patricoferris commented on #1421
@LindieK that sounds like it might work good idea, (I would still only render one of the names used) -- give it a go and see if we cut down on the duplications :))

[2021-04-09 09:57] pitag-ha commented on #1483
@dinakajoy, are you still eager to  work on something more related to the opam package search project? What do you think about this issue? Since you've already done a couple of great contributions, you could work on a medium, opam package search project related issue like this.

[2021-04-09 10:09] TildaDares commented on #1475
@patricoferris I ran this script https://github.com/ocaml/ocaml.org/blob/master/script/code_top.ml with `ocamlfind ocamlc -g -package lablgtk2 -linkpkg script/code_top.ml -o script/code_top` and it returned ```
File "script/code_top.ml", line 6, characters 5-15:
6 | open Code_types
         ^^^^^^^^^^
Error: Unbound module Code_types
[code]

[2021-04-09 10:19] Muskan-sam commented on #1246
@gs0510 Instead of keeping the ocaml.org header, I was asked to make the external nature of  `packages`  navigation item of the  navigation bar visible by marking it with an external link icon ( issue : #1308) . I have already submitted a PR for that.

[2021-04-09 11:09] dinakajoy commented on #1483
Sure, I am. I will follow it up and reach out for guidance when needed. Thank you

[2021-04-09 11:18] pitag-ha commented on #1255
If I'm no missing anything, this issue is open for folks who want to start contributing :)

[2021-04-09 11:20] pitag-ha commented on #1285
@divya144, how is it going? :) Are you still working in this?

[2021-04-09 11:21] pitag-ha commented on #1293
@IkehAkinyemi , how is it going? :) Are you still working in this?

[2021-04-09 11:22] gs0510 commented on #1270
Hi @Kanak1081, I saw that you closed your PR, do you still want to work on this? Thanks! :)

[2021-04-09 11:25] pitag-ha commented on #1315
@gurleennsidhuu , have you already worked on (1) and (2)?

[2021-04-09 11:32] kanishka-work commented on #1483
We both found scaladex pretty interesting at some point. It has some interesting data feeds, similar to this issue.

[2021-04-09 11:32] gurleennsidhuu commented on #1315
Yes. I was

Can you please confirm if this is correct?

[2021-04-09 11:33] pitag-ha commented on #1325
@SanduniK95 , how is it going? :) Are you still working on this issue?

[2021-04-09 11:35] pitag-ha commented on #1349
@CarolVilarino , how is it going? :) Are you still working on this?

[2021-04-09 11:36] patricoferris opened #1492 "Add new script for checking how up to date translations are"
Currently we have no insight into how up to date (or most likely not) the translations of the site are.

One partial solution for at least providing insight into the problem is have a script which compares the last known modification time (using git) of pages which are supposed to be a translation of each other. This script could then dump this list to stdout and at least then we would have a basi

[2021-04-09 11:36] pitag-ha commented on #1357
How is it going @Goodiec? :) Are you still working on this?

[2021-04-09 11:38] gs0510 commented on #1310
Hi @Goodiec , can you also provide screenshots for Firefox in the PR? Thanks :)

[2021-04-09 11:39] Goodiec commented on #1357
Yes @pitag-ha, will open a pull request for it shortly. Thank you

[2021-04-09 11:40] gs0510 commented on #1312
Hi @ChitvanRamani22, did you make progress on this issue? Thanks!

[2021-04-09 11:40] pitag-ha commented on #1367
@guptadiksha307 , how is it going? :) Are you still working on this?

[2021-04-09 11:43] Srinithyee commented on #1492
@patricoferris can I work on this?

[2021-04-09 11:44] Goodiec commented on #1310
Hello @gs0510, I have updated the PR description to include screenshots of the page display on Firefox browser. Thank you.

[2021-04-09 11:45] pitag-ha commented on #1371
@Srinithyee , do I understand correctly that your suggestion is for books without cover to replace the generic OCaml png by the book's first page? Why do you think that's better? :) The advantage of the generic OCaml png is:
- we don't load unnecessary data (we only load one for all)
- it looks better

[2021-04-09 11:46] patricoferris commented on #109
That looks good to me -- we probably don't need the breadcrumbs (`Home > 404page.md`) on this page, but it might be nice to add a link in the 404 message to home. Feel free to open a PR for this :))

[2021-04-09 11:47] gs0510 commented on #1336
@Msgl Are you still working on this issue?

[2021-04-09 11:48] gs0510 commented on #1336
We'll wait for @Msgl , If they are still working we can close your PR. There's a lot of open issues, you can choose from the ones that haven't been assigned.

[2021-04-09 11:49] Riddhima23 commented on #1403
@gurleennsidhuu Okay thanks I'll start working on this!😄

[2021-04-09 11:51] patricoferris commented on #1265
Sure @yashi-hub -- just to clarify, here we're trying to understand why this fails and how to make it not (the linked issue is about error reporting whenever things fail).

[2021-04-09 11:53] pitag-ha commented on #1387
yes, you're totally right! I'm also not sure if @guptadiksha307's PR will be merged. That's a general risk and even higher when opening PRs before discussing the idea as done in that PR.

If you want, you can also open a PR for your idea. In projects that lots of people are working on, it sometimes happens that two PR's aren't compatible and max one of them will be merged. So I'd say it's up to yo

[2021-04-09 11:54] guptadiksha307 commented on #1367
@pitag-ha The PR related to this issue has been merged. Thank you :)

[2021-04-09 11:57] gs0510 commented on #1360
@LindieK thanks for your PR. I think it's not a meaningful change at this point in time and since you're already working on a `good-first-issue` you can pick up more challenging issues. Thanks! :)

[2021-04-09 11:58] gs0510 commented on #1374
@LindieK  are you working on this? :)

[2021-04-09 11:59] pitag-ha commented on #1413
@gurleennsidhuu , do you know French? :)

[2021-04-09 12:02] Msgl commented on #1336
Hello @gs0510 ! Yes, I am still working on this issue.

[2021-04-09 12:04] gs0510 commented on #1376
@Srinithyee  I agree with @pitag-ha, I would also like the table of contents to be same as before, but the spacing solution is good. Do you want to provide a screenshot with those, and if it looks good you can go ahead? :)

[2021-04-09 12:07] gurleennsidhuu commented on #1315
Should I keep the 'Prochains evenements' section empty or should I remove it?

[2021-04-09 12:09] gs0510 commented on #1402
@yashi-hub Were you able to make any progress? Do you have any questions or need any help? :)

[2021-04-09 12:12] gs0510 commented on #1388
@SAY-droid427 As mentioned on the PR here #1392, a global change is hard, do you want to pick up a specific part of the website and apply that change instead? Are you still working on this? Thanks!

[2021-04-09 12:18] gs0510 commented on #1418
@Jane-Kotovich  You can pick this up and after this issue, you should pick up a `medium` issue. Thanks!

[2021-04-09 12:25] yashi-hub commented on #1402
hey @gs0510 , I'm working on it. I'm trying to fit things described on the issue.
It is taking a bit of time because it requires many changes.
I'll get back to you if I need some help :))

[2021-04-09 12:27] gs0510 commented on #1472
@Srinithyee yes we can leave this for someone who hasn't contributed to a good-first-issue yet. Thanks!

[2021-04-09 12:28] gs0510 commented on #1492
@Srinithyee sure go ahead! And ask any questions if you're stuck :)

[2021-04-09 12:32] gs0510 commented on #1444
Thanks for opening this issue, can you add a before screenshot as well @shreyaswikriti and a link to the website? Since you are already working on a bunch of `good-first-issue` I suggest leaving this for another contributor.

[2021-04-09 12:35] Srinithyee commented on #1371
@pitag-ha yes, I do agree with you based on your points.
But the book Unix System Programming in OCaml does have a cover. How about [linking]( https://i0.wp.com/www.linuxlinks.com/wp-content/uploads/2019/08/Unix-System-Programming-OCaml.jpg?resize=166%2C218&ssl=1) that alone?

[2021-04-09 12:39] Srinithyee commented on #1376
By spacing, I meant the space left on the left hand side of the page, on scrolling down. Like this one below:

![image](https://user-images.githubusercontent.com/34683520/113420345-c44bdf80-93e6-11eb-879a-b09664eba6f2.png)

Is this the spacing you'd like me to propose a solution to fix?

[2021-04-09 12:41] LindieK commented on #1374
@gs0510 yes I am

[2021-04-09 12:41] gs0510 commented on #1487
@dldisha I think since you've already worked on a couple of `good-first-issue`s you can pick up a harder one. There's already been issues to fix the Industrial Users and making the size of the videos equal, and I think they address most of this issue :)

[2021-04-09 12:50] Srinithyee commented on #1492
@gs0510 okay! I'll start working on this. Yes, I'll make sure I reach out to you guys when I am stuck. Thanks a lot :)

[2021-04-09 12:52] gs0510 commented on #1376
@Srinithyee I'd leave it open for someone else to pick up! Thanks!

[2021-04-09 12:53] gs0510 commented on #1371
@Srinithyee I think we can close this issue then :)

[2021-04-09 12:53] Srinithyee commented on #1472
@SanduniK95 I see that you haven't been able to find any good-first-issue. Would you like to try this?

[2021-04-09 12:54] gs0510 commented on #1367
Can you link the PR here? @guptadiksha307

[2021-04-09 12:54] Srinithyee commented on #1376
@gs0510 Okay :)

[2021-04-09 12:55] Srinithyee commented on #1371
@gs0510 Alright then! I'll close it :)

[2021-04-09 12:55] #1371 closed

[2021-04-09 12:59] Srinithyee commented on #1376
@kaniaganda Would you like to work on this as a good-first-issue, incase you haven't found one yet?

[2021-04-09 13:15] guptadiksha307 commented on #1367
@pitag-ha here is the link of the PR-
https://github.com/ocaml/ocaml.org/pull/1377#event-4558321957

[2021-04-09 13:47] pitag-ha commented on #1315
Maybe we could do it as on the English page? Do you speak French?

[2021-04-09 13:59] pitag-ha commented on #1374
I don't think there are any plans for that. Is the bootstrap version an issue here?

[2021-04-09 14:02] gurleennsidhuu commented on #1315
I think the English page doesn't have past and upcoming events section and no, I don't speak or know French.

[2021-04-09 14:08] pitag-ha commented on #1455
How does the top of the site look like when aligning the videos horizontally?

[2021-04-09 14:13] dldisha commented on #1487
Okay @gs0510, I'll look for some harder ones. Could you assign me any?

[2021-04-09 14:18] LindieK commented on #1374
Yes. Although I can make the changes to the page required using bootstrap this would entail writing more CSS classes increasing the size of the code base and the amount of work to be done maintaining the code.

There have been so many improvements made in bootstrap 3 and 4 that would make styling more efficient and neat. There are also many changes that would help in improving accessibility of the

[2021-04-09 14:20] pitag-ha commented on #1437
I'm not really convinced to be honest. From what I understand
- steps 1-3 is the WSL setup (I'd say that when you're running debian natively, you have `build-essentials` installed already).
- steps 5-7 is cloning the repo and cd-ing into it.
- steps 4, 8, 9 and 10 are explained in CONTRIBUTION.md

Is that right?

[2021-04-09 14:22] pitag-ha commented on #1443
To me _Acknowledgements_ doesn't actually seem left out. How would it look like if it was center aligned?

[2021-04-09 14:55] patricoferris commented on #1359
A unified drop-down styling might be quite nice, thanks @nibble0101!

[2021-04-09 15:07] patricoferris commented on #1258
@mercybassey I'm not entirely sure what that's concerning, if this is an issue that needs fixed please open a separate issue thanks :))

@yashi-hub thanks for the PR closing now :))

[2021-04-09 15:08] patricoferris commented on #1319
Thanks @Bhavika-Gianey for the fix :))

[2021-04-09 15:08] #1319 closed

[2021-04-09 15:10] patricoferris commented on #1328
Closing for now

[2021-04-09 15:10] #1328 closed

[2021-04-09 15:14] patricoferris commented on #1330
Looks like the CONTRIBUTING.md changes have been merged, thanks @IkehAkinyemi

[2021-04-09 15:14] #1330 closed

[2021-04-09 15:16] patricoferris commented on #1383
Looks like this was just a difference between Github rendering and our deployment, thanks for looking into this @hitblunders :))

[2021-04-09 15:16] #1383 closed

[2021-04-09 15:17] patricoferris commented on #1360
I agree with @gs0510 -- thanks for the effort you put into the issue @LindieK

[2021-04-09 15:17] #1360 closed

[2021-04-09 15:18] patricoferris commented on #1414
No worries I can close it -- thanks for clarifying @Ndipbanyan :))

[2021-04-09 15:18] #1414 closed

[2021-04-09 15:20] patricoferris commented on #1430
Seems like there's not much value in a french page when we're just rendering the collection of news articles, thanks for bringing this to our attention anyway @shreyaswikriti :))

[2021-04-09 15:20] #1430 closed

[2021-04-09 15:21] #1478 closed

[2021-04-09 15:23] #1476 closed

[2021-04-09 15:24] patricoferris commented on #1276
The issues here seem to be fixed the live site so closing now :))

[2021-04-09 15:24] #1276 closed

[2021-04-09 15:25] patricoferris commented on #1487
I think this issue is also just about which text justification somebody prefers. I'm quite happy with the current design so I'll close this for now. If anyone has a compelling reason to add it, happy to have my mind changed.

[2021-04-09 15:25] #1487 closed

[2021-04-09 15:26] patricoferris commented on #1367
Nice @guptadiksha307 thank you :))

[2021-04-09 15:26] #1367 closed

[2021-04-09 15:27] patricoferris commented on #1246
Changing the header on `opam.ocaml.org` isn't quite in our control because of the different deployment method so I'm going to close this issue for now.

[2021-04-09 15:27] #1246 closed

[2021-04-09 15:41] patricoferris commented on #1475
No worries, this is a complicated issue (that's the point 😄).

So this compiler error is telling you that it cannot found this module that you want. The best way to work out how to compile and run this script is to see how the Makefile currently does. If you search files for `code_top` you can find https://github.com/ocaml/ocaml.org/blob/eca0b931985ca4cf5c646224c2292e53a0d73604/Makefile.common#L90

[2021-04-09 15:46] patricoferris commented on #1321
Hi @Srinithyee I've done a little extra digging on this issue, so let me explain some things and then you can see if you still want to work on it.

The latest `omd` *binary* doesn't have the same level of functionality as the old one. In particular, it cannot generate table of contents like we do now (i.e. `omd -otoc...`), so until that functionality is brought back we cannot upgrade to `omd.2.0.0

[2021-04-09 15:48] patricoferris commented on #1321
Just seen you are working on https://github.com/ocaml/ocaml.org/issues/1492 -- it's best that you focus on that one I think. If anyone else wants to work on this given the above let me know :))

[2021-04-09 15:54] pitag-ha commented on #1315
Yeah, I also think in English that's only one section, so we could do the same in French. But I don't know how to tranlsate that to French

[2021-04-09 16:19] gurleennsidhuu commented on #1315
Can we use google translator?

[2021-04-09 16:31] pitag-ha commented on #1315
I don't think Google translator would a a good idea: we might end up choosing a wrong translation.

[2021-04-09 16:35] Goodiec commented on #1357
@pitag-ha, @gs0510, I am trying to see if I can come up with layout improvements/new layout suggestions for some of the website pages especially those with a lot of content, is that within the scope of the contribution period? Also, I would be glad if you could point me to medium and challenging issues relating to the project I am interested in working on (Improving the Ocam,org website), thank yo

[2021-04-09 16:47] pitag-ha commented on #1374
Yes, I think you're totally right! Sadly, upgrading bootstrap would be a huge amount of work, both due to the breaking changes in bootstrap and due to the changes we've made to our vendored version of it. If you want, you can give it a try anyways (file a different issue in that case), but I don't know how much time it would take - probably quite a bit.

For this issue, I think you can add the nec

[2021-04-09 16:52] Ndipbanyan commented on #1245
@patricoferris @pitag-ha I am open to take on an available medium task to challenge myself further as I have attempted two(2) simple contributions so far. Thank you

[2021-04-09 17:08] LindieK commented on #1374
Okay I will finish this up and look into that.

[2021-04-09 17:33] gs0510 commented on #1321
@Goodiec  Since you were asking for a more challenging issue, you can take this one! :)

[2021-04-09 17:34] gs0510 commented on #1357
@Goodiec I tagged you on this `medium` issue: #1321 :)

[2021-04-09 18:25] shreyaswikriti commented on #1444
Before screenshot
![image](https://user-images.githubusercontent.com/57635473/114224424-ad7d2e00-998e-11eb-9a9e-7cfae8747d88.png)
link to the website
https://www.ocaml.org/community/
This issue is to convert all 'see more' and 'see archives' type links to button links so that they will be more visible to users.

[2021-04-09 18:39] shreyaswikriti commented on #1455
The page stucture we currently have :
![image](https://user-images.githubusercontent.com/57635473/114225948-93444f80-9990-11eb-9dbf-319e9f147ae5.png)
![image](https://user-images.githubusercontent.com/57635473/114225983-9e977b00-9990-11eb-836c-ce35e1ce9bbc.png)
Now here with diagrams I have proposed a solution to avoid clusttering on the page
We can use sliders and align everything horizontally. K

[2021-04-09 18:46] shreyaswikriti commented on #1460
@patricoferris, thanks for your kind instructions. I'll open small issues with the help of this doc.

[2021-04-09 18:51] shreyaswikriti opened #1499 "UI issues on News column on home page"
**On the https://www.ocaml.org/ page, there seemed to be a confusing UI on the news column. here is the proposed solution**

![image](https://user-images.githubusercontent.com/57635473/114227383-8b85aa80-9992-11eb-9d67-f965c096a881.png)

![image](https://user-images.githubusercontent.com/57635473/114227341-7f015200-9992-11eb-97ab-5445413d8610.png)

[2021-04-09 19:57] TildaDares commented on #1475
@patricoferris I think it's a lot clearer now. The errors in file:///Users/tilda/ocaml.org/ocaml.org/learn/tutorials/introduction_to_gtk.html were not hardcoded and they are as a result of the code failing.  When `make` is run the Makefile compiles a bunch of scripts which includes md_preprocess.ml which in turn calls code_top.ml. Since some of the code blocks have errors running `make` should pri

[2021-04-09 21:31] CQW-Code commented on #1359
Not sure if anyone is working on this.. but I wanted to drop in what the version selector looks like in Safari.  Seems to be the most elegant look ;).   I think a dropdown menu can be created with Bootstrap CSS.

I don't know if this is a "good first issue" or a 'medium' issue (I'm looking for another one to do).

<img width="385" alt="image" src="https://user-images.githubusercontent.com/13385463

[2021-04-10 00:24] ozmos commented on #1499
Hi I'd like to look after this issue please

[2021-04-10 01:41] jyotibalodhi commented on #1245
Hello @patricoferris @pitag-ha @gs0510 , I would like to work on the medium issues set up for outreachy applicants. I think I have understood the basic flow working on the good first issue and others and would love to contribute in more complex issues. Thank you!

[2021-04-10 03:15] ozmos commented on #1499
I am trying to find a template file which generates the news feed but it looks like the news feed content is hard coded into the *index.md* file:
[code]
Is there a template which generates this markdown which I should be altering to change the markup?  I'm guessing the news feed gets updated regularly so it doesn't make sense to change this markup directly.  Otherwise I can try to to fix this issu

[2021-04-10 03:30] Srinithyee commented on #1321
@patricoferris Yes, I'd like to work on #1492. Thanks a lot for your clarification on this issue though :))

[2021-04-10 03:40] Srinithyee commented on #1492
@patricoferris I'd like to clarify the issue, so that I understand better. What would you like the the list to hold? the time of the change of a translated page or something like a key value pair?

[2021-04-10 03:41] kaniaganda commented on #1376
@Srinithyee Yes! I would like to work on the issue. Thank you!

[2021-04-10 03:50] Srinithyee commented on #1437
@pitag-ha  Yes, the steps are simple. But, there is no laid down procedure having it all together in one place. For instance, an Outreachy applicant @Muskan-sam  wasn't able to set up the dev env on windows although the steps are available out there, but in different places. But, the steps I've mentioned on my previous comment on this issue did help here.

My intention was only to make things easi

[2021-04-10 04:34] Goodiec commented on #1321
OK @gs0510, I'll attempt this. Thank you.

[2021-04-10 06:01] Riddhima23 commented on #824
@Chris00 can I work on the issue of making a bot for IRC?

[2021-04-10 08:05] TildaDares commented on #1475
@patricoferris What line in https://github.com/ocaml/ocaml.org/blob/master/script/code_top.ml takes the code and compiles it?

[2021-04-10 08:14] guptadiksha307 opened #1501 "Modify https://ocaml.org/learn/tutorials/a_first_hour_with_ocaml.html File"
Learning the fundamentals of a programming language is the first place any aspiring developer should start. A user (beginner) who wants to learn about the OCaml programming language will firstly look for the basic OCaml Types, Expressions, and Operations.
In the section **learn/tutorials/a_first_hour_with_ocam** I think **Types** content should come before **Expressions**. Also, I would like to ad

[2021-04-10 08:19] guptadiksha307 commented on #1501
@gs0510 If you find it relevant, please let me know. I can forward you the content that I'm planning to add.

[2021-04-10 11:07] Riddhima23 commented on #1468
@gs0150 could you please review the issue. There was some error with main branch so PR was shut down. If approved I will make one again! :)

[2021-04-10 11:10] Riddhima23 commented on #1468
@gs0510 Could you please review the issue. There was some issue with the main branch hence the PR got closed. If approved I will make it again :)

[2021-04-10 12:29] mahakbansal2019 commented on #1467
@gs0510 @patricoferris Does this looks fine ?
Should I go ahead with this ?

![Screenshot from 2021-04-10 17-57-18](https://user-images.githubusercontent.com/53010252/114269789-66427c00-9a26-11eb-964a-01889715caa0.png)

[2021-04-10 12:45] Deek9399 commented on #1245
Hello @pitag-ha, @gs0510, @patricoferris, I am an Outreachy applicant interested in the projects  "Create opam package search" and "Improve the ocaml.org website".I am looking for issues to contribute to the projects. I was able to set up the project and getting myself familiar with the codebase as well as OCaml.

[2021-04-10 15:17] kanishka-work opened #1503 "link to stackshare from industrial users"
In addition to the locally maintained lists, stackshare has a list of companies using ocaml

https://stackshare.io/ocaml

Consider linking to that website from the top or bottom of the industrial users page

[2021-04-10 15:53] kanishka-work opened #1504 "create a thread in discuss for each tutorial, add links on site"
For each tutorial, create a thread on discuss.ocaml.org, and display a link to the discussion at the bottom of the tutorial on this website.

[2021-04-10 18:39] dldisha commented on #1504
I'm interested in working on this.

[2021-04-10 19:54] LindieK commented on #1374
@pitag-ha I have made the changes to the layout. Due to the structuring of the html, I was not able to achieve a two-column layout as I intended. Achieving it would mean restructuring the sections of the page and creating new styling for it.

The present layout was being handled by one bootstrap class which is used on a lot of pages. To avoid breaking those pages, I created a class specific to the

[2021-04-11 04:27] Bhavika-Gianey commented on #1503
I would like to work on this.

[2021-04-11 05:51] gurleennsidhuu commented on #1315
I talked to one of my friends who knows French and according to her the google translation 'Atelier utilisateurs et développeurs OCaml' for OCaml Users and Developers Workshop is correct.

[2021-04-11 08:55] gurleennsidhuu commented on #1413
No, I don't know French.

[2021-04-11 09:11] gurleennsidhuu commented on #1245
Hi. @patricoferris @pitag-ha @gs0510 I have attempted `good first issues` and now I am a little comfortable with the code. It would help me alot if you suggest me some `medium issues` as every issue is already taken. :)

[2021-04-11 12:41] mercybassey commented on #1359
Hello @patricoferris  can i work on this issue

[2021-04-11 12:50] LindieK opened #1507 "Fix use of footer tag on learn page"
## Context

The "See Full List" links under the books and tutorials section on the learn page is enclosed in a paragraph tag which is enclosed in a footer tag. This is semantically wrong as screen readers would misinterpret the footer tag there to be an actual footer.

You can view the page [here](https://ocaml.org/learn/).

## Process

To view the code with the issue,
1. navigate to the `index.md

[2021-04-11 13:02] LindieK commented on #1507
I think this is a `good first issue` for someone to work on @gs0510

[2021-04-11 13:40] dinakajoy commented on #505
@pitag-ha from my research so far, a good place to add a recursive type is when writing a custom linkedlist.
As it can be empty or a list of similar types.
For example:
type 'a a_linkedlist = Nil | List of 'a * 'a a_linkedlist;;
What do you think about this?

[2021-04-11 15:21] Deek9399 commented on #1255
Hello @pitag-ha, I am an Outreachy intern, and I would like to work on this issue.

[2021-04-11 20:38] JackieBinya commented on #1507
Hello I am interested in working on this PR.

[2021-04-11 21:28] LindieK commented on #1421
@patricoferris  I tried running `git log --format="%aE %aN" | sort | uniq` to see how much the duplicates would be cut down. I noticed a few things:
1.  Because some commits were made by people other tahn the authors of the changes, the email listed for the author is the auto-generated mail of github.
2. The `uniq` command runs through the names as well so there are results that bear the same emai

[2021-04-11 21:45] TildaDares commented on #1475
https://github.com/ocaml/ocaml.org/blob/master/script/code_top.ml#L45 is the function that evaluates the Ocaml code and is probably the function that will have the `try...with` block for handling exceptions.

[2021-04-12 03:42] Srinithyee commented on #1492
@patricoferris Here's how I plan to work on this issue:
1. Create a map of the files in English to it's corresponding French files  using `module Map : Stdlib.Map.S with type Map.key = t`
2.  use `val compare_by_date : t -> t -> int` through each iteration of the map
3.  Store the result of 2 in a list to be dumped to stdout.

Am I on the right track?

[2021-04-12 04:51] Jay-Fred31 commented on #1245
Hi, @patricoferris @pitag-ha I am interested in making contributions, Please are there any unclaimed first issues that I can try out as my first good issue. Thanks

[2021-04-12 07:04] patricoferris commented on #1492
Hi @Srinithyee,

That sounds okay. By `scripts` I mean an OCaml file in the `script` directory.

How you go about implementing it is entirely up to you, but be aware that there are some pages with more than just french translations. The list printed to `stdout` should be easily interpretable i.e. we need to know which two files are being compared and what the difference in time is, not just that t

[2021-04-12 07:37] gs0510 commented on #1507
Thanks for opening this issue @LindieK! @JackieBinya  you can go ahead and work on this issue :)

[2021-04-12 07:41] gs0510 commented on #1501
@guptadiksha307 Can you elaborate why you think types should come before expressions? I think the operators demand their own tutorial so we can leave that be from this tutorial.

[2021-04-12 07:57] gs0510 commented on #1472
@Deek9339 Do you want to take a look at this? Thanks! :)

[2021-04-12 08:09] gs0510 commented on #1467
@mahakbansal2019 Yes this looks good, you can go ahead with this change! Thanks!

[2021-04-12 09:11] pitag-ha commented on #1455
If I understand correctly, you've made one category per block. Is that right? Why have you drafted several blocks when "Code example" is selected? What would be the other blocks? And similar for "Tutorials and FaQ"?

[2021-04-12 09:23] pitag-ha commented on #1374
Sounds all good, @LindieK, thanks! :)

[2021-04-12 09:47] pitag-ha commented on #1413
I've just seen that you're the same person who's working on #1315. Thanks for trying to improve the French pages!

Were you thinking about fixing this without speaking French? Or was it more like pointing it out in general?

I'm not finding the syntax error there. Could you point me to it? Also, the screen shot you've added is from the English page. Was that intentional?

Good catch, thanks! I'd s

[2021-04-12 10:03] gurleennsidhuu commented on #1413
I think I should not work on this issue because I don't know French and also I have worked on many simple issues. I would prefer leaving it for other Outreachy aspirants who have not yet got any `good first issues`. :)

[2021-04-12 10:14] Lontchi12 commented on #1336
Hello Everybody, please i'm interested in this project and i'll like to contribute to it, please can someone show me the go ahead?

[2021-04-12 10:16] SanduniK95 commented on #1325
@pitag-ha Yes, I'm working on it! I was having some issues with setting up the project but I'm working on it by referring to the replies of other people who seemed to have had the same problems

[2021-04-12 10:18] pitag-ha commented on #505
@dinakajoy, thanks for the research you've done! Yes, I think a custom linked list would be a great example, since there's no way to implement it without recursive types (or at least none I could think of), it's simple and most people know what it is. Where about in the tutorials would you add it?

[2021-04-12 10:19] pitag-ha commented on #505
I've just seen that there already is a similar example in the tutorials: see [here](https://ocaml.org/learn/tutorials/data_types_and_matching.html#Recursive-variants-used-for-trees).

@UnixJunkie, were you aware of that when filing this issue? :) If so, what did you have in mind with this issue?

[2021-04-12 10:25] shreyaswikriti commented on #1245
Hello, @gs0510 @patricoferris @pitag-ha  I have raised Pull requests for a couple of good first issues and now I am familiar with the codebase. I would love to work on medium issues. Kindly suggest some. Thanks.

[2021-04-12 10:26] pitag-ha commented on #1255
@Deek9399, I've just read the issue again and am not sure how easy it will be. But if you'd like to, you can work on this :)

[2021-04-12 10:36] Msgl commented on #1336
Hello @Lontchi12 ! I'm still working on this issue :)

A quick question @gs0510 can I create a PR once my solution is ready or should I wait for the other PR to be closed first?

[2021-04-12 10:42] gs0510 commented on #1336
@Msgl, you can go ahead and open a PR!

[2021-04-12 10:43] gs0510 commented on #1336
@mercybassey can you close your PR please? You can pick any other open issue on the repo. Thanks!

[2021-04-12 10:46] gs0510 commented on #1265
@yashi-hub I see that you're also on #1402 (which is a medium issue). Can you pick either this issue or the other one so someone else can also be assigned a medium issue? Thank you!

[2021-04-12 10:47] yashi-hub commented on #1402
Hey, @patricoferris @gs0510, I have worked a lot on this issue, I have almost achieved what was described here.
but I'm just facing an issue

https://user-images.githubusercontent.com/69522036/114382388-ef35f080-9ba9-11eb-9e4a-94f5253141ea.mp4

I have uploaded the video, in this, the right-hand side content is fixed as described by @Ndipbanyan above.
but the introduction to OCaml (just this one li

[2021-04-12 10:49] yashi-hub commented on #1265
hey @gs0510, I have no problem if this issue is assigned to someone else, but I have already invested a major time in this issue as well as to #1402.
#1402 is almost done, and this one is in process.
can you suggest what can be done now? :))

[2021-04-12 10:51] dinakajoy commented on #1483
I could not find a way to get all repos tagged ocaml. I also came across this https://reactlibraries.com/ and would like to know if a similar concept will be good with each link displaying details of the library and pull request details

[2021-04-12 12:11] guptadiksha307 commented on #1501
@gs0510 I believe that knowing the ** Basic Types** is the first step towards learning any programming language. The beginners are generally told about the range of the basic data types(int, char, float, etc) at the beginning itself.
Also, it's written in the **Expressions** section that
![image](https://user-images.githubusercontent.com/53967592/114392335-3de98780-9bb6-11eb-8982-dcf3ca3907f6.png)

[2021-04-12 12:14] guptadiksha307 commented on #1501
So, we are not allowed to add any tutorials right?

[2021-04-12 12:58] Lovelyfin00 commented on #1472
Hi
I'm an outreachy applicant and I would love to work on this.

[2021-04-12 13:18] TildaDares opened #1512 "Dead link in https://ocaml.org/learn/tutorials/introduction_to_gtk.html"
The first link in the Introduction to Gtk section is dead. I think the link should lead to https://ocaml.org/learn/tutorials/a_first_hour_with_ocaml.html

![image](https://user-images.githubusercontent.com/63427719/114400206-a37b4b00-9b99-11eb-9c49-5d932dce843a.png)

This is a good-first-issue

[2021-04-12 13:27] gs0510 commented on #1265
@yashi-hub Sorry, this is our bad. Can you tell what progress you've made on this issue? Thanks!

[2021-04-12 13:47] yashi-hub commented on #1265
sure,
as I'm new to OCaml and not aware of how the compilation process and dependencies affect the running code and before this, I've just solved few frontend issues requiring no or less knowledge about the codebase.
so I've followed the `getting started`  tutorial for running all the codes and compiling them with the dependencies (`lablgtk`) required at the local computer.
I also recently learned

[2021-04-12 14:08] Srinithyee commented on #1492
@patricoferris being a  beginner to OCaml, I have a couple of questions ( I'm sorry if they are too basic)
1. Do you have a general format of how the script should be?
2. I'd also like to know if I can use regular git commands within the script to perform the git operations
3.  Do you have any script that uses mirage? I am not too sure about how to use it. I did try running the example given in th

[2021-04-12 14:59] avsm commented on #1175
@bluddy - I'm going to have to destroy this virtual machine in a month or so.  If you don't get back to me, I'll recreate a new Discord bridge, but the old secret will be gone.

[2021-04-12 15:39] gs0510 commented on #1437
@Srinithyee Writing down WSL steps is out of scope and also means that we might have a documentation debt when things change. If you want, you can write a blog post (which won't be linked to ocaml.org) but if/when someone runs into an error setting up WSL they can find your blog post when they google it. :)

[2021-04-12 15:40] gs0510 commented on #1265
@yashi-hub  Okay, in that case I will assign it to someone who hasn't worked on a medium issue yet. We'll open some other issues by the time you get done with a PR for #1402. Thanks! :)

[2021-04-12 15:42] gs0510 commented on #1265
@Ndipbanyan Do you want to take a look at this issue since you were asking for a medium issue to take a look at? Thanks! :)

[2021-04-12 15:46] #1265 closed

[2021-04-12 18:16] shreyaswikriti commented on #1455
oh my bad, Don't care about other blocks. Also, I wanted to show you that there are in total six sections on the learn page. Now all sections can be displayed as a menu using sliders like the image below:
![Screenshot from 2021-04-12 23-39-06](https://user-images.githubusercontent.com/57635473/114440968-6ee2b000-9be8-11eb-8ba2-e44e4181d8ac.png)
when the user wants to access the contents of any sec

[2021-04-12 18:35] patricoferris commented on #1492
Awesome work so far, to get to this point (and hopefully have an understanding of what's going on) is great! Mirage is a tool for building Unikernels, it has a lot of requirements so often libraries (like this one) are written for what we need (Unix) and for Mirage. We don't need to worry about that.

By the way, this is non-trivial OCaml code. I recommend having a quick read of https://mirage.io/

[2021-04-12 18:36] shreyaswikriti commented on #1499
Hii @ozmos, I am an Outreachy applicant here. So better ask mentors. Thank you for showing interest . @patricoferris @pitag-ha kindly look into this.

[2021-04-12 19:37] mercybassey commented on #1359
Hello @gs0510 @patricoferris  i'd love to know if anyone is working on this issue. If not can i work on this?

[2021-04-12 20:18] LindieK commented on #1421
@patricoferris I read an article on using a `.mailmap` file in aliasing authors in Git. Can we do that here?

[2021-04-12 23:37] #505 closed

[2021-04-13 02:46] bluddy commented on #1175
@avsm I replied to your private email.

[2021-04-13 03:29] Ndipbanyan commented on #1265
@gs0510 Yes I will love to. I will dive right in. Thanks

[2021-04-13 03:47] Srinithyee commented on #1437
@gs0510  yes, that sounds like a great idea! Thanks :) I'll close this issue.

[2021-04-13 03:47] #1437 closed

[2021-04-13 05:38] mercybassey commented on #1359
![Screenshot from 2021-04-13 06-36-31](https://user-images.githubusercontent.com/57226464/114501894-c271ef80-9c22-11eb-90f9-f1460c059a46.png)

this is how my solution will look like on firefox. @patricoferris what do you think

[2021-04-13 06:31] mahakbansal2019 commented on #1467
@gs0510 @patricoferris I want to clarify something.
The next(Bottom navigation) on https://ocaml.org/learn/tutorials/compiling_ocaml_projects.html  should point to https://ocaml.org/learn/tutorials/data_types_and_matching.html and similarly next on this https://ocaml.org/learn/tutorials/debug.html should point to https://ocaml.org/learn/tutorials/map.html
Is this the right navigation ?

[2021-04-13 06:38] nibble0101 commented on #1507
Hi @LindieK. Thanks for opening the issue. I would love to explore this out of curiosity. Do you have a reference which you can point me to regarding screen readers and use of `section` footers? As far as I know,  as highlighted [here](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML_sections_and_outlines#sectioning_root)  by MDN documentation, use of section footers is okay and

[2021-04-13 07:18] gs0510 commented on #1265
@Ndipbanyan this issue has been closed, I'll let you know about another medium one. Sorry about this!

[2021-04-13 07:47] gs0510 commented on #1467
@mahakbansal2019 Yes that sounds right! :)

[2021-04-13 08:11] patricoferris commented on #1245
Hi Everyone,

Just another quick update (I'll edit the top comment directly after writing this). Thank you for all of the wonderful contributions, we've had many, many applicants. To help the mentors (including myself) support all of you, tomorrow morning we will be **closing applications for the "Improve OCaml.org" project**. I believe you can start an application before getting a contribution in

[2021-04-13 09:31] Goodiec commented on #1245
Hello @patricoferris, thank you for the update. In addition to submitting an application for the project on the Outreachy website, do we need to submit a proposal later on?

[2021-04-13 09:47] Srinithyee commented on #1245
@patricoferris  can we also leave the field "Outreachy internship project timeline" blank for now?

[2021-04-13 09:47] pitag-ha commented on #1483
I've just noticed that I've been thinking about ["topic"](https://github.com/topics) all the time instead of "tag". @dinakajoy and @kanishka-work , is that also what you meant?

Yes, you're right. I didn't know, but the github GraphQl schema doesn't seem to allow to query for topics directly. Have you tried a [graphql search query](https://docs.github.com/en/rest/reference/search#constructing-a-se

[2021-04-13 10:03] dinakajoy commented on #1483
I searched for tags but I will also check for topics

Let me check this out, I only checked the REST API.
Thank you for pointing it out

[2021-04-13 10:23] patricoferris commented on #1245
As far as I can tell, tomorrow we will close the ability for people to start a new *application*. Anyone who has already started an application will still be able to edit their application, submit contributions and ultimately submit the final application https://www.outreachy.org/docs/community/#discourage-new-applicants.

[2021-04-13 11:46] gs0510 commented on #1504
@dldisha You can go ahead and work on this, let us know if you have any questions.

[2021-04-13 11:49] gs0510 opened #1513 "Filter email list to not show `unsubscribe` emails."
On the https://ocaml.org/community/ page, the recent email threads show all emails sent to the list. Filter the list so that `unsubscribe` emails are not displayed.

![Screenshot from 2021-04-13 13-37-16](https://user-images.githubusercontent.com/8718814/114547599-ea7f4400-9c5e-11eb-90cf-7f3d38aca55c.png)

[2021-04-13 11:51] gs0510 commented on #1513
@Ndipbanyan since you were looking for a medium issue, you can go ahead and work on this one.

[2021-04-13 11:55] shreyaswikriti commented on #1245
so does that mean we can submit it blank for the time being and afterward we can edit it? @patricoferris

[2021-04-13 12:00] pitag-ha commented on #1483
Ok, I hope I'm not mixing things up myself. I think "tags" are git tags, whereas "topic" is a concept in github itself:
![Screenshot from 2021-04-13 13-54-59](https://user-images.githubusercontent.com/39061003/114548366-f3bce080-9c5f-11eb-80c6-a740292abe87.png)

[2021-04-13 12:03] Ndipbanyan commented on #1513
@gs0510  Alright. Thank you. I will begin working on it and reach out for any help or clarifications that I might need.

[2021-04-13 12:07] dinakajoy commented on #1483
Yea, I wanted to search for any github repo related to ocaml by name but I think that might not work. The solution might be to add the libraries one by one and make a request to get the repo details from github when the library link is clicked for details.

[2021-04-13 13:11] Deek9399 commented on #1255
Yes, I would like to work on this issue.

[2021-04-13 14:20] Deek9399 commented on #1255
@pitag-ha I am only able to see these errors in my console
![Screenshot from 2021-04-13 19-41-26](https://user-images.githubusercontent.com/69427216/114567002-73fb3a00-9c90-11eb-8c3c-f463185ab69c.png)
Although, I am getting an error `GET http://127.0.0.1:5500/img/edit-hover.svg 404 (Not Found)` , the image is visible in both normal and hover state, and I am able to resolve it by adding a correct p

[2021-04-13 14:20] gs0510 commented on #1402
@yashi-hub You can move  `Introduction to OCaml` to another div which doesn't have to be sticky.

[2021-04-13 15:04] Bhavika-Gianey commented on #1503
@patricoferris  @pitag-ha, is this a medium-level issue? Shall I start working on this ??

[2021-04-13 15:25] roli25 commented on #1512
Can I work on this?

[2021-04-13 15:27] kanishka-work commented on #1483
I agree with this as a simplification.

[2021-04-13 16:11] guptadiksha307 commented on #1245
Hello @gs0510 @patricoferris @pitag-ha I have worked on a couple of good first issues and now I am familiar with the codebase. I would like to work on medium issues now. Kindly suggest some. Thanks.

[2021-04-13 16:45] Deek9399 commented on #1472
Hello @gs0510, I am currently working on [this issue](https://github.com/ocaml/ocaml.org/issues/1255). Hopefully, I will finish it by tomorrow.
Can I work on it after that?

[2021-04-13 16:59] Lontchi12 commented on #1413
Good evening, Please i'm an outreachy applicant and i would like to work on this page if accepted, i don't have any good first issues yet and i'm very good in French too

[2021-04-13 17:17] Lontchi12 commented on #1245
Hello @patricoferris thank you for the reminder i just saw a good first issue to contribute on, is it possible i apply for the project and fill in my contribution later or i must contribute first?

[2021-04-13 17:35] patricoferris commented on #1512
Go for it @roli25 :))

[2021-04-13 17:43] patricoferris commented on #1501
@guptadiksha307 if you have a tutorial in mind this is great! Can you open an issue and carefully explain what you want to add and why? As for "types" before "expressions" I think it could be either. Most people are accustomed to just getting things done in a programming language, so perhaps expression make sense. But your argument is completely valid too. I wonder if there's a middle ground where

[2021-04-13 17:44] patricoferris commented on #1499
Thanks for the brilliantly explained issue @shreyaswikriti -- very clear 👍

There's a linked PR in the works https://github.com/ocaml/ocaml.org/pull/1506

[2021-04-13 17:47] patricoferris commented on #1483
If it is even more helpful we can narrow the scope further, maybe just try with the OCaml compiler (i.e. `ocaml/ocaml` for now).

[2021-04-13 17:50] patricoferris commented on #1468
This seems good to me @Riddhima23 -- I had a quick look but I can't see any open issues that are duplicate, if you could just double-check and the open the PR that would be great thanks 👍

[2021-04-13 17:59] patricoferris commented on #1455
@shreyaswikriti these are some interesting ideas (and very excellently displayed).

I think this more interactive home page is going to be pretty difficult to implement for our site (it is very static) and we're not using a lot of Javascript either so that makes it a little harder too!

The idea of having the sections horizontal could work, or perhaps we could just make the videos horizontal and t

[2021-04-13 18:13] TildaDares commented on #1475
@patricoferris https://github.com/ocaml/ocaml.org/blob/master/script/code_top.ml#L67 is the line that executes the code so  I thought maybe I could use a try..with block around it like this:
[code]

Now the issue says to catch it at build time. The hack I came up with only prints the error out when you do this `cat site/learn/tutorials/a_first_hour_with_ocaml.md | script/md_preprocess`. I tried to

[2021-04-13 18:31] mahakbansal2019 commented on #1467
@gs0510 @patricoferris I have submiited the PR.
Please review :)

[2021-04-13 19:39] Riddhima23 commented on #1468
Thanks @patricoferris . I checked other issues and there were none similar to this so I will make a PR for this :)

[2021-04-13 21:53] shreyaswikriti opened #1517 "Too many reduntant links on the same page (bad for SEO)"
there are many links on the page that directs to the same destination. For example, if you click on **learn** it directs to learn page. Now if you click **icon of learn**, it too directs to **learn page**. Similarly, if you click on **more**, it too directs to **learn page**.
![Screenshot from 2021-04-14 03-17-44](https://user-images.githubusercontent.com/57635473/114625812-6c5b8580-9cd0-11eb-845d

[2021-04-13 23:19] Jay-Fred31 commented on #1444
Hello @patricoferris  and @gs0510 If there is no one working on this issue? I would like to attempt it as my first "good-first-issue".

[2021-04-13 23:24] dldisha commented on #1504
@gs0510 I'd like to clarify the issue so that I understand it better. So first I need to create threads for each [tutorial](https://ocaml.org/learn/tutorials/) on [discussion](https://discuss.ocaml.org/) page(manually!?). And next, I need to add links to the discussion thread for each respective tutorial.

Am I on the right track?

[2021-04-13 23:30] kanishka-work commented on #1504
@gs0510 I created this issue as an outsider, simply speculating. Feel free to modify the approach if you see any problems with this idea. I think discuss would welcome such threads, but I haven't confirmed this with anyone.

[2021-04-13 23:54] Jay-Fred31 commented on #1443
Hello @pitag-ha, I think "acknowledgement" here will look better at bottom of the page because it doesn't necessarily talk about where help is needed but it is showing the list of contributors and the Hosting site.

I would also like to make the change if the need for change sounds well.

[2021-04-14 01:47] Jay-Fred31 commented on #1443
Also, I can arrange the contributor's list can be arranged side by side to reduce scroll time.

[2021-04-14 05:08] mahakbansal2019 commented on #1245
Hey @patricoferris @gs0510 @pitag-ha!
I have solved 2 good first issues and now I want to move a step ahead and work on some medium-level issues.
Could you suggest something?
Thank you

[2021-04-14 05:15] guptadiksha307 commented on #1501
@patricoferris I think we can add this info in the "expressions". As the user will get familiar with the "OCaml top level" in "Running OCaml programs" so we just need to tell that how the expressions are related to types. Being a coder, I was also confused between these two operators **+** and **.+**, so I think we should clarify this in the expressions part.
<img width="635" alt="Screenshot 2021-

[2021-04-14 05:36] Srinithyee commented on #1245
@Lontchi12 You can fill in the application without contributing, I suppose. Since the applications will be closed today, I think it will best if you apply asap :)

[2021-04-14 07:12] Octachron commented on #1501
I am unconvinced with the arguments so far.

The tutorial "A first hour  with ocaml" tries to reach a large audience. Putting the focus on types will be strange for complete beginner ("what is a type?"), dynamic language aficionados ("this type thing is so constraining"), and it would be not that useful for people only familiar with bad type systems (lC, C++, Go). Starting with expressions as a co

[2021-04-14 08:10] somya104 commented on #1245
Hey @patricoferris ! I wanted to know if while submitting the final application we need to submit a proposal too.

[2021-04-14 08:31] LindieK commented on #1245
From what I understand here, if I record contributions but have not submitted the final application, I'm still in the clear right?

[2021-04-14 08:37] LindieK commented on #1507
@nibble0101 I have read throught the MDN doc you linked and it would seem that the use of it here is correct. @gs0510 should @JackieBinya stop work on this issue?

[2021-04-14 08:46] #1307 closed

[2021-04-14 09:14] shreyaswikriti commented on #1455
If that's the case then we can make the last three sections horizontal.

I think it would be better if all the last three sections will be made horizontal and I don't think this will create an issue for smaller displays. Even on the documentation page, the videos section has been made horizontal and that's looking much better.Here is the link for reference: **[link](https://www.ocaml.org/docs/)**

[2021-04-14 09:24] gs0510 commented on #1507
@JackieBinya  Are you still working on this?

@nibble0101 If @JackieBinya  is working on this issue, you can perhaps pick another one :)

[2021-04-14 09:26] gs0510 commented on #1444
@Jay-Fred31 sure go ahead!

[2021-04-14 09:27] gs0510 commented on #1517
@shreyaswikriti Can you add a source for the second screenshot? Also, what is your proposed solution? Thanks!

[2021-04-14 09:28] gs0510 commented on #1472
@Deek9399 Since you are already working on a good-first-issue, @Lovelyfin00 can work on it! :)

[2021-04-14 10:00] pitag-ha commented on #1255
Have you seen the other error in your console?

![Screenshot from 2021-04-14 11-58-18](https://user-images.githubusercontent.com/39061003/114692348-d6981880-9d18-11eb-8d61-8067d3d9c194.png)

That's one of the errors this issue is about. :)

About the `Failed to load resource` error: @patricoferris , do you know if this issue is still up-to-date?

[2021-04-14 10:04] shreyaswikriti commented on #1517
Here is the source:https://www.nngroup.com/articles/duplicate-links/
Okk the solution is simple -->Removing redundant links that are unnecessary.

[2021-04-14 10:07] pitag-ha commented on #1503
@Bhavika-Gianey , I haven't had a look at the stackshare API yet, but you can have a look and see if the following is possible

I think that would be a medium issue. Let us know :)

[2021-04-14 10:10] pitag-ha commented on #1413
@Lontchi12, nice! :) Please notice that the Outreachy applications for the improve ocaml.org project are closed. You're still welcome to contribute to ocaml.org, if you'd like though and could start with this issue.

[2021-04-14 10:15] nibble0101 commented on #1255
@pitag-ha and @Deek9399  I think the issue is still up to date.

I am able to see a similar error related to `pwik.js`  on the landing page on chrome.

![image](https://user-images.githubusercontent.com/52580190/114693997-cdac4480-9d22-11eb-94cb-af1d953603a9.png)

[2021-04-14 10:15] Lontchi12 commented on #1413
@pitag-ha i know i worked on it yesterday and also submitted a pull request, i did that before applying for the project so i recorded my contribution and applied to work on the project i am now waiting for the PR to be merged, so i don't know if i am still in the game or out

[2021-04-14 10:32] Deek9399 commented on #1255
Yes!! This error occurs because of the bootstrap. The bootstrap version used here is 2.3.1. I found a similar issue in a different project, [here](https://github.com/sorich87/bootstrap-tour/issues/354).
This error was resolved by using the slightly latest version 3.3.2 which requires jquery. I tried the same steps in my local branch, which solves the issue but since it is a version-related issue t

[2021-04-14 10:37] Deek9399 commented on #1255
@nibble0101 Can you please share more details of the platform on which you are currently building the website?
I am using ubuntu and the browser is google chrome.

[2021-04-14 10:42] nibble0101 commented on #1255
@Deek9399  I am not reproducing it locally on my machine. Try  to check on the [landing page](https://ocaml.org/). I

[2021-04-14 10:42] gs0510 commented on #1517
You can't remove the ones from the nav-bar, but the icon ones should be okay to remove since the UI doesn't indicate that they are clickable. You can also remove the ones in the description like `more` and `hundreds of packages` etc.

[2021-04-14 10:52] Lovelyfin00 commented on #1472
Awesome
Thank you. I'll start now

[2021-04-14 11:01] gs0510 commented on #1443
I think this isn't needed at the moment, and the reasoning doesn't convince me that change will be better. We can close this issue. @Jay-Fred31 I think you're already working on an easy issue, so you can pick up a harder one once you're done with that. Thanks!

[2021-04-14 11:01] #1443 closed

[2021-04-14 11:20] gs0510 commented on #1504
I opened a discuss thread here for more opinions :) https://discuss.ocaml.org/t/creating-a-discuss-thread-for-tutorials-on-ocaml-org/7677

[2021-04-14 12:29] guptadiksha307 commented on #1501
@gs0510 @patricoferris If you are not satisfied with the idea of this issue, I would like to close this and work on other issues

[2021-04-14 12:35] jyotibalodhi commented on #1245
Yes, from what I gathered from the messages above. As we can edit the application till last date but we need to start one atleast to be in the active project section.

[2021-04-14 13:06] #1337 closed

[2021-04-14 13:12] johnwhitington commented on #1501
@Octachron is correct about the intent of the tutorial

The alternative title I had in mind for this tutorial was "A Tour of OCaml". If "A First Hour with OCaml" is misleading, we can change it.

[2021-04-14 13:26] #1426 closed

[2021-04-14 13:59] yashi-hub commented on #1402
https://user-images.githubusercontent.com/69522036/114720358-95722980-9d55-11eb-8d80-df8c7b9763d5.mp4

hey @gs0510  @patricoferris  , I created a new div for the `introduction to ocaml` and now all the text that is scrolled goes behind that div and no overlapping occurs.  ( I've tried to apply the layout in the same way shown in -https://itrish.com/ )
we cannot move the `introduction to ocaml` par

[2021-04-14 14:13] Deek9399 commented on #1255
@nibble0101 Yeah, I can see it on the landing page but not in my local environment.

[2021-04-14 14:23] Jay-Fred31 commented on #1444
Thank you.

[2021-04-14 14:36] shreyaswikriti commented on #1517
Yes, I'll take care of your instructions. thank you.

[2021-04-14 14:39] #1436 closed

[2021-04-14 14:39] Jay-Fred31 commented on #1444
@gs0510 On checking the list of the branches in the repo from local, I only see master and the branch I created. Please how do I push to the staging branch of ocaml/ocaml.org to see my changes?

[2021-04-14 14:42] #1378 closed

[2021-04-14 14:56] Jay-Fred31 commented on #1444
Do I run "git push staging" when I am done.

[2021-04-14 18:29] olgaromashko commented on #1512
Can I work too in this issue? ;) @patricoferris

[2021-04-14 18:33] Lontchi12 commented on #1349
Please can i work on this issue if no one is currently on it?

[2021-04-14 19:02] bastianjakobi commented on #1439
@Goodiec are you still working on this?

[2021-04-14 19:10] olgaromashko commented on #1425
Are you still working on this? @pitag-ha

[2021-04-14 19:11] olgaromashko commented on #1425
can I work on this? :) @gurleennsidhuu

[2021-04-14 19:25] TildaDares commented on #1512
@olgaromashko Since someone has already been assigned to this issue you can look for another good-first-issue 🙂

[2021-04-14 20:10] Goodiec commented on #1439
Yes, but we can do it together if you are interested in working on this. Identify a page that this issue affects and then go ahead to fix it and create a pull request referencing this issue. I started with the book page but haven't created a pull request yet so you can pick another page asides from that one first just ensure you let me know which one it is so I don't do it also. @gs0510 is it OK i

[2021-04-14 22:36] Lovelyfin00 commented on #1472
Hi
This is my first time actually working on open source. So, I just hope my question doesn't sound stupid.
How do I run make -j 8?
I tried typing it in the ocaml console on my pc nut it kept giving the error " No target specified and no make file found"
Thank you for your response

[2021-04-15 00:18] mercybassey opened #1524 "Buttons outline on the ocaml website"
The buttons on the webpage have outlines when they are been clicked on. This kind off look funky on the website. I'd think they look nicer when there are no outlines.

![Screenshot from 2021-04-15 01-08-49](https://user-images.githubusercontent.com/57226464/114796185-3c6fb900-9d88-11eb-8dac-1d4ce6c22165.png)

i think this should be a good first issue and i'd like to fix it.

[2021-04-15 05:16] gurleennsidhuu commented on #1425
Sure. :)

[2021-04-15 07:15] Bhavika-Gianey commented on #1503
Hii @pitag-ha , stackshre has a GraphQL API, I have never used that before but I will try to implement it and let you know in case of any difficulties :).

[2021-04-15 07:22] Bhavika-Gianey opened #1525 "Oudated twitter logo in news page"
There is an outdated Twitter logo on the news page that should be replaced.

![t](https://user-images.githubusercontent.com/63343906/114829917-4675d400-9de9-11eb-8631-1a1a3b6194e3.png)

We can also use the font awesome library rather than images for the icons.

[2021-04-15 08:20] yashi-hub opened #1526 "the new package release announcement looks quite uneven."
in the site https://opam.ocaml.org/blog/opam-2-1-0-beta4/
everytime a new package is released , the decleration and the link to that package says different things.
![opam packages](https://user-images.githubusercontent.com/69522036/114835200-f3068480-9dee-11eb-928e-b0805e00e4e8.png)

the initial excitement for a package release is much understood, but as time passes and new packages are released,

[2021-04-15 08:58] #1373 closed

[2021-04-15 09:01] #1440 closed

[2021-04-15 09:16] gs0510 commented on #1472
@Lovelyfin00 you have to run `make -j 8` on your terminal, not inside the ocaml toplevel. When you do `ls` in your terminal, you should see a `Makefile` file in the output.

[2021-04-15 09:19] mercybassey commented on #1524
@gs0510 what do you think

[2021-04-15 09:26] ozmos commented on #1499
Thanks @shreyaswikriti I have received some useful feedback in the pull request.

[2021-04-15 10:00] shreyaswikriti commented on #1454
@pitag-ha, kindly review the PR attached.

[2021-04-15 10:01] shreyaswikriti commented on #1460
@patricoferris, Kindly review the PR attached

[2021-04-15 10:49] gs0510 commented on #1504
I don't think anyone dislikes the idea, so you can go ahead @didisha. No, the idea is to write a script that can open a thread on discuss and  that can add a link to the website. The script can also track if a discuss thread is not opened and then open a thread.

[2021-04-15 10:57] gs0510 commented on #1526
The opam.ocaml.org code is out of scope for now, so we can't do much about it at the moment. Closing this issue now.

[2021-04-15 10:58] gs0510 commented on #1525
This is a good idea, but we don't want folks to work on simple issues anymore, so we can leave it for next round :) Thanks!

[2021-04-15 10:59] gs0510 commented on #1513
@Ndipbanyan Have you been able to make any progress? Do you have any questions? Thanks!

[2021-04-15 11:02] gs0510 commented on #1439
Sure, that should be okay @Goodiec

[2021-04-15 11:07] Deek9399 commented on #1255
@patricoferris,@pitag-ha, @gs0510  Please have a look at this comment.

[2021-04-15 11:19] gs0510 commented on #1524
What browser is this @mercybassey ? I don't see these outlines so perhaps it's browser specific.

[2021-04-15 11:27] mercybassey commented on #1524
Oh really! I thought it was the same on all browsers. I viewed this on Firefox and chrome

[2021-04-15 11:31] gs0510 commented on #1524
What OS are you on(don't tihnk it should affect this) but I don't see it on either firefox or chrome.

[2021-04-15 11:38] mercybassey commented on #1524
I'm currently working on an Ubuntu OS

[2021-04-15 12:16] yashi-hub commented on #1526
okay @gs0510, I was unaware of it.
sorry for opening this.

[2021-04-15 12:16] #1526 closed

[2021-04-15 12:19] gs0510 commented on #1526
@yashi-hub  No worries! Not your fault at all! :)

[2021-04-15 12:51] shreyaswikriti commented on #1431
_**I made a theme switcher for the site. Since the video quality is not good, I am attaching some screenshots.**_
Kindly have a look @pitag-ha @patricoferris @gs0510

https://user-images.githubusercontent.com/57635473/114870998-712a5180-9e16-11eb-93fe-d05878ac224d.mp4
**Screenshots**
![Screenshot from 2021-04-15 18-12-08](https://user-images.githubusercontent.com/57635473/114871369-d8480600-9e16-1

[2021-04-15 13:01] gs0510 commented on #1524
okay @mercybassey, I personally don't feel it's funky and let's the user see clearly when they are clocking on the link. If any other mentor feels differently we can wait for them to comment.

[2021-04-15 13:07] gs0510 commented on #1431
@shreyaswikriti This is a great start! I have a few comments:
1. The code block that's gray is harder to read than before, maybe you can choose a different gray that's help with legibility.
2. The toggle looks a little out of place with the emojis. It would look more consistent with a simpler toggle.
3. Can you run an accessibility tool with your website, I feel there's a bunch of places where the

[2021-04-15 13:45] shreyaswikriti commented on #1431
@gs0510 I changed the gray color.
![Screenshot from 2021-04-15 19-07-08](https://user-images.githubusercontent.com/57635473/114878397-d6ce0c00-9e1d-11eb-879f-5cc602901e49.png)
Also, I have some contrast errors. Can you suggest to me how do I fix those?

[2021-04-15 13:49] Ndipbanyan commented on #1513
@gs0510 I have been able to find the code that generates this list in the rss2.html in the script directory and I am trying to understand the function that does that to see if I can modify it to filter the list. So the drawback I am currently having is my little to lack of understanding of the Ocaml language. However, I am still going through tutorials to catch up.

[2021-04-15 14:07] patricoferris opened #1528 "Standard format for planet_feeds.txt"
Currently when generating https://ocaml.org/community/planet/ the [planet_feeds.txt](https://github.com/ocaml/ocaml.org/blob/master/planet_feeds.txt) is read in order to get the name and the RSS feed URL, the format of that file seems a little arbitrary (or perhaps was made before all of the nice JSON/Yaml/S-expression tools we now have were created!).

For ease of sharing this information, extend

[2021-04-15 14:12] mahakbansal2019 commented on #1528
@patricoferris I would like to work on this :)

[2021-04-15 14:20] mahakbansal2019 commented on #1361
@patricoferris Could you please guide me what is wrong with this PR
https://github.com/ocaml/ocaml.org/pull/1463

[2021-04-15 14:23] pitag-ha opened #1529 "On planet: link to blog itself"
On the right of the planet page (Home -> Community -> OCaml Planet) we list the blogs that are signed up:
![Screenshot from 2021-04-15 15-55-24](https://user-images.githubusercontent.com/39061003/114881085-f73c9d00-9e02-11eb-8b21-0ed271d51bf3.png)

Clicking on one of them opens the rss (e.g. https://medium.com/feed/ahrefs/tagged/ocaml) rather than the blog itself (e.g. https://tech.ahrefs.com/tagg

[2021-04-15 14:31] pitag-ha opened #1530 "Tutorials: Make references to previously defined functions future-proof"
(1) At the beginning of the the "A first hour with OCaml" tutorial, the function average is defined:
[code]
(2) Later on, it's signature is pointed out separately:
[code]
That signature is hard-coded, which is not future-proof: if at some point one was to change or even remove (1), then (2) would be out of context.

I suggest to make it future-proof by tying (2) to (1).

[2021-04-15 14:32] pitag-ha commented on #1530
@johnwhitington, does this sound good to you? :) If not, we'll close it before someone starts working on it.

[2021-04-15 14:42] pitag-ha opened #1531 "Spring clean up: detect and delete dead scripts"
There are a couple of scripts that seem to be dead code, e.g. `ocamlapplet.bash` and `link_blog_doc_ext.sh`. I propose that someone goes through all scripts in the `script/` folder and finds and deletes the ones that don't have an impact anymore.

### How
There are different ways to check if a script still has an impact (on the build). One option would be to build the page as is and save the resul

[2021-04-15 14:51] johnwhitington commented on #1530
Do you mean that you intend to have a mechanism in the HTML which pulls out the type from the generated example, and substitutes the text in (2)?

[2021-04-15 15:01] avsm commented on #1504
Let's not pre-create 100 threads on discuss though, please. That'll just create a lot of noise on the forums without any actual content at the start.

It might be best to trial this with a single discuss thread (point all the tutorials at the same one that @gs0510 just created), and then expand out by splitting those threads and updating links on the website as the traffic grows.

[2021-04-15 15:13] pitag-ha commented on #1530
That would be one good possibility, yes. Another option would be to use the toplevel in (2). I've left the approach a bit open.

[2021-04-15 15:18] johnwhitington commented on #1530
The HTML file is generated automatically from the .md file in site/learn/tutorial/, so I don't see how this is achieved...

[2021-04-15 15:20] pitag-ha commented on #1530
Would the toplevel approach be an option for you?

[2021-04-15 15:23] johnwhitington commented on #1530
Can you explain it to me?

[2021-04-15 15:24] gs0510 commented on #1513
okay, let me know if you run into any problems! Thanks!

[2021-04-15 15:24] guptadiksha307 commented on #1529
@pitag-ha I would like to work on this issue :)

[2021-04-15 15:34] pitag-ha commented on #1530
Yes, you're right, I should be more concrete here! I was thinking about writing `average` (and the other function) into an `ocamltop` block. But I'll close this, since I was looking for a `medium` issue for Outreachy applicants and given that one approach isn't possible and the other approach is pretty simple once discussed (and controversial), this isn't a good `medium` issue. Thanks for your fas

[2021-04-15 15:34] #1530 closed

[2021-04-15 15:37] pitag-ha commented on #1529
@guptadiksha307 , sure, you can go ahead :)

[2021-04-15 15:37] dldisha commented on #1531
Hey @patricoferris, I'm interested in working on this issue. Can I give it a try?

[2021-04-15 15:44] dldisha commented on #1504
@gs0510 should I proceed in the way @avsm suggested?

[2021-04-15 16:46] pitag-ha commented on #1349
@Lontchi12, we are currently only mentoring Outreachy applicants on `medium` issues. If you'd like to work on this anyways, please go ahead! Just be aware that we're likely not going to review it until after the Outreachy contribution period :)

[2021-04-15 17:00] patricoferris commented on #1255
Hmmm this might be something we can't really fix. Bumping our version of Bootstrap sounds... difficult. I'm guessing the bootstrap CSS and the bootstrap JS are versioned together, so I don't think just bumping the JS will work here because we vendor a (modified?) and older CSS version in `site/css/bootstrap.css`.

It might be that we use so little of Bootstrap's functionality, but then our CSS wou

[2021-04-15 17:05] pitag-ha commented on #1503
Perfect @Bhavika-Gianey! :) Do you know if using the stackshare API is for free?

[2021-04-15 18:41] Deek9399 commented on #1255
![Screenshot from 2021-04-15 22-55-08](https://user-images.githubusercontent.com/69427216/114912486-ab5b1980-9e3d-11eb-9aea-22c15b58c077.png)

@patricoferris This is the screenshot of index.html, while looking for the source of this error I tried browsing files, this error arises due to the script below the footer which has a CDN link for bootstrap.
Earlier I made changes here only just to check i

[2021-04-15 19:01] pitag-ha opened #1533 "Fix splitting of toplevel phrases"
There is a [FIXME](https://github.com/ocaml/ocaml.org/blob/master/script/code.ml#L357) in the code generating html from toplevel blocks. Notice that in the [OCaml toplevel](https://opam.ocaml.org/blog/about-utop/) (in other languages called REPL), the end of a code phrase is signalized by `;;`. I suggest fixing the mentioned FIXME, which consists in two things:
- at the moment every `;;` is split

[2021-04-15 19:19] pitag-ha opened #1534 "Fix the ordering of blogs"
There is a [FIXME](https://github.com/ocaml/ocaml.org/blob/master/script/rss2html.ml#L191) in the code ordering blogs by name concerning the following: a leading white space in the name of a blog will impact the ordering. So ideally leading white spaces should be removed before ordering, but arent' at the moment. I propose fixing that.

[2021-04-15 19:26] yashi-hub opened #1535 "fixed left div of the Mailing Lists and Forums page"
according to me the left div of the page should be fixed  - https://ocaml.org/community/mailing_lists.html
![error 1](https://user-images.githubusercontent.com/69522036/114925768-24ae3880-9e4d-11eb-90a5-8b5e608307cc.png)
the main purpose of the left div is to help users to scroll directly down to the content they are interested in (correct me if I understood it wrong) but if the div itself scrolls

[2021-04-15 20:42] Lontchi12 commented on #1349
Hello @pitag-ha  Thank you for the remark, please i would like if you recommend a medium issue for me to work on because i can't seem to find one, all the medium issues i see are already taken Thank You

[2021-04-15 20:51] Lontchi12 commented on #1535
Hello @yashi-hub  is this a medium issue?? i would like to work on this if it is one Thank You

[2021-04-16 02:42] Bhavika-Gianey commented on #1503
I was going to discuss this with you. It's free for the first 2 months allowing 100 API calls. And after that, there are monthly plans.

[2021-04-16 02:46] Bhavika-Gianey commented on #1503
What do you think ?? Shall we proceed using this?

[2021-04-16 04:14] yashi-hub commented on #1535
Hey @Lontchi12 , thanks for showing your interest in this issue.
But before working on this, let us wait for the mentors to approve this issue or get some suggestions about it.
Thanks. :))

[2021-04-16 06:02] Srinithyee commented on #1492
@patricoferris I see that there is already a script file that identifies the language of the file `lang_of_file`. I would like to use the output of this script within my script. Could you please help me with how to include a script within another script?

[2021-04-16 06:06] guptadiksha307 commented on #1407
@pitag-ha Thank you so much :) I understood your point better now and I have researched a lot on the responsive mobile layout and have come up with the idea of adding a horizontal scroll bar on the news column (for the mobile view) whereas on the web it will be the same as it is.
I have seen various news apps in which a particular section of the website has a horizontal scrolling feature.
We can h

[2021-04-16 09:09] patricoferris commented on #1492
Hi @Srinithyee,

Of course :)) So there's a couple of things you can do:

 - First of all, you will probably want to [read up on compiling OCaml programs](https://ocaml.org/learn/tutorials/compiling_ocaml_projects.html#ocamlc-and-ocamlopt). Note how `lang_of_filename.ml` is able to use the `Utils` module, that is because of how it is compiled https://github.com/ocaml/ocaml.org/blob/master/Makefile

[2021-04-16 09:13] patricoferris commented on #1533
It would also be cool if someone could demonstrate some rough benchmarks for different approaches to improving the efficiency too :))

[2021-04-16 09:15] shreyaswikriti commented on #1534
I would like to work on this.

[2021-04-16 09:19] pitag-ha commented on #1531
@dldisha, sure, go ahead :)

[2021-04-16 09:20] pitag-ha commented on #1534
Sure @shreyaswikriti, go ahead :)

[2021-04-16 09:37] pitag-ha commented on #1503
Thanks for investigating that, @Bhavika-Gianey! I think that should be ok, yes :) I don't think we would pay the monthly plan, but I'm hoping that 100 API calls will be enough to get the current list of names and urls of companies using OCaml (we simply wouldn't keep it updated).

[2021-04-16 09:56] dldisha commented on #1504
@gs0510 being a beginner at OCaml, could you guide me once that how can I proceed with this issue? Do I need to create a new script?

[2021-04-16 10:44] patricoferris commented on #1407
Hi @guptadiksha307 thanks for all the work on this issue so far.

One thought we had was if we converted https://ocaml.org/community/planet/ to use these card components instead of the single column which I think is a little long and hard to get an overview of all of the activity. I can't promise it will get merged, but it would be a good issue to work on some OCaml code and then we could push it

[2021-04-16 12:30] yashi-hub commented on #1402
hey @gs0510 @patricoferris looking forward to your reply so that I can progress further on this issue.

[2021-04-16 12:42] Srinithyee commented on #1492
@patricoferris I am currently trying to run various statements on utop to get familiar with the syntax and way it works. I am yet to start working on the script. But, for now I do know the following:

1. I'll have to include `open Utils` , `open mirage`, `open Printf`, `open Lwt.infix` to use the utilities of mirage.
2. I'm not too sure about why I am running into these errors. I did cd to my site

[2021-04-16 12:49] Srinithyee commented on #1492
I'm going to need help understanding this. What do you mean by "Extract common logic"? Do you mean extract common logic from `lang_of_filename`?

[2021-04-16 13:20] Deek9399 opened #1537 "Fix the size of logo on Community Page"
The size of **dev.to** and **discuss** logo on the Community page under the section OCaml Around the web is oddly big.
It could be resized as the above logos.
[community page](https://ocaml.org/community/)
![Screenshot from 2021-04-16 18-48-35](https://user-images.githubusercontent.com/69427216/115030172-6c33d380-9ee4-11eb-8b6f-64911f9e8c08.png)

[2021-04-16 13:57] Deek9399 commented on #1537
Hello @patricoferris,@pitag-ha, @gs0510, Could it be a good/valid issue to work on?

[2021-04-16 14:30] dinakajoy commented on #1483
Sorry for the delay on this task. My system developed some faults so I sent it for repair. I just picked it up today. I will continue work on this.

[2021-04-16 14:35] Riddhima23 commented on #1533
Hey! @pitag-ha @patricoferris ! I wanted to work on a "medium" issue. This looks good to me! Can I give it a try :)

[2021-04-16 14:48] patricoferris commented on #1492
No worries :))

1. You shouldn't need to touch `Mirage` at all, you will need `Git` but not `Mirage`. We're not using `Mirage`, it is just a backend like `Unix`.
2. I would suggest having a read about Git internals (this seems pretty accessible and not too complicated https://www.freecodecamp.org/news/git-internals-objects-branches-create-repo/). This is directly related to the `Git` API that you

[2021-04-16 14:57] pitag-ha commented on #1533
Sure @yashi-hub, you can go ahead :)

[2021-04-16 15:00] pitag-ha commented on #1533
Oh wait, I've reacted a bit too fast. Sorry about that! @yashi-hub: I've just remembered that you are already working on an issue (#1402), aren't you?

[2021-04-16 15:01] yashi-hub commented on #1533
@pitag-ha i am almost done with that issue. I believe I will create a PR by tomorrow for that.
And I'll be able to work efficiently for this issue :)

[2021-04-16 15:20] pitag-ha commented on #1533
Thanks @yashi-hub! Please open a PR for #1402 before starting to work on another issue. We want folks to focus on issues one by one. By the way, you've done a great job so far, thanks for that! :)

[2021-04-16 15:28] pitag-ha commented on #1533
@Riddhima23, sorry for the confusion! You can go ahead and work on this :)

[2021-04-16 15:35] patricoferris commented on #1475
Hi @TildaDares,

Sometimes things are cached by make if targets and dependencies don't change (I think) so it's always worth doing a `make clean && make` if you were expecting something different :))

Secondly, we can do a little digging to learn more about [`Toploop.execute_phrase`](  https://github.com/ocaml/ocaml/blob/adcb23f298374e681ac791c2651a0d2ddc8dd083/toplevel/toploop.mli#L76-L80). So it

[2021-04-16 15:36] gs0510 commented on #1535
@yashi-hub  Good catch, but it's been fixed by #1423  so it can be closed. Thanks!

[2021-04-16 15:38] gs0510 commented on #1504
@dldisha Following the approach @avsm said, you don't require any ocaml. You just need to create a link in the [tutorials section on the website](https://ocaml.org/learn/tutorials/), under External Links so if people run into issues, they can ask questions on the discuss link. We can perhaps also add it to the bottom of each tutorial.

[2021-04-16 15:41] Bhavika-Gianey commented on #1537
Hello @Deek9399  , I think this issue is related to #1270 .

[2021-04-16 15:41] TildaDares commented on #1475
@patricoferris Thanks for the explanation. I already tried the solution you suggested and it works. But on some errors like `unbound value` it doesn't return false. It just returns the error.

[2021-04-16 15:42] gs0510 commented on #1402
Can you also add a video of closing the right div @yashi-hub? Is the awkward whitespace we see right now still persist when you close the right div?

[2021-04-16 15:42] kanishka-work commented on #1503
I spent a few minutes trying to find this data in the API and I didn't find it immediately. It may or may not exist there, so I would investigate that first and then come up with an implementation approach after finishing that research.

[2021-04-16 15:50] Deek9399 commented on #1537
Hey!! @Bhavika-Gianey, Thanks for pointing it out.

[2021-04-16 15:54] Deek9399 commented on #1270
Hello @gs0510, I was unaware of this issue and created a new issue #1537 which seems to be a small part of this issue.
Can I work on this issue if it is available?

[2021-04-16 16:03] shreyaswikriti commented on #1431
@gs0510, **_I have made the changes as suggested.
Also, I used the 'WAVE Evaluation Tool ' and it's showing no contrast errors. Kindly have a look._**

https://user-images.githubusercontent.com/57635473/115051306-4d403c00-9efa-11eb-845e-4cb8f517b408.mp4
![Screenshot from 2021-04-16 21-21-03](https://user-images.githubusercontent.com/57635473/115051713-bfb11c00-9efa-11eb-8da1-4a85ef191fbc.png)
![Sc

[2021-04-16 16:08] yashi-hub commented on #1402
the video I uploaded is a demonstration on a phone screen as well as on a desktop screen.

https://user-images.githubusercontent.com/69522036/115051788-d3f51900-9efa-11eb-8e32-92ee5336d3a1.mp4

Both the screens are completely responsive and the right div at the phone screen also remains fixed when scrolling (can be closed).
just the issue is with the little white space. it persists because the siz

[2021-04-16 16:12] gs0510 commented on #1431
@shreyaswikriti It definitely looks better! But I think every time you switch to another link, there's a flash where the bright version is loaded first and then the dark version is applied which makes browsing the website uncomfortable. Can you fix that?

The switch can  be something like this:
![Screenshot from 2021-04-16 18-11-19](https://user-images.githubusercontent.com/8718814/115053229-32ac9

[2021-04-16 16:50] Riddhima23 commented on #1533
Alright @pitag-ha! Thanks! I'll reach out if I have any doubt :))

[2021-04-16 17:05] yashi-hub commented on #1402
the video I uploaded is responsive for both desktop screen as well as a phone screen.

https://user-images.githubusercontent.com/69522036/115059157-c6905c80-9f03-11eb-9eeb-1651b525d908.mp4

just the problem is with that little white spacing, it is persisting because the size of the div is the total size of all the content present in it ( `height of text in right div` + `introduction to OCaml`).

i

[2021-04-16 17:09] yashi-hub commented on #1535
thank you @gs0510 . closing it now :)

[2021-04-16 17:09] #1535 closed

[2021-04-16 17:10] Riddhima23 commented on #1533
@pitag-ha what I have to do is basically to find a more efficient way of splitting strings instead of using regular expressions. For example, let the string be"Ocaml;;great" now I want the output as "Ocaml;;great" but using regular expression(current method) , output would be somewhat " Ocaml"  "great" means it splits the words instead of printing it as a whole which needs to be fixed. Please conf

[2021-04-16 17:29] TildaDares commented on #1475
@patricoferris It only works for exceptions

![image](https://user-images.githubusercontent.com/63427719/115061837-8e782200-9ee1-11eb-9326-018219d2a637.png)

[2021-04-16 20:55] dldisha commented on #1531
@pitag-ha, please review my code changes.

[2021-04-16 21:17] shreyaswikriti commented on #1431
@gs0510,

-  I searched about the first problem on google. I found this flash generates due to many problems. It's a complex issue that involves speeding up the website. By the way I am doing my best if I can find any solution.
- I implemented the desired toggle button.

[2021-04-16 22:50] dldisha commented on #1504
@gs0510, please review my PR and if any other changes are required.

[2021-04-17 03:24] Srinithyee commented on #1492
@patricoferris Thanks for being so kind and helping me. The resources you've shared are extremely useful. I hope to make some progress soon :)

[2021-04-17 06:07] dinakajoy commented on #1483
@pitag-ha and @patricoferris This is what I came up with.
![capture](https://user-images.githubusercontent.com/39722740/115103607-23fbcc00-9f4b-11eb-9f4f-560b96f6f7df.png)
The flaws:
1) I hard-coded all the repo details here which means it will be requiring constant updates.
But then, if I keep making api request for each library, it might affect performance.
I will still check out to see if graph

[2021-04-17 11:00] Muskan-sam commented on #1308
@pitag-ha  I had submitted a PR for this issue but it had errors of line ending. I rectified that but everytime I try making `commit` it shows more than 5000 files have changed. I have tried all possible ways to rectify that but it seems like there is still some problem. I am unable to work on this issue properly and hence would like to withdraw.
Could you please re-assign this issue to @esticojer

[2021-04-17 17:46] guptadiksha307 commented on #1529
@pitag-ha can I remove those blogs which are crossed because mostly all of them contain dead links or the page doesn't exist.

[2021-04-17 20:09] shreyaswikriti commented on #1431
@gs0510, Kindly  Have a look. thanks
https://user-images.githubusercontent.com/57635473/115125553-8c4bbb80-9fe6-11eb-9a78-d63df69a4e82.mp4

[2021-04-17 20:36] jyotibalodhi commented on #1321
@Goodiec Are you still working on this issue?
@gs0510 @patricoferris, If @Goodiec  confirms she is not working on this Issue, Can I take this up?

[2021-04-17 21:21] Goodiec commented on #1321
Hi @jyotibalodhi, yes I am.

[2021-04-18 10:36] mercybassey commented on #1534
This issue looks interesting. I guess its already assigned. I'm currently looking for a medium issue @pitag-ha

[2021-04-18 10:52] mercybassey commented on #1528
This is an opportunity to get familiar with ocaml indept.  If it's not assigned to anyone I'd like to give it a try

[2021-04-18 11:04] Bhavika-Gianey commented on #1503
@pitag-ha  @kanishka-work  , I have gone through the stackshare data and  extracted the list .

![reen_Recording_4-18-2021_4-28-22_PM_](https://user-images.githubusercontent.com/63343906/115143234-b42d3480-a063-11eb-978e-76f1601c7720.gif)

Shall I proceed using this data??

[2021-04-18 12:36] oma16 opened #1540 "repetition of words in the success stories page"
![of](https://user-images.githubusercontent.com/48384861/115145644-7c65c300-a04a-11eb-8553-b55199f43c18.png)

![on](https://user-images.githubusercontent.com/48384861/115145656-8daecf80-a04a-11eb-8410-58e45b39cb52.png)

One of the words has to be removed

[2021-04-18 14:55] Bhavika-Gianey commented on #1503
Also, I have one doubt, the current hard-coded companies page already has a lot of companies listed and in the stackshare API, there is no such data of the image or logo and description of the respective companies. It only contains  names and  related GitHub repos of the companies using Ocaml,
So, shall I have to make a new page and delete the existing page or if I have to render data on the exist

[2021-04-18 17:20] Ndipbanyan commented on #1513
@gs0510 So I came up with a solution and want to clear be about it before creating a PR. Let me try to explain- The api that is 'consumed' to display the emails in `recent thread emails` returns a result having items in which each item has a title tag which reflects the subject of each email and the email of the sender. Below is what I am referring to
<img width="1232" alt="Screenshot 2021-04-18 a

[2021-04-19 05:14] Lontchi12 commented on #1534
@pitag-ha  i would really like to work on a medium issue but i can't find please can you help?

[2021-04-19 07:47] yashi-hub commented on #1402
hey @gs0510 @patricoferris.
I have made some more changes, now the website works completely as desired both on the phone screen as well as desktop screen and the white spacing is also removed.
please have a look before I create a PR

https://user-images.githubusercontent.com/69522036/115199683-15f7a800-a111-11eb-8232-2835e1c885a4.mp4

if you feel the need for some more changes, I will be more than

[2021-04-19 08:32] patricoferris commented on #1540
Sure, thanks for catching this 👍

[2021-04-19 09:46] gs0510 commented on #1431
Looks really good @shreyaswikriti!! you should go ahead and open a PR :)

[2021-04-19 10:55] gs0510 commented on #1513
HI @Ndipbanyan! You are almost right :) We don't want to display the threads that say unsubscribe on the email feed and not remove `unsubscribe` from the title. What the function `normalize_title` is just normalizing titles (so removing the [CFP] etc etc.). What we want to do is remove the `unsubscribe` post from the `posts` list, so you can parse the list to see if there's a post with `unsubscrib

[2021-04-19 10:56] gs0510 commented on #1402
This looks great @yashi-hub! You should open a PR with your changes :)

[2021-04-19 12:39] yashi-hub commented on #1402
thanks @gs0510 , i just wanted to ask that in the manual section there are few more pages with the same issue of right div .
1. https://ocaml.org/releases/4.12/htmlman/language.html
2. https://ocaml.org/releases/4.12/htmlman/comp.html
3. https://ocaml.org/releases/4.12/htmlman/core.html

so should I make the same changes in all these files before creating a PR?

[2021-04-19 14:44] dinakajoy opened #1541 "OCaml Tutorial Basic page not displaying"
I just noticed that this link https://ocaml.org/learn/tutorials/basics.html is displaying 'Not Found' but it is available on my local build. Also the link contains // - https://ocaml.org/learn//tutorials/basics.html when clicked from the google link (see image).

![Capture](https://user-images.githubusercontent.com/39722740/115255123-de472b00-a125-11eb-9ffb-9ce1935bdc52.PNG)

I just wanted to rais

[2021-04-19 14:51] gs0510 commented on #1402
Yes, that'd be great @yashi-hub ! Thanks!

[2021-04-19 16:18] patricoferris commented on #1255
The link (I think) you are looking for is https://github.com/ocaml/ocaml.org/blob/master/template/main.mpp#L99

I'm not sure we can just remove the javascript or bump the version without also trying to upgrade the bootstrap CSS to the same JS version. You can try it but I would think it breaks in quite subtle ways.

[2021-04-19 16:41] shreyaswikriti commented on #1534
Hii @pitag-ha, what I learnt from this issue is I have to remove leading whitespace before ordering blogs. I am thinking to do string.trim on the name strings. before sorting. (for example) I made a list of strings having leading spaces etc. After that, I run this function
_**let trim str = String.trim str in
let by_name o1 o2 = String.compare (trim o1) (trim o2) in
  List.sort by_name ["  hello "

[2021-04-19 17:35] shreyaswikriti commented on #1455
@patricoferris, Can I work on this?

[2021-04-19 19:39] #1395 closed

[2021-04-19 19:52] avsm commented on #1385
I just caught up with the discussion in this issue and looking at #1493. I don't think adding a ToC to an index page adds much to that particular page, as the links are just repeated.  Without a compelling reason otherwise, I'd suggest moving onto another issue. (but thank you for trying it -- it helps to see the result of the change to judge whether or not it's an improvement or not, so this is a

[2021-04-19 19:59] avsm commented on #1311
Just one refinement to this issue: it would be best to add the videos directly into the existing OCaml 2020 workshop page: https://ocaml.org/meetings/ocaml/2020/

That hasn't been updated to include links to the video, and that would be useful and avoid duplication. The videos page could then link to the OCaml 2020 page instead.

[2021-04-20 02:18] CQW-Code commented on #1541
I just tried this on my local build after doing a pull to update my local repo and after entering the url above I got a Not Found page.  I couldn't see where the "Basics" link would be on the tutorials page though so directly entered it.

[2021-04-20 03:20] dinakajoy commented on #1541
Yea, that's my point. This page was supposed to be the first link before `Up and Running`  on learn page. That was why I asked to know if it was intentionally removed. Also, some other tutorial pages made reference to it. I will post a screenshot if I come across another of such again

[2021-04-20 08:14] patricoferris commented on #1528
@mahakbansal2019 is currently assigned, are you still working on this @mahakbansal2019?

[2021-04-20 08:22] Deek9399 commented on #1507
Hello @gs0510 , I am an outreachy applicant, If this issue is still available, I would like to work on it.
Or if there is any other issue available, Please assign it to me.

[2021-04-20 08:47] gs0510 commented on #1537
@Deek9399  you can go ahead and fix this :)

[2021-04-20 08:57] gs0510 commented on #1541
[This](https://github.com/ocaml/ocaml.org/pull/1303/files) PR got rid of `basics.md` from `index.md` and it got replaced with `A first hour for OCaml`. @dinakajoy Do you want to investigate more and see if there are other pages that reference this tutorial and fix them if they do? You can also investigate why the link shows up as `https://ocaml.org/learn//tutorials/basics.html`.

[2021-04-20 11:07] dinakajoy commented on #1541
I am working on #1483 currently. If no other person indicates interest, I will check it once I am done.

[2021-04-20 11:19] Lontchi12 commented on #1314
Hello @patricoferris please can i work on this issue? i am perfectly bilingual and i am currently looking for a medium issue to work on but i can't find, please can this issue be a medium issue , i really need a medium issue

[2021-04-20 11:33] gs0510 commented on #1541
@jyotibalodhi Do you want to take a look at this? Thanks!

[2021-04-20 12:20] mahakbansal2019 commented on #1528
No @patricoferris!
@mercybassey you can go ahead :)

[2021-04-20 12:22] mercybassey commented on #1528
Okay thanks

[2021-04-20 14:18] oma16 commented on #1541
Hi @gs0510, I would like to take a look

[2021-04-20 14:21] jyotibalodhi commented on #1541
Hi @gs0510 yes I would like to look into the issue!
Thanks for mentioning.. :)

[2021-04-20 14:27] gurleennsidhuu commented on #1245
Hi @pitag-ha @patricoferris. It would be a great help if you assign me a medium level issue as previous issues are all taken. Thank you. :)

[2021-04-20 14:55] johnwhitington opened #1545 "Unable to build ocaml.org"
As of this morning:

[code]

This should not be a fatal error.

Temporarily removing the offending URL in `planet_feeds.txt` works around the problem, allowing the build to proceed.

[2021-04-20 15:10] patricoferris commented on #1475
Ah okay, awesome work getting this far especially since this is your first foray into OCaml!

The actual failure modes seem a little undocumented, but `try...with` blocks are very like pattern-match statements. In fact you can pattern match on the exception itself i.e.

[code]

Note I think you need to run `utop-full` so it has access to global things like `Env` in this case.

[2021-04-21 07:48] #1441 closed

[2021-04-21 07:49] #1393 closed

[2021-04-21 09:06] dinakajoy commented on #1483
@pitag-ha please I keep getting this Error: Unbound module Yojson.
How do I solve this, I have been stuck here for over a day. Thank you

[2021-04-21 09:18] pitag-ha commented on #1533
Hi @Riddhima23, sorry for the late reply!

I don't exactly understand this sentence. What is it that you mean?

I have the impression that you've understood correctly, but I'm not sure :) Just to make sure, let me give a concrete example building on your example. Suppose you have the following toplevel block:
[code]
We want that block to be split into the two toplevel phrases
`print_endline "OCaml

[2021-04-21 09:20] pitag-ha commented on #1531
Thanks for your work on this @dldisha :) What has been your approach to find out if a script is still having an impact on the site or not?

[2021-04-21 09:49] pitag-ha commented on #1308
@Muskan-sam, ok, don't worry about that :) A couple of general tips about the kind of problems you're having:

- as Gargi suggested:

  What have you tried to get that git setup right? For example, have you seen the [github docs](https://docs.github.com/en/github/getting-started-with-github/configuring-git-to-handle-line-endings) (you can click on `windows` at the top) on that?

-  You said

   In

[2021-04-21 10:41] yashi-hub commented on #1402
hey @gs0510 @patricoferris, just had a quick problem before opening the PR
the work which I have done till now on these pages is according to the code that I extracted from https://ocaml.org/releases/4.12/htmlman/coreexamples.html using `ctrl+U` and that code (or the live website rn) doesn't show chapter number in the right div.
for eg:
![image](https://user-images.githubusercontent.com/69522036/1

[2021-04-21 10:45] patricoferris commented on #1402
Are you sure you are using the latest `master` branch commit from upstream? You might need to do a `git pull upstream master` to get the latest changes.

[2021-04-21 10:48] shreyaswikriti commented on #1534
@pitag-ha, kindly review the PR.

[2021-04-21 12:25] johnwhitington commented on #1541
A few days ago I submitted https://github.com/ocaml/ocaml.org/pull/1497 which removes any internal references to tutorials which have been deleted, including the translations.

So this should be sorted soon, I think.

[2021-04-21 13:06] gs0510 commented on #1541
Ah cool, thanks @johnwhitington !

@dinakajoy This issue will be fixed by #1497, you can close it :)

[2021-04-21 13:24] jyotibalodhi commented on #1541
@gs0510  Yesterday, I made the request here - https://support.google.com/webmasters/answer/7041154?hl=en, to remove it from the Google's cache. It looks issue is solved now. Also, I checked all other URLs of https://ocaml.org/learn/tutorials/. They are looking good :)

[2021-04-21 13:29] gs0510 commented on #1455
@shreyaswikriti All 6 sections are vertical at the moment (code, tutorials etc) so it'd be a bit weird if only the last three sections (videos, sucess stories etc) are horizontal in my opinion. Happy to hear your thoughts on this!

[2021-04-21 13:43] gs0510 commented on #1541
Perfect, thanks @jyotibalodhi!

[2021-04-21 14:13] yashi-hub commented on #1402
oh yes, I came to know that I cloned the repository two months back and it was outdated.
I'll just implement the changes to the latest repo and generate a PR.
thanks for resolving this :))

[2021-04-21 14:47] guptadiksha307 commented on #1455
Hi @pitag-ha actually I was also thinking about the same idea so I would like to put up some points here. I believe that it doesn't matter because the section (including code examples, tutorials, books) as a whole is horizontally aligned.

<img width="439" alt="Screenshot 2021-04-21 at 8 13 03 PM" src="https://user-images.githubusercontent.com/53967592/115572958-fcf02200-a2dd-11eb-98a8-275f0f8fc23

[2021-04-21 15:14] pitag-ha commented on #1529
@guptadiksha307, let me answer here your [question about which file needs to be modified](https://github.com/ocaml/ocaml.org/pull/1547#issuecomment-823946734):

I would modify `planet_feeds.txt` as you've already done, but adding the blog URl instead of replacing the feed URL by it. So at the moment, the first line could look something like:
[code]
You will need to find where and how that file is

[2021-04-21 15:15] oma16 commented on #1245
Hi @patricoferris @gs0510 @pitag-ha, I would love to work on medium issues . Kindly assign some. Thanks. :)

[2021-04-21 15:32] dinakajoy commented on #1483
@pitag-ha and @patricoferris please I need help. I have been getting some errors and can't seem to figure out how to tackle it.
Here is what I want to achieve:
`Read a json file and for each key, make a HTTP request to fetch info and then format it in html and return the formatted html`
Here is my code:

module List=ListLabels
open Printf
open Yojson
open Nethtml
open Lwt
open Cohttp
open Cohttp_l

[2021-04-21 15:37] guptadiksha307 commented on #1529
Thank you @pitag-ha for the explanation :) It's much clearer now.

[2021-04-21 15:38] #1541 closed

[2021-04-21 16:06] Deek9399 commented on #1537
Thanks@gs0510

[2021-04-21 16:15] #1357 closed

[2021-04-21 16:20] shreyaswikriti commented on #1455
@gs0510, In the documentation page, the videos section is aligned horizontally and I am proposing to use this idea because the Doc page is looking better than learn where all sections are cluttered.
Here I am attaching both page's links to see the difference.
[Learn page ](https://www.ocaml.org/learn/)  [Documentation page ](https://www.ocaml.org/docs/)

[2021-04-21 17:20] shreyaswikriti opened #1551 "fix a FIXME in rss2html.ml while printing author name in blog feed"
I came across a [FIXME](https://github.com/ocaml/ocaml.org/blob/3869aa66d1bef8dba7f105eaddfcf3432a98fcb3/script/rss2html.ml#L339) in rss2html.ml page. that asks to check for word boundaries while printing author-name. I would like to fix this issue if approved.

[2021-04-21 18:42] Muskan-sam commented on #1308
@pitag-ha  I searched for the line ending problem and found a solution on stack overflow. Then I went through the git configuration documentation and configured my git bash.

when I tried `git reset HEAD~` the command did not succeed. I had to exit the terminal manually by using `ctrl`+`c` .

Then I tried resetting the entire project on my system from the very beginning and the `make` command succ

[2021-04-21 18:47] pitag-ha commented on #1534
That's because strings are immutable in OCaml :) What you do here is that inside the scope of `by_name` you create two new strings `trim o1` and `trim o2` from the strings `o1` and `o2`. Those new strings just serve to determine how to order `o1` with respect to `o2`. As you can see the ordering is done correctly with your change.

So your PR looks good :) Just apply the changes proposed by Gargi.

[2021-04-22 07:58] sanjana-98 commented on #1512
@patricoferris Hi. Is there any other good-first-issue I can work upon. Please help.

[2021-04-22 08:26] yashi-hub commented on #1402
oh yes, I did not get the latest changes. sorry about that.
I'll just create a PR now for all the pages.
thanks for the help :))

[2021-04-22 09:32] TildaDares commented on #1475
@patricoferris So this is what I ended up with
[code]
I'm still working on printing descriptive errors. Now the issue is with printing these errors during the build process i.e. when running `make`. I had a look into the [file](https://github.com/ocaml/ocaml.org/blob/master/Makefile.from_md) responsible for preprocessing the .md files during the build. I tried searching for ways to pass a variable

[2021-04-22 12:22] LindieK opened #1552 "Pages of documentation not translated to French"
## Context

Looking through the Documentation pages of the site, there are many pages not translated to french.

I do not know if leaving those pages untranslated was intentional or not but for the amount of text on the pages, it would be useful if they were translated as well.

Here is the link to one of the pages: https://ocaml.org/manual/runtime.html

[2021-04-22 12:53] patricoferris commented on #1475
Okay great. I think if you pattern-match on the exceptions you can give more information because you are "destructuring" the exception so you can know more about it.

Whilst doing that we could also completely fail the build if a particular error occurs. I don't think there is any case where want `Toplevel.execute_phrase` to throw an `Env.Error _` exception, this might be a good candidate to just

[2021-04-22 15:44] Riddhima23 commented on #1533
@pitag-ha Thanks for the example.I meant something like this but maybe couldn't put it :)  Now I have completely understood the issue.I'll get started and  let you know if I have any further query :))

[2021-04-22 18:48] gs0510 commented on #1551
@shreyaswikriti Were you able to figure out what the Fixme implies? @pitag-ha and I looked at it but couldn't decipher what the FIXME meant :)

[2021-04-22 19:10] Octachron commented on #1552
For the OCaml's reference manual, before thinking about localization, there is first the question of having a good internationalization process for the manual pipeline. Without such process, I am not sure if it makes sense to have a localized version of the manual for just one version of OCaml.

[2021-04-23 07:00] kaniaganda commented on #1376
@pitag-ha @gs0510 @Srinithyee Thank you for giving me a chance to work on the issue. After trying to work on it, I don't think I will be able to complete this issue for the time being. If there is anyone else who is interested in fixing the issue, please feel free to work on issue.

[2021-04-23 07:53] sanjana-98 commented on #1376
Hi  @kaniaganda shall I work on this?

[2021-04-23 08:05] TildaDares commented on #1475
@patrickoferris I tried this
[code]
This exits the script with a `Fatal Error: End_of_File raised` but doesn't fail the build. I started reading up on how to fail a build when it encounters an error but I don't really understand it https://www.google.com/url?sa=t&source=web&rct=j&url=https://stackoverflow.com/questions/35701016/make-stop-compilation-on-error&ved=2ahUKEwjAttOV8ZPwAhUpahUIHbSjAOQQrA

[2021-04-23 08:32] Ndipbanyan commented on #1513
@gs0510 I have been having issues in trying to run `make` or `make production`  since  I installed the ocaml platform extension on vscode. Below was the error I was getting
<img width="575" alt="Screenshot 2021-04-23 at 07 50 09" src="https://user-images.githubusercontent.com/67186679/115843020-50658b80-a416-11eb-8194-64af092b0034.png">
 I uninstalled the extension then the `cohttp-server-lwt ./oc

[2021-04-23 08:54] gs0510 commented on #1528
@mercybassey Are you still working on it? Do you need any help? :)

[2021-04-23 09:10] gs0510 commented on #1321
@Goodiec have you been able to make any progress? Do you need any help? Thanks!

[2021-04-23 10:38] gs0510 commented on #1513
@Ndipbanyan Both errors are related to `omd`. Can you run `opam show omd` to see what version of `omd` you have?

`cohttp-server-lwt ./ocaml.org` will work only if your make command is successful.

[2021-04-23 10:53] gs0510 commented on #1376
@sanjana-98 Are you an Outreachy applicant? :) What project are you interested in? Since folks have been contributing for a few weeks, we already have quite a lot of contributions that we are considering for final applications. That being said we would anyway appreciate your contributions and hope you can participate in the next round :) Thanks!

[2021-04-23 11:02] LindieK commented on #1552
@gs0510 I don't. I just wanted to know why and suggest a way of getting translations. If the issue raised by @Octachron is addressed then can a solution for translation such as https://crowdin.com/ an option?

[2021-04-23 11:13] LindieK opened #1555 "No page title for the ocaml.org/api/index.html page"
## Context
I ran several pages  of the site through an accessibility tester and noted the areas of deficiency with the site. The API docs index page does not have as page title. The browser then defaults to showing the url path of the page  and will be read the same way to screen readers. This is not expressive enough and would be bad UX.

![url](https://user-images.githubusercontent.com/38317939/

[2021-04-23 11:13] Ndipbanyan commented on #1513
After runnning `opam show omd` I got this
<img width="580" alt="Screenshot 2021-04-23 at 12 12 03" src="https://user-images.githubusercontent.com/67186679/115863328-35524600-a42d-11eb-8081-5d367adbbffa.png">

[2021-04-23 11:19] gs0510 commented on #1513
The website doesn't work with the latest version of OMD, see issue #1321, you need to downgrade omd to 1.3.1 and it should be okay after that :)

[2021-04-23 11:31] yashi-hub commented on #1402
Hey @gs0510 @patricoferris I've submitted a PR for this issue, changing all the files. If some more changes are required to the site, I'll be happy to implement it.
Kindly review the PR.
Thanks :))

[2021-04-23 11:32] Lontchi12 commented on #1552
@gs0510  i am perfectly bilingual and currently looking for a medium issue to work on, Please can i be of help here?

[2021-04-23 11:45] kanishka-work commented on #1503
@pitag-ha Perhaps this work can aim to produce a script that generates a yaml file with company name, stackshare url, company website, and a few other attributes, and stop there for now?

[2021-04-23 12:12] Goodiec commented on #1321
Hello @gs0510, sorry this has taken longer than anticipated, been a bit sick. Please could you explain this issue better, I'm not very clear on how to go about it. Thank you

[2021-04-23 12:32] mercybassey commented on #1528
@gs0510  I tried  requiring the package as shown in the ezjsonm readme but it didn't work  , so I'm still not sure how to get it to work

[2021-04-23 12:42] Ndipbanyan commented on #1513
Yes! It works now. Thanks. Got me stuck there for a while.

[2021-04-23 12:44] Octachron commented on #1552
My personal option for the part that concerns the OCaml reference manual is that this goes far beyond the scope of a medium-sized issue: the translation itself is already a multi-weeks work, then there is the issue of making the translation maintainable which is more an internship-sized work (and that would require some discussion beforehand).

[2021-04-23 13:10] Ndipbanyan commented on #1513
Also I think I have been able to filter the emails now. My implementation is thus:-
I wrote a regex (for the unsubscribe word) and added an `else if` block in the `must_keep` function to exclude any title that has the regex. Is this implementation okay?

[2021-04-23 13:13] gs0510 commented on #1321
No worries @Goodiec. Did you read the first comment on the issue here: https://github.com/ocaml/ocaml.org/issues/1321#issue-844401468 :)

`omd` is a library that the code depends on and the code doesn't compile with the newest version  of `omd` which is `2.0.0~alpha1`. In the comment, Patrick has also mentioned how you can fix one of the instances where the code fails. Can you go through it and le

[2021-04-23 17:07] pitag-ha commented on #1503
I'm sorry, I've totally missed this somehow.

@Bhavika-Gianey

Thanks! That's great :)

That sounds like a good idea to me! @Bhavika-Gianey , do you want to do that? @kanishka-work, would you include that script or that yaml file somewhere into the ocaml.org code base?

[2021-04-23 17:13] kanishka-work commented on #1503
I would include the script only and add documentation in the script for how to run it. We can rename this issue as "create script to fetch company data from stackshare api" and create another issue for follow-up steps as we get time to think of more concrete requirements.

[2021-04-23 17:49] dldisha commented on #1555
I'm interested in working on this.

[2021-04-23 19:31] Goodiec commented on #1321
Yes, I did. What I gathered from the issue description is that I have to make some syntax changes to match the latest omd library in the affected places in the scripts but I wasn't sure. I will open a pull request on this soon and get validation that I am doing the right thing. Thank you @gs0510.

[2021-04-24 08:07] Bhavika-Gianey commented on #1503
@pitag-ha, Yes I would like to proceed further.
I want to clarify the issue as per my understanding, so,
- I need to extract the company name, stack share URL, company website, etc from the API, etc of all the companies using Ocaml, so I need to fetch data simultaneously from two endpoints, one which gives the company name and from the other endpoint the corresponding URL and other resources of th

[2021-04-24 08:16] Bhavika-Gianey commented on #1555
The same issue also goes for https://ocaml.org/api/compilerlibref/index.html.

[2021-04-24 09:36] gs0510 commented on #1513
This looks good @Ndipbanyan, you can make the regex case agnostic so that all kinds of unsubscribes are filtered out. You should also open a PR. :)

[2021-04-24 09:37] gs0510 commented on #1321
Yes that sounds about right :) Thanks @Goodiec! :)

[2021-04-24 15:15] Ndipbanyan commented on #1513
Great! I've opened a PR. I used `Str.regexp_case_fold` as opposed to just `Str.regexp` so I believe that makes it case agnostic.

[2021-04-24 15:19] Lontchi12 commented on #1552
@Octachron can i start working on it? then if i'm selected for the internship then i continue or lemme just leave it for now?

[2021-04-24 16:30] kanishka-work opened #1559 "Create OCaml Powered Software Directory Data Set"
The success stories page currently provides information about some open source and commercial projects that are implemented using OCaml. There are directories like the Free Software Directory (https://directory.fsf.org/wiki/Main_Page) which helps users find software that adheres to Free Software principles. It would be nice to start working in that direction for people who admire OCaml and want to

[2021-04-25 10:03] guptadiksha307 commented on #1529
@pitag-ha kindly review the PR :))

[2021-04-25 13:05] roddyyaga opened #1561 "Cheatsheet link is broken"
The standard tools and emacs shortcuts cheatsheet links at https://ocaml.org/docs/cheat_sheets.html are broken.

I think the correct links can be found here https://github.com/OCamlPro/ocaml-cheat-sheets

There is also an opam cheatsheet that might be nice to add

[2021-04-25 13:24] Deek9399 commented on #1245
Hi @gs0510, @pitag-ha, @patricoferris, I was able to complete my previous issues and created PR for the same. I would like to work on some medium-level issues.
Thank you

[2021-04-25 13:29] yashi-hub commented on #1561
If got approved, I would like to work on this issue :))
Thank you

[2021-04-25 14:42] shreyaswikriti commented on #1551
@gs0510, what I understand from the functions
 **_&& not(Utils.KMP.is_substring ~pat:a.name feed_author)
  && not(Utils.KMP.is_substring ~pat:feed_author a.name)_** is:
this line is searching that **a.name** should not be present in **feed_author** and vice versa.
using  **is_substring** function, it returns **true** even if the substring is present **in between** the string. Setting word boundari

[2021-04-26 04:32] mercybassey commented on #1528
Hello @patricoferris @gs0510. Since I am not yet familiar with the ezjsonm package I tried a different approach in converting the text file to JSON. All i did  was to setup a node project, and used a library called text-to-json for the parsing. I installed the package via npm and required it. I'd like to know your take on this and also like to know if using the ezjsonm package follow the same appr

[2021-04-26 07:39] patricoferris commented on #1528
Hi @mercybassey,

Nice work so far, unfortunately I don't think we're going to add all of Node as another dependency. However, this is actually a really useful stepping stone that you can use.

I think the goals have been a little mixed up. This issue seeks to (a) convert the text document to JSON like you did with the Node project and save it to a file (`plant_feeds.json`) and then (b) convert th

[2021-04-26 09:27] gs0510 commented on #1551
That makes sense @shreyaswikriti! You can go ahead and fix this :)

[2021-04-26 10:44] dinakajoy commented on #1483
@pitag-ha @kanishka-work please is there a way to render dynamic routes in ocaml?
Like: ocaml.org/libraries.html?1234

[2021-04-26 11:41] yashi-hub commented on #1402
hey @gs0510, @patricoferris I would like to discuss the outreachy internship timeline with you for the project `improving the ocaml.org`. it would be great if you can tell me that what work is supposed to be done during the internship period so that I can break it into timelines and get it reviewed by you :))
as there are only 4 days left for the final application deadline.
thankyou :)

[2021-04-26 12:54] Goodiec commented on #1321
Hello @patricoferris, @gs0510 . After installing the new Omd version, I went ahead to make some changes based on the example given above but trying to build the site using make local gives me the error in the image below:

![err](https://user-images.githubusercontent.com/15726413/116085244-887b0180-a696-11eb-97aa-91a0f560b871.PNG)

Please advise on this.

[2021-04-26 13:10] Goodiec opened #1564 "Improve layout on the documentation page"
On screen size 979px and below, the row with the videos on the documentation page start to lap over each other, and on screen size 767px and below the books and videos on the page are displayed with too much white space on the right. Below are images of these observations:
![doc-vid](https://user-images.githubusercontent.com/15726413/116087658-fd4f3b00-a698-11eb-836c-4027897f0501.PNG)
![doc-vid1](

[2021-04-26 13:26] kanishka-work commented on #1483
In general, dynamic routes are possible, but dynamic routes are not possible on the ocaml.org project currently.

The ocaml.org project creates static files, and then a web server (caddy), serves those files. You can create loops while the creating static files though, which allows for some small variation in behavior.

[2021-04-26 14:44] dinakajoy commented on #1483
Thank you @kanishka-work . I guess I will go with the same process on https://ocaml.org/community/planet/ page.
what do you think please?

[2021-04-26 15:03] iamananya commented on #1245
Hello mentors, @patricoferris @pitag-ha
I am Ananya Mahato,an outreachy applicant.I wish to contribute to ocaml.Although i am very late in contributing, due to my semester exams i was unable to do it.I just have 4 days in hand and i don't want to miss this opportuniy.I have set up ocaml in my system.I just want to know if there are any issues or any modification to be done , please assign me. I wi

[2021-04-26 15:03] patricoferris commented on #1321
Hi @Goodiec, awesome! I've just been talking about this work as the Omd team look to do a new major release. Absolutely no pressure, but just letting you know your work will be super useful !

This is a compiler error, in particular a type error. You have an `if a then b else c` statement. The type of `a` is a `bool`, the types of `b` and `c` could be anything, but importantly they must be the sam

[2021-04-26 15:22] Goodiec commented on #1321
Thank you @patricoferris, I will go through the resources you provided and let you know if I encounter any difficulty or have further questions.

[2021-04-26 15:49] kanishka-work commented on #1483
I will let @pitag-ha provide more detailed guidance.

I did glance at `scripts/rss2html.ml` `posts` function which is used in ocaml planet that you linked to. It could provide some guidance for how to structure your implementation. I might start by deciding which external libraries you need and figuring out how to add those libraries to the build definition.

[2021-04-26 16:07] dinakajoy commented on #1483
I have been able to fetch individual repos provided in a json file to create a list of all the repositories.
The issue is to link to details page for individual libraries where the PR details would be. I don't want to create the pages one after the other as that would make it static, so I wanted to have one page with dynamic routes to display the details.
I am new to ocaml, so I need a simple proc

[2021-04-26 17:45] somya104 commented on #1328
Hey! @patricoferris and @gs0510
Can you please take a look at the issue I have linked above and review it?
Thanks!

[2021-04-26 19:51] TildaDares commented on #1475
@patricoferris I tried this and it worked.

[code]

This is what it prints out

<img width="568" alt="Screenshot 2021-04-26 at 20 50 49" src="https://user-images.githubusercontent.com/63427719/116141820-183da180-a6d1-11eb-8875-d9216967f254.png">

Would you like me to make a PR?

[2021-04-27 06:18] guptadiksha307 commented on #1325
@pitag-ha Is this issue still open? If yes, I would like to work on this :)

[2021-04-27 09:16] guptadiksha307 opened #1567 "Adding documentation image icon on the Docs page"
Learn and Community pages have image icons like this -

<img width="920" alt="Screenshot 2021-04-27 at 2 42 27 PM" src="https://user-images.githubusercontent.com/53967592/116216946-cc3d3c00-a766-11eb-89f7-6fa73c25734f.png">
<img width="817" alt="Screenshot 2021-04-27 at 2 42 47 PM" src="https://user-images.githubusercontent.com/53967592/116216990-d95a2b00-a766-11eb-9411-e7e0394b5673.png">

It will

[2021-04-27 09:38] pitag-ha commented on #1503
Hi @Bhavika-Gianey, yes, what you've understood is right :) If you want, as a first step you can generate a YAML containing the list of all companies using OCaml and, if there's time, later improve that by adding also the information about the company to it.

About your question which libraries to use: I've used `curly` for HTTP requests in OCaml. If you're familiar with the command line tool `cur

[2021-04-27 10:29] guptadiksha307 opened #1568 "Improving packages table layout on the Home page"
Initially, on the home page, the Packages table looks like this-

<img width="1330" alt="Screenshot 2021-04-27 at 3 51 47 PM" src="https://user-images.githubusercontent.com/53967592/116226348-7c637280-a770-11eb-8695-d868cc78ccde.png">

 which is not in sync with the section "A taste of OCaml". This can be improved by aligning the two tables horizontally like this-
<img width="1266" alt="Screenshot

[2021-04-27 10:39] guptadiksha307 commented on #1568
@gs0510 Can I work on this?

[2021-04-27 13:00] pitag-ha commented on #1325
@guptadiksha307, I think it is still open. But notice that each Outreachy applicant can work on maximum one good-first-issue :)

[2021-04-27 14:07] kanishka-work commented on #1503
@pitag-ha I don't see any polished graphql clients in ocaml. Maybe this task can drop down a level of abstraction and and use an http rest client library with this method https://graphql.org/learn/serving-over-http/ ?

[2021-04-27 14:17] pitag-ha commented on #1503
Thanks @kanishka-work, both ideas sound great to me!

Also, @Bhavika-Gianey, I've just talked to @patricoferris and he has mentioned that using `cohttp` as you've suggested (instead of `curly` as I've suggested) is a good idea since the current page is already using `cohttp`.

[2021-04-27 14:39] patricoferris commented on #1503
Hi @Bhavika-Gianey,

I think for simplicities sake we should narrow the initial scope of this:

 1. You can just Cohttp for the requests as we already use that for the RSS feeds, have a look at: https://github.com/ocaml/ocaml.org/blob/master/script/http.ml#L32. For GraphQL you just need to put the GraphQL in the body of the request (I made a [small example to help](https://gist.github.com/patricof

[2021-04-27 15:19] pitag-ha commented on #1483
I'm a little confused regarding the direction in which the issue is going now. Don't worry, it's probably all reasonable. I just need to understand what your ideas are and therefore ask some questions before I can help here, @dinakajoy :)

Which json file are you talking about? Have you already generated/hardcoded one?

What are those PR details? From what I've understood the PR detail we want her

[2021-04-27 15:28] #1534 closed

[2021-04-27 15:29] #1454 closed

[2021-04-27 15:53] patricoferris commented on #1483
This all sounds like it is heading in the right direction. I don't think we want dynamic pages, OCaml.org is completely static for the most part. Even the RSS feeds are generated on every build by making the HTTP requests.

I think we should, for now, just copy this approach. We can make the requests at build time and produce static html directly inside `ocaml.org` similar to OCaml Planet. The ide

[2021-04-27 15:56] #109 closed

[2021-04-27 16:03] dinakajoy commented on #1483
Thank you. Yes, the grids were static. I just wanted to see what the different designs would look like so as to make a decision.
I will wrap this up and make a pull request latest by tomorrow

[2021-04-28 11:44] gurleennsidhuu commented on #951
If possible, I would like to work on this issue.

[2021-04-28 13:06] Bhavika-Gianey commented on #1503
Thank You @pitag-ha, @patricoferris, @kanishka-work :) , Yesterday my whole family tested Covid positive , so I will not be able to give full time for a few days but I will ty to complete work on this issue as much as possible .

[2021-04-28 15:14] gurleennsidhuu commented on #1533
Hi @Riddhima23. Are you still working on this issue? :)

[2021-04-28 15:19] gurleennsidhuu commented on #1531
Hi @dldisha. Are you still working on this issue? :)

[2021-04-28 18:20] #1447 closed

[2021-04-28 18:36] Bhavika-Gianey commented on #1503
Hello, @patricoferris,
I tried running the sample code on the stackshare API; I am facing an error message in the final response and I am not able to debug the error. Can you please look into this ;

#use "topfind";;
#thread;;
#require "lwt";;
#require "cohttp-lwt-unix";;
#require "ezjsonm";;

open Lwt
open Cohttp
open Cohttp_lwt_unix
open Printf

let uri = "https://api.stackshare.io/graphql"
let

[2021-04-28 18:41] kanishka-work commented on #1503
You might find it easier to ask questions and get help by creating a Draft Pull Request and asking questions using comments on the Pull Request.

[2021-04-28 19:23] Bhavika-Gianey commented on #1503
Thanks, I will make one.

[2021-04-29 11:41] gurleennsidhuu commented on #294
Hi. Is this issue still open? If yes, I would like to work on this. :)

[2021-04-29 18:48] sanjana-98 commented on #1376
@gs0510 I am an outreachy applicant but couldn't contribute initially because of some personal issues. I would feel grateful if you could suggest some issues as am looking to contribute just for my own learning experience

[2021-04-30 12:01] Lontchi12 commented on #1567
Can i work on this?

[2021-04-30 16:00] guptadiksha307 commented on #1567
@Lontchi12 if the mentors approve this issue, then sure :))

[2021-04-30 18:44] dinakajoy commented on #1483
@patricoferris I have been getting this error since today with ezjsonm
`let json = Ezjsonm.value_from_channel (open_in "library_repos.json") in`
OR
`let ch = open_in "library_repos.json" in
  let json = Cow.Json.value_from_channel ch in
  close_in ch;`
Error: Fatal error: exception Ezjsonm.Parse_error(870828711, "JSON.of_buffer expected JSON value")
Fatal error: exception Failure("Command <> ended

[2021-04-30 19:42] patricoferris commented on #1483
Hmm strange, a little hard to decipher in a comment.

Having a little poke around Ezjsonm, that error is thrown when it cannot read the source JSON (https://github.com/mirage/ezjsonm/blob/master/lib/ezjsonm.ml#L146-L149) so it means the JSON in `library_repos.json` isn't quite right. In particular, something to do with `870828711`, so maybe have a look for that in the file and see if anything look

[2021-04-30 19:52] dinakajoy commented on #1483
You were right, there was a typo error on one of the keys. Thanks alot.
Also, please can you share your code where you used apollo-client in ocaml. I am converting this request from the REST API to GraphQL. Thanks

[2021-05-01 23:39] m9xiuz opened #1577 "Mistake in OCaml Manual / Feature request: Matching multiple `when` cases"
There's probably a mistake in https://ocaml.org/manual/expr.html#pattern-matching
[code]
because e.g. this code is valid although it doesn't satisfy `pattern-matching` rule:
[code]
But this code is invalid:
[code]
which is very very sad, btw, because I badly need to match multiple cases that each has a guard.

[2021-05-02 07:26] jyotibalodhi commented on #1531
Hello @pitag-ha @patricoferris, I am interested to work on the issue. If anyone is still not working on this issue, can you please assign this to me? Thanks :)

[2021-05-02 14:43] Riddhima23 commented on #1533
@gurleennsidhuu yes

[2021-05-02 18:47] pmetzger commented on #1577
The manual is not maintained in this repository, but rather in https://github.com/ocaml/ocaml/

[2021-05-02 19:08] Octachron commented on #1577
The description is correct: a branch of a pattern matching is a sequence of a pattern and an optional `when` guards.  In your first case ` 0 | 1 -> .. ` the pattern is ` 0 | 1`.  Indeed, patterns include or-pattern (for instance `let f ([ ([]| _ :: _)] | _ :: _  | []) = ()` is a valid function). In other words, or-patterns are first class patterns, whereas `when` guards are not (because they make

[2021-05-02 19:08] #1577 closed

[2021-05-02 19:59] m9xiuz commented on #1577
@Octachron

Aha, thanks, you're right, I didn't notice that patterns might contain `|` https://ocaml.org/manual/patterns.html#pattern

I don't understand why. For example, we can always convert this
[code]
into
[code]

[2021-05-03 05:49] madhhuurrii commented on #1512
Hi @patricoferris, Is this issue still available? Can I work if it is?

[2021-05-03 08:11] Octachron commented on #1577
And what happens with nested when guards:
[code]
How many times should `g` be called?
Similarly, what it is supposed to happen when an inner `when` guard mutates the beginning of a pattern:
[code]
But even without those difficulties, exploding all or-pattern leads to a combinatoric explosion and inefficient pattern matching.
Consider:
[code]
Exploding all the or-patterns lead to 72 cases, whereas

[2021-05-03 09:38] pitag-ha commented on #1531
Hi @jyotibalodhi, we can't guarantee that we could help out with questions and review/merge a PR soon, but if no one else is working on this issue, feel free to work on it! :) @dldisha, @gurleennsidhuu, is anyone of you working on this?

[2021-05-03 09:49] gurleennsidhuu commented on #1531
Hi. I have not yet started working on this as I was waiting for @dldisha's reply. If she's not working on this, I would like to start working. Thanks. :)

[2021-05-03 09:52] m9xiuz commented on #1577
We can just forbid nested `when` guards. They don't seem useful.
I'm not proposing to extend `pattern` with `when`. I'm proposing to make `-> expr` optional in `pattern-matching` for all cases except the last one https://ocaml.org/manual/expr.html#pattern-matching
So it will look like this:
[code]

We don't need to explode all of them, only top-level ones, in your example there're only 3 of them.

[2021-05-03 10:16] jyotibalodhi commented on #1531
No problem @pitag-ha !! I would love to work on some issues though. :)  @gurleennsidhuu sure, you can go ahead, and if you face any issues, I would be happy to help.

[2021-05-04 16:08] #1136 closed

[2021-05-04 16:09] johnwhitington commented on #1136
(Closed because the work involved has been (mostly) done)

[2021-05-05 10:28] Srinithyee commented on #1531
@gurleennsidhuu you might want to check out @dldisha's PR #1538 for some leads on the same issue :)

[2021-05-05 14:06] Goodiec commented on #1321
Hello @patricoferris, I have been getting more familiar with Ocaml to help me better understand the functions I am to make changes to. Please could you provide me with a resource or resources that could help me understand the Omd interfaces better as I am still having blockers and there is no proper documentation on the library, I really want to work on this issue.

[2021-05-06 08:08] patricoferris commented on #1321
As with most OCaml libraries the documentation is sparse. The best bet is to get comfortable with reading `.mli` files which describe the interfaces and also using the library. For example, you can open `utop -require omd` and start parsing strings to see the generated AST.

[code]

Unfortunately that's the nature of programming in OCaml, as you get more and more familiar with common practices the

[2021-05-06 20:15] gurleennsidhuu opened #1583 "Broken and dead links"
The site has many broken and dead links which I found using an online broken link checker.
Eg: 1. The irc link
![Screenshot 2021-05-07 014202](https://user-images.githubusercontent.com/64313783/117359778-82c2be80-aed5-11eb-8f9f-3a754cfb0e68.png)
2. The mailing list link
![Screenshot 2021-05-07 014327](https://user-images.githubusercontent.com/64313783/117359873-a84fc800-aed5-11eb-8d17-07d3b5cb4cda

[2021-05-07 14:04] gurleennsidhuu commented on #1583
Manually fixing them would require a lot of time. Is there any other way of fixing?

[2021-05-08 06:32] yashi-hub commented on #1418
@Jane-Kotovich  are you still working on this?
if not , @gs0510 can I work on this issue?

[2021-05-09 17:54] gurleennsidhuu commented on #1285
Hi @divya144. Are you still working on this? If not, I would like to take this issue. :)

[2021-05-18 09:55] nibble0101 commented on #1245
Hey all. It has been quiet here of late. I hope you enjoyed the application period. Irrespective of whether you are selected or not, you are now OSS contributors. You are welcome to continue contributing and learning. Congratulations to @dinakajoy, @shreyaswikriti  and @guptadiksha307.

[2021-05-19 17:09] noviicee commented on #1525
Can I fix this?

[2021-05-31 18:28] tmattio opened #97 "Import `ocaml.org` content"
Meta-issue to track the migration of the content from the current `ocaml.org` website.

- [ ] 99 Problems (ocaml/ood#15)
- [ ] Releases (ocaml/ood#18)
- [X] Success stories (ocaml/ood#17, ocaml/ood#20)
- [X] Books (ocaml/ood#16)
- [x] Videos
- [X] Papers (ocaml/ood#11)
- [x] Events
- [X] English Tutorials (ocaml/ood#14)
- [x] Meetings (#111)
- [X] Companies (ocaml/ood#26)
- [X] Consortium (ocaml/o

[2021-06-07 10:47] zoggy opened #1589 "RSS feed for new packages"
From the page http://opam.ocaml.org/, one can access this page listing package update in opam repo: http://opam.ocaml.org/packages/index-date.html . But none of these pages provide a RSS feed for this information. The feed included in the page refers to the OCaml Platform blog.

It would be very useful to have a RSS feed for package updates.

And by the way, if could be useful too to have url of R

[2021-06-08 00:28] pmetzger commented on #1589
I will note that there are not particularly good descriptions in most opam packages' metadata of what the package does; if one is trying to look at an RSS feed of packages to find new ones to use, it's not particularly easy.

[2021-06-08 06:10] zoggy commented on #1589
But the name of the package itself is often enough to known what it's about, and it's better than nothing :-)

[2021-06-25 14:09] #1559 closed

[2021-07-17 10:16] NebuPookins commented on #1030
Perhaps this issue can be closed?

* The issue mentions the file https://github.com/ocaml/ocaml.org/blob/master/site/learn/tutorials/basics.md but this file no longer exists.
* The issue says the text "The unit type is sort of like void in C, but we'll talk about it more below." is confusing, but this text no longer appears anywhere on the site.
* I'm guessing the replacement for `basics.md` is `a

[2021-07-17 16:01] pmetzger commented on #1030
If the original file is gone, there is no need for the PR.

[2021-07-19 21:30] patricoferris opened #95 "Keeping in-sync with ocaml.org"
This issue is a place to keep track of changes upstream in ocaml.org whilst ood is not the main, promoted placed to be storing this information. This issue can just be extended as new content is potentially merged in ocaml.org and closed later whenever we can do that.

### To Do

- [x] Import r2c into industrial users https://github.com/ocaml/ocaml.org/pull/1573
- [x] Add the macOS/iOS app to "A F

[2021-07-26 10:04] tmattio opened #5 "Dynamically generate the default documentation index page"
The default documentation index page can be generated dynamically so:

- We don't have to re-generate all the documentation to update it
- We can experiment on improving its design and content

Any package `index.mld` file should be respected, however.

[2021-07-26 10:06] tmattio opened #7 "Handle package universes in the frontend"
The documentation of the package universes should be available, but we should handle them in the frontend so users can navigate the different universes.

[2021-07-26 10:06] tmattio opened #8 "Add rev-deps in the package overview"
This is the last metadata missing from the current opam.ocaml.org site.

[2021-07-26 10:07] tmattio opened #9 "Add Opam publish documentation"
The landing page has a call to action to the opam publish documentation, which does not exist yet.

[2021-07-26 10:08] tmattio opened #11 "Add a search in the docs feature"
To allow searching for content from the documentation

[2021-07-26 10:08] tmattio opened #12 "Add an overlow scroll to the TOC in the documentation"
If the TOC is too large, we should allow users to scroll it.

[2021-07-27 11:42] tmattio opened #19 "The documentation UI is broken when no TOC is available for a given page"
For instance: https://ocamlorg.herokuapp.com/p/inquire/0.3.1/doc/Inquire/index.html

[2021-07-27 13:11] tmattio opened #26 "Add a opam repository search bar in every package page"
It is frustrating to not be able to navigate to another package quickly from a package page.

[2021-07-28 09:20] TheLortex opened #30 "Support README.org and other formats"
https://github.com/janestreet/base has a `README.org` file but it's not picked up in the package page

[2021-07-28 09:35] tmattio opened #31 "Support documentation dark mode"
See https://github.com/tailwindlabs/tailwindcss-typography/issues/69 for the content

[2021-07-28 09:37] tmattio opened #35 "Handle HTML in README"
This would allow to display the titles when they are centered (very common) and images (also very common).

[2021-07-28 09:37] tmattio opened #36 "Link to license and changelog in overview"

[2021-07-28 09:38] tmattio opened #37 "Improve package search algorithm"
Using levenshtein distance sounds reasonable

[2021-07-28 09:38] tmattio opened #38 "Improve package search pages"
Add an "Order by" menu, the packages tags, and revamp the overall design

[2021-07-28 09:38] tmattio opened #39 "Add tags to overview"
The current opam package registry displays the tags of the packages in the overview: https://opam.ocaml.org/packages/dream/

The V3 package registry should list them on the package overview package, between Install and Authors: https://v3.ocaml.org/p/dream/1.0.0~alpha2

They could be displayed with a badge, e.g.:

[code]

[2021-07-28 09:39] tmattio opened #40 "Add package publication date to overview, search results and package statistics"

[2021-07-28 09:39] tmattio opened #41 "Add download statitics"

[2021-07-28 09:39] tmattio opened #43 "Package meta image for external links"
Similarly to how Github does it

[2021-07-28 09:40] tmattio opened #44 "Search bar instant result while typing"
See Github search bar for a reference.

Related to #26

[2021-07-28 21:35] patricoferris opened #1598 "[RFC] Update the state of windows on OCaml"
After a healthy discussion of all the different ways OCaml can work on Windows on [discuss.ocaml.org](https://discuss.ocaml.org/t/ocaml-for-windows-installation-confusion/8105) there seemed to be at least some consensus that the current information needs updated (disclaimer: I'm not a windows user, I just want to see this issue resolved). To that end, I've tried to summarise the different points m

[2021-07-29 09:36] dra27 commented on #1598
This is a thoroughly good idea, @patricoferris! It's definitely worth splitting the problem into "New user who wants to try OCaml and happens to be on Windows" vs "User who needs Windows binaries".

I don't know the technical details for the editor (it's not my workflow!), but it would be worth the complete beginner having something like:
- You need WSL2 (that's worth underscoring - WSL1 is harder

[2021-07-29 10:26] jonludlam opened #53 "'comment-delim' items are intended to be hidden"
see e.g. https://ocamlorg.herokuapp.com/p/tezos-base/8.0/doc/Tezos_base/Block_header/index.html#type-shell_header - specifically the `(*` and `*)` around the documentation of the record fields.

The idea is that you can cut-n-paste the record definitions and get valid code, but that they don't actually appear on-screen.

[2021-07-29 10:30] jonludlam opened #54 "Include blocks are not visibly demarcated."
Odoc usually shows a border on the right to show which sections come from included signatures. See the right-hand side of the include here:

<img width="789" alt="Screenshot 2021-07-29 at 11 28 34" src="https://user-images.githubusercontent.com/210963/127476615-43dbbdf9-22e5-4893-8893-46ffb7809a33.png">

and the bottom of the included section here:
<img width="782" alt="Screenshot 2021-07-29 at 11

[2021-07-29 11:11] patricoferris commented on #1598
Thanks @dra27 -- that sounds like a good compromise, especially catering towards the beginner use case on the `up_and_running` page. Do you think it is worth mentioning the docker images at all on this page ? It might add some confusion but I'm also aware that the images are not really promoted anywhere obvious at the moment (it might also help clear up the "should I be using `ocaml/opam`, `ocaml/

[2021-07-29 11:41] dra27 commented on #1598
I'm not sure about Docker, to be honest - it seems to be something that users are either very familiar with or utterly terrified by (from limited experience based on triaging opam issues for repro cases!). I would think it's definitely worth a mention, again with a link to a separate page - I think what's probably wanted is the keyword "Docker" somewhere for those that know, but with no risk that

[2021-07-29 14:03] tmattio opened #56 "Blacktilts in package documentation clash with OCaml polymorphic variant syntax"
We should remove them, and eventually add a gray background for the inline code.

[2021-07-29 14:37] #56 closed, assigned to nobody

[2021-07-29 17:17] tmattio opened #59 "Github flavored markdown is not supported"
This breaks the tables, checklist, etc.

E.g. https://ocamlorg.herokuapp.com/p/ppx_deriving_yaml/0.1.0

![image](https://user-images.githubusercontent.com/6162008/127536086-d3699a50-72d9-429b-9f82-d4190107f775.png)

Related to #35

[2021-07-30 12:40] tmattio opened #61 "[Design Feedback] Changes on font weight and spacing for flyout menus"
v3:

![image](https://user-images.githubusercontent.com/6162008/127654148-55c4cdb0-aad9-4a71-8427-66762c7aea10.png)

v3-server:

![image](https://user-images.githubusercontent.com/6162008/127654117-eebf04b4-b081-4e00-96b8-a7c385162ee9.png)

[2021-07-30 12:43] tmattio opened #62 "[Design Feedback] Navigation bar mobile view"
v3:

![image](https://user-images.githubusercontent.com/6162008/127654538-cf2e615b-6458-430e-8854-e5efbd6d0692.png)

v3-server:

![image](https://user-images.githubusercontent.com/6162008/127654582-91610b10-23e9-40a8-a922-2180d134898e.png)

[2021-07-30 12:44] tmattio opened #63 "[Design Feedback] Package landing page"
Page: https://v3.ocaml.org/packages

![image](https://user-images.githubusercontent.com/6162008/127654736-21d77fee-d58b-4300-af64-a0ed937460d3.png)

[2021-07-30 12:45] tmattio opened #64 "[Design Feedback] Package search page"
Page: https://v3.ocaml.org/packages/search?q=dream

![image](https://user-images.githubusercontent.com/6162008/127654882-78baf50c-3ac1-4d3d-917c-40bf8d3c1086.png)

[2021-07-30 12:46] tmattio opened #65 "[Design Feedback] Package overview page"
Page: https://v3.ocaml.org/p/dream/1.0.0~alpha2

![image](https://user-images.githubusercontent.com/6162008/127654974-2a476bb8-41d3-4884-9aec-90353ddf8a7a.png)

[2021-07-30 12:47] tmattio opened #66 "[Design Feedback] Package documentation page"
Page: https://v3.ocaml.org/p/dream/1.0.0~alpha2/doc/Dream/index.html

![image](https://user-images.githubusercontent.com/6162008/127655048-9f18e888-e963-488d-bf81-794089686b58.png)

[2021-07-30 18:00] pmetzger opened #1599 "Prominently link to Michael Clarkson's video series on OCaml"
Michael Clarkson, a lecturer at Cornell, has put his very high quality Introduction to OCaml videos up on Youtube. See
https://www.youtube.com/watch?v=MUcka_SvhLw&list=PLre5AT9JnKShBOPeuiD9b-I4XROIJhkIU
for the full playlist so far.

His associated textbook, "OCaml Programming: Correct + Efficient + Beautiful", is also now online at https://cs3110.github.io/textbook/cover.html

I think the videos

[2021-07-30 18:12] patricoferris opened #71 "Add tests for graphql endpoint"
Once #60 is merged, we will need to right some tests for it, we've decided to split the two given how young this repository is (and lack of testing there already is) so as to not block that PR.

[2021-08-01 08:43] tmattio opened #72 "Documentation of variants with comments is broken"
E.g. https://v3.ocaml.org/p/caqti/1.6.0/doc/Caqti_query/index.html

![image](https://user-images.githubusercontent.com/6162008/127764970-b045dd2e-dd3c-40de-9b57-df76211cf93a.png)

[2021-08-05 12:44] patricoferris opened #96 "Change all instances of images to include alt text"
We use images in lots of different places (logos for companies, university emblems, background images for conferences etc.) -- since ood is the source of truth for which images we use, it is also probably the correct place to add `alt` text describing the images.

It would be good to change all instances of a path pointing to an image in `media` to something like:

[code]

[2021-08-07 18:27] masmatsum opened #1601 "Apply changes to translated pages: description about currying"
In [functional_programming.md](https://github.com/ocaml/ocaml.org/blob/master/site/learn/tutorials/functional_programming.md), description about currying was fixed in https://github.com/ocaml/ocaml.org/pull/1595 ([diff](https://github.com/ocaml/ocaml.org/pull/1595/files)).
We need to apply changes to translated pages:

- [ ] French: [functional_programming.fr.md](https://github.com/ocaml/ocaml.org

[2021-08-07 18:29] masmatsum commented on #1601
For Japanese page, I can create PR by myself (I am a native speaker of Japanese language).
Can anyone work on French, Italian and Chinese pages?

[2021-08-17 10:25] #71 closed, assigned to dinakajoy

[2021-08-17 10:31] patricoferris opened #76 "Improve GraphQL Tests"
As discussed in #73 there are a few missing tests such as:

- [ ] What if the limit is `None`?
- [ ] What if the offset is not `0`?
- [ ] Are the correct 3 packages returned when you ask for and offset `0` and limit `3`?
- [ ] A test to check for correct functionality for edge cases in `limit` and `offset` (negative, out of bounds etc.)
- [ ] Correctly returning `None` if a package is not found
-

[2021-08-29 11:42] wokalski opened #79 "Add source for the "OCaml in numbers section""
I know it's based on the survey. INRIA created a detailed breakdown of the survey. The % points without the source send a very weak message. The opposite would be true if the source was provided.

[2021-08-29 12:11] #79 closed, assigned to nobody

[2021-08-31 13:57] TheLortex opened #80 "Deployment: use `live` instead of `current` for v3.ocaml.org"
Currently the website is setup to display documentation from the `https://docs-data.ocaml.org/current/` endpoint. However that's the _current_ state of the CI which might be empty when a full rebuild happens (like right now).

For the user-facing website, the `https://docs-data.ocaml.org/live/`endpoint should be used.

[2021-08-31 16:37] maiste opened #94 "French translation"
This issue aims to centralize the discussions about the French translation of the website.

Work to do:
- [X] Industrial users (#86)
- [X] Academic institutions (#150)
- [ ] Books
- [ ] Tutorials
- [ ] Workflows
- [ ] Releases

[2021-09-01 07:06] tmattio opened #81 "HTTP requests are not upgraded to HTTPS"
For obvious security reasons, we should redirect HTTP requests to HTTPS.

The HTTPS handling is done with a proxy/load balancer at the moment, so the redirection should probably be handled there, but we might also want to expose the server directly: Dream should handle HTTPS nicely.

[2021-09-01 07:10] tmattio opened #82 "Some documentation pages are missing"
Reported by @gadmm in #66

[2021-09-01 07:11] tmattio opened #83 "Inter-page links give weird English"
Reported by @gadmm in #66

[2021-09-01 15:28] xvw opened #85 "Markdown table are broken on package overview"
Hi. The package application is very cool, thanks a lot, but even table works pretty well from Odoc, on Markdown, it seems broken: https://v3.ocaml.org/p/preface/0.1.0

(the extremely large table (`----|----`) is due to markdown linter).

ps: I don't know if I have to submit the report here or on the front-end part.

[2021-09-02 09:25] #83 closed, assigned to nobody

[2021-09-02 09:38] jmid opened #87 "Package search should search package `tags`, `description`, ... by default"
First of all: thanks for your work on the new website! 😀

I just gave the package search a spin. A bit of feedback: It seems the package search is only by name (or some substring).
I find that unfortunate from a UX point of view, as newcomers don't necessarily know the name of a relevant package beforehand (so they search).

Two examples:
- If I go to https://opam.ocaml.org/packages/ and search fo

[2021-09-03 14:53] ILeandersson opened #89 "Packages 2nd Version"
This is an updated version of the package site
<img width="625" alt="Screenshot 2021-09-03 at 15 35 56" src="https://user-images.githubusercontent.com/73180976/132025295-68feee76-2753-46c2-a105-62442b247dde.png">
<img width="624" alt="Screenshot 2021-09-03 at 15 36 08" src="https://user-images.githubusercontent.com/73180976/132025300-e0d32c7d-90c8-40eb-8c0e-fa55b169b416.png">

[2021-09-08 14:55] patricoferris opened #90 "Http doesn't redirect to https"
Currently we just get a refused connection when navigating to http://v3.ocaml.org/ when ideally we would redirect to https://v3.ocaml.org. I think this is a configuration problem in OCurrent deployer and this issue is just to track that. See: https://github.com/ocurrent/ocurrent-deployer/pull/76#issuecomment-915309529

[2021-09-08 15:07] #90 closed, assigned to patricoferris

[2021-09-10 14:55] Octachron opened #93 "OCaml reference manual and general release process"
Currently, the OCaml manual is hosted on `ocaml.org`, and I update the manual version along with the description of the new release around release time. I am not sure what should be the process for the `ocaml.org` v3?

[2021-09-14 12:47] tmattio opened #98 "List missing universities in the academic page"
- [ ] Tsukuba (https://github.com/ocaml/ood/issues/75)
- [ ] University of Tokyo (https://github.com/ocaml/ood/issues/74)
- [ ] Ochanomizu University (https://github.com/ocaml/ood/issues/73)
- [ ] Kyoto University (https://github.com/ocaml/ood/issues/67)

[2021-09-14 12:50] #76 closed, assigned to nobody

[2021-09-15 12:20] #61 closed, assigned to nobody

[2021-09-15 12:20] #62 closed, assigned to nobody

[2021-09-15 12:20] #63 closed, assigned to nobody

[2021-09-15 12:21] #64 closed, assigned to nobody

[2021-09-15 12:22] #65 closed, assigned to nobody

[2021-09-15 12:22] #66 closed, assigned to nobody

[2021-09-15 12:27] #89 closed, assigned to nobody

[2021-09-15 12:41] tmattio opened #99 "Support code highlighting in package documentation"
A potential approach would be to parse the HTML we receive from the doc pipeline with `Lambdasoup` and inject the highlighted code from `Hilite`. If we're satisfied with the approach, we may consider upstreaming this to `odoc` directly once `hilite` is stable. cc @jonludlam

[2021-09-20 09:34] #19 closed, assigned to TheLortex

[2021-09-20 16:14] #80 closed, assigned to nobody

[2021-09-24 10:04] patricoferris opened #112 "Import videos from older ICFP workshops"
There are a few more years that are currently not imported, including 2014, 2012, 2011 and 2010. @tmcgilchrist were you potentially looking into this (re: https://discuss.ocaml.org/t/v3-ocaml-org-a-roadmap-for-ocamls-online-presence/8368/25)? All of the md files should have the YouTube links, although the quality of the videos is... not often great.

[2021-09-24 10:06] patricoferris opened #113 "Avatars for committee members"
Like for some of the packages in the docs, we could add avatars for committee members in the workshop pages (see #111). It would be good to know if pulling things in from Github is okay in terms of privacy etc.

[2021-09-24 10:28] patricoferris opened #114 "Implement media archive"
Not entirely sure what should or what shouldn't be in the "media archive" perhaps all the watch.ocaml.org videos, the papers, presentation slides ?

Once implemented we can change the link the workshop pages to point to this (perhaps sensibly filtered) as per #111

[2021-09-27 08:51] tmattio opened #118 "Optimize asset loading"
- [ ] Inline the logo as an SVG image in the header and footer
- [ ] Inline the discord logo as an SVG image
- [ ] Inline the `syntax.css` stylesheet on pages where it is needed (tutorials and package documentation)
- [ ] Inline `alpine-clipboard.js` in package overview
- [ ] Inline `doc.css` in package documentation
- [ ] Investigate strange `data:image/svg+xml,%3csvg xmlns='http://www.w3.org/200

[2021-09-29 05:09] hyphenrf opened #127 "A timeout in toplevel is needed for safer browsing"
*Alternatively, we should use a custom toplevel with a limited subset of the language (most Sys things seem unneeded)*

With the introduction of #106 we're able to crash the browser page by writing an infinite loop:
[code]
at toplevel. Similarly, large outputs slow the page down.
Timeout and Truncation are often employed in most online language playgrounds. We should aim at that kind of safety as

[2021-10-05 09:27] tmattio opened #133 "Lazily load the homage toplevel"
The toplevel on the homepage is ~3MB. We should not load it at every request, instead, we could provide a button for users to load it manually.

cc @TheLortex

[2021-10-05 12:22] #87 closed, assigned to nobody

[2021-10-05 18:30] #133 closed, assigned to nobody

[2021-10-05 19:28] #72 closed, assigned to nobody

[2021-10-05 19:29] #8 closed, assigned to nobody

[2021-10-05 20:50] tmattio opened #138 "Redirect to the current page when changing the version of a package"
If the page exists, we can redirect to it, otherwise, we can redirect to the package overview (or the nearest parent?).

[2021-10-05 21:25] tmattio opened #140 "Write application guides"
- [ ] Command Line Interfaces with `cmdliner`
- [ ] Web application with `dream`
- [ ] JavaScript application with `js_of_ocaml`
- [ ] Unikernel with `mirage`
- [ ] Machine Learning model with `owl`

[2021-10-06 10:25] #127 closed, assigned to nobody

[2021-10-06 12:39] panglesd opened #143 "404 in digestif doc"
Some links in the [digestif doc](https://v3.ocaml.org/p/digestif/1.0.1/doc/index.html) lead to a 404 error, such as for instance [Baijiu_blake2b](https://v3.ocaml.org/p/digestif/1.0.1/doc/Baijiu_blake2b/index.html). (all `Baijiu` links have this problem except `Baijiu_sha3_256`).

[2021-10-06 16:36] patricoferris opened #145 "Re-add WIP banner of some sort"

[2021-10-07 14:55] TheLortex opened #148 "HEAD requests yield 404s"
This is probably a Dream issue, but it's been encountered here: https://discuss.ocaml.org/t/ann-release-of-odoc-2-0-0/8582/5

Basically, `curl -sI https://v3.ocaml.org` returns 404, but `curl -sL https://v3.ocaml.org` works correctly.
The difference ? `curl -sI` sends a `HEAD` http request, which is supposed to return the headers if a `GET` request would have been done.

[2021-10-09 09:05] tmattio opened #151 "Outreachy Winter 2021 Information"
This issue gives some information about the Outreachy application period.

If you're an Outreachy applicant who would like to contribute to the project: welcome! 🥳

# For applicants

## Contributions

### Where to find issues

The good first issues should be good candidates for the application period: https://github.com/ocaml/v3.ocaml.org-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+

[2021-10-09 17:13] kirisky commented on #1601
Hi @masmatsum! I will take the Chinese version, I am a native speaker.

[2021-10-11 15:22] #53 closed, assigned to nobody

[2021-10-18 14:04] patricoferris opened #162 "Add `;;` to all of the MDX blocks"
For mdx 3 we will need to add `;;` to all of the toplevel blocks that need them. This is a manual process and won't be that much fun, but might be slightly less boring for any new-to-OCaml folk who would have to *look* at a lot of OCaml code. At the moment we get a lot of warnings from mdx when you run `make test`.

See the related PR here: https://github.com/realworldocaml/mdx/pull/346

[2021-10-27 12:17] patricoferris opened #174 "A redirect to the latest documentation of a package"
Currently we only have a redirect to the latest package's "home" page i.e. at the time of writing https://v3.ocaml.org/p/irmin goes to https://v3.ocaml.org/p/irmin/2.8.0.

We might also want a redirect that takes people directly to the latest documentation of a package so perhaps https://v3.ocaml.org/p/irmin/docs goes to https://v3.ocaml.org/p/irmin/2.8.0/doc/index.html -- this would be useful for

[2021-11-02 09:00] #9 closed, assigned to Lontchi12

[2021-11-02 09:00] #39 closed, assigned to JiaeK

[2021-11-02 12:32] #54 closed, assigned to nobody

[2021-11-05 11:16] talex5 opened #1617 "OCaml library index is unsorted"
The list of modules at https://ocaml.org/api/index.html does not seem to be in any particular order:

- Ocaml_operators
- Format_tutorial
- CamlinternalFormatBasics
- CamlinternalAtomic
- Stdlib
- Seq
- Option
- Either
- ...

It would be much easier to use if e.g. alphabetical.

[2021-11-13 17:32] #162 closed, assigned to nobody

[2021-11-13 17:36] #97 closed, assigned to nobody

[2021-11-13 17:36] #7 closed, assigned to nobody

[2021-11-13 17:37] #26 closed, assigned to nobody

[2021-11-13 17:39] #37 closed, assigned to nobody

[2021-11-13 17:40] #151 closed, assigned to nobody

[2021-11-13 17:41] #145 closed, assigned to nobody

[2021-11-13 17:42] #114 closed, assigned to nobody

[2021-11-18 14:37] MisterDA opened #1618 "OCaml manual doesn't have a favicon."
https://ocaml.org/api/favicon.ico is ok
https://ocaml.org/manual/favicon.ico returns a 404.

[2021-12-04 10:26] talex5 opened #1620 "OCaml Planet not updating?"
https://ocaml.org/community/planet/ shows no updates since Oct 21, 2021, which seems unlikely. Has it stopped?
(my own blog is listed under Syndications and was updated on  2021-10-30, for example)

[2021-12-04 10:53] patricoferris commented on #1620
We hadn't merged anything to `master` since 27th October, so the site hadn't been rebuilt since then :|

I merged a simple PR and looks like your post is now live https://ocaml.org/community/planet/ :))

[2021-12-04 11:12] talex5 commented on #1620
Ah, I didn't realise it was manual!

[2021-12-06 11:01] patricoferris commented on #1620
Yeah, it's not ideal, perhaps we can do something in the deployer to rebuild every week or so regardless of commits to `master` ?

[2021-12-12 22:51] teodorlu commented on #1561
Can confirm that neither of the cheat sheet links are working on ocaml.org/docs/cheat_sheets.html.

Thanks for the alternative links, @yashi-hub!

[2021-12-12 22:54] teodorlu commented on #1561
@yashi-hub - if you want to fix this, https://github.com/ocaml/ocaml.org/blob/master/site/docs/cheat_sheets.md seems to be the relevant file. I would expect the maintainers to be interested in a PR!

[2021-12-12 23:16] teodorlu commented on #1561
@yashi-hub I just made a PR: https://github.com/ocaml/ocaml.org/pull/1621

I would have added you as reviewer - but I don't seem to have the permission to do that :)

[2021-12-13 08:52] #1561 closed

[2021-12-16 13:40] patricoferris opened #190 "Additional homepage toplevel features"
Some extra ideas for things to add to the homepage's toplevel:

 - [ ] Syntax highlighting for things like variants (`Some`, `` `Ok``, etc.)
 - [ ] Line numbers for the output

[2021-12-25 23:17] cdaringe opened #198 "format fails as default cmds do not produce reproducible switch"
# Problem

- `make switch`
- _...do work..._
- `make fmt`

[code]

# Discussion

- opam really needs to [just use lockfiles by default](https://discuss.ocaml.org/t/should-opam-use-a-lockfile-by-default/4251/16)
- `opam lock .`?

[2021-12-29 16:42] #1415 closed

[2022-01-10 22:25] amongonz opened #205 "Internal Server Error when preferred language isn't English or French"
When the `Accept-Language` header gives the most weight to any language other than English (`en`) or French (`fr`), v3 responds with 500 Internal Server Error.

I noticed that other users were able to access v3 while I hadn't been able to check it out for a while. After some testing I found out that the trigger was my browsers' `es-ES,es` preference. This happens even though `en-US,en` are listed

[2022-01-12 18:10] #140 closed, assigned to nobody

[2022-01-12 18:12] #41 closed, assigned to nobody

[2022-01-13 21:35] #12 closed, assigned to tmattio

[2022-01-13 21:36] #143 closed, assigned to nobody

[2022-01-13 21:37] #82 closed, assigned to nobody

[2022-01-14 16:08] avsm opened #229 "for opam releases, expose changelog and release date"
This makes it convenient to browse details of a given release.

Via @hannesm in https://twitter.com/h4nnes/status/1482019842030981121

[2022-01-14 16:43] avsm opened #232 "docs broken link: module index"
https://v3.ocaml.org/p/tezos-rpc/11.0/doc/index.html

The 'RPC_description'  module link in the bar on the left is broken - it seems to be missing the module prefix in the url.

[2022-01-14 18:17] patricoferris opened #233 "Good code example for the playground"
Need to find a balance between simplicity, readability and engagement. Perhaps introducing some pattern-matching might achieve this better than the current `fac` function. See the discussion on twitter: https://twitter.com/wicko3/status/1482042995138600960

[2022-01-14 22:23] priamfive opened #234 "Mention WSL2"
Perhaps it isn't mentioned because it's too obvious but it might be worth noting the possibility of using WSL2 explicitly under Up and Running with Ocaml.

[2022-01-15 18:37] leviroth opened #236 "Proportional font on code example (Windows Chrome)"
The code preview is rendered in a proportional font on Windows Chrome.

Details:

|  |  |
|-----|------|
| Google Chrome | 97.0.4692.71 (Official Build) (64-bit) (cohort: 97_Win_71) |
| Revision | adefa7837d02a07a604c1e6eff0b3a09422ab88d-refs/branch-heads/4692@{#1247} |
| OS | Windows 11 Version 21H2 (Build 22000.376) |
| JavaScript | V8 9.7.106.18 |
| User Agent | Mozilla/5.0 (Windows NT 10.0; Wi

[2022-01-15 18:42] leviroth opened #237 "Packages in "Strong Community" section scroll off screen"
The packages in the "Strong Community" section scroll off the sides of the screen, depending on screen size.

It already looks weird on my laptop:

![ocaml-screenshot-2](https://user-images.githubusercontent.com/17488252/149633951-13ccab89-d90e-42b1-8092-f532fd4e99bb.png)

But the content is almost completely hidden on my phone:

![Welcome to a World of OCaml](https://user-images.githubusercontent

[2022-01-15 22:07] #205 closed, assigned to nobody

[2022-01-17 14:04] hannesm opened #242 "Implement a syndicated RSS feed for the OCaml Blog"
The https://v3.ocaml.org/blog seems to include some articles from some blogs, but the very nice to read planet (https://ocaml.org/community/planet/) seems to be not included in v3.

[2022-01-17 21:14] #236 closed, assigned to nobody

[2022-01-23 00:46] danielo515 commented on #1583
There is another one on the best practices, should I report it here?

[2022-01-25 19:27] arbipher opened #252 "docs broken link in library `code_kernel`"
https://v3.ocaml.org/p/core_kernel/v0.14.1/doc/Test_binary_searchable/index.html

The link is in the left column of the page https://v3.ocaml.org/p/core_kernel/v0.14.1/doc/index.html.

[2022-02-02 14:21] #234 closed, assigned to nobody

[2022-02-02 20:07] arbipher opened #267 "the width of polymorphic variants types in the docs"
See ``Orientation of` in Ocamlgraph
https://v3.ocaml.org/p/ocamlgraph/2.0.0/doc/Graph/Graphviz/CommonAttributes/index.html#type-graph.Orientation

This is the link (https://backtracking.github.io/ocamlgraph/ocamlgraph/Graph/Graphviz/CommonAttributes/index.html#type-graph.Orientation) to the manual in the package. It looks a bit better maybe due to the width.

[2022-02-03 14:41] #198 closed, assigned to nobody

[2022-02-03 14:43] tmattio opened #270 "Create a domain for v2.ocaml.org"
Also update the links and redirections to point to `https://v2.ocaml.org/`

[2022-02-03 14:44] #81 closed, assigned to nobody

[2022-02-03 14:45] #95 closed, assigned to nobody

[2022-02-03 14:46] #38 closed, assigned to nobody

[2022-02-03 14:47] #43 closed, assigned to nobody

[2022-02-08 11:27] tmattio opened #285 "The package documentation is hard to use on small screens"
Reported by @dbuenzli on Discuss

![odig](https://user-images.githubusercontent.com/6162008/152978011-b8fa6a33-1def-4746-a0ee-a510d349992e.jpg)

![v3](https://user-images.githubusercontent.com/6162008/152978028-abc2dc42-ab01-48c9-ac6f-f2690365c441.jpg)

[2022-02-08 12:28] harshsingh941 commented on #1353
i also want to contribute

[2022-02-08 15:50] #118 closed, assigned to sheykerkup

[2022-02-08 16:47] tmattio opened #289 "Benchmark visualisation for the homepage compiler section"

[2022-02-08 16:48] tmattio opened #291 "The package search page is too dense"

[2022-02-08 16:50] tmattio opened #294 "Write Privacy Policy"

[2022-02-08 21:38] mseri commented on #1091
What if we keep the tutorial, translating it to use Seq, just to show how can one do the same with what is in the standard library, and then use this as an opportunity to refer people to re (in place of Str), iter and odis-labs/streaming (instead of Seq), menhir and armstrong (for parsing) with a mention of their relevance and in which case is worth using them?

[2022-02-09 12:41] #291 closed, assigned to asaadmahmood

[2022-02-09 14:40] #289 closed, assigned to asaadmahmood

[2022-02-09 14:44] #242 closed, assigned to tmattio

[2022-02-10 14:38] #294 closed, assigned to tmattio

[2022-02-11 17:14] #232 closed, assigned to jonludlam

[2022-02-13 22:01] avsm opened #314 "picture on packages link in front page overflows"
<img width="1359" alt="image" src="https://user-images.githubusercontent.com/53164/153777052-d96447a8-e1f1-4568-a6ac-168b267442df.png">

The picture overflows on my laptop screen. However, we may want to consider having another picture there, as it's a little odd to have a screenshot of the website on the same website ;-)

[2022-02-14 13:44] #237 closed, assigned to nobody

[2022-02-19 19:31] pckilgore opened #322 ""Up and Running" does not work"
Seems like dune 3.0 broke the examples here https://ocaml.org/learn/tutorials/up_and_running.html

[2022-02-20 01:25] ghost opened #323 "Search in the Manual"
The search box in the new (ie. ocaml.org hosted) manual is implemented not with a traditional form, but with some "modern" ajaxy widget. This is not helpful: it means no automation is possible, I have to actually switch to the browser and type in the search term, rather than snarfing it (for example) from my Emacs buffer and constructing a URL which could then be passed to `firefox --remote`.

Ple

[2022-02-20 13:54] biloucat opened #324 "Errors in ocaml.org/learn/tutorials/introduction_to_gtk.html"
In "Simple lablgtk program" there are missing "ignore" commands therefore some Warnings at compile time.
Same thing in "Graph widget" and more important:
  "window#add_accel_group accel_group;" is missing in test.ml file.

Sorry for my bad english, i'am french !

[2022-02-21 15:57] shonfeder opened #326 "No rule found for src/ocamlorg_toplevel/bin/toplevel_base.bc when trying to build following readme"
I checked out the repo and followed the setup instructions:

[code]

But running `make build` gives:

[code]

This is on `main`.

[2022-02-22 12:27] tcoopman opened #327 "switching the ocaml version in the documentation should keep the url"
For example when you're looking at: https://v3.ocaml.org/p/ocaml-base-compiler/4.13.1/doc/Str/index.html#splitting and you switch the ocaml version to 4.14.0~beta1 the page switches to https://v3.ocaml.org/p/ocaml-base-compiler/4.14.0~beta1

I would expect the page to jump to: https://v3.ocaml.org/p/ocaml-base-compiler/4.14.0~beta1/doc/Str/index.html#splitting

[2022-02-22 14:40] #322 closed, assigned to nobody

[2022-02-22 14:40] #327 closed, assigned to nobody

[2022-02-24 14:43] avsm opened #329 "searching for "ocaml" in packages return 5.0.0+trunk"
I was trying to find the docs for "Set.S", which is quite difficult from the v3.ocaml.org packages search.  Search should probably take you to the version of the package that has docs built, shouldnt it?

https://v3.ocaml.org/packages/search?q=ocaml

[2022-02-27 14:29] johnwhitington opened #331 "Update books page to show that OCaml from the Very Beginning is now free"
Per https://discuss.ocaml.org/t/ocaml-from-the-very-beginning-now-free-in-pdf-and-html-formats/

I'm happy to do the PR, but what do I do it against? V3 sources? Is there any procedure I need to know at this time of transition?

[2022-02-27 17:50] #973 closed

[2022-02-28 02:55] tmcgilchrist opened #332 "Editor support page should mention LSP for Emacs and Vim"
The instructions here https://ocaml.org/docs/up-and-running#configuring-your-editor should also mention LSP for emacs / vim.

[2022-02-28 11:19] #326 closed, assigned to nobody

[2022-02-28 13:47] #331 closed, assigned to nobody

[2022-03-03 06:01] axrwl opened #335 "Recently updated packages should show time since latest update"
In the recently updated category of the [packages](https://v3.ocaml.org/packages) page, each package listed displays its most recent version. But it will be nicer to display the time spent since that version was released along with it.

[2022-03-03 08:42] axrwl opened #338 "Image on home page gets cut on mobile devices"
An image on the [home page](https://v3.ocaml.org/) gets cut on mobile devices.

<p align="center">
<img src="https://user-images.githubusercontent.com/22836245/156528026-441fb69b-d6d8-4225-82f0-4da6ef04fc8c.png" width="200"/>
</p>

Possible solutions are either hide the image on smaller screens or fix its dimensions along with alignment on smaller screens.

[2022-03-07 02:19] birlorg opened #341 "tutorial is out of date with latest release."
In data/tutorials/en/000_up_and_running.md

it says to install 4.11.1: `opam switch create 4.11.1` which is not the current release.  Having to manually update this every time a new release comes out seems annoying.

Looking through the documentation, it looks like to see the latest version one would run:

`opam switch list-available ocaml-base-compiler`

and then they can run `opam switch create

[2022-03-08 11:09] #338 closed, assigned to nobody

[2022-03-08 11:12] #335 closed, assigned to nobody

[2022-03-08 11:31] joanmh123 opened #343 "Typos on About OCAML page"
https://v3.ocaml.org/about
There are a few typos on the page in the Why OCAML section:
1. Missing period/full stop between the second and third sentences.
2. End of second paragraph- I would put a line break before" These Include".

[2022-03-10 00:00] jeanas opened #345 "Python garbage collection misleadingly described"
From https://ocaml.org/learn/tutorials/garbage_collection.html:

Later, the page mentions the inability to collect cyclic data structures as a disadvantage of refcounting. That's true for refcounting as-is, but the reference to Python is misleading, since Python *does* collect cyclic data: it has *both* a refcounting scheme that reclaims most objects immediately after they get unused, *and* a mark

[2022-03-11 14:24] #341 closed, assigned to nobody

[2022-03-11 22:57] #270 closed, assigned to tmattio

[2022-03-31 13:25] kant2002 opened #403 "SSL issue for www2.ocaml.org"
Certificate for the domain is expired.

[2022-04-01 03:49] mobileink opened #404 "link to github missing"
Surely the ocaml.org homepage deserves a link to [https://github.com/ocaml/ocaml](https://github.com/ocaml/ocaml)! If it's there it's well disguised.  I'd recommend one of those standard "Fork me!" bits in the top bar on  the right.

[2022-04-02 11:59] art-w opened #406 "Package search: ordering by usage/popularity"
Searching for [json](https://v3.ocaml.org/packages/search?q=json), the packages are listed in a strange order. For example, I would expect `yojson` to rank much higher with its "Used by 195 other packages" (and `elf2json` not to come before `ezjsonm`, etc).

Perhaps the length of the package names could also be used to push some results below? (with the intuition that a short package name might be

[2022-04-08 09:28] tmattio opened #410 "Improve analytics dashboard"
Meta issue to track improvements on the analytics dashboard following #399:

- [ ] Add salt to hashing of the IP
- [ ] Add Top Sources
- [ ] Add Locations
- [ ] Add Devices
- [ ] Add Statistics such as unique visitor increase, total page views increase, visit duration increase, etc.
- [ ] Add Total visitor and total unique visitor counts and graph
- [ ] Remove data after 30 days
- [ ] Load data fr

[2022-04-08 18:41] tmattio opened #414 "Playground does not show compilation errors"

[2022-04-12 10:45] JiaeK opened #419 "Docs page of 'humor proof' is missing"
As it has mentioned in #418, [humor proof](https://v3.ocaml.org/docs/humor_proof) docs page is missing.

For instance, inside of https://v3.ocaml.org/docs/functional-programming,
<br>

![humor_proof error](https://user-images.githubusercontent.com/78751231/162943089-76d5596e-eedf-4c43-b385-6a1f001b1411.png)

<br>

when you click the link, it should lead to something relevant to the [former version

[2022-04-13 14:40] #343 closed, assigned to nobody

[2022-04-13 14:40] #419 closed, assigned to nobody

[2022-04-13 14:41] #414 closed, assigned to nobody

[2022-04-21 12:56] #94 closed, assigned to nobody

[2022-04-25 17:04] ColourGrey opened #1626 "The "edit" button takes visitors to a GitHub error 404"
The pages on ocaml.org have a button in the top right corner, displaying a pencil, used to edit them. Clicking on it takes the user to a "Page not found" GitHub page. This happens, for instance, on the main page, and on the "Learn", "Documentation", "Community" and "News" pages, and surely on many others, I have not checked.

[2022-04-29 12:34] eriklovlie opened #437 "button to navigate to "standard library" takes me to a page that seems broken"
I went to https://ocaml.org/ and scrolled almost to the bottom. There are two rows of large buttons, six in total. The one to the bottom left is called "Standard Library". Clicking that takes me here:

https://ocaml.org/p/ocaml-base-compiler/4.14.0/doc/index.html

That page only shows an "error log" so I suspect there is a problem somewhere. See attached screenshot
![Screenshot from 2022-04-29 14-

[2022-04-29 12:53] #437 closed, assigned to nobody

[2022-04-30 21:33] mobileink opened #444 "documentation of compiler+options"
I don't know if this is an OPAM issue or something for ocaml.org, but in any case it's hard to find info explaining what things like "4.14.0+options" means.  In fact I couldn't find anything here or on the opam website. All I could find was stuff like https://stackoverflow.com/questions/70665781/how-to-use-flambda-with-dune-in-ocaml

[2022-05-01 03:36] mobileink opened #446 "online compiler option docs do not match --help strings"
For example, for both compilers `--help` lists lots of options that are not mentioned on the website doc pages (e.g. [https://v2.ocaml.org/manual/comp.html](https://v2.ocaml.org/manual/comp.html).)

Suggestion: updating the website docs to match the help strings would be best, but at the least, the website docs should include a prominent mention that additional options are available and documented

[2022-05-01 22:58] edwintorok opened #447 "Please make list of OCaml releases and source code easier to find"
On v2.ocaml.org there is a News entry right near the top showing 4.14, very easy to find.
On v3.ocaml.org (and now ocaml.org) I had to search quite a bit until I realized that there is a link to the list of releases at the bottom of the page (there is also no 'News' section). I'm sure I'll eventually get used to the new site, but I haven't realized (until the default got switched to v3) that some

[2022-05-04 20:48] tmattio opened #454 "Write success stories for all the organisations in the logo cloud"
As suggested by @yawaramin on [Discuss](https://discuss.ocaml.org/t/v3-ocaml-org-we-are-live/9747/17)

[2022-05-15 00:05] greenbagels opened #462 "Modules Tutorial Page Has Extra Error Code Block?"
I was browsing the modules tutorial when I noticed some code block containing an error message that wasn't referenced at all by the text: was this intentional?

https://github.com/ocaml/ocaml.org/blob/main/data/tutorials/lg_03_modules.md?plain=1#L126-L129

[2022-05-24 08:30] ColourGrey commented on #1626
The issue raised in this thread is no longer relevant, given the recent full redesign of the site.

[2022-06-08 00:51] andrewzlchen opened #481 ""Up And Running" instructions do not seem to have correct Dune project setup commands"
Hi All! I'm starting to learn OCaml and I'm running into an issue with building the starter "Hello World" program.

The site has the following instructions on [this webpage](https://v2.ocaml.org/learn/tutorials/up_and_running.html):

<img width="848" alt="image" src="https://user-images.githubusercontent.com/15252988/172506524-4e0afe53-bcc1-4fcd-9c1e-16cd2f0cae85.png">

but I'm running into the fo

[2022-06-08 00:56] #481 closed, assigned to nobody

[2022-06-09 08:32] dbuenzli opened #484 "Expired certificate on https://inbox.ocaml.org/"
Everything is in the title.

[2022-06-17 08:21] tmattio opened #498 "Improve the job board"
We're not seeing much engagement from the job board (no one has submitted a PR to add a new job opportunity to the board).

The 2020 OCaml survey clearly shows that finding OCaml jobs and finding OCaml developers is a pain point the community is interested in solving, so I still think that the job board would help, but apparently not in its current state.

Here's a list of things we can try to imp

[2022-06-17 11:43] #329 closed, assigned to nobody

[2022-06-21 07:33] #190 closed, assigned to nobody

[2022-06-27 09:21] cnmade opened #1627 "Missing operator '@@'"
https://v2.ocaml.org/manual/expr.html
I can not find the `@@` operator

should this page update to link all operators of OCaml.

I read a blog describe more operators than the official document.
https://www.brendanlong.com/ocaml-operator-cheatsheet.html

[2022-06-27 09:26] cnmade commented on #1627
The blog is said  OCaml has a built in  operator `@@`

[code]

Is that correct?

[2022-06-27 09:31] Octachron commented on #1627
From the language perspective, there is no built-in operators at all in OCaml. All infix operators are defined as ordinary functions. However, the standard library defines some operators, thus one can speak of built-in operators in the standard library.

[2022-06-27 09:36] Octachron commented on #1627
The right location is here: https://ocaml.org/api/Stdlib.html#VAL(@@) . You are linking another library.

[2022-06-27 09:39] cnmade commented on #1627
I have no idea. but the web page search rank , janestreet is top than ocaml.org. thanks for your help. you tips me the right document.

[2022-06-30 14:45] MirzaBabarBaig opened #509 "Play Button wont work on industrial User page"
On https://ocaml.org/industrial-users on the video banner play button doesn't work. Video only play if I click on the banner.

![Screenshot 2022-06-30 at 7 44 20 PM](https://user-images.githubusercontent.com/15120055/176706709-9de0c95a-062a-4b85-91b4-f1fc422c356d.png)

[2022-06-30 15:10] MirzaBabarBaig opened #511 "Blog page - pagination on mobile is shrink"
On https://ocaml.org/blog page pagination need to be fixed on mobile devices currently it got shrink.

![Screenshot 2022-06-30 at 8 08 44 PM](https://user-images.githubusercontent.com/15120055/176712374-d17ac765-3b44-466c-b73c-31c559d94379.png)

[2022-07-04 13:11] #462 closed, assigned to nobody

[2022-07-06 20:15] #509 closed, assigned to nobody

[2022-07-21 10:44] #40 closed, assigned to nobody

[2022-08-25 10:52] edwintorok opened #560 "Documentation for (most/lots of) packages are 404"
https://ocaml.org/p/base/v0.15.1~5.0preview/doc/index.html shows a 404 page with a link to open an issue.
https://ocaml.org/p/cmdliner/1.1.1/doc/index.html
https://ocaml.org/p/odoc/2.1.1/doc/index.html
https://ocaml.org/p/re/1.10.4/doc/index.html
...

Not sure what happened, there used to be some documentation there for at least some of these packages, but I struggle to find a single package that

[2022-08-31 15:26] #511 closed, assigned to nobody

[2022-08-31 15:57] #174 closed, assigned to nobody

[2022-09-01 10:25] #560 closed, assigned to nobody

[2022-09-09 11:42] #36 closed, assigned to nobody

[2022-09-25 11:12] avsm opened #583 "docs generation: error with mld files in title"
See the monorepo docs: https://ocaml.org/p/opam-monorepo/0.3.2/doc/lock.html

The "module lock.html" is an incorrect title for the page.

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/53164/192140659-349b14bd-1f8a-42db-91f2-564e89981091.png">

[2022-09-26 07:36] #148 closed, assigned to nobody

[2022-09-30 12:30] Leonidas-from-XIV opened #589 "Provide Zeal/Dash docsets for all packages"
This one is a bit of a pie-in-the-sky idea but I recently read the post [How I’m a Productive Programmer With a Memory of a Fruit Fly](https://hynek.me/articles/productive-fruit-fly-programmer/) and in it it mentions [Zeal](https://zealdocs.org/)/[Dash](https://kapeli.com/dash) which are offline documentation browsers for multiple programming languages.

There is an existing docset for OCaml (alth

[2022-10-03 09:23] tmattio opened #591 "Update OCaml Workshop 2022"
The page is outdated:

- Update the dates
- Upload the videos to watch.ocaml.org (waiting on sigplan releasing the videos, we *could* download them from Youtube and re-upload them if that's simpler and we have the permissions.)

[2022-10-08 12:54] #591 closed, assigned to cuihtlauac

[2022-11-28 14:43] #345 closed, assigned to cuihtlauac