[2018-04-17 15:15] pmetzger commented on #985
Ah, it looks like there is an extant pull request: https://github.com/ocaml/MPP-language-blender/pull/26 but that it has been left alone since January 5. Since MPP is an OCaml github project, would it be possible for someone to attend to that pull request?

[2018-04-17 15:30] bluddy opened #987 "Add ocaml.org to opam"
It's really painful to manage dependencies without opam taking care of things. We want people to iterate designs quickly, and that can only happen if ocaml.org is easy to build.

[2018-04-17 15:57] pmetzger commented on #987
By this, do you mean "package all dependencies"? The site itself probably doesn't need to be in opam.

[2018-04-17 16:00] bluddy commented on #987
OK my bad. There's an opam file. Closing this issue.

[2018-04-17 16:00] #987 closed

[2018-04-17 16:24] bluddy commented on #987
It should be handled by pinning locally. You do `opam pin add X .`  where X is the name you want to give it, say website. I'll prompt you for creating a new package, and you just say yes. It'll then try to build everything.

There are so many breakages though -- right now it's failing at opam-lib constraint solving for me, and that's in addition to the 2 other compilation issues that are waiting d

[2018-04-17 16:31] Chris00 commented on #987
netstrings is part of ocamlnet

[2018-04-17 16:34] pmetzger commented on #987
Okay, so that dependency is already there.

[2018-04-17 21:56] pw374 commented on #985
that's just been merged, apologies

[2018-04-17 22:06] pmetzger commented on #985
@pw374 Cool! Can opam get updated appropriately?

[2018-04-17 22:07] pw374 commented on #985
I'm trying (to remember how) to create the appropriate opam files... Should be done soon.

[2018-04-18 00:28] pw374 commented on #985
Ummm... I don't like the opam files that have been generated. https://github.com/ocaml/opam-repository/pull/11813  Also, some checks fail... I'll try to find time to investigate.

[2018-04-20 19:17] pmetzger opened #989 "nuke stale branches?"
Apparently all of the branches on this project (omd, cohttp, oloop, pw374-patch-1) are many years stale. Would it be reasonable to gc at least some of them?

[2018-04-20 21:10] agarwal commented on #989
`omd` and `pw374-patch-1` have no commits ahead of master, so I think those certainly can be deleted.

@Chris00 has unmerged commits in `cohttp` anad `oloop`, so I'll let him decide on those.

[2018-04-20 21:40] Chris00 commented on #989
I'll delete them as well.  I believe that the choices should be revisited on a larger scale anyway.

[2018-04-20 21:42] #989 closed

[2018-04-26 18:13] zapashcanon commented on #801
I think this is fixed for the English version. I updated the french one in #992.

[2018-04-26 18:18] zapashcanon commented on #824
I think it's OK now and with #992.

[2018-04-26 18:28] zapashcanon commented on #744
@Chris00, I think this can be closed.

[2018-04-26 18:30] zapashcanon commented on #682
@Chris00, I think this can be closed.

[2018-04-27 01:53] Chris00 commented on #364
Thanks for letting me know.

[2018-04-27 01:53] #364 closed

[2018-04-27 01:54] Chris00 commented on #682
Thanks.

[2018-04-27 01:54] #682 closed

[2018-04-27 01:55] Chris00 commented on #744
Thanks.

[2018-04-27 01:55] #744 closed

[2018-04-27 01:57] #967 closed

[2018-04-27 01:59] #801 closed

[2018-04-27 15:49] zapashcanon commented on #883
@Chris00, this can be closed, see (PR on opam)[https://github.com/ocaml/opam/pull/2947]

[2018-04-27 20:06] #883 closed

[2018-04-27 20:06] Chris00 commented on #883
Thanks.

[2018-05-11 14:57] bluddy commented on #980
I think we should look to the reasonml site for inspiration https://reasonml.github.io:

* The design is extremely clean. Design preferences change over time, and keeping the site simple mechanically means that swapping a theme isn't difficult to do.
* The site doesn't try to do too much, or at least it doesn't try to do everything.
* The learning section is greatly simplified by having brief, eas

[2018-05-11 15:31] pmetzger commented on #980
@bluddy My suggestion is that we do pull requests for individual changes on your list. I don't know that I agree with all of them, but some of them are definitely good ideas. We can take them one at a time, and do a pull request to improve them. I got the News button in as you may have noticed.

I think the most important improvements are infrastructural: if we make it easier to improve the web si

[2018-05-11 15:40] bluddy commented on #980
I'm trying to understand how it works. I like the idea of having an OCaml processor for markdown->html and such, but is it worth having that if we're not going to go all the way and maintain it as a product with clear rules and documentation? Other languages have projects that *are* fully serious about it.

For example, how do the templates work?

[2018-05-11 15:48] bluddy opened #995 "Get rid of widgets, add sidebar"
The widgets may have seemed cool at the time, but they seem dated at this point. They add a lot of visual noise and clutter, and don't satisfy because they don't have enough content in them.

Referring to https://reasonml.github.io/docs/en/quickstart-javascript.html as an example, I'd much rather have a sidebar organizing content per tab. It's much clearer, cleaner and easy to follow. It also enco

[2018-05-11 16:17] Chris00 commented on #995
What page(s) are you talking about?  Could you present what you have in mind by making a mockup?

[2018-05-11 16:26] bluddy commented on #995
I'm talking about the Learn, Documentation and Community pages. The front page could keep the widget look.

I'll try to make a mockup when I get a chance. In general, imagine [this page](https://reasonml.github.io/docs/en/what-and-why.html) with the OCaml theme for Learn. The content would be listed along the left sidebar.

[2018-05-11 16:47] pmetzger commented on #995
I'm actually fine with the front page being as it is. It's a popular style for language portals (see python's front page for example.)

I'd also recommend doing a mockup. Perhaps put it on ocamlverse?

[2018-05-11 16:48] pmetzger commented on #980
I have no idea yet. I've been poking at other things.

[2018-05-12 20:45] Chris00 commented on #965
May you try again?  The dependencies were improved so that should work (including with the latest OCaml version).

[2018-05-12 20:56] #839 closed

[2018-05-12 21:00] Chris00 commented on #819
@gasche Do I need to keep this open?  No PR has ever been made to ocaml.org for new releases unfortunately.  Anything we can do on our side?

[2018-05-12 21:07] pmetzger commented on #819
It seems reasonable to have a brief process document somewhere, even if it is only a couple of paragraphs, so closing this before that is done would seem problematic. If someone is willing to work with me to tell me what's needed, I will do the writing and the pull request.

[2018-05-12 21:13] #683 closed

[2018-05-12 21:29] Chris00 commented on #429
@bluddy I noticed you never agreed to this.  OK with you?

[2018-05-12 21:33] Chris00 commented on #819
Thanks.

[2018-05-12 21:34] Chris00 commented on #819
Maybe it could go to `site/releases/howto.md`?

[2018-05-12 21:35] pmetzger commented on #819
When I look at it, I'll try to put it there. :)

[2018-05-12 21:52] Chris00 commented on #980
I put the link first (of the two) but not to the top of the page — that would be distasteful IMHO.

[2018-05-13 02:30] bluddy commented on #429
I agree that my contributions to this repository are licensed as detailed in LICENSE.md.

[2018-05-13 08:50] Chris00 commented on #429
- Ionuț Arțăriși → d8be288d025e7d7b4554552b973ed50d3b4f6e32 (minor).
- Benjamin Canou → 45189fd42c56df84cddf8e2c43f09695d505f4af (typo).
- Steve Hiemstra → 00db06484a58fa3f5f9e111bdae06f124770b274 (move “Modules” tutorial up).
- Stanislav Sedov → c53588ffebd7bba354b0db60ec66cb2c2fbc5b85 and 9489dda16d14ef5d6044839280d02b18702aefd0 (FreeBSD installation).
- Roman Tereshin → dd630abdcfab03708888ff0c

[2018-05-13 08:50] #429 closed

[2018-05-13 08:53] Chris00 commented on #100
Well, 3 years later nothing has changed.  Closing.

[2018-05-13 08:53] #100 closed

[2018-05-13 08:55] Chris00 commented on #729
See also https://github.com/ocaml/ocaml.org/issues/106

[2018-05-13 10:38] bobbypriambodo opened #996 "Revamp tutorials page"
Page in question: http://ocaml.org/learn/tutorials/

At this point, the tutorials linked from this page is a bit of a mess. For example, there are "Maps", "Sets", and "Hash Tables" on the left side, and inside "Standard Library Examples" on the right side contains only links those three. There are also "Compiling OCaml Projects" and "Filenames and Extensions" which seems like basic knowledge but p

[2018-05-14 00:27] bluddy commented on #996
I think it makes the most sense to have both: start with the link to the tutorial, and then follow up with including the content.

However, I don't know what to do about out of date or irrelevant tutorials. Can we scrap them? Do people have the expectation that their contribution will stay on ocaml.org forever?

[2018-05-14 00:47] bluddy opened #997 "Extract site-creation library from ocaml.org repo"
People have put a lot of effort into ocaml.org, and I think a big chunk of that has been engineering effort to make the template engine work. Perhaps it would be useful to spin out the markdown-to-html part of ocaml.org. Clearly there's a niche for this kind of tool (see docusaurus). It would also help clarify the API, document the library, and perhaps help add features.

Thoughts?

[2018-05-14 13:06] pmetzger commented on #997
I don't understand the ocaml.org build process yet, but I'm generally in favor of factoring out useful tools. I suspect only a few of us are actually available to work on this, so if it is feasible, you might want to look in to what would be involved and maybe do the work?

[2018-05-14 15:19] agarwal commented on #996
How about putting them under a section titled "Out of Date" or "Archive" or something similar.

[2018-05-14 15:25] agarwal commented on #997
The "markdown-to-html" functionality is already externalized. It is done by [omd](https://github.com/ocaml/omd). The templating stuff is done by [mpp](https://github.com/ocaml/MPP-language-blender). The code within ocaml.org is basically a complicated build script to call these tools in a certain order. There is some stuff unique to us, e.g. calling out to ocaml to auto-evaluate code blocks in the

[2018-05-14 15:53] pmetzger commented on #997
There are a lot of static site generators out there (say Jeckyll) though I'm not sure what exists that is written in OCaml. I do think there's at least one, I remember someone announcing it on `discuss` a while back.

[2018-05-14 18:39] Chris00 commented on #997
There are a couple of site generators in opam (e.g., stationary, stog, stone) but one would have to check that they are versatile enough for our needs (in particular, executing external tools to evaluate code and fill content — such as news, latest emails, running header, available translations,...).  Ideally, before changing the code, presenting a good design for putting all parts of the web site

[2018-05-14 18:44] Chris00 commented on #996
I agree with @agarwal that leaving them in a “Obsolete” section would be better.  In addition, each of these “out of date” tutorials should mention at the beginning what is the now better way of doing the same (e.g. camlp4 → ppx) with a link to the new technology so that people who find them from, say, a web search are redirected to the up-to-date information.

[2018-05-14 18:53] Chris00 commented on #996
IMHO, we should ask the author the permission to reproduce it on o.o — with a link to the original version.  Indeed, the post may disappear from one day to the next.  When porting the content of the ocaml-wiki at the beginning of o.o, we had to literally dig into the archives of that site which was no longer up.

It needs not to be exclusive.   People can publish blog posts and we can copy to the

[2018-05-14 23:26] agarwal commented on #997
I would say the criteria is:

- Use popular static site generators. IMO that rules out all in the OCaml community.
- Be able to call out to scripts (which we of course would want to write in OCaml) and insert the results into the generated code. This is important because as @Chris00 says we have to do some coding for the various custom features we desire.

So the point is the main framework can be

[2018-05-15 11:45] Drup commented on #997
Last time I got interested, the main problem with the ocaml.org build process was neither omp nor mpp (although they have their issues). The problem was that, and I hope I'm not going to offend anyone, the higher level part is just a huge pile of unprincipled spaghetti. Using a proper static website generator would certainly help, regardless of what is used as template and markup languages/process

[2018-05-15 12:09] samoht commented on #997
It's very much alpha -- just enough to generate my [website](https://github.com/samoht/gazagnaire.org) atm. The language is a bit had-hoc (as I just added the bits that I needed, trying to keep it general enough) and untyped, which is far from ideal. The main difference with other frameworks is that it allows to compose templates (e.g. use them as functions) which I found missing. I would be very

[2018-05-15 12:26] Drup commented on #997
The tyxml template language will be quite a while in the making, don't wait for it. ramen's template language is sort of halfway between mustache and jinja.

In any cases, the templates are already written in mpp, and it works ok. I'm not sure it's worth changing them. As I said, the problem is the high-level orchestration, not the individual low-level tools.

[2018-05-15 13:32] bluddy commented on #997
Well, another option is to rely on Docusaurus, as mentioned in another issue. Javascript is 'closer' to us due to the Reason connection. If there's nothing mature on the OCaml front, and it's too much effort to make what we have now into something more robust, then that's the way to go. We can create a Docusaurus site (which also happens to have been Reason's choice) and retain only the planet par

[2018-05-15 14:31] Chris00 commented on #997
@bluddy Does Docusaurus support calling external tools to generate content?  (A simple example in addition to the above: the latest OCaml version is taken from opam and put into a variable to ensure the references stay properly updated site wide.)

[2018-05-15 14:44] Chris00 commented on #997
@Drup I somehow agree with that — even though the tools could benefit from being more robust IMHO — but do you have references on how to do that properly?  Indeed, at the moment, the content is in `site/` (they can be HTML or Markdown files, with a language extension convention) and the structure of the directories reflect the structure of the site. The scripts to produce content are in `script/`

[2018-05-15 15:13] bluddy commented on #997
@bluddy Does Docusaurus support calling external tools to generate content? (A simple example in addition to the above: the latest OCaml version is taken from opam and put into a variable to ensure the references stay properly updated site wide.)

I'm not sure. [This](https://docusaurus.io/docs/en/commands.html#docusaurus-start-port-number) seems to suggest it may be possible to customize the star

[2018-05-15 17:07] pmetzger commented on #997
BTW, one option: it is not necessary that the entire web site be generated with the same tools. It might be that much of the content could be nearly pure markdown with pure static generation, while some stuff like the front page which presents latest news could be more dynamic, or static re-generated on a different schedule.

[2018-05-15 18:10] agarwal commented on #997
No offense at all. I agree. It's a mess. My reason for encouraging us to use more popular tools is:

* Avoid all this build mess. I went through the same thing implementing cufp.org, and I was amazed at how much work that part turned out to be. Someone else in some other community must have solved this problem, right? Maybe not, but I'm hoping.

* Force us to follow some common conventions around

[2018-05-30 12:42] XVilka commented on #640
@HuStmpHrrr so, any updates on this?

[2018-05-31 01:04] HuStmpHrrr commented on #640
@XVilka yeah, I was looking into OCaml a few years ago intending to learn something new but I dropped it for long already. I indeed translated a few chapters and got them merged back then but I do not have any recent plan to pick up the rest.

However, I got involved into Coq since a year ago and am considering recently the necessity to write decision procedures in OCaml. Though I am not sure how,

[2018-05-31 16:12] mars0i opened #1001 "Revise homepage discuss.ocaml.org link description?"
The ocaml.org home page includes "Got a question? Chat live with OCaml experts!" which links to  discuss.ocaml.org.   Including this link on the home age with its implicit suggestion to just ask is great.

This is a small point, but it's not really a live chat.  It's not what people would expect.  (I thought, "Wow--experienced OCaml users have signed up to have their work interrupted at random tim

[2018-05-31 16:16] pmetzger commented on #1001
Perhaps you should do a pull request?

[2018-05-31 16:33] #1001 closed

[2018-07-03 12:09] charguer opened #1006 "Broken link to online toplevel"
In page https://ocaml.org/learn/tutorials/basics.html
the first link https://ocsigen.org/js_of_ocaml/2.7/files/toplevel/index.html
gives me a 404.

[2018-07-06 10:54] XVilka opened #1008 "Syntax highlight in OCaml manual"
It will improve readability to a greater level.
Opening issue here because manual located in the main https://github.com/ocaml/ocaml repository and it has issues disabled.

[2018-07-06 13:58] pmetzger commented on #1008
It isn't useful to open it here. The teams for OCaml itself and the web site are unrelated. There's a Mantis tracker for handling ocaml issues directly at https://caml.inria.fr/mantis/main_page.php , but my suggestion is that you figure out how to do said syntax highlighting and submit a PR.

Before doing much, you will probably want to have a look at the updates that have been made to the manual

[2018-07-10 21:11] #1008 closed

[2018-07-11 15:06] pmetzger opened #1010 "Mention 4.07 release on web site?"
I note that 4.07 isn't in the "News" section etc. Then again, perhaps that is waiting for a more official announcement?

[2018-07-12 14:38] agarwal commented on #1010
4.07.0 has been officially released. A list item like the current one for the _OCaml Weekly News_ (or the commented out one for the _OCaml Users and Developers Workshop_) could be added and pointed to `/releases/4.07.0.html`.

[2018-07-13 11:29] pmetzger commented on #1010
@Chris00 Thank you!

[2018-07-13 11:31] pmetzger opened #1011 "Mirror the manual on the web site?"
The only time I ever go to caml.inria.fr is to look at the manual online. I know there's a thought of eventually having "docs.ocaml.org" or some such, but in the meanwhile, would it be a problem to mirror the manual from http://caml.inria.fr/pub/docs/manual-ocaml/ to some URL on ocaml.org? I would submit a PR, but the build system for the web site is a bit opaque.

[2018-07-13 12:12] pmetzger opened #1012 "Make site tools build using 4.07"
I note that whatever builds the site is still using quite an old OCaml, or was when I last checked.

[2018-07-13 14:15] Chris00 commented on #1012
The current build uses 4.06.

[2018-07-13 15:17] pmetzger commented on #1012
Ah, well that's a significant improvement. Should I close this? (That said, an upgrade to 4.06.1 would probably be in order?)

[2018-07-13 16:16] Chris00 commented on #1012
I just checked on the machine and it is 4.06.1.  Unless there is a feature in the new compiler we want to use — or show, say, in a tutorial — I think there is not rush to upgrade to 4.07.

[2018-07-13 18:48] Chris00 commented on #1011
The problem is not the technical details, it is to have the agreement of Inria because we were specifically asked not to mirror files in `pub/`.

[2018-07-13 18:53] Chris00 commented on #1011
Maybe one thing we could do is to put in place some "proxying" of the URLs so they seem to be located on o.o while actually being hosted on Inria servers.  @xavierleroy or @damiendoligez may say whether this is a satisfactory solution for them.

[2018-07-13 18:58] #1006 closed

[2018-07-13 18:59] Chris00 commented on #1006
Thanks for reporting.

[2018-07-13 19:02] pmetzger commented on #1011
Isn't the manual redistributable?

[2018-07-14 16:15] agarwal commented on #1011
My understanding was that the Inria team wanted to keep organizing files under `pub/`, i.e. they didn't want their own workflow altered. I don't believe there is any opposition to mirroring content elsewhere if someone else does that work.

[2018-07-14 16:19] pmetzger commented on #1011
We could also just build the 4.07 manual ourselves. It's straightforward.

[2018-07-14 16:31] xavierleroy commented on #1011
I forgot this discussion.  At any rate things have changed since the early design days of ocaml.org: for example, the preferred URL for source distributions is now https://github.com/ocaml/ocaml/releases/ instead of http://caml.inria.fr/pub/, because the former is more reliable.  More generally, I have concerns about the long-term availability of caml.inria.fr/

So, I have no problem with hosting

[2018-07-14 18:42] pmetzger commented on #1011
This should be quite doable. Scripting git is quite easy, and the github API is easy to use, too.

[2018-07-17 17:19] pmetzger commented on #1011
BTW, if someone who can explain to me a bit more about the principles of how the ocaml.org build system is organized would get in touch with me, I'll do a pull request to do this.

[2018-07-18 17:35] agarwal commented on #1011
@pmetzger Might be easier to exchange some emails about this. I'll get in touch.

[2018-08-17 04:44] XVilka opened #1015 "Add repology badge for "ocaml" package"
See the latest available version https://repology.org/metapackage/ocaml/versions
Usually it pushes distributions maintainers to keep the package more updated.
Adding a badge like this:
[![Packaging status](https://repology.org/badge/vertical-allrepos/ocaml.svg)](https://repology.org/metapackage/ocaml)

And everyone can see who is being slow on updating the package.

[2018-08-17 05:08] Chris00 commented on #1015
The purpose of the website is not to assign blame to who is slow to update packages. :-)

[2018-08-17 05:13] XVilka commented on #1015
Of course is not. But surely it will help wider adoption of nicer things from the latest versions of OCaml.

[2018-08-17 14:46] pmetzger commented on #1015
I agree this would be great to do. That said, @XVilka, can you do a pull request for this rather than an issue? I'd suggest it _not_ be on the front page, probably on one of the getting OCaml pages. (BTW, @Chris00, note that I'm one of the red lines in that list, I maintain MacPorts, and I don't mind this.)

[2018-08-20 17:17] XVilka commented on #1015
Will do.

[2018-08-23 11:41] XVilka commented on #1015
https://github.com/ocaml/ocaml.org/pull/1018

[2018-08-23 13:04] pmetzger commented on #1015
Cool, I've commented there.

[2018-08-23 17:19] Chris00 commented on #1015
Thanks for the PR and the review.

[2018-08-23 17:19] #1015 closed

[2018-08-23 18:19] pmetzger commented on #1015
BTW, how long until this appears on the web site itself?

[2018-08-24 21:24] pmetzger opened #1020 "Recent changes to sources not reflected on the web site?"
I've noticed that recent changes to the website source do not seem to be reflected in the web site itself. This might be because some sort of automation isn't working?

[2018-08-25 22:40] #1020 closed

[2018-08-25 22:41] pmetzger opened #1021 "Set up https: for ocaml.org"
Right now, if you look at ocaml.org in Chrome (or a variety of other browsers) it informs you that because it's using http, it isn't secure. Over the next couple of years, the browser vendors are going to be tightening this up more and more.

I'd suggest that a Let's Encrypt certificate (and the script to renew it) be set up, and the site be shifted to https.

[2018-08-26 07:28] Chris00 commented on #1021
The site is available in both HTTP and HTTPS.

[2018-08-26 12:00] pmetzger commented on #1021
Ah. Perhaps it should be set to redirect people to the https: site?

[2018-09-19 09:12] roptat opened #1024 "Index page is empty"
Hi,

the index page is empty:

[code]

The rest of the website works correctly. For instance, the French index page is OK.

[2018-09-19 09:33] Chris00 commented on #1024
Thanks for reporting.  We know about the problem and will fix it ASAP.

[2018-10-07 12:37] pmetzger opened #1027 "Put 4.07.1 announcement on the front page?"
Since 4.07.1 is out, perhaps it should be announced on the front page?

[2018-10-09 17:32] Chris00 commented on #1027
Except for the date, it should happen automatically.  I'll check it out — maybe a consequence of the OPAM 2 migration.

[2018-10-10 15:28] Chris00 commented on #1024
(The problem has been long fixed but I leave this open to remind me that a more robust solution is desirable.)

[2018-10-31 22:55] villesau opened #1030 "tutorials: Unit not explained"
In basics https://github.com/ocaml/ocaml.org/blob/master/site/learn/tutorials/basics.md
reads this:

But `unit` is actually not explained below. Also Option would be very good to open up a bit!

[2018-11-01 01:35] cwfoo commented on #739
Perhaps you can just replace those broken links with links to the latest non-404 archived versions of those tutorials.

Latest non-404 copies can be found using the Wayback Machine API:

* https://archive.org/wayback/available?url=plus.kaist.ac.kr/~shoh/ocaml/ocamllex-ocamlyacc/ocamllex-tutorial/
* https://archive.org/wayback/available?url=plus.kaist.ac.kr/~shoh/ocaml/ocamllex-ocamlyacc/ocamlyacc-

[2018-11-01 13:19] pmetzger commented on #1030
If you have some proposed language that would probably be helpful; pull requests are best of all!

[2018-11-01 15:45] villesau commented on #1030
Unfortunately my understanding of OCaml is currently limited to pretty much on the level tutorials/basics provides so I don't consider my self as proficient enough to explain the concepts or submit a PR. Not at least yet!

[2018-11-01 16:51] pmetzger commented on #1030
Unit is pretty simple, it's a type with only one value (also named unit). It's used whenever something doesn't really return a value, thus the comparison to C's voids. Option is a way of packaging up something that might or might not return a value, None for when there's no value and Some for when there is one. Based on that, do you think you could try writing some language anyway? I'm happy to he

[2018-11-01 17:58] pmetzger commented on #739
I think linking to archive.org isn't optimal. It would be better to put the tutorials on the site itself.

[2018-11-02 12:32] pmetzger commented on #739
So why not help by getting in touch with the original author, and making a pull request of new web pages with the original information, cleaned up to match the site style?

[2018-11-02 17:35] Chris00 commented on #739
Please proceed! :-)

[2018-11-08 05:22] XVilka opened #1034 "Travis site build is broken - changed system compiler for OPAM_SWITCH=4.06.1"
[code]

[2018-11-17 00:03] #500 closed

[2018-12-01 12:39] MathieuDutSik opened #1038 "Wrong Foreach Tutorial (Camlp4 3.10)"
The tutorial is hard to read because Python and OCaml are mixed up. I lost a lot of time because both languages are mixed.
It would be easier to just remove Python (which not everyone know) and put directly only the (correct) OCaml code.

[2018-12-01 20:02] pw374 commented on #1038
However it's a tutorial that starts with

which raises the following question: who are the people still actually interested by CamlP4? and if there's any, why or what for?

[2018-12-01 21:16] MathieuDutSik commented on #1038
Which is what came from a google search for "for loops in ocaml".
I solved my problem.

If I have to say something about ocaml it is that better error messages
would be immensely useful.

  Mathieu

On Sat, 1 Dec 2018 at 21:02, Philippe Wang <notifications@github.com> wrote:

[2018-12-02 07:53] pw374 commented on #1038
OK, thank you for your feedback. Personally I have mixed feelings towards "fixing" this CamlP4 tutorial.
Perhaps we should make it clearer that it's deprecated technology. One thing is certain: no OCaml beginner should read that tutorial! @Chris00 @agarwal @amirmc do you have any thoughts regarding that matter? It's probably a bigger issue than we "old OCaml users" wish to acknowledge.

Well, yes.

[2018-12-02 08:12] pw374 commented on #997
Every few days, weeks, months, or years, tools and technologies become deprecated. To avoid that, we need manpower for maintenance. It does make sense to evolve, pick a new set of tools (a new set that doesn't have to have an empty intersection with the current set), make the whole thing work. But if you (that's a very general "you") are hoping that once it's done, once the right choices are made,

[2018-12-02 21:39] pmetzger commented on #997
BTW, having played with Jekyll a bunch, I'm wondering if we shouldn't migrate. Yes, that means the site won't be built with OCaml tooling any more, but I'm not sure how important that is.

[2018-12-02 21:40] pmetzger commented on #1038
I think discouraging new people from learning camlp4 is reasonable. It's a dead technology.

[2018-12-04 19:43] Chris00 commented on #1038
I would also favor the "deprecated technology" warning.

[2019-01-01 23:36] IniterWorker commented on #54
Hello, @Chris00, how I can contribute to this part?

Because you quoted  [https://github.com/VictorNicollet/99-Problems-OCaml](https://github.com/VictorNicollet/99-Problems-OCaml), but the current staging on ocaml.org of 99 problems solutions is different.

So I'm confused about it. What should I do to improve some solution, write it and contribute to your project?

[2019-01-01 23:49] IniterWorker commented on #937
Do you have any idea to hook the new release of Inria?

All Inria static websites send to ocaml.org.

I know about this [mailing list](https://sympa.inria.fr/sympa/arc/caml-list/) do you think it's the best way to handle it? Or, maybe do you know another feed channel about it.

[2019-01-04 13:36] Chris00 commented on #937
The caml list is already parsed to display recent subjects on the “Community” page.  One could certainly detect announcements.  However, new announcements require pages to be created on the website.  The script should automatically create a page — and running it manually would allow to add and tweak that page with minimal effort.  @damiendoligez usually adds a page to the website for new releases

[2019-01-04 13:39] Chris00 commented on #54
Hi,

On  2 January 2019 at 00:36 CET, Walter Bonetti wrote:

Most of the solutions have not been copied from the above site.

Before improving solutions, it would be better to write some for questions that have not yet received any, making sure it is high quality code as it has to show good practices to readers.

Best,
C.

[2019-01-24 12:20] GedMason opened #1045 "Ambiguity in example of let ... in ???"
On page http://ocaml.org/learn/tutorials/structure_of_ocaml_programs.html we have, about a third of the way down, some code:
[code]
Prior to this, let ... in was explained as:

That sounds like a C preprocessor macro, i.e. the text 'buf' will be replaced with the text 'Buffer.create 4096' wherever it is found. In the later code, that would clearly be an error as the buffer would constantly be recr

[2019-01-24 17:01] Chris00 commented on #1045
I reckon that the wording of ocaml.org is not the best one.  This is not a textual replacement, instead `name` holds the result of the expression, the evaluation of which is not done again.  May you submit a PR with a better explanation?  That will be greatly appreciated.

[2019-03-19 13:39] agarwal commented on #997
At present, I believe the best options are: jekyll, hugo, or docusaurus. But picking the tool isn't really the problem. The lack of manpower is the real issue.

[2019-03-19 14:29] Chris00 commented on #997
Also, it is not clear to me whether picking another site generator will help more people to contribute.  Indeed, there are more pressing matters (e.g. rewrite tutorials) to spend time upon so it only make sense to do this if it brings more contributors.

[2019-03-19 14:38] Drup commented on #997
@Chris00 Building the website is currently convoluted to the point where I, as an author, can't manage to build it locally to vizualize my changes. Furthermore, the current markup languages is very limited, because it's basically non-compliant markdown without any extensions.

I assure you, those two problems are *very* big brakes on potential authors.

[2019-03-19 16:16] Chris00 commented on #997
@Drup Good to know! ☺

[2019-03-19 16:18] Drup commented on #997
Note that I didn't say the only way to solve them was to use off-the-shelve website generators. ;)

[2019-04-06 21:37] zzdpk2 opened #1055 "A new school teaches OCaml"
Hi,
University of Minnesota Twin Cities teaches OCaml in CSCi2041(Advanced Programming Principles) and CSci5106(Programming Languages). Please update the Teaching OCaml website.
Thanks for your assistance

[2019-04-07 08:41] Chris00 commented on #1055
May you provide the links to the courses pages?  Thanks.

[2019-04-08 22:19] rogererens opened #1056 "RIP VectorFabrics"
According to Wikipedia, this company went bankrupt in 2016.

[2019-04-08 22:52] pw374 commented on #1055
Looks like this one https://www-users.cs.umn.edu/~kauffman/2041/syllabus.html

[2019-04-09 06:43] #1056 closed

[2019-04-18 09:20] yigitkonur opened #1059 "Website Addition Request"
Hi OCaml Community,

We've started to use OCaml in production from now on. To get the attention of new engineers, we would like to be listed on Ocaml.org: http://www.ocaml.org/learn/companies.html

**Company: Zeo Agency, London**
**Description: ** Zeo is a digital marketing company focus on helping companies to do better in SEO. Due to the nature of our business, we manage billions of lines in our

[2019-04-18 15:14] #1059 closed

[2019-04-18 23:12] pw374 commented on #1027
Something's broken, since it hasn't happened automatically.

That being said, it seems the date of the latest release will still have to be manually edited.

[2019-04-19 13:37] Chris00 commented on #1027
@avsm If there was a convention to determine the release date of OCaml compilers (say to add “Released on ...” to its description), that would be really great.

[2019-04-19 16:15] pw374 commented on #1027
Ummm...  now it shows 4.06.1 ! It’s even worse than yesterday

[2019-04-22 20:43] #1027 closed

[2019-04-24 12:14] avsm commented on #1027
@Chris00 perhaps the best way to do this is to add a `x-released-on` header to the `opam` file for the compilers, and query that from the website build for the descriptive information

[2019-04-24 15:06] Chris00 commented on #1027
@avsm Fine with me!

[2019-05-09 00:01] ohama commented on #739
I'm SooHyoug.
If you have any comments, please contact me, through ohama100@gmail.com.

[2019-05-09 00:03] ohama commented on #739
SooHyoung Oh.

[2019-05-14 17:51] pmetzger commented on #739
@ohama Would it be okay for ocaml.org to publish your tutorial?

[2019-05-16 22:51] ohama commented on #739
I'm converting the old document to markdown and moving to github.
See https://ohama.github.io/ocaml/

I'm on vacation until 28th May
so I'm planning to open the new ocaml related tutorial page after then.

And it's ok to publish in there.
How can I help you?

Thanks.

2019년 5월 15일 (수) 오전 2:51, Perry E. Metzger <notifications@github.com>님이 작성:

[2019-05-17 01:41] ohama commented on #739
Current draft in https://ohama.github.io/ocaml is not final,
so don’t use the current web address until I open to ocaml community.
I’m thinking it may be better to separate each tutorial documents.

나의 iPad에서 보냄

2019. 5. 15. 오전 2:51, Perry E. Metzger <notifications@github.com> 작성:

[2019-05-17 06:45] Chris00 commented on #739
On 17 May 2019 at 00:52 CEST, SooHyoung Oh <notifications@github.com> wrote:

Once everything is converted to markdown, we can integrate it in ocaml.org (or you may want to make a PR).  Thanks for your help (and enjoy your holidays!).

[2019-05-20 15:19] cmastilak opened #1070 "Logo Change for ForAllSecure, Inc."
Hello, ForAllSecure has it's old logo listed. Can you please update?[forallsecure.com](url)

[2019-05-20 17:15] #1070 closed

[2019-07-17 04:08] chengtie opened #1077 "Add Matrix Lead to companies page"
Hello,

We, at Matrix Lead (www.matrixlead.com), create tools around spreadsheets, to help people edit, verify and optimise their spreadsheets. Besides the tools listed on the website, there are also [10 Studio](https://appsource.microsoft.com/en-us/product/office/WA200000139) and [Funfun](https://appsource.microsoft.com/en-us/product/office/WA104381207).

The core analyser (by abstract interpreta

[2019-07-18 11:35] agarwal commented on #1077
Hi Tie. Ideally, we could get a PR. Thank you. If that seems too hard, please provide the logo and description, and I can add it for you.

[2019-07-18 23:17] chengtie commented on #1077
(I just closed the issue by mistake, then I reopened it)

I just created a PR. Could you check if it is OK?

Cheers

Tie

[2019-07-19 07:54] Chris00 commented on #1077
PR merged.  Thanks.

[2019-07-19 07:54] #1077 closed

[2019-07-25 13:23] ebblake opened #1079 "Formatting guidelines missing example for match"
https://ocaml.org/learn/tutorials/guidelines.html has several recommendations on formatting match patterns, but notably lacks any guidance on the following: when using more than one pattern that both share the same ->, should the second | be indented in relation to the first (to make it obvious that the first lacks ->) or should the | be aligned?
Visually, this is the difference between:
[code]
an

[2019-08-01 02:38] fccm opened #1080 "dead link on page /learn/tutorials/file_manipulation.html"
dead link on page /learn/tutorials/file_manipulation.html
"See Std.input_file and Std.output_file."
http://ocaml-extlib.googlecode.com/svn/doc/apiref/Std.html

Maybe we can replace it by:
https://github.com/ygrek/ocaml-extlib/blob/master/src/std.mli

[2019-08-17 20:31] clarksmr opened #1082 "Release page for 4.08.1 is missing"
The URL https://ocaml.org/releases/4.08.1.html returns a 404 Not Found.  That URL is linked to by

- the [front page](https://ocaml.org) news item "Release of OCaml 4.08.1 June 14, 2019".  (N.B. I think June 14, 2019 is the release date for 4.08.0, and August 5, 2019 is the release date for 4.08.1, according to the [changes log](http://caml.inria.fr/pub/distrib/ocaml-4.08/notes/Changes).)
- the [i

[2019-08-19 14:02] pmetzger commented on #1082
@clarksmr Do you think you could create such a page and submit a pull request? It might speed things up.

[2019-09-13 15:19] #1082 closed

[2019-09-13 16:03] #1080 closed

[2019-09-13 16:03] Chris00 commented on #1080
Thanks.

[2019-09-13 16:13] Chris00 commented on #1079
In my opinion, both are fine.  Tuareg uses the latter by default because it improves readability by showing the structure.  `ocamlformat` does not and it is OK.  You can [configure Tuareg to use that style too](https://github.com/ocaml/tuareg) and even [change it per project](https://www.emacswiki.org/emacs/DirectoryVariables).

[2019-09-13 16:17] #1055 closed

[2019-09-13 17:36] Chris00 commented on #1034
The build is now passing.

[2019-09-13 17:36] #1034 closed

[2019-09-14 20:44] Chris00 commented on #1021
Should we?  Anil set up a “Let's encrypt” certificate but why force users?  I made sure to use protocol-relative URLs.  If it is for privacy, we may want to remove the references to third party resources — such as google and cloudfare.

[2019-09-14 21:13] pmetzger commented on #1021
Because at this point, all non-https: URLs in most browsers get a big fat ugly "THIS SITE IS NOT SECURE!!!!" warning. :(

[2019-09-14 22:26] Chris00 commented on #1021
I have added a rule to that effect.  May you please check the site?  There are some problems with “mixed content” to fix — do not hesitate to report (I know for the “planet“ page).

[2019-09-14 22:26] Chris00 commented on #1024
Added to my TODO list.

[2019-09-14 22:26] #1024 closed

[2019-09-14 22:28] Chris00 commented on #1011
Any news on this?

[2019-09-14 22:29] Chris00 commented on #965
No response, closing.

[2019-09-14 22:29] #965 closed

[2019-09-15 19:45] pmetzger commented on #1021
Sadly, firefox is now complaining about certificate errors:

<img width="806" alt="image" src="https://user-images.githubusercontent.com/1907413/64926797-e0ba0400-d7cf-11e9-9020-7c6aa37940a3.png">

[2019-09-15 20:05] zapashcanon commented on #1021
It's only if you visit `www.ocaml.org`, it's working on `ocaml.org`, you add the `www` domain to the certificate to fix it. Also, redirecting `ocaml.org` to `www.ocaml.org` would be a good thing to do.

[2019-09-15 21:14] Chris00 commented on #1021
@avsm If you have time to do it that would be nice — you were the one setting up Let's Encrypt.  Otherwise I will have a look but it will be slower.

[2019-09-15 22:14] pmetzger commented on #1011
Nope, I dropped it on the floor. I'm a bit busy for the next couple of weeks, so if someone else wants to do it meanwhile I won't object. Otherwise keep poking me.

[2019-09-18 23:05] zapashcanon opened #1085 "remove mantis mention"
On [this page](https://ocaml.org/community/mailing_lists.html), at the end, there's a section about Mantis, which is not used anymore. I don't know if there's other mentions of Mantis somewhere, but they all should be removed.

[2019-09-19 00:45] pmetzger commented on #1085
I don't suppose you could clone the repository, grep for mantis, and do a pull request with all such references fixed?

[2019-09-19 03:11] pw374 commented on #1085
Someone could do it without `grep`, GitHub can be enough: https://github.com/ocaml/ocaml.org/search?p=1&q=mantis&unscoped_q=mantis

[2019-09-23 00:18] coldice opened #1086 "Change wording on german basics page."
Just a super small one: On the german basics page on Line 164 (https://github.com/ocaml/ocaml.org/blame/master/site/learn/tutorials/basics.de.md#L164), I recommend to replace the term `deduktive Typisierung` with `Typinferenz`, which is more helpful.

[2019-09-25 17:41] #1086 closed

[2019-09-25 17:41] Chris00 commented on #1086
Thanks.

[2019-09-25 17:57] #1085 closed

[2019-09-25 17:57] Chris00 commented on #1085
It is still present on old release pages but I think it is fine as such.

[2019-09-25 18:04] Chris00 commented on #1085
I also removed all mentions of the SVN repository.

[2019-10-06 17:43] Octachron opened #1089 "Incorrect certificate for the www subdomain"
The certificate used for the www subdomain is invalid (it is only valid for `ocaml.org`) leading to scary messages on pages like https://www.ocaml.org/docs .

[2019-10-06 18:12] zapashcanon commented on #1089
It's already mentioned in #1021.

[2019-10-06 18:49] Chris00 commented on #1089
As, said, already tracked by #1021, closing.

[2019-10-06 18:49] #1089 closed

[2019-10-08 13:44] Chris00 commented on #1021
@avsm Since our DNS provider is gandi, we need [a Gandi API token](https://pypi.org/project/certbot-plugin-gandi/) to proceed.  May you send it to me by email?

[2019-10-27 13:56] sanette commented on #1011
I have started working on this. I need help on what the rules are for integrating new pages

[2019-10-27 17:13] sanette commented on #1011
Next question, is _where_ do we store the manual on `ocaml.org`?
A possibility would be to modify the `https://ocaml.org/docs/` so that the first 4 "blocks" would be
links to the 4 parts of the manual. If you agree with this, I can try to propose something

[2019-10-28 21:49] bruce-ricard opened #1091 "Stream tutorial broken"
Here is what I see on https://ocaml.org/learn/tutorials/streams.html

[code]

[code]

[2019-10-28 23:59] pmetzger commented on #1011
I'd suggest `https://ocaml.org/docs/manual-ocaml/` as a URL, and have everything on `https://ocaml.org/docs/` that points currently to the manual at caml.inria.fr point instead there. But this does mean that we need an easy procedure for updating the manual when OCaml gets updated!

[2019-10-29 00:15] dbuenzli commented on #1011
I know `manual-ocaml` is what is on caml.inria.fr but I have a slight gripe with `manual-ocaml` in that the opam package for the manual is called `ocaml-manual` (my fault).

What about simply `https://ocaml.org/manual`, that's easy to type and remember.

[2019-10-29 09:39] sanette commented on #1011
yes of course. At this point I have a script that does everything but only for Part 1 of the manual, and I have only tested it for the latest version of ocaml. What I could do when I get the time is to test it against all available versions of ocaml to see if this is robust.

[2019-10-29 10:21] Chris00 commented on #1011
As the URL, I suggest `https://ocaml.org/docs/manual` as a link pointing to the most recent manual and `https://ocaml.org/docs/manual/⟨version⟩` for the actual manual for OCaml ⟨version⟩.  So it would be ideal for the script to be passed a ⟨version⟩ and build the manual from the corresponding Git branch.  The main Makefile already has a variable for the most recent OCaml version so can adequately

[2019-10-29 13:27] pmetzger commented on #1011
@dbuenzli suggests:

Seems fine by me, as does @Chris00's suggestion of `https://ocaml.org/docs/manual` — @dbuenzli's suggestion has the advantage of being slightly more compact. I agree that the `manual/[version]` idea would also be a good idea.

[2019-10-29 13:49] dbuenzli commented on #1011
I'd prefer  `/manual`. That way I don't need a search engine or try to do remember whether it's `doc` or `docs`. +1 for versions.

[2019-10-29 16:21] dbuenzli commented on #1011
I don't think that's needed if I don't need to remember it or type it manually.

[2019-10-29 20:25] pmetzger commented on #1011
I'd say the consensus is now `https://ocaml.org/manual` for the latest, and `https://ocaml.org/manual/[version]` for a particular version of the manual.

[2019-10-31 12:19] Chris00 commented on #1091
Thanks for reporting.  I know the tutorials about deprecated modules (and those using camlp4) should be modified to incorporate verbatim the output of commands.  I'll work on this ASAP.

[2019-11-04 15:23] sanette commented on #1011
The script is now able to process versions 4.00 to 4.09. See:
https://sanette.github.io/ocaml-tutorial/

[2019-11-04 17:09] agarwal commented on #1011
I prefer `/manual` over `/docs/manual`. This follows the principle of "flat is better than nested". Unless we anticipate a name clash, but I think "manual" uniquely refers to the single document we are talking about here.

I think that's not worth it. This introduces two names for the same thing, which I think is generally not a good idea.

[2019-11-04 17:36] sanette opened #1093 "invalid ids in the Manual html"
See
https://github.com/aantron/lambdasoup/issues/26

Apparently hevea uses the char ":" in CSS identifiers, while it's forbidden by CSS syntax.
It appears frequently in the Ocaml Manual, for instance: `<a id="c:core-xamples"></a>`
It prevents from doing some CSS selections, for instance with lambdasoup.

[2019-11-04 20:17] Chris00 commented on #1093
HTML4 [allows colons in ID values](https://www.w3.org/TR/html4/types.html#type-id) and HTML5 is even more permissive.  So IMHO, it's lambdasoup that must be more permissive.

[2019-11-04 20:29] Chris00 commented on #1093
Now, we can see if a middle ground is possible — but the manual sources are in the same repository as the compiler https://github.com/ocaml/ocaml/tree/trunk/manual

[2019-11-05 07:31] sanette commented on #1093
so it seems that each side has a good reason for not moving... As far as I'm concerned, that's not really a problem; I can use a workaround.
 I was just mentioning this in case some party had a clear issue to correct.

[2019-11-05 07:46] aantron commented on #1093
@Chris00, In general, HTML5 is more permissive about *parsing* (in order to parse all the messy HTML out there), and more strict about *emitting* (in order to avoid creating any more such). Do you have a reference for HTML5 specifically allowing `:`?

For comparison, try this HTML file in your browser:

[code]

In my Chromium-based browser, this selector fails to match on the `p` element, though C

[2019-11-05 08:04] aantron commented on #1093
I just glanced through the HTML5 spec again, and my impression is that:

1. HTML5 does not itself forbid `:`.
2. From the CSS spec, using `:` in an id effectively makes it impossible to select that id using CSS.

So, `:` is "allowed" by HTML5, but it's best to follow the more restrictive requirements of CSS and not emit it.

[2019-11-05 08:22] aantron commented on #1093
Looking at CSS1 ["Forward-compatible parsing"](https://www.w3.org/TR/1999/REC-CSS1-19990111#forward-compatible-parsing), it looks like literal `:` has been disallowed in CSS selectors from the beginning, 1999 at the latest, 1996 at the earliest &mdash; search that section for "in CSS1". Given HTML4 was released in the same time frame, I'd say the HTML4 spec alone has never been sufficient to decid

[2019-11-05 10:51] Chris00 commented on #1093
@aantron Thanks for the detailed explanation.  [Your example](https://github.com/ocaml/ocaml.org/issues/1093#issuecomment-549702852) neither works on Firefox.  However links such as https://caml.inria.fr/pub/docs/manual-ocaml-4.09/index.html#p%3Atutorials do.  If I understand correctly, they also need to be changed because lambdasoup will not be able to handle them?

[2019-11-05 11:02] aantron commented on #1093
Yes, the explanation for links working is of course that they have nothing to do with CSS selectors. It's only CSS selectors that don't allow `:`. Lambda Soup has no problem with links, whether they contain `:` or not, but the links would change as a side effect of changing ids. The only thing Lambda Soup doesn't handle is `:` in CSS selectors (not ids, it parses ids with `:` fine, it just can't a

[2019-11-05 11:04] aantron commented on #1093
i.e. the DOM with ids containing `:` is loaded fine, and links into it work, but the elements with ids with `:` are specifically not reachable by CSS id selectors.

[2019-11-05 11:14] Chris00 commented on #1093
@aantron Thanks.

@sanette Is this issue a blocker to [mirror the manual on o.o](https://github.com/ocaml/ocaml.org/issues/1011) because you use lambdasoup?  Does that imply that older versions of the manual will not be mirrored?

[2019-11-05 11:28] sanette commented on #1093
@Chris00, no, as I said, this is not a blocker for me. Instead of using a CSS selector, I can parse the `id` field.

[2019-11-05 11:34] sanette commented on #1011
Is there a need to include versions older than 4.00?

[2019-11-05 11:35] aantron commented on #1093
Indeed, there should be at least two other ways to select the id:

1. Using an attribute selector (`[id=foo]`), which is what I think @sanette is using.
2. Using the functional interface with `Soup.filter`, `Soup.id`, and `Soup.first`.

Lambda Soup may also support escape sequences in id selectors, but I am not immediately sure about this.

[2019-11-05 17:06] pmetzger commented on #1011
@sanette I don't think so. Indeed, I think we can probably cut it off at 4.02 but you've already gone earlier than that.

[2019-11-09 16:13] sanette commented on #1011
Hi, I need some help... I'm generating the ocaml.org website locally, and trying to add the manual pages. This is driving me nuts. Here is an exemple: I modify ocaml.org/site/docs/index.md to
[code]
and then run `make`, and here is the generated code:
[code]
Notice how the `<pre>` has been closed prematurely.
What should I do??

[2019-11-09 16:17] pmetzger commented on #1011
That's a new one on me. I don't know the answer.

[2019-11-09 16:56] sanette commented on #1011
And I don't understand the logic of using markdown files to include HTML. This is very dangerous. For instance in the example above, if you inadvertently add 4 spaces before `<h1>` then it is recognized as code and it generates:
[code]

[2019-11-09 19:20] pmetzger commented on #1011
I'm not a giant fan of the way that the web site is set up (it's too complicated, IMHO) but fixing that would need to be a separate PR. :)

[2019-11-09 19:29] sanette commented on #1011
unfortunately, this is a blocker for me... because the ocaml manual uses <pre><div ...> for essentially all code snippets... :(

[2019-11-09 19:34] sanette commented on #1011
![Screenshot_20191109_203156](https://user-images.githubusercontent.com/7536536/68534014-260e3400-0330-11ea-825b-8d5dbbbf5959.png)

Here is my current experimentation.

You can see at the very bottom that ocaml code is not correctly recognized by the CSS, because of this `<pre>` issue.

[2019-11-09 23:08] Chris00 commented on #1011
I do not have time before Monday to look at the particular markdown problem you mention but you can output HTML files — they are also accepted.

[2019-11-10 08:27] sanette commented on #1011
@Chris00 , the problem is the same with HTML files, apparently they get modified.

[2019-11-10 11:25] Chris00 commented on #1011
Not much, see [Makefile.from_html](https://github.com/ocaml/ocaml.org/blob/master/Makefile.from_html).  This also explains why most HTML code is in markdown files: to use [template/main.mpp](https://github.com/ocaml/ocaml.org/blob/master/template/main.mpp) to “surround” the content.

[2019-11-10 13:13] sanette commented on #1011
What I meant is that the particular problem with `<pre>` happens also with html files.
If I write this `index.html`:
[code]
then the generated `index.html` is
[code]

[2019-11-10 17:46] sanette commented on #1011
Just a silly remark, but I lost one hour because of this: it turns out my ubuntu has a default option that aliases  `/manual` to the apache manual...

[2019-11-11 11:56] sanette commented on #1011
I have narrowed the problem down. At the end of the make process, the `script/relative_urls` is applied to all files (which is a bit brutal, by the way). It is this script that scrambles the `<pre>` tag away...

You can try it directly
[code]
where foo.html contains a `<pre><div...>` a above

[2019-11-11 11:59] sanette commented on #1011
So apparently the problem comes fro the `Nethtml` module. Where does this come from?

[2019-11-11 12:00] Chris00 commented on #1011
Yes, I came to the same conclusion.  The script `script/relative_urls.ml` parses HTML for the local rendering so that links can be browsed on the disk.  The HTML is parsed with `Nethtml`:
[code]
I believe `Nethtml` rewrites the HTML that way because `<div>` tags are not allowed inside `<pre>`.

[2019-11-11 12:07] sanette commented on #1011
" <div> tags are not allowed inside <pre>" ==> in this case we have to tell this to hevea.
Since version 4.05, this is the way Hevea outputs ocaml code... :(

[2019-11-11 12:52] Chris00 commented on #1011
[Issue opened](https://github.com/ocaml/ocaml/issues/9109).  This is not hevea's fault.

[2019-11-11 13:10] sanette commented on #1011
thanks

[2019-11-11 14:14] sanette commented on #1011
In the meantime I'm asking lambdasoup to replace these `div`s by `code`, so I can continue working on the manual.

[2019-11-11 20:29] Chris00 commented on #1093
In CSS, it seems that it seems that to escape `:`, it suffices to precede it with a `\`.  The following works (in Firefox):
[code]
Is it still necessary to modify the manual or hevea in view of this?

[2019-11-12 09:50] dbuenzli commented on #1093
Unless there's a browser interoperability problem I think you can close these issues. According to [this](https://drafts.csswg.org/css2/syndata.html#value-def-identifier) no invalid identifiers are being generated and it is quite easy to escape these `:`.

[2019-11-12 10:33] Chris00 commented on #1093
@aantron @sanette I have not see any browser issue (Firefox, Chromium).  Please let me know if it is different for any of you.

[2019-11-12 12:50] sanette commented on #1093
as far as I'm concerned, this is fine.

(Anyway I prefer not to use escaping to ensure I'm on a robust side, so I'm using the alternative ways mentioned above.)

[2019-11-12 13:05] Chris00 commented on #1093
IMHO, these ways should be mentioned in lambdasoup documentation.  That said, escaping is part of the CSS spec and should therefore be considered robust.  Maybe lambdasoup could even provide an `escape` function.

[2019-11-16 17:35] sanette commented on #1011
Following our previous discussions, here is what I propose for the `/docs` page.
![Screenshot_20191116_174911](https://user-images.githubusercontent.com/7536536/68996795-3e85cd80-089f-11ea-96e1-920120198069.png)

I will do a PR so that you can test and try by yourselves. But if you already have some comments, I can try to implement them. Of course it's not finished! At this point only the tutorial

[2019-11-16 18:04] sanette commented on #1011
I'm not very satisfied with the distinction between "Core Library" and "Standard Library". Maybe we should put both in the same block.
Btw in the manual itself it's not so clear: sometimes the Core Library (Stdlib) is called Standard Library, and sometimes all other modules are also called Standard Library.

[2019-11-17 11:25] sanette commented on #1011
I think this one is better:
![Screenshot_20191117_122256](https://user-images.githubusercontent.com/7536536/69006820-2bbdd800-0935-11ea-9b5e-73311a21b950.png)

[2019-11-17 11:38] sanette commented on #1011
you can check it out from my fork:

https://github.com/sanette/ocaml.org

[2019-11-17 20:52] sanette opened #1095 "ocaml doc: two "iterators" sections for List API"
https://caml.inria.fr/pub/docs/manual-ocaml/libref/List.html

=> there are two sections called "Iterators" (due to the recent addition of Sequences at the end)

[2019-11-18 18:35] pmetzger commented on #1095
This might need reporting in the ocaml/ocaml repository instead?

[2019-11-18 21:29] sanette commented on #1095
you're probably right. I wasn't sure where to report this.

[2019-11-19 16:03] #1095 closed

[2019-11-28 06:31] XVilka commented on #1021
Were there any updates regarding this one? Recently met this again.

[2019-11-28 06:41] Chris00 commented on #1021
Still waiting for @avsm.

[2019-12-04 00:47] pmetzger commented on #1021
@avsm ?

[2019-12-07 14:46] NikolasTzimoulis opened #1097 "Bash on Windows installation tutorial link is broken"
On the [installation page](https://fdopen.github.io/opam-repository-mingw/installation/) there's a part that says:

However the "see tutorial" link is broken, leads to some random spam.

[2019-12-15 16:56] agarwal commented on #1011
We should simply tell developers to run a dev server to view the site locally. A trivial `python -m SimpleHTTPServer` is all that is needed, and we could delete the URL munging.

This would also be resolved.

The library that ships with OCaml is called the "Standard Library". The "Core Library" is not the right name for it. That is an established name, and it refers to Jane Street's Core suite of

[2019-12-15 18:06] xavierleroy commented on #1011
For what it's worth:
- What is called "the core library" in the OCaml manual is everything that is available by default (without `Module.` qualification) in the initial environment.  It comprises built-in definitions and the contents of the `Stdlib` module.  We thought it important to document these first, before the standard library modules (those that require `Module.` qualification or `open Mod

[2019-12-15 20:17] agarwal commented on #1011
It's an unfortunate name clash. We can probably avoid any confusion easily though. For example, perhaps always say "The Stdlib core", with "core" in lower case. My concern was really "The Core Library" as a title, as shown in the image [above](https://github.com/ocaml/ocaml.org/issues/1011#issuecomment-554657852).

[2019-12-17 16:02] pmetzger commented on #1011
I think this can happen without much more work. At worst we can just put up the pages as is without any adaptation until we can come up with a process to make it a bit prettier.

[2019-12-22 21:53] markvital opened #1099 "Broken link to Ocaml toplevel [install.html]"
There is a broken link to Ocaml toplevel on the following page in "Browser" section:
[https://ocaml.org/docs/install.html#Browser](https://ocaml.org/docs/install.html#Browser)
<img width="593" alt="Screen Shot 2019-12-22 at 10 48 47 PM" src="https://user-images.githubusercontent.com/742796/71327818-a3bb8700-250d-11ea-8b1f-4dd73f30997c.png">
Clicking on the link "OCaml toplevel" gives 404 error

[2020-01-01 05:28] bruce-ricard commented on #1091
I often argue that world facing documentation, especially tutorials, are some of the most important things to get right. We might have lost people to the ocaml community already because they think we are a joke after looking at this doc.
That also seems like something that shouldn't take too long to fix, although I don't know :).

[2020-01-15 16:22] 769344359 opened #1103 "dead link"
`See [Compilation Tools](dev_tools.html#Compilationtools) `  the url `dev_tools.html#Compilationtools` is a dead link in

https://github.com/ocaml/ocaml.org/blob/master/site/learn/tutorials/compiling_ocaml_projects.md

[2020-02-04 15:41] damiendoligez commented on #1011
@pmetzger @sanette any news on this?

[2020-02-04 16:31] sanette commented on #1011
Hi Damien, personally I think that what I proposed on my fork (see message above) is quasi-ready to be put online, but I am not sure others would agree, as I had no feedback.
My opinion is that we should do it, even if later we reconsider; for instance if we want to move to sphinx.

[2020-02-04 18:03] pmetzger commented on #1011
@sanette Can you do a pull request?

[2020-02-05 21:03] sanette commented on #1011
ok I can work on this. As an aside question, can someone look into why the 'make' script in the ocaml.org dir is so slow (and makes my computer heat up). Each time I make a small modif and re-generate the 300 files of the Stdref, 'make' takes forever to preprocess the MD files. (maybe 10min -- about 2sec per file). Compared to the 2-3 seconds necessary to generate the 300 MD files, it makes me won

[2020-02-06 11:35] sanette commented on #1011
apparently for each .md file processsed, an `opam` instance in run, and fetches something on internet. This probably contributes to the slowness.
I we want to host the full ocaml manual, I think we should find a way to circumvent this to have a fast "make" each time we update the manual.

[2020-02-06 13:33] ahmadrasyidsalim commented on #1097
@NikolasTzimoulis Yes the link is broken, but you can be follow the step from this link: https://docs.microsoft.com/en-us/windows/wsl/install-win10 then install OCaml as on Ubuntu: https://ocaml.org/docs/install.html#Ubuntu-Ubuntu-19-10
[code]

[2020-02-06 14:36] sanette commented on #1011
I have uploaded all the API (standard) for 4.09 on my fork: https://github.com/sanette/ocaml.org
So we have now:

"tutorials" = chapters1--6"
"api" = chapter 25

It comes closer to something worth of a PR, however these are still missing:
* french translation of the doc page (and of all other manual/api pages, of course)
* API (chapter 25) for ocaml < 4.09
* all the "tools" pages (chapters 9-23),

[2020-02-06 19:13] dbuenzli commented on #1011
I'm not sure I understand fully what is being done here but I have a few concerns regarding [this screenshoot](https://github.com/ocaml/ocaml.org/issues/1011#issuecomment-554736257) and the end-user experience.

1. The way to access the manual for a particular version on that screenshot doesn't seem very user friendly. It's unlikely that I want to access these newly created subsets of the manual f

[2020-02-06 20:26] sanette commented on #1011
Hi Daniel
thanks for the feedback. Well, it's essentially negative, but at least it's a feeback.
Concerning your points:

1. I see what you mean, but I don't completely agree. If you tried the site, you'd see that once you select a version for some item, the version propagates automaticallly to all other items. Hence, after one first choice, you just need to click on the green button (or links) of

[2020-02-06 20:48] dbuenzli commented on #1011
My suggestion is to keep simple things simple (see the end of my previous message). There's no need for menus, JavaScript, cookies and what not for this; plain old and boring html files, hyperlinks and a good URI convention will perfectly do.

The point is that you don't want to have structural differences between the manual that is online on ocaml.org and the one you install locally on your machi

[2020-02-06 21:00] sanette commented on #1011
There are two different things: one is the manual (tutorials etc) and another one is the automatically generated 'api'. While it might indeed be desirable that the local version of the API matches the online one, I don't see this as crucial for the tutorial part. For the API part, it is not be difficult to achieve once people agree on the doc generator (ocamldoc or odoc)

[2020-02-06 21:37] dbuenzli commented on #1011
This is exactly what I see it as very crucial. If I'm reading the manual locally and want to point someone to the section I'm reading I simply want to find the same manual online and hunt the right section there (or even simply hack my local uri manually thanks to an obvious uri structure on `ocaml.org`).

What I really don't want to is go on ocaml.org, click through menus and have to sift through

[2020-02-07 08:02] sanette commented on #1011
Following Daniel's suggestions I have simplified the home page with only one selector for versions:

![Screenshot_20200207_090033](https://user-images.githubusercontent.com/7536536/74011570-82f9a480-4988-11ea-90d9-f190f7dbd64d.png)

[2020-02-07 14:48] yawaramin commented on #1011
@dbuenzli how would the search box work?

[2020-02-07 17:56] dbuenzli commented on #1011
There are other specialized websites specializing in search that will likely do a better job than a custom search box.

[2020-02-07 21:46] sanette opened #1105 "Makefile.common is executed too many times"
Because of the recursive structure of the Makefile (which calls make inside the Makefile),
it turns out that Makefile.common is executed for each processed file.
In this way, if you have 100 files to process, the command

`LATEST_OCAML_VERSION=$(shell opam list -V ocaml-base-compiler --no-switch -s --columns version | tail -n 1)`

is executed 100 times, which slows things down quite a lot.

[2020-02-10 18:58] pmetzger commented on #1105
Good catch.

[2020-02-21 08:31] #1103 closed

[2020-03-06 08:07] sanette opened #1108 "[Manual] change fibonacci example"
At the end of file `coreexamples.html` there is an example with the Fibonacci sequence.
_I know this is just an illustration_, and there is no claim that this function is correct, but it can be found by googleing, and it shows exactly what I'm trying to teach my students not to do... ;)

* (minor) the convention is not the same as Wikipedia, where  F_0=0, F_5=5...
* (quite bad IMO) the double recu

[2020-03-06 08:27] sanette commented on #1108
Sorry I should submit this to ocaml, not ocaml.org!
Closing

[2020-03-06 08:27] #1108 closed

[2020-03-07 18:53] vp2177 opened #1109 "404 Not Found for ocaml.org/releases/4.10.0.html"
[Link](//ocaml.org/releases/4.10.0.html)

Also, the [releases page](//ocaml.org/releases/) doesn't list 4.10.0.

[2020-03-13 07:27] XVilka commented on #1109
Should be fixed by https://github.com/ocaml/ocaml.org/pull/1106

[2020-03-16 07:53] Chris00 commented on #1109
The PR is merged.

[2020-03-16 07:53] #1109 closed

[2020-03-19 13:24] avsm commented on #1021
This is now upgraded and live, to ocaml.org and www.ocaml.org as an alternate name using the new LE validation scheme. Please reopen if you into any issues.

[2020-03-19 15:37] citizen428 commented on #1099
I fixed that in #1098 which was just merged, so I guess this issue can be closed /cc @avsm

[2020-03-19 15:53] avsm commented on #1099
Thanks @citizen428!

[2020-03-19 15:53] #1099 closed

[2020-03-19 21:27] zapashcanon commented on #1021
Could someone also set-up a permanent redirect from `ocaml.org` to `www.ocaml.ord` please ?

[2020-03-26 17:41] sanette commented on #1011
Here is my PR:

https://github.com/ocaml/ocaml.org/pull/1115

[2020-05-18 15:33] #925 closed

[2020-05-23 10:49] bikallem opened #1122 "Authors section in opam packages page extends beyond allowable length"
Screen shot below. error circled in yellow.

![image](https://user-images.githubusercontent.com/315907/82728928-62611a80-9ceb-11ea-9b78-facaf8a84180.png)

[2020-05-29 12:59] #1097 closed

[2020-06-15 17:22] danysdragons opened #1126 "All links on the cheatsheets page are broken!"
***All*** the links on the cheatsheet page https://ocaml.org/docs/cheat_sheets.html are currently broken.

**Broken**:

[The OCaml Language](http://www.ocamlpro.com/wp-content/uploads/2019/09/ocaml-lang.pdf)

[OCaml Standard Tools](http://www.ocamlpro.com/files/ocaml-tools.pdf)

[OCaml Standard Library](http://www.ocamlpro.com/wp-content/uploads/2019/09/ocaml-stdlib.pdf)

[OCaml Emacs Mode (Tuareg

[2020-06-18 09:12] eras opened #1127 "Certificate for www.ocaml.org is incorrect"
It instead provides the certificate of ocaml.org, which does not work for this domain it seems. The fix was apparently done in issue #1021 but perhaps it has broken at some point.

Steps to reproduce:
1) Visit https://www.ocaml.org/
2) Firefox says "SSL_ERROR_BAD_CERT_DOMAIN" that the certificate is only valid for ocaml.org

Expected: no error.

[2020-06-18 22:29] #766 closed

[2020-06-24 12:19] dbuenzli opened #1128 "Simple alias for the latest manual"
Since @xavierleroy's #1110 the manuals are now hosted on this website.

However the link to the latest version of the manual remains as hard to track as before and somehow https://ocaml.org/releases/latest/manual.html is a bit unconvenient to type.

Could we please have the obvious URI https://ocaml.org/manual redirect to the latest version of the manual ?

Also the link to the manual in the foote

[2020-06-24 16:22] xavierleroy commented on #1128
I fully support this request, especially if it supports "deep linking", e.g. https://ocaml.org/manual/native.html -> https://ocaml.org/releases/4.10/htmlman/native.html .  A symbolic link  on the server side would do fine.  FWIW, I couldn't figure how to do it as part of #1106

[2020-06-24 17:52] pw374 commented on #1128
Let's see if https://github.com/ocaml/ocaml.org/commit/9b8245a415ff864dc61b5538536ff571450bb5ee works... If it doesn't, I'll revert the commit...

[2020-06-24 18:19] pw374 commented on #1021
reopened because of https://github.com/ocaml/ocaml.org/issues/1127

[2020-06-25 08:10] dbuenzli commented on #1128
Works ! Thanks.

That being said I'm not sure the "deep linking" idea is such a good thing with respect to link rot. The problem is that users will effectively browse the manual from `http://ocaml.org/manual/`. So they will end-up cut and pasting links which could no longer work in the future because of structural changes to the manual.

Personally I think a simple `303` to ` /releases/latest/manu

[2020-06-25 15:21] pw374 commented on #1128
I'm almost surprised the symbolic link works (it was like a cheap 50-50 bet, it just depends on how the server is configured, and I haven't had access to the server for quite a while).

Now, that symbolic link doesn't actually provide a satisfactory solution.

As @xavierleroy pointed out (on the commit itself), it'll be a pain to update that manually for each release. It doesn't seem difficult to

[2020-06-30 13:06] hannesm opened #1132 "feed(s) not updated"
hey,

somehow I'm missing the most recent update of my atom feed (https://hannes.nqsb.io/atom) about `Traceroute` on the planet (https://ocaml.org/community/planet/). I checked my feed with the w3 validator, which reports it as valid atom 1.0 (with some recommendations), and now I'm curious whether the output of the feed gathering for the planet is available (I'd be keen to know what is problemati

[2020-07-01 08:49] Chris00 commented on #1132
Thanks for reporting.  I don't have time before next week to take a look at it.  The content is generated by `script/rss2html`.

[2020-07-05 18:03] xavierleroy commented on #1128
As I commented on  9b8245a, I'm not a fan of putting the symbolic link in the repository, because it will have to be updated at each release.  Perhaps our release manager @Octachron should voice his opinion, which has more weight than mine.

I still argue in favor of deep linking inside the manual.  The ocaml.org Web site contains TONS of such deep links already.  Plus, chapters have URLs that hav

[2020-07-06 05:52] pw374 commented on #1128
Well, I wouldn't mind doing the proper redirects... if I can have root access to the machine.
@Chris00? @avsm? I don't know who has root access these days.

[2020-07-06 09:59] Octachron commented on #1128
In term of maintenance burden, having to update the symbolic link seems commensurate to the rest of the release workload: creating a new release page, updating the release dates at three independent locations, adding the new version of the manual.

At the same time having one less moving part would be nice.

[2020-07-06 23:06] #1105 closed

[2020-07-06 23:27] pw374 commented on #1128
The hard coded symlink was meant to be temporary. If the symlink solution is "OK enough", we can use this: https://github.com/ocaml/ocaml.org/pull/1134 so that it'll be updated automatically. It's a simple enough thing, we do not need human intervention on that for each release.

Otherwise let's come up with a better solution. :)

I earlier said I could do proper redirects if I had root access, bu

[2020-07-13 14:43] johnwhitington opened #1136 "Proposal: reworking of Learn section of ocaml.org"
I have been asked by the OCaml Software Foundation [https://ocaml-sf.org](https://ocaml-sf.org) to spend a few hours on a proposal to refresh the Learn section of the OCaml website. To be clear, the few hours time for thinking about it and writing this document has been funded; the time taken to actually do the work relies upon some version of this proposal being accepted.

I feel it's important t

[2020-07-15 10:25] sanette commented on #1136
I think this is a most useful work you're undertaking. Thanks!

Concerning the separation between learn/documentation, we have to remember that the manual has its own "tutorial" chapters

[2020-07-21 14:23] Thra11 commented on #927
It appears to be broken again. (http://opam.ocaml.org/about.html links to http://ows.irill.org/, which results in "Server Not Found")

[2020-07-22 15:07] johnwhitington opened #1137 "Proposal: Setting up Your OCaml Environment"
I have been asked by the OCaml Software Foundation https://ocaml-sf.org to have a go at producing a guide for ocaml.org for those new to OCaml, provisionally entitled ``Setting up your OCaml environment''.

Please let me have any feedback in the next couple of weeks, so I can avoid making mistakes which might prevent its merging later.

### Introduction

When beginning a new language, starting by

[2020-07-23 08:39] sanette commented on #1137
thanks for the work. Just some remarks from my experience.

* concerning opam and dune
I was really nicely surprised when I finally decided to switch to dune. However it took me some time to realize that, when you have several personal packages that you want to use in a personal project, the simplest, by far, is to install them locally using opam with `opam install .`. Then you may refer to them i

[2020-07-23 12:58] avsm commented on #1136
John, thanks for starting off this discussion and for your proposal to rework the learning section. This is timely and important given the rapid release rate of OCaml over the past few years. A few high-level notes first:

- Going through the website and removing unsupported tools (e.g. like camlp4) would immediately be sueful.  That would be great to do at a high priority.

- From an infrastructu

[2020-08-06 11:04] gypsydave5 commented on #1137
Hi - I started learning OCaml 14 days ago. I followed the both the Real World OCaml instructions, installing opam and setting up Emacs on a Mac. I've programmed in a number of languages and have experience of reading lots of 'getting started guides'. Here's a few thoughts.

Setting up OCaml is actually _really easy_ - the community has done a good job here. You should boast about it! Rust is a goo

[2020-08-07 13:22] agarwal commented on #1137
Please consider also how [esy](http://esy.sh/) might fit into this page.

[2020-08-26 19:31] OnkV opened #1145 "Link "Release of OCaml 4.11.0" (News) is broken"
The link "Release of OCaml 4.11.0" in the news section on the start page is broken:
https://ocaml.org/releases/4.11.0.html

[2020-08-26 19:44] pw374 commented on #1145
Hopefully merging https://github.com/ocaml/ocaml.org/pull/1142 is enough to fix this.

[2020-08-26 20:03] pw374 commented on #1145
It seems it worked. Closing this. Thanks!

[2020-08-26 20:03] #1145 closed

[2020-08-28 10:28] jimt commented on #1126
The links to the cheat sheets appear to be fixed. I would suggest this can be closed.

[2020-08-28 22:29] #1126 closed

[2020-08-28 22:29] pw374 commented on #1126
Thanks

[2020-08-29 22:01] dmbaturin commented on #1132
The ocamlnet-based feed fetcher is broken on multiple levels now—I believe it has to do with newer protocol features, but since GnuTLS errors are so generic, it's hard to prove.

I made some good progress converting it to [curly](https://opam.ocaml.org/packages/curly/), but that has some rough edges too. Namely, current curly version cannot [handle redirects](https://github.com/rgrinberg/curly/iss

[2020-08-31 17:06] johnwhitington commented on #1136
Gone, or almost completely, in https://github.com/ocaml/ocaml.org/pull/1147

[2020-08-31 17:42] johnwhitington opened #1148 "Broken external and internal links"
I used an online free broken-link checker and found these:

[brokenlinks.pdf](https://github.com/ocaml/ocaml.org/files/5151771/brokenlinks.pdf)

Before I go about fixing them, what is the current procedure? Are there automatic checks in place? Or manual ones?

[2020-09-04 19:07] johnwhitington commented on #1148
This conversation was had on a PR, so closing this.

[2020-09-11 02:41] Khady opened #1158 "Broken external links"
Follow up on https://github.com/ocaml/ocaml.org/pull/1150

|URL                                                         |External outlinks to 4xx                                                                                                                                                                                                 |
|-----------------------------------------------------------

[2020-09-14 12:30] johnwhitington opened #1162 "Recommended building process for ocaml.org"
I want to see my .md changes reflected in HTML as quickly as possible. Is there a way other than just running `make -j9` each time, which takes more than two minutes on my machine?

What process do `ocaml.org` developers use?

Is there a makefile target I'm missing which generates just the HTML from the .md files, but ignores all the other work (i.e downloads from the internet)? Are any of the oth

[2020-09-16 12:06] madosuki opened #1164 "ocaml.org certificate has expired"
I got warning that SEC_ERROR_EXPIRED_CERTIFICATE from Firefox; Because certificate expired.

[2020-09-16 13:55] balsoft commented on #1164
Results in errors in documentation validity checks: https://gitlab.com/ligolang/ligo/-/jobs/740949654

[2020-09-16 20:45] madosuki commented on #1164
this issue closed, because that problem solved.

[2020-09-16 20:45] #1164 closed

[2020-09-22 10:33] patricoferris opened #1167 "OCaml Workflows"
## Explore OCaml

### Current Work

Hi everyone, I'm Patrick working at Tarides on a project called "Explore OCaml". The purpose of Explore is to provide an as-up-to-date as possible set workflows for being productive in OCaml. Primarily this is done utilising the OCaml Platform that @avsm talked about at the [OCaml Workshop](https://youtu.be/E8T_4zqWmq8?t=2506) as well as some battle-tested commu

[2020-09-22 15:40] Chris00 commented on #1162
The environment variable `SET_STAGING` set by the default make target is supposed to accelerate things.  Given what you say, it may not be optimally taken into account by scripts, which do most of the downloading (the result of which is cached for 1h if my memory serves).  I recompiled the site right now and noticed no downloading but the part that is taking time is the processing of URLs to make

[2020-09-22 16:17] johnwhitington commented on #1162
Thanks. I will try to produce a patch to allow one to skip the script/relative_urls: frequently I just want to view the page I have edited, not navigate anything.

[2020-09-24 08:23] Elarnon opened #1168 "Patch releases are missing installation information"
For a new minor version (e.g. https://ocaml.org/releases/4.11.0.html ) the release page includes information about how to install them: they list the available OPAM switches, and include a "Source distribution" section with links to tarballs.

On the opposite, patch releases (e.g. https://ocaml.org/releases/4.11.1.html or https://ocaml.org/releases/4.10.1.html ) include none of them, leaving the u

[2020-09-28 10:30] avsm opened #1169 "Q4 2020: refresh *.ocaml.org system infrastructure"
The system infrastructure running the *.ocaml.org services has been tracked in a combination of private repositories and email lists. This ticket tracks the effort to shift this to a more centralised place on ocaml.org, and focusses on intended changes in the Q4 2020 timeframe.

This is partly to reflect the growth of the infrastructure and requests from more people to contribute to it, and also t

[2020-09-28 10:33] avsm opened #1170 "email: lists.ocaml.org and inbox.ocaml.org"
# lists.ocaml.org

*status: sustain -> deprecate*

We've had email lists hosted at lists.ocaml.org since around 2013, based on an Exim and Mailman setup. In the past few years, the usage of the mailing lists has dropped off sharply in favour of other collaboration tools (most notably, our own https://discuss.ocaml.org).  More worryingly, the amount of spam I've had to deal with has sharply shot up

[2020-09-28 10:35] avsm opened #1171 "Incubate docs.ocaml.org"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

*status: incubate*

This is an effort to bring a centralised documentation index to ocaml.org, using the new [odoc](https://github.com/ocaml/odoc) tool.  It requires building a large number of opam packages, gathering their build artefacts, and feeding them into a odoc driver such as odig, dune, or a forthcoming

[2020-09-28 10:39] avsm opened #1172 "Deprecate forge.ocaml.org"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

*status: deprecate*

Hard though it is to remember, there did exist life before GitHub. For the OCaml community, this was in the form of the [OCaml Forge](http://forge.ocamlcore.org) run by @gildor478.  The migration to ocaml.org (from ocamlcore.org) never fully went ahead and the site was deprecated to new users

[2020-09-28 10:44] avsm opened #1173 "migrate opam.ocaml.org to within ocaml.org"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

*status: active*

When ocaml.org first launched, the opam package manager was in its infancy.  Six years on, opam has become the standard way to manage OCaml packages, and it would be good to reflect that on the main website.  There is considerable duplication on some of the content (notably the installation inst

[2020-09-28 10:53] avsm opened #1174 "Document discuss.ocaml.org and plan chat.ocaml.org"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

*status: active*

The https://discuss.ocaml.org service has been running happily for a couple of years now, with rising usage and engagement numbers. It is hosted on the Discourse hosting plans (happily covered by @avsm) and has run without issue. I would like to acknowledge the sponsorship of the Discourse team

[2020-09-28 10:58] avsm opened #1175 "migrate discord.ocaml.org to a new cluster"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

There is a chat bridge (`matterbridge`) which operates as a bot for the OCaml Discord community. This is currently running on a Rackspace host and needs to be migrated away. This is a good chance to see if we can configure it as as a Dockerfile instead of directly on the VM.

I set this up originally in April 201

[2020-09-28 11:01] avsm opened #1176 "plan a public git.ocaml.org service"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

*status: incubate*

We currently have a private machine that mirrors a few hundred git repositories from GitHub to a filesystem.  This isn't exposed to the outside world, but there have been a few requests to do so.  The first reason is in the event of an outage in GitHub to increase availability of our source co

[2020-09-28 11:02] avsm commented on #1168
Thanks for the report; we should definitely harmonise all the patch releases with the same availability and installation information.

[2020-09-28 12:42] avsm commented on #1170
Digging through my email, the inbox.ocaml.org scripts by @nojb are at https://github.com/nojb/caml-list-mirror

[2020-09-28 12:58] avsm opened #1177 "migrate ci.ocaml.org away from datakit-ci to ocurrent"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

The current CI running on the opam repository is one based on [datakit-ci](https://github.com/moby/datakit) (source code: https://github.com/avsm/mirage-ci).  It is the infrastructure that listens for GitHub PRs and runs the custom checks required for every package accepted to the opam-repository.

Over the past

[2020-09-28 13:05] avsm opened #1178 "www.ocaml.org needs to migrate machine host"
*See https://github.com/ocaml/ocaml.org/issues/1169 for the overall tracking issue.*

The existing www.ocaml.org needs to migrate host fairly urgently, so this is a good time to take stock of its deployment mechanism.

- *currently:* cron job on the VM rebuilding it. Not currently working due to an issue compiling `ssl` since the #1151 change ent in. Hence merged PRs aren't showing up.
- *next ste

[2020-09-28 13:09] avsm commented on #1167
Many thanks for your work on this Patrick, and for posting the summary here.  I'm working on making the ocaml.org site infrastructure be easier to contribute to (see https://github.com/ocaml/ocaml.org/issues/1178), and so I suggest:

- making a separate version of your site for now to demonstrate the workflows and utility, and get community feedback on them
- when the various pieces in https://git

[2020-09-28 13:10] avsm commented on #1162
I'm looking at the fix to the website to get it updating again (see https://github.com/ocaml/ocaml.org/issues/1178) -- should have that in a day or two I hope @Chris00!  I've got a broader patch to port the website build to dune, but that will take some time and testing to settle down, so for the moment patching the Makefile should be fine @johnwhitington.  I'll rebase my dune port and open a WIP

[2020-09-28 13:11] avsm commented on #1127
I'll fix this as part of https://github.com/ocaml/ocaml.org/issues/1178

[2020-09-28 13:11] avsm commented on #1021
I'm fixing this as part of https://github.com/ocaml/ocaml.org/issues/1178

[2020-09-28 13:13] avsm commented on #1038
The Camlp4 pieces have been removed in https://github.com/ocaml/ocaml.org/pull/1147

[2020-09-28 13:13] #1038 closed

[2020-09-28 13:15] johnwhitington commented on #1162
Unfortunately, if we skip the script, even a single page is not viewable properly, since the CSS can't load. So, I need to look at either (a) speeding up script/relative_urls if it is inefficient, or (b) having it run only on a given file.

(By the way, when I load the site locally, I always get a different body font compared with loading ocaml.org itself. Anyone else?)

[2020-09-28 13:17] patricoferris commented on #1167
Thanks @avsm, sounds like a plan 🍂 🧹 !

If anyone comes across this issue then do feel free to head over to [Explore OCaml](https://github.com/ocaml-explore/explore) and contribute whether that's fixing typos, imparting valuable workflow information or otherwise:
 - Contributing Guide (for completely new people): https://github.com/ocaml-explore/explore/blob/trunk/CONTRIBUTING.md
 - Workflows: htt

[2020-09-28 13:20] sanette commented on #1162
I get the correct font. The font is loaded by the CSS, so it's maybe related to your other question

[2020-09-28 14:31] gs0510 commented on #1174
@avsm Would you consider adding a consolidated search across https://discuss.ocaml.org, mailing list and the future synchronous chat channels? I think a lot of wisdom is lost without this consolidated search :slightly_smiling_face:

[2020-09-28 18:22] gildor478 commented on #1172
I'll send you a PR with that, but I will need someone to proofread me.

[2020-09-28 18:26] avsm commented on #1172
Thanks! I’d be happy to go through it; am spending a burst of time working on the website at the moment.

[2020-09-29 03:45] bluddy commented on #1175
Off the top of my head, this should be doable. The only thing that needs to
be kept secret is the discord webhook uri. Currently this resides in the VM
itself and in the admin panel on discord. Is there a method for keeping
things secret with a dockerfile?

On Mon, Sep 28, 2020, 6:59 AM Anil Madhavapeddy <notifications@github.com>
wrote:

[2020-09-29 14:11] avsm commented on #1175
Yes, you can use Docker secrets for this (https://docs.docker.com/engine/swarm/secrets/). It's essentially just a file on the container filesystem, so if you could create a Dockerfile that assumes the webhook uri is in a particular place, I can take care of hooking it into the cluster deployment.

[2020-09-29 14:12] avsm commented on #1174
That's a great point @gs0510.  I think we'll need to think about what a consolidated search engine would look like for ocaml.org, since it should also get the API docs indexed (#1171, @jonludlam).  I'll split that out into a separate roadmap issue for next year once we get the short term stuff out of the way.

[2020-10-06 15:45] avsm commented on #1175
@bluddy, do you have a sense of when you can get me this Dockerfile?  I need to plan the migration to the new cluster.

[2020-10-07 13:01] kanishka-azimi commented on #1176
Consider gitlab, rhodecode, gitea, if they are useful to this project.

[2020-10-07 13:12] kanishka-azimi commented on #1136
I would survey scala, clojure, kotlin, elm as well, when glancing at other communities. I had thought about this topic a bit and felt that teach.ocaml.org should be separated out as well, and I noticed kotlin also creates a section for teach.

[2020-10-07 13:37] kanishka-azimi commented on #982
Notes from my recent research, these are promising possibilities that use some or all ocaml:
- hugo + isolated reasonreact apps for dynamic portions
- next.js (ssg only) + reasonreact (used by rescript lang dot org)
- gatsby.js + reasonreact (some instructions available)
- finch (ocaml ssg) + isolated reasonreact apps for dynamic portions

[2020-10-07 13:46] kanishka-work opened #1182 "per page attribution"
I like scala websites per page attribution, rather than site wide. Here is a link to how they implemented it: https://github.com/scala/docs.scala-lang/blob/404fe0ff9837755c03f66adb52a07722427466b6/resources/js/functions.js#L484

[2020-10-07 13:56] kanishka-azimi commented on #1174
Companies are becoming more open each year, with their operating manuals on GitHub, and more of their code being open source. I think some companies will move their company chat to become a channel or topic within language specific forums like chat.ocaml.org, if they are mostly using one language. For example, ocamllabs might choose to become a channel within chat.ocaml.org. This would reduce cogn

[2020-10-07 16:29] Fourchaux opened #1184 "List of "New packages" not updated"
No new packages since the Sep. 7, 2020.

[2020-10-07 16:29] avsm commented on #1178
New hosts set up, and adding a deployment to https://github.com/ocurrent/ocurrent-deployer/pull/40 (live at https://deploy.ocamllabs.io).  This is the ocurrent-based deployer that will be used for the nextgen opam CI, so it's convenient for everything to be managed from one place.

[2020-10-09 06:03] kanishka-azimi commented on #980
Whether this is on a Platform page or on the home page, the widget itself still doesn't to add value. If its appealing to experienced ocaml devs, I would want to know the following information (but I wouldn't care about the "number" of the new version):

* if its a new package, i would want to know its name, its tags, and a one line blurb on its functionality (with a link to more detail or the dis

[2020-10-09 12:13] kanishka-azimi commented on #1174
Some other random notes:
- matrix/element bought gitter and will be integrating it
- in terms of longevity, mattermost has an impressive agpl license, while zulip has a wide set of contributors and a founder who is committed to keeping it open source, even if outside investors take it over
- I would personally choose cloud hosted zulip or mattermost, but should do a community server of which syste

[2020-10-10 07:36] sanette commented on #980
I made an attempt to reorganize this page here: https://github.com/ocaml/ocaml.org/pull/1124

[2020-10-11 12:46] kanishka-azimi commented on #746
Content note: unh AI lab uses ocaml exclusively

I am interested in being long term admin for this data set/page

[2020-10-11 12:59] kanishka-work opened #1185 "change the main action from "install" to either "guided tour", "try", or "success stories""
"Install ocaml" is too large an ask for new website visitors.

If "guided tour" is selected , I would link directly to RWO chapter for now

My vote is for "success stories"

----

Alternatively, if the website is truly focused on experienced ocaml developers rather than people getting to know ocaml, then I would set the key action to one of the following:
* "Join the Discussion", linking to discus

[2020-10-11 12:59] kanishka-azimi commented on #1185
Also, move install instructions page to opam website

[2020-10-11 13:19] kanishka-azimi commented on #1174
Regarding consolidated search, maybe ahrefs would be willing to provide technical guidance?

[2020-10-11 15:43] kanishka-work opened #1186 "Pages mapping examples in other languages to ocaml"
Most people who arrive at ocaml.org will already have learned java, javascript, or similar. Provide people with a quick mapping from their familiar knowledge to ocaml with side by side examples. I would start with the following languages:
- python
- java
- javascript (node)
- golang

I would avoid haskell, scala, etc, as they are already use similar paradigms as ocaml.

[2020-10-12 11:35] avsm commented on #1184
Will be fixed by #1178

[2020-10-12 11:36] avsm commented on #1178
http://www2.ocaml.org is now working reliably -- just needs TLS/LE setup to activate HTTPS and then can migrate to www.ocaml.org

[2020-10-12 18:05] kanishka-azimi commented on #1136
This will be a recurring problem, as ocaml style and base libraries will keep slowly evolving. Some have proposed compiler checks of the source to make sure its accurate. That's a good start, but I think crowdsourcing this content every ~6 months will probably result in more engaging and fresher content. I would do it as follows:

1. Every six months, pick ~4 problems in the style of advent of cod

[2020-10-14 12:41] kanishka-azimi commented on #1176
Openproject is one possibility for github issue independence.

[2020-10-16 23:40] kanishka-work opened #1189 "codesearch.ocaml.org (sourcegraph instance)"
Consider talking to sourcegraph to see if they can index all repositories hosting ocaml code (github, gitlab, organization specific gitlab instances,...) and provide a hosted solution at a discount.

You can find an example here: https://sourcegraph.com/golang

Sourcegraph mentioned that they created this: https://sourcegraph.com/search?q=repogroup%3Aocaml-gh-100++type%3Arepo+count%3A1000&patternT

[2020-10-26 08:54] avsm opened #1195 "containers: remove "fat" compiler images"
When the container images on https://hub.docker.com/r/ocaml/opam2 were first assembled, the intention was to provide a distribution-specific image with all of the OCaml compilers available in a single image. This in turn allowed for CI systems to pull a single image and then `opam switch` into the different compilers very efficiently.

However, as time marches on, the number of simultaneous compil

[2020-10-28 19:09] kanishka-work opened #1198 "ocaml-steward.ocaml.org"
https://www.scala-lang.org/blog/2019/07/10/announcing-scala-steward.html - I see these PRs often in scala projects. It would be nice to eventually have this available for ocaml.

[2020-10-29 18:43] kanishka-work commented on #1189
I would rank this especially high because there is a much larger proportion of ocaml code on github than opam currently and we should try to make this code discoverable.

[2020-10-30 04:26] pw374 commented on #1178
any update on this? :)

[2020-11-02 17:31] patricoferris opened #1199 "Improve contrast ratio"
## Problem

Modern web accessibility tooling flags many of OCaml.org's pages as failing in some easily fixable areas. Most notably (and the topic of this issue) in contrast ratio between two elements, mainly the orange links and the white background. This is thanks to @ILeandersson's work in this area.

To reproduce the web accessibility reports one can either:
 - Visit this link: https://wave.web

[2020-11-02 19:00] kanishka-work commented on #1174
https://github.com/typesense/typesense - may be useful, open source algolia clone

[2020-11-04 10:43] patricoferris opened #1202 "Label for search field"
## Problem

Carrying on from the accessibility work in #1199, currently there is no `<label>` associated with the search field at the top of pages. Whilst it may seem that the placeholder text is enough, it would seem [this is not necessarily well supported](https://www.w3.org/WAI/tutorials/forms/instructions/#placeholder-text) whereas labels are.

## Solution
Add a [visually-hidden](https://www.a

[2020-11-06 18:00] avsm commented on #1178
www.ocaml.org has now shifted (to 51.159.78.124) and the apex ocaml.org is also moved over to 51.159.78.124, which is the new host.

I'm keeping an eye on it for the next few hours, and then will merge https://github.com/ocurrent/ocurrent-deployer/pull/43 . I then need to look at the pwiki setup to modernise that and migrate the database over.

[2020-11-06 19:12] avsm commented on #1199
Merged #1201, please do open more PRs related to fixing these.

[2020-11-06 20:10] kanishka-work opened #1204 "can't reach ocaml.org"
Using firefox, trying to reach https://ocaml.org, I get the following message:

[code]

[2020-11-06 20:36] gasche commented on #1204
(Same error here.)

[2020-11-07 00:09] #1204 closed

[2020-11-07 00:10] kanishka-work commented on #1198
Too much of a reach. Re-open this later, if it becomes a priority, or move this to a repo tracking wishlists for ocaml community CI related tasks

[2020-11-07 00:10] #1198 closed

[2020-11-07 00:11] kanishka-work commented on #1185
Larger changes will probably address this. Closing this narrower request.

[2020-11-07 00:11] #1185 closed

[2020-11-07 00:19] kanishka-work opened #1205 "Plans for persuading/speaking to audience outside of ocaml in the future"
Most likely the ocaml.org site will stay focused on developers already using ocaml. At some point in the future, if ocaml.org expands its goals to persuading programmers generally, here are some notes:

Ocaml.org can start to serve people debating whether to try as well as tech leads (including professors ) debating whether to adopt, as well as a central hub that directs people to decentralized co

[2020-11-08 00:41] kanishka-work commented on #1186
Seems low priority currently. Close for now

[2020-11-08 00:41] #1186 closed

[2020-11-08 00:42] kanishka-work commented on #1182
Low priority, close for now

[2020-11-08 00:42] #1182 closed

[2020-11-08 00:46] kanishka-work commented on #1189
Useful, but reimplementing opam website might be higher priority for now. Closing this until opam web is updated

[2020-11-08 00:57] kanishka-work commented on #1205
Reopen later

[2020-11-08 00:57] #1205 closed

[2020-11-08 01:53] kanishka-work commented on #1167
I would add a link to explore in the header of awesome-ocaml and the homepage of ocamlverse, to help beginners now, until this content gets into ocaml.org proper

[2020-11-09 23:51] #1202 closed

[2020-11-09 23:51] #1199 closed

[2020-11-10 09:07] avsm commented on #1021
Now done and live.

[2020-11-10 09:07] #1021 closed

[2020-11-10 09:08] avsm commented on #1178
This is no longer urgent, but I'll be doing one more shift in host to have zero-downtime updates of the website (using `docker service` via a front-end load balancer rather than directly exposing the host using SNI).

[2020-11-10 09:08] avsm commented on #1184
Now fixed.

[2020-11-10 09:08] #1184 closed

[2020-11-10 09:09] avsm commented on #1158
These are all now fixed. Thanks @Khady and @johnwhitington for the fixes!

[2020-11-10 09:09] #1158 closed

[2020-11-10 09:10] avsm commented on #1127
Fixed.

[2020-11-10 09:10] #1127 closed

[2020-11-10 09:11] avsm commented on #1195
We are now pushing to https://hub.docker.com/r/ocaml/opam with the "slim" compiler images.  (see https://github.com/ocurrent/docker-base-images/pull/68)

[2020-11-11 04:06] kanishka-work opened #1212 "Update index page news feed logic to use discuss + tagged topics"
Change the index.md news feed logic to do the following:
1. Keep the existing ability to hardcode announcements inline
2. Change from automatic fetch of latest planet posts to automatic fetch of all posts tagged with "publish-to-ocaml-org" on discuss.ocaml.org.

The end result behavior will be similar, as most people who post to their blog can simply link to their post in discuss and message admin

[2020-11-11 04:12] kanishka-work commented on #1212
There has also been talk of using a separate git repo to house the data, connect to this repo as a submodule. I am not clearing on the benefits and the need for any storage to disk/git

[2020-11-11 07:51] Chris00 commented on #1212
What would the planet become in such a scenario?  How does this articulate with https://ocaml.org/community/?

[2020-11-11 16:41] kanishka-work commented on #1212
Under this scenario, I think planet would stay as is, and still be available through its dedicated page. The "news feed" on the community page can stay dedicated to planet and some announcments. The box on the homepage can be called something else like "announcements and discussion highlights". I'll leave it up to others to decide overall on these points and whether to actually adopt this or just

[2020-11-11 17:59] kanishka-work commented on #1212
Here's some sample code that gets 80% there:

[code]

[2020-11-11 20:25] patricoferris commented on #1167
Good idea @kanishka-work -- it might also be useful to publicise more generally (as WIP) given the recent results of the OCaml survey where document/opam+dune/workflows featured quite heavily imo.

[2020-11-13 05:37] kanishka-work commented on #1212
@avsm does this meet the requirements well enough or is there some subtly that I missed? If it's accurate, then I will finish it up to be fully functioning

[2020-11-13 17:39] kanishka-work opened #1214 "Make Edit icon bigger, add "Help improve this page!" text, change link to "edit" instead of "blob""
Change links from:
https://github.com/ocaml/ocaml.org/blob/master/site/index.md
to
https://github.com/ocaml/ocaml.org/edit/master/site/index.md

[2020-11-13 19:53] suany opened #1215 "Download link missing (or hard to find)"
In https://ocaml.org/docs/install.html, under From Source, it says to "Download an OCaml Release", which links to https://ocaml.org/releases/, but none of the pages under releases has an obvious link to download a distribution. The distrib link is hidden in the "Earlier releases are available here" bullet at the bottom of releases/.

[2020-11-13 21:10] johnwhitington commented on #1137
This work was merged.

[2020-11-13 21:10] #1137 closed

[2020-11-13 21:10] #1162 closed

[2020-11-13 21:34] pveber commented on #1091
It seems the page is still there, although not reachable anymore from the tutorial page. If there's an interest, I could translate it to `Seq`, but I'm not sure it's worth the trouble if there are no longer term plans.

[2020-11-14 13:37] dbuenzli commented on #1091
Please don't. `Seq` is the wrong thing to use for dealing with ressources. Sample code doing the wrong things is unproductive for newcomers.

[2020-11-14 14:59] kanishka-work commented on #1215
So each link in the release notes should have two links?
`
OCaml 4.11.1(release notes link, source tarball link), released Aug 31, 2020.
`

Should the source download link be from inria or github releases?

[2020-11-14 15:04] kanishka-work opened #1216 "remove "logos" link from homepage navigation"
Move the link somewhere else, most visitors do not need to access the logos page

[2020-11-15 12:40] pveber commented on #1091
Gasp, I didn't expect you'd be eavesdropping here ;). More seriously, I understand and share your concerns (at least what I've read from you on the inclusion of `Seq` in the standard library). Ideally, this tutorial should be replaced by another one on more advisable techniques for streaming algorithms, including beginner-friendly solutions. In any case, leaving it in that state is really not that

[2020-11-15 14:13] dbuenzli commented on #1091
🕴

I think that's the best course of action. `Stream` has been [on the verge](https://github.com/ocaml/ocaml/issues/6711) of being deprecated for the last past… 6 years. Mentioning it to newcomers seems not to be the best use of their time.

[2020-11-16 13:44] kanishka-work commented on #1216
Can discuss in or, closing this

[2020-11-16 13:44] #1216 closed

[2020-11-16 14:00] kanishka-work commented on #980
This commentary is awesome, hope we do most of these

[2020-11-16 14:04] kanishka-work commented on #733
This is done

[2020-11-16 14:08] kanishka-work commented on #1212
Related: https://github.com/ocaml/ocaml.org/issues/393

[2020-11-16 14:23] kanishka-work commented on #887
Would be useful to have this commentary linked in from the style guide.

[2020-11-16 14:43] kanishka-work commented on #980
In line with thoughts above, I propose:

* planet.ocaml.org
* ninetynine.ocaml.org
* manual.ocaml.org
* platform.ocaml.org
* opam.ocaml.org
* teach.ocaml.org
* conferences.ocaml.org
* try.ocaml.org (ocamlpro link is fine for now)

www.ocaml.org can focus on the bare minimum tutorials to get some taste of the language, directing to books / ocamlverse / etc for deeper learning, as well as community

[2020-11-16 18:23] kanishka-work commented on #237
Note: Can use a tag on tech focused peertube instance(s) such as https://scitech.video/search?tagsOneOf=python , to actually house videos

[2020-11-17 14:23] avsm commented on #1175
Checking in on this. The Discord server is one of the few things keeping me paying for the Rackspace Cloud account...

[2020-11-17 15:27] kanishka-work commented on #980
@bluddy imagine there are a bunch of smaller sites, what was your vision for how they would link together? Would there be a topbar that notes all the sites and people would start at one of the sites and use the top bar to navigate to peer sites?

[2020-11-19 12:18] agarwal commented on #733
I also confirm ocaml.net is forwarding to ocaml.org. Not sure who configured this, but we have confirmation that Xavier owns the domain. So I think we're all good on this issue. I'm closing. @sharpjs Thank you!

[2020-11-19 12:18] #733 closed

[2020-11-19 15:17] kanishka-work commented on #982
Close this, given upcoming efforts?

[2020-11-19 17:48] kanishka-work opened #1218 "Add instructions for inspecting build logs for staging build"
For people submitting PRs, occassionally they may want to read the build log output if there is a failure to deploy to staging.ocaml.org . Under the "maintainers" section, add one sentence explaining how to view the logs for a given deploy to staging. @avsm

[2020-11-20 17:13] kanishka-work opened #1219 "Install gatsby, create initial project using gatsby tutorial as guide"
As part of experiment with gatsby, install gatsby cli, create an empty project and observe the sample site after building

[2020-11-20 17:47] #1219 closed

[2020-11-20 17:50] kanishka-work opened #1220 "Add a few markdown files to empty gatsby project"
As part of experimenting with gatsby, add a few markdown files, and observe their rendered output in a starter site.

[2020-11-20 18:55] #1220 closed

[2020-11-20 18:58] kanishka-work commented on #1214
Consider this later

[2020-11-20 18:58] #1214 closed

[2020-11-20 19:00] kanishka-work commented on #1212
This was to track an interest that Anil mentioned. Can reopen whenever there is time to finalize requirements.

[2020-11-20 19:00] #1212 closed

[2020-11-25 02:55] kanishka-work commented on #739
At present, this might fit best in ocamlverse?

[2020-11-25 02:58] kanishka-work commented on #746
Maybe just rename "Companies using OCaml" to "Organizations using OCaml", maybe tag each organization with a type like "company", "research lab", etc.

[2020-11-25 03:12] kanishka-work commented on #80
I believe this issue should be closed. Looks like everything noted has been addressed.

[2020-12-01 14:12] avsm commented on #1215
That's right -- two links is fine. The source download link should be from GitHub Releases.

[2020-12-03 17:28] benjub commented on #1091
Maybe it would be more useful to tell what the *right* thing to use is ?  As a newcomer, I found https://ocaml.org/learn/tutorials/stream_expressions.html through a duckduckgo search last week, and it seemed to answer perfectly my problem. (I am writing a small lexer that reads a text file as a Stream of characters and returns a Stream of tokens.) What should be used instead of Stream ? (I did not

[2020-12-03 17:51] pveber commented on #1091
I think there are much better alternatives nowadays, for example you can have a look at [angstrom](https://github.com/inhabitedtype/angstrom/), or [menhir](http://gallium.inria.fr/~fpottier/menhir/) for more complex parsers and better error messages in case of syntax errors.

[2020-12-07 11:25] patricoferris commented on #939
I've looked into this and it appears the reason for the deadlink is that the initial collecting of markdown files doesn't include symbolic links: https://github.com/ocaml/ocaml.org/blob/master/Makefile#L46 and the file in question is indeed a symbolic link to `0.75`: https://github.com/ocaml/ocaml.org/tree/master/site/caml-light/releases

Adding `-type l` to that find statement fixes this locally,

[2020-12-07 12:37] patricoferris commented on #1218
It might also be worthwhile (unless it exists somewhere I can't see) adding a pre-PR checklist. For example it might be useful to add a "test it locally" with something like:

[code]

Then go to localhost:8080.

[2020-12-07 16:12] patricoferris opened #1223 "OCaml Operator Lookup"
Recently @craigfe produced an excellent web application for [understanding OCaml's operators](https://www.craigfe.io/operator-lookup/). It was received [very well](https://twitter.com/_craigfe/status/1333365035779940353) [by many](https://discuss.ocaml.org/t/ann-operator-lookup-tool-for-ocaml/6882)! I think this would make a great addition in the form of a link in the learning section of OCaml.org

[2020-12-09 00:53] kanishka-work commented on #1189
i want to keep this request open, but outside of this repo. can someone create another repo to track requests for new services under ocaml.org umbrella?

[2020-12-10 19:22] kanishka-work opened #1226 "real time tinymce success story"
https://www.tiny.cloud/blog/tinymce-reasonml/ summarize this as a success story. Alternatively, this could be a combination success story describing ReScript compiler and a few projects that have been built with ReScript.

[2020-12-10 20:52] kanishka-work commented on #1189
Will mull on this and come up with a concrete issue organization approach

[2020-12-10 20:52] #1189 closed

[2021-01-02 21:51] kanishka-work commented on #982
If you look at how ReScript/reasonml is using docusaurus, the equivalent in the ocaml world would be using it to build out the official tutorial and reference docs for important libraries such as core, async, lwt, postgres bindings, web frameworks.

[2021-01-03 13:59] kanishka-work commented on #1226
Someone can reopen this later when success stories are actively being reorganized.

[2021-01-03 13:59] #1226 closed

[2021-01-05 14:14] #939 closed

[2021-01-13 05:42] kanishka-work commented on #1218
If the site ends up using Vercel or Netlify, the instructions can link directly to the Vercel or Netlify documentation page for viewing logs. I'll close this for now and reopen if `ocurrent` is used in the future.

[2021-01-13 05:42] #1218 closed

[2021-01-18 01:36] pw374 opened #1229 "404 on logos"
404 on logos from https://ocaml.org/docs/logos.html

[2021-01-18 12:41] patricoferris commented on #1229
Thanks for the report :)) After a lot of Github archaeology I think I've found the source of this bug -- it seems the logos have always been vendored in manually (it's never been part of the build script). The logos coming from https://github.com/ocaml/ocaml-logo.

 - From 2014: https://github.com/ocaml/ocaml-logo/issues/2#issuecomment-39951892
 - From 2016: https://github.com/ocaml/ocaml.org/issu

[2021-01-27 09:46] gares opened #1233 "Release notes pointers to ocaml-java and bucklescript"
At least from 4.07.0 on I see:
[code]
The former link is broken.
The latter link works, but I read "The compiler supports the whole OCaml language (version 4.01.0)..." and the last news dates 20015, last commit 2016. Are you sure you want to advertise this (at every release)?

[2021-01-27 11:21] Octachron commented on #1233
It is a good question, and I am very tempted to remove the links to alternative compilers that don't support the corresponding OCaml compiler.

[2021-01-28 17:14] patricoferris commented on #1229
The logos should be fixed :)) https://ocaml.org/docs/logos.html

[2021-02-09 11:32] patricoferris opened #1236 "Small Improvements for Docs Page"
This would be a good first issue for anyone looking to get started improving and contributing to OCaml.org.

### IFrame Titles

Using [`pa11y`](https://github.com/pa11y/pa11y) to perform an accessibility audit on the https://ocaml.org/docs page using the [WCAG2AA](https://www.w3.org/TR/WCAG21/) standard revealed a some small improvement that can be made:

 - The videos (which are `iframe` elements

[2021-02-09 12:08] patricoferris opened #1237 "Footer width on mobile"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

Currently when viewing the site on a mobile device (or from some quick testing anything less than `768px` in width) the footer no longer stretches completely across the bottom leaving some white margins on either side. I believe it would look better if it (like on larger screen sizes) s

[2021-02-09 18:29] avsm commented on #1233
Agreed.

[2021-02-09 18:29] avsm commented on #1229
Confirmed fixed. Thanks @patricoferris for the PR in #1230!

[2021-02-09 18:29] #1229 closed

[2021-02-10 04:16] rockingrohit9639 commented on #1215
Hii There, Can you please assign this to me?

[2021-02-15 14:08] patricoferris commented on #1215
Hi @rockingrohit9639 👋

Thanks for taking interest in this issue. There's no need for assignment to contribute :)) So if you want to open a PR and reference this issue that would be great! Feel free to ask any question on the PR or this issue if you are having trouble, we appreciate getting started isn't necessarily as straightforward as other sites.

[2021-02-16 12:31] nibble0101 commented on #1236
@avsm  Can I work on this? Pretty much my first time here.

[2021-02-16 16:39] avsm commented on #1236
@nibble0101 please do! Just ping on here if you run into any blockers trying to fix it.

[2021-02-19 23:29] shonfeder commented on #1091
I found this issue while I was coming to report the breakage in the tutorial. If I can get clear guidance on what we want to do with this page, I should be able to put some energy into making it happen. I agree with @bruce-ricard that keeping this kind of official stuff in good working order is important, and I'm happy to do what I can to help it stay in order.

I suggest we make the make smallest

[2021-02-25 14:23] Shubham-Vishwakarma commented on #1237
@patricoferris
I would like to analyse this first, before taking it up
I am very much new to ocaml
But would like to give it try

[2021-02-25 15:06] Shubham-Vishwakarma commented on #1237
I think I am able to find the issue

In bootstrap.css, there is padding-left and padding-right defined for smaller screen

@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
....... }

If we remove this the footer will be fixed, but other elements will be affected

We could override this in ocamlorg.css where other footer.css are defined
This will fix the iss

[2021-02-25 15:14] patricoferris commented on #1237
Hi @Shubham-Vishwakarma thanks for the contribution 🎉

This is looking good to me, in fact it is how the navbar does it https://github.com/ocaml/ocaml.org/blob/master/site/css/bootstrap.css#L6708-L6713 so I don't think anyone would have anything against this.

A good next step will be the raise that PR then we can push it to `staging` to double-check everything looks good and then hopefully merge!

[2021-02-25 16:08] Shubham-Vishwakarma commented on #1237
@patricoferris I have created PR to staging branch
Please let me know, if this solves the issues

Thanks for guidance,

[2021-02-25 16:15] Shubham-Vishwakarma commented on #1237
My PR shows error
Will you please guide me.
How to resolve these things

![image2](https://user-images.githubusercontent.com/25884741/109182217-c6e96280-77b2-11eb-9953-aaef41b772a6.png)

[2021-02-25 17:39] patricoferris commented on #1237
@Shubham-Vishwakarma thanks for the PR! Looks like it's a problem with our CI infrastructure (in particular the dockerfiles) https://deploy.ocamllabs.io/job/2021-02-25/160625-ocluster-build-8d226d nothing you did 😁

Looking into it now :))

[2021-02-26 05:27] Shubham-Vishwakarma commented on #1237
@patricoferris
https://github.com/ocaml/ocaml.org/pull/1239: You have fixed the issue

Do I need to commit again? or you/someone else will verify the changes and merge it

[2021-02-26 07:29] Shubham-Vishwakarma commented on #1236
@nibble0101 Are you working on this?
If not please let me know
I would like to give it a try

[2021-02-26 07:35] nibble0101 commented on #1236
@Shubham-Vishwakarma  I am working on it.

[2021-02-26 08:38] patricoferris commented on #1237
No need to commit again, once that fix is in we can double-check this in staging and merge. Thanks again for the contribution.

[2021-02-27 15:36] nibble0101 commented on #1236
@avsm  I have managed to clone this repository and set up the project on my computer. Is there a script I can run to generate the html file to display in the browser instead of the markdown preview?

[2021-02-27 16:22] patricoferris commented on #1236
Hi @nibble0101,

Just jumping in to try and unblock you quickly. The site uses a Makefile to run the necessary scripts to generate the HTML version of the site. This actually might be a great opportunity for you to try out the WIP [contributing document](https://github.com/ocaml/ocaml.org/pull/1241) that I am drafting and provide feedback on it?

The summary of it is you need to:
 - make sure you

[2021-02-28 08:01] nibble0101 commented on #1236
Hi @patricoferris,
Thanks for the quick response. It has been very helpful. I was able to run `make` and generate the `ocaml.org` directory. I actually did run `make` before posting the above message asking for help but I cancelled the process because I was impatient and wasn't  sure whether I was doing the right thing. About the contributing document, I will definitely check it out and give you m

[2021-02-28 10:03] nibble0101 commented on #1236
@avsm  and @patricoferris  I have a couple of observations here.
1. I faced some challenge working with `.md` files because they are not properly formatted. Wouldn't it be easier to configure a tool to do formatting before making a commit so that each PR follows a consistent style? I changed a few lines of code but because I formatted the code in the file I am working on for readability, the linke

[2021-03-01 09:38] patricoferris commented on #1236
Awesome @nibble0101!

Hopefully we can merge your PR into the staging branch to double-check everything looks good soon.

Regarding your other points:
 1. Re:formatting -- on the surface I think this sounds like a good idea, but I can't speak for everyone involved. I think opening a new issue would be a good idea. I think the main talking point will be "which tool to configure". I'm not sure OCaml

[2021-03-01 14:38] nibble0101 commented on #1236
Thanks @patricoferris
I will try fixing them and then make a PR in the coming days

[2021-03-02 12:11] patricoferris opened #1244 "Broken news links contrast too low"
On the [Planet news feed page](https://ocaml.org/community/planet/) there is a list of syndications. Some of these are now broken and are presented with a strikethrough and very low contrast. The contrast is in fact too low to meet WCAG standards for accessibility in particular [item 1.4.3 of the WCAG 2.1 standard](https://www.w3.org/TR/WCAG21/#contrast-minimum). The list item in the red box is an

[2021-03-02 12:41] victorphoenix3 commented on #1215
@rockingrohit9639  if you are not working on this issue may I submit a PR?

[2021-03-02 14:15] nibble0101 commented on #1236
@patricoferris  I have been fixing the invalid HTML errors but I have failed to figure out which script is responsible for converting specific markdown file I am working on to HTML. I need to remove `type` attribute from `script` tags which I believe  are generated at the time of converting markdown file to HTML.

[2021-03-02 14:23] patricoferris commented on #1236
Haven't completely dived that deeply into it, but I would assume it is pulled in from the main template for HTML pages e.g. https://github.com/ocaml/ocaml.org/blob/master/template/main.mpp#L117

[2021-03-02 16:47] nayaldivya commented on #1244
Thanks @patricoferris. I would love to work on this.

[2021-03-03 07:14] IIITM-Jay commented on #1244
@nayaldivya Are you still working on this...

@patricoferris This is Jay  here, may I request any other issue  on which I can work on... (or I can submit a PR on this issue) on which I can work on...

[2021-03-03 07:40] nayaldivya commented on #1244
@IIITM-Jay Yes.

[2021-03-03 11:26] patricoferris opened #1245 "Outreachy Applicants"
This issue is to track interested Outreachy applicants especially as they try to find ways to contribute to this project. If you are thinking of applying or contributing then in advance let me say thank you!

## Overview

[Outreachy](https://www.outreachy.org/) is a program to help people contribute to open-source projects through internships. The Outreachy program is comprised of the Outreachy or

[2021-03-03 11:30] patricoferris commented on #1244
@IIITM-Jay please don't submit a PR for this issue. I have just created #1245 which, going forward, will be the place to register interest. I know you are interested and in due course I will find/create an issue and ping you about it.

@nayaldivya please don't feel any pressure to rush your contribution, take as much time as you need and don't hesitate to ask any questions on here.

[2021-03-03 11:48] nibble0101 commented on #1245
Thanks @patricoferris . What is the general code review process like here? After creating a PR, I couldn't request a review from a core contributor.

[2021-03-03 11:57] nibble0101 commented on #1236
@patricoferris  After making  some changes to `main.mpp` file, running `make` hangs at a certain point as shown in the screenshot below. I am working from a branch other than master. I would have expected some kind of error if my change broke something but it gets stuck at the point of building one of the files I changed. I need some guidance here.
![image](https://user-images.githubusercontent.co

[2021-03-03 13:06] gs0510 opened #1246 "Keep header when redirecting to opam.ocaml.org"
When you click on the `packages` tab on `ocaml.org`, it redirects you to `opam.ocaml.org`, it would be nice if there's still the `ocaml.org` header so that the user can go back to the `ocaml.org` website.

[2021-03-03 13:51] patricoferris commented on #1236
@nibble0101 please can you open a separate PR (label it work in progress if you want) with these changes, that will make it a lot easier for me to help as I'll be able to see the changes and run the code locally. I think I've found the branch, is it https://github.com/nibble0101/ocaml.org/tree/fix-html-validation-errors-on-documentation-page ?

Just as quick point, if you could undo and disable th

[2021-03-03 14:01] patricoferris opened #1247 "Git log of contributors is empty"
Currently, the site has a [contributors page](https://ocaml.org/contributors.html) and as part of that page there should be a list of authors extracted for them git log, but as you can see from the screen-shot

![Screenshot 2021-03-03 at 11 56 59](https://user-images.githubusercontent.com/20166594/109802340-96248580-7c17-11eb-8b24-6cf847d7bb0f.png)

that list on the production site is currently em

[2021-03-03 14:02] patricoferris commented on #1247
@IIITM-Jay would you be interested in looking at this?

[2021-03-03 14:07] nibble0101 commented on #1236
@patricoferris  Sure. I will revert the changes and make a PR.

[2021-03-03 20:53] nayaldivya commented on #1244
![ocaml_error](https://user-images.githubusercontent.com/73695161/109870300-f0612d00-7c8f-11eb-8e75-da4b3f8f51ea.png)
Hey @patricoferris, while setting up this project on my system, I came across this error. I'm using Windows 10 as my OS.

[2021-03-03 21:08] nayaldivya commented on #1244
Hey @patricoferris, while setting up the project on my system, I ran into this error. I'm using Windows 10 as my Operating System. Kindly have a look at this.
![ocaml_error](https://user-images.githubusercontent.com/73695161/109872440-6feffb80-7c92-11eb-8a7a-aad4009e9acd.png)

[2021-03-03 21:11] nayaldivya commented on #1244
This is after I ran `opam install ocamlorg --deps-only` command.

[2021-03-03 21:45] nayaldivya commented on #1244
To resove the this issue #1244, I believe
In ocamlorg.css
`.subscribers .broken {
  color: #dcc8c4;
  text-decoration: line-through;
}`
should be updated to
`.subscribers .broken {
  text-decoration: line-through;
}`

Kindly confirm this.

[2021-03-04 03:15] IIITM-Jay commented on #1247
@patricoferris Thank you so much for pinging me here. I am going through what you have suggested and asked above and will let you know soon.

[2021-03-04 06:47] IIITM-Jay commented on #1247
@patricoferris why we are using opam-repository, in the following lines below :point_down:

```RUN git -C /home/opam/opam-repository pull origin master && git -C /home/opam/opam-repository checkout c1952fb63c5a89c8c4230aac0360884518d72d91 && opam update -u -y```

can't we use the latest commit present in this repository itself like the way to build the site given OCurrent while building ```live_ww

[2021-03-04 08:39] patricoferris commented on #1247
Good question.

The main reason, as far as I know, for this command is reproducibility and stability. The OCaml.org site doesn't have too many dependencies and certainly doesn't add or change dependencies very often. With this command, if the deployment fails, it's much easier to reproduce the exact environment locally to test it rather than trying to work out which commit of opam-repository was u

[2021-03-04 15:04] patricoferris commented on #1244
Great @nayaldivya  -- that looks about right to me.

However, I would really love for you to get this up and running locally especially because you are developing on windows and any problems and solutions you find, we can add to the [contributing document](https://github.com/ocaml/ocaml.org/pull/1241) to help other windows devs.

I most confess windows support for OCaml isn't as good as other OSes

[2021-03-05 16:07] Aditi-1400 commented on #1245
Hey, I wanted to participate in outreachy. I went through the good-first-issue label, but the three issues under the label seem to be resolved, so, it would be great if you could suggest me something I can work upon.  :)  I have a firm knowledge of HTML, CSS and Javascript and I am currently going through the ocaml documentation.

[2021-03-05 16:13] gunjan543 commented on #1245
I want to participate in outreachy and I am very eager to contribute early. So can you please provide me some tasks, that can help me to understand the codebase?

[2021-03-05 16:22] patricoferris commented on #1245
@nibble0101  as you can see the review/PR process is slow, there's lots of exciting things happening in the OCaml space at the moment but only so many of us. We should get around to reviewing PRs within a week of submitting them. Feel free to ping me on the PR after that if it still hasn't had any eyes on it!

@Aditi-1400 @gunjan543 great! I'll find something in the coming days. I noted from the O

[2021-03-05 16:42] Aditi-1400 commented on #1245
Sure, I'll definitely provide a feedback, and in the meanwhile, I'll just go through the code base. :)

[2021-03-05 16:46] gunjan543 commented on #1245
I had few suggestions regarding ocaml.org, so can I suggest some modifications or changes to that?

[2021-03-05 17:29] IIITM-Jay commented on #1247
Got crystal clear of the points you mentioned above.
@patricoferris I have few questions and suggestions as well regarding this issue. When I was going through the ```contributors.md``` file, I found the below  mentioned command for displaying the contributor's list :point_down:

```((! cmd git log --format="%aN" | sort -k 2 | uniq | sed -e "/^[^ ]*$/ d" -e "s|\(.*\)|<li>\1</li>|" !))```

Some of

[2021-03-05 18:21] pw374 commented on #1247
how about `sort -u ` instead of `sort | uniq`?

[2021-03-05 18:38] IIITM-Jay commented on #1247
That's really got skipped... absouletly ```sort -u``` is the merging of the two ```sort``` and ```uniq``` and behaves identically

[2021-03-06 05:37] Shubham-Vishwakarma commented on #1237
@patricoferris @avsm
Just wanted to check status on this.

Is this now merged?

[2021-03-06 12:29] kototama opened #1250 ""The Basics" tutorial is using a deprecated function"
I'm reading https://ocaml.org/learn/tutorials/basics.html. There is an example on how to use `float_of_int`. When trying in utop I get this warning:

[code]

[2021-03-06 12:44] patricoferris commented on #1250
Hi @kototama,

It looks like you are using Jane Street's standard library alternative (probably [Core](https://opensource.janestreet.com/core/) but this is related to [Base](https://opensource.janestreet.com/base/)) -- this is what is used in the popular [Real World OCaml](https://dev.realworldocaml.org/) book. Is this correct? Their `float_of_int` is deprecated in favour of `Float.of_int`. OCaml'

[2021-03-06 12:54] kototama commented on #1250
Ah, my mistake. Sorry for that. I had some initial code in `utop` that I forgot!

[2021-03-06 13:02] nayaldivya commented on #1244
I followed this link: (http://fdopen.github.io/opam-repository-mingw/installation/.) After running the graphical installation file, it automatically installed Ocaml, Opam, and Cygwin on the system.

[2021-03-07 06:30] IIITM-Jay commented on #1247
@pw374 I have done a PR  #1253 for the above-discussed points. But the build failed :disappointed: . I am not getting the appropriate reason for this. Have I done something wrong ... or missing something. May I request any help...  :pray:

[2021-03-07 07:47] IIITM-Jay commented on #1247
My bad :disappointed_relieved: , finally caught the mistake of a single quote which I was missing earlier...
Now working perfectly..
Thank you once again :pray:

[2021-03-07 08:20] IIITM-Jay commented on #1247
Hi @patricoferris what's your opinion ... waiting for your feedback and valuable suggestions...
Thank you.

[2021-03-08 06:32] yashi-hub commented on #1245
hello, I'm expecting outreachy in summer '21. I went through the OCaml documentation and issues, but there are only a few of them and all of them seem to be almost resolved. I would love to work and give my contributions to OCaml this summer.
if I could get some good issues to work upon that would be great. I want to get familiar with the codebase and how the community works, well before the contr

[2021-03-08 09:16] patricoferris commented on #1245
@gunjan543 Yes of course, your suggestions are more than welcome. Creating easily understandable issues is probably the best way to solicit some feedback and if it gets some approval a PR would be great!

@yashi-hub Welcome 🐫 ! Yes, I'm working on it today, as I've said in this thread in the meantime getting the site building locally is a great first step and providing feedback to the contributing

[2021-03-08 09:36] patricoferris opened #1254 "Improve the layout of the community page"
The [community page of the ocaml.org site]() could use an improved layout, particularly on mobile devices. Currently the first section containing the community icon, the introductory text, the logos and stickers link (and images) render a little awkwardly on smaller screens (see screenshot).

<img src="https://user-images.githubusercontent.com/20166594/110302336-099c0d80-7ff1-11eb-9e70-21009a19a57

[2021-03-08 09:48] patricoferris opened #1255 "Track down browser console errors"
Currently when visiting any page of the OCaml.org site, two errors are logged to the console:

[code]

and

[code]

It would be good to resolve these errors and have a clean console, [Google has some more information on the matter](https://web.dev/errors-in-console/?utm_source=lighthouse&utm_medium=devtools).

@gunjan543 would you be interested in looking into these errors (as part of #1245), I'm

[2021-03-08 09:49] Aditi-1400 commented on #1254
Yes, I would definitely like to work on this one :).  I'll get started and get back to you if I have queries.
Thank you :)

[2021-03-08 14:09] gunjan543 commented on #1255
Yes, I am very much interested in working on this issue. Thank you for assigning me this. I will go through it thoroughly and get back to you If I face any issue :)

[2021-03-08 20:01] Aditi-1400 commented on #1254
@patricoferris
So, to proceed with improving the layout, I built the website locally, I made a few changes in the styles and the end product looks like this.
![image](https://user-images.githubusercontent.com/62544124/110370615-ebc2bd00-8071-11eb-9e1c-728f6d540d79.png)
However before proceeding further, I have a few doubts, since it's my first time contributing to a large codebase.
1.I am not real

[2021-03-08 22:13] Naereen opened #1257 "All pages in ocaml.org/releases/4.12/api/index.html have a wrong link to ocaml.org/releases/4.12/manual/index.html"
Hello there,
As noted here https://github.com/ocaml/ocaml/issues/10278#issuecomment-792942227, from the newest 4.12 version of the manual, all pages in <https://ocaml.org/releases/4.12/api/index.html> have a wrong link to <https://ocaml.org/releases/4.12/manual/index.html>, which is not a 404 error but an empty page (as well as <https://ocaml.org/releases/4.12/manual/>, <https://ocaml.org/releases

[2021-03-09 09:11] patricoferris commented on #1254
Great work @Aditi-1400 🎉

Responding to your questions:

The CSS for the site is in `site/css/ocamlorg.css` if you added it to `ocaml.org/css/ocamlorg.css` then yes you will need to copy it back to the other file and submit that. The `ocaml.org` directory is just the build result, it is in the `.gitignore` so it will be ignored and will be removed if you run `make clean`, don't lose your work!

Yo

[2021-03-09 09:57] patricoferris opened #1258 "Improve the Success Stories page"
There are probably other success stories we would want to add, but for this issue if we could tidy up the [success stories](ocaml.org/learn/success.html) page that would be great.

There are two main issues I can see (happy to have further improvements too):

 1. On mobile devices, the logos/images associated with each success story could have a better layout to avoid small bits of text appearing

[2021-03-09 10:26] meenal06 opened #1259 "Bug: CSS overflow in the opam page"
**What is the issue?**
Bug: CSS overflow in the opam page

**How to reproduce?**
- Visit https://opam.ocaml.org
- Switch to mobile device
- See the CSS button overflow outside the div box

**Screenshot**
<img width="290" alt="Screenshot 2021-03-09 at 3 56 01 PM" src="https://user-images.githubusercontent.com/79007582/110456789-fa4fb980-80ef-11eb-9dcd-8ae67a99bda7.png">

**Additional Context**
I am

[2021-03-09 10:28] meenal06 commented on #1245
Hi Team,

I am also a potential outreach applicant waiting for the results of the initial application. I have already gone through the code and have spotted few bugs, hoping to have great summer with OCaml 😄

[2021-03-09 11:22] yashi-hub commented on #1258
hey @patricoferris. I would love to work on this issue. provided that I am just working on setting up the local project environment right now, so it might take me a day or two before I get started on working on this issue. is that fine?  thank you for assigning it to me. :)

[2021-03-09 11:42] patricoferris commented on #1258
@yashi-hub take all the time you need, there's no rush :))

[2021-03-09 12:46] Aditi-1400 commented on #1254
Alright! :)

Yeah, the main ocaml.org gets the font, it's just a problem with the local build.

My pleasure, it's really exciting to be a part of the community and I am liking every bit of it.  :D

[2021-03-09 15:00] Naereen commented on #1257
Oups sorry @avsm, I didn't notice that you mentioned the ocaml*.org* repository, and not the ocaml one, sorry!

[2021-03-10 05:01] kanishka-work commented on #1258
This page might have the missing images: http://caml.inria.fr/about/successes.en.html

[2021-03-10 16:04] gunjan543 commented on #1255
![image](https://user-images.githubusercontent.com/52042648/110658777-fc953f00-81e7-11eb-9d43-3c635db81309.png)
I was working on "Failed to load resource: the server responded with a status of 404 () -- piwik.js:1" and while going through the same I realized that piwik.js does not exist in the directory, so maybe that's why it's giving 404. So what do you think ? Do you think this is the reason fo

[2021-03-10 16:51] meenal06 commented on #1237
Can we close this issue, as the fix is already merged?

[2021-03-11 06:25] Kanak1081 commented on #1245
Hi,
I would like to make contribute for #1254. Hoping to work as an outreachy intern this summer for OCaml.

[2021-03-11 07:47] Aditi-1400 commented on #1245
Hey, @Kanak1081, I am actually working on #1254 and I am almost done with it and you wouldn't want to duplicate the work, right! :))
 So maybe you could try working on an unattended issue or wait for @patricoferris to assign you one :)

[2021-03-11 08:06] Kanak1081 commented on #1245
Hi @patricoferris, hope you are doing great. I would want to contribute in an issue. Can you help me assign one?

[2021-03-11 08:20] avsm commented on #1247
Fixed in #1253

[2021-03-11 08:20] #1247 closed

[2021-03-11 08:30] Kanak1081 commented on #1245
Sure @Aditi-1400 Please go ahead. All the best ! :)

[2021-03-11 11:26] Aditi-1400 commented on #1254
Hey, @patricoferris, I am kind of stuck here :(
So I'll just list out the steps I followed.
1. Made some of the changes in site/community/index.md, site/community/index.fr.md and site/css/ocamorgl.css.
i.The changes are:
![Screenshot from 2021-03-11 13-09-46](https://user-images.githubusercontent.com/62544124/110779661-ce683b80-8289-11eb-9f34-351cdea4cdb7.png)
Something similar in the index.fr.md.

[2021-03-11 13:51] johnwhitington opened #1265 "GTK tutorial example generation is broken"
See:

https://ocaml.org/learn/tutorials/introduction_to_gtk.html

The loading procedure fails, and so then do all the examples further down the page.

[2021-03-11 17:29] patricoferris commented on #1245
Hi @Kanak1081 thank you for wanting to contribute 🐫 !
 I'll get an issue sorted for you soon (if not this evening then tomorrow morning). Sorry for the delay.

[2021-03-11 19:30] patricoferris commented on #1254
@Aditi-1400 hmmm that does seem a little strange -- sometimes you do have to run `make clean` which is a bit unfortunate. Could you push the code to a branch and then paste a link here, it's much easier if I can see the code on Github/check it out locally to see what's going on and give you some help :))

[2021-03-12 10:07] patricoferris opened #1270 "Improve the Community Page"
There are a few little issues with the community page that I think need tweaking.

1. The meetings are hardcoded and reference meetings in 2013! As a simple fix, these could be updated to the latest three meetings (probably the OCaml workshops). The `fr` version also includes dates whilst the `en` version doesn't. I think the dates look good.
2. The `OCaml around the Web` section could be a little

[2021-03-12 10:15] Aditi-1400 commented on #1254
Okay sure :)

[2021-03-12 10:27] Kanak1081 commented on #1270
@patricoferris **Thank you** so much for assigning me this task. I would definitely give it a try.

[2021-03-12 11:37] nayaldivya commented on #1245
Hey @patricoferris, if it's okay then I would like to open some new issues.

[2021-03-12 12:11] Aditi-1400 commented on #1254
Hey @patricoferris , I've pushed the changes to community-page branch in my forked repo here:
https://github.com/Aditi-1400/ocaml.org/tree/community-page
Would it be convenient for you to review the problem  if i create a pull request, or is this okay?

[2021-03-12 14:45] jyotibalodhi commented on #1257
Hello @Naereen, I would like to work on this issue. Kindly let me know how should I proceed with this.

[2021-03-12 14:55] jyotibalodhi commented on #1245
Hello @patricoferris, Hope you are doing amazing. I am a potential outreachy applicant '21. Would love to work on some frontend related issues and get to know the community better. Thanks in advance!

[2021-03-12 14:57] Naereen commented on #1257
Hi @jyotibalodhi,
I have absolutely no idea, I opened this.

[2021-03-12 15:18] Octachron commented on #1257
It is an issue of backward compatibility between the new postprocessed manual and the previous version. One potential short solution that might be worth some investigation would be to make `releases/4.12/manual` a symlink to `release/4.12/htmlman`.

[2021-03-13 04:12] Kanak1081 commented on #1270
Hey @patricoferris, I have worked on 2.) and made the icons symmetrical and of same size. End result looks something like this. I have also created a PR for the same and it has passed deployability checks.
I would be happy to know your suggestions for improving it more !
![Screenshot (681)](https://user-images.githubusercontent.com/60698118/111018671-2913ab80-83e0-11eb-8776-d37ec687e0d4.png)
![Scr

[2021-03-14 06:05] Kanak1081 commented on #1270
**I am unclear about this part, Do you want me to replace meetings with OCaml workshops? If yes, can you please let me know, from where shall I get the list of latest 3 OCaml workshops?
Yes, the 'en' version doesn't include the dates. I have found the issue and fixed it.
Thanks !
**

[2021-03-14 16:33] nibble0101 opened #1275 "Incorrect menu item name on the french page"
# Description of the issue
Currently, there is a mismatch between the name of  one menu item on the navigation bar for the English page and the corresponding name after translating to French. On the [English page](https://ocaml.org/docs/), we have `packages` as the third menu item on the navigation bar linking to https://opam.ocaml.org/  however on the [French page](https://ocaml.org/docs/index.fr

[2021-03-14 16:36] nibble0101 commented on #1275
@avsm  and @patricoferris. Let me know if this is an issue worth fixing.

[2021-03-15 09:15] patricoferris commented on #1270
Hi @Kanak1081 -- great work so far :))

Yes I should have been clearer - the full list of meetings can be found on https://ocaml.org/meetings/ (in the code it is https://github.com/ocaml/ocaml.org/blob/master/site/meetings/index.md). I just meant using the latest three events from that list instead of ones from a longer time ago. Hopefully that clears things up?

[2021-03-15 09:24] patricoferris commented on #1275
Hi @nibble0101 thanks for raising this question,

My french is very rusty, but I don't think the direct translation from `packages` to `paquets` is correct. IIRC `paquets` is like the packages that arrive in the post 📦 ... But, let me double-check with people who actually know :))

[2021-03-15 09:33] mattiasdrp commented on #1275
The translations are fine
- `Package > Paquets` is the correct translation
- `News > Nouvelles` could be replaced by "Actualités" which is more french

[2021-03-15 09:33] Octachron commented on #1275
Indeed `paquet` is the translation used by most linux distributions.

[2021-03-15 09:35] patricoferris commented on #1275
Learn something new everyday! Thanks @mattiasdrp and @Octachron.

@nibble0101 feel free to make the PR for the suggested changes :))

[2021-03-15 09:35] mattiasdrp commented on #1275
When in doubt I just go on the english Wikipedia page (here for package manager) and switch to the french one to see if that's the way they translated it.

[2021-03-15 10:33] patricoferris opened #1276 "General layout and accessibility improvements"
There are a few seemingly unrelated issues that could be solved together as a good first-issue.

1. On mobile devices there appears to be an empty white space on the right of all the pages. If you go to the [home page](ocaml.org) on a mobile device (or emulate the screen-size in the browser) and scroll right you will see a thin white margin. This probably shouldn't be there.
2. Also on mobile devi

[2021-03-15 11:02] yashi-hub commented on #1258
hey @patricoferris . as referred to in https://discuss.ocaml.org/t/error-while-setting-up-ocaml-project-using-wsl/7466/2 .
I tried to install everything again according to the guide https://www.cs.umd.edu/class/spring2018/cmsc330/ocamlInstallationGuide.pdf. but now when I run opam install ocamlfind I get the following error-
![WhatsApp Image 2021-03-15 at 4 15 01 PM](https://user-images.githubuser

[2021-03-15 11:11] patricoferris commented on #1258
Hi @yashi-hub 👋

It seems the document I linked is a little out of date, this [guide seems better](https://github.com/janestreet/install-ocaml).

I think the problem is that newer versions of opam are using `bwrap` for sandboxing, but this isn't supported on WSL. I think the following steps should work:

 - Remove this installation of opam (i.e. remove `~/.opam`)
 - Run `opam init --disable-sandbo

[2021-03-15 14:12] jyotibalodhi commented on #1276
Hello @patricoferris, yes I would definitely like to work on this issue. Right now I am still setting up the local project environment, so it would take a couple of days for me to progress with the issue, I hope that's fine. Thanks for the consideration.

[2021-03-15 17:33] nibble0101 commented on #1255
[code]
@patricoferris  and @gunjan543, I suspect the above error is `jquery` related. In one of the generated HTML files I was investigating, I came across this bootstrap CDN.
[code]
Most likely this loaded bootstrap plugin is using jquery. I understand recent versions of bootstrap have dropped using jquery but the version being loaded here is quite old.  I tried loading jquery via CDN just before

[2021-03-16 07:37] nibble0101 opened #1278 "Typos in logos page"
If you navigate to the [logos page](https://ocaml.org/docs/logos.html), there are a couple of typos in the first and last paragraphs of the text.

![image](https://user-images.githubusercontent.com/52580190/111455130-78cadd80-8726-11eb-84f8-2324dbf5f371.png)
![image](https://user-images.githubusercontent.com/52580190/111455781-45d51980-8727-11eb-9bdb-e9f0f867ae0d.png)

[2021-03-16 08:48] nibble0101 opened #1279 "Use of a filled triangle pointing right to display unordered list is misleading."
# Issue description

Currently, on the [ocaml manual page](https://ocaml.org/manual/index.html) and a few other related pages, ▶ symbol is used to display unordered list of items. I find this usage quite misleading  because the same symbol also appears if one displays collapsible content in HTML  using  [`details` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details). I have

[2021-03-16 08:55] nibble0101 commented on #1279
@avsm  and  @patricoferris,  let me know what you think.

[2021-03-16 09:13] patricoferris commented on #1279
Hi @nibble0101,

Thanks for the suggestion. I agree with you that the triangle is a little misleading. It is also used to [indicate what chapter you are on](https://ocaml.org/manual/objectexamples.html) so it's meaning is a little overloaded.

The actual code for the manual lives with the compiler not on ocaml.org and is part of the post-processing stage. The styles are generated from https://gith

[2021-03-16 09:32] Octachron commented on #1279
If triaging such issues is not too much trouble, it does seem easier for people to report issue at `ocaml.org`.

In a perfect world, fixing the manual source in the compiler repository would be ideal. But this has undoubtedly a quite high barrier to entry (even if in this specific case, just modifying the `manual.scss` file sounds doable).

Thus, if it is easier for people to draft improvement to

[2021-03-16 09:32] sanette commented on #1279
before digging too much into the details of the manual let me mention that the current version on ocam.org is not exactly what it should be, due to incompatibilities with the new version of Hevea, see https://github.com/ocaml/ocaml/issues/10254

Concerning the triangle in lists, I'm not opposed to using a filled disc, however for indicating the current chapter I find that the triangle works better

[2021-03-16 10:02] sanette commented on #1279
for chapters, one could put the triangle on the right, like this:
![Screenshot_20210316_110020](https://user-images.githubusercontent.com/7536536/111291072-164ee000-8647-11eb-9d1e-a66ce831e603.png)

[2021-03-16 10:13] sanette commented on #1279
for other lists, here is a try with discs instead of triangles. It's a bit less "dynamic", but I find it acceptable.
![Screenshot_20210316_111019](https://user-images.githubusercontent.com/7536536/111292495-85790400-8648-11eb-950b-8a869e3a9ac9.png)

[2021-03-16 10:47] nibble0101 commented on #1279
@sanette  Are you working on it? Or should I fork the Ocaml repository and start working on it. From the pointers given by  @patricoferris  and @Octachron  above, it doesn't look complex.

[2021-03-16 11:02] sanette commented on #1279
@nibble0101 before working on this we'd better get an agreement on what to do. Let's see that @Octachron thinks. If what I did above is enough, it's probably not worth for you duplicating the work, I can just request a pull. If there is something else to do, or simply if you want to experiment other ideas, feel free, I'm happy to let you do it!

[2021-03-16 11:11] Octachron commented on #1279
Using a disc for the unordered list seems fine to me.
The triangle on the right feels slightly strange: it breaks the alignment and it requires some small time (ms?) to get that is supposed to be read right-to-left.
However, for question of graphical designs, my opinion should not have too much weight.

[2021-03-16 11:21] nibble0101 commented on #1279
@sanette . You will have to work on it then. Regarding the triangle on the right, why should we have a triangle in the first place?  I believe  its purpose is to convey to the user which of the items is active (Correct me if I am wrong). If that is the case, why don't we just underline the active item so that with the already existing dark font color (which is different from the surrounding items)

[2021-03-16 11:34] sanette commented on #1279
of course it's just my taste, but for chapters I think that the triangle is visually nicer than underlining. (on the left is probably better than on the right, as Octachron said). I don't think it's misleading, but that's just me.
For other in-text lists, I agree it can be a bit misleading.

[2021-03-16 11:59] sanette commented on #1279
I would be OK using a diamond◆ for chapters

[2021-03-16 12:04] anshukaira commented on #1245
Hello @patricoferris. I am here as an outreachy applicant'21. Hope everyone is doing great. (I already see so many potential applicants. Hello everyone.) I would also like to work on some issues. I ll try to find something in issues tag.
But if you see a potential good first issue please tag me. \(^_^)/ Thnx in adv

[2021-03-16 13:59] Octachron commented on #1279
A diamond sounds good to me: it is a small marker that is less invasive than underlining, and it does not have any strong implicit meaning (or any that that I am aware of).

[2021-03-16 16:06] lead4013 commented on #1245
Hi @patricoferris, Hope you are doing great. I'm also a potential outreachy applicant '21.
I'm going through the documentation of OCaml and learning some new stuff.
It would be great if you can tell how should I start reading the codebase and if you can assign any frontend related issue I would love to work on that as well.
Thank you :)

[2021-03-16 17:15] johnwhitington commented on #1091
What is the policy on the removal of pages which are unlinked? There seem to be plenty in the source. I would be happy to produce a PR to remove them from the repository if that is what is wanted.

[2021-03-17 01:20] #1275 closed

[2021-03-17 07:10] Kanak1081 commented on #1270
Thanks @patricoferris :) for your kind help. I have made certain commits for updating the community page on the above mentioned issues by you. I have updated the OCaml meetings in Community page with the latest three and styled them. Please have a look at the end results in different screen sizes. I would be happy to know your suggestions.
I hope the issues raised by you in #1270 are cleared. Its

[2021-03-17 10:54] sanette commented on #1279
ok, then if everybody agrees I can switch to diamonds for chapters, and filled discs for other former uses of triangles.
I will make a PR as soon as https://github.com/ocaml/ocaml/pull/10282 is merged

[2021-03-18 09:13] nibble0101 opened #1282 "Improve accessibility on ocaml.org landing page for keyboard users."
# Issue description

Currently a user who relies exclusively on keyboard to navigate [ocaml.org](https://ocaml.org/) landing page wouldn't have the best user experience. This is primarily because some interactive elements (links, buttons and form elements) do not have styling to indicate that they are in focus. For example, the `install ocaml` button may be in focus but there is nothing to indicat

[2021-03-18 09:17] nibble0101 commented on #1282
@patricoferris  and @avsm. Let me know what you think of this.

[2021-03-18 10:55] patricoferris commented on #1282
@nibble0101 this would be amazing! A lot of the problems might be solved just by not having things like:

[code]

I'm personally not against having outlines on focused items if it improves the accessibility for keyboard users. I'm particularly interested in improving the "long-form content" too. Tabbing through https://ocaml.org/learn/tutorials/up_and_running.html for example is not a great user e

[2021-03-18 12:06] nibble0101 commented on #1282
Thanks @patricoferris. I agree removing `outline:none` will fix most of the problems. I am quite certain this issue affects most web pages on ocaml.org. My plan was to start fixing from the landing page and then move on to other pages. Feel free to assign other pages or other related issues to others who may be interested.

[2021-03-18 15:49] jyotibalodhi commented on #1276
Hello @patricoferris I am working on this issue, but I am facing problems while building the site locally. I have installed all the dependencies but there's still some problem when I try `make`.  I have been looking for the solutions on my own, but every time it throws a warning or error. I am attaching a screenshot of that. I hope you can help me out with this and I can make the required changes

[2021-03-18 15:55] patricoferris commented on #1276
Hi @jyotibalodhi -- this bug was fixed just a few days ago because of a new release of `Omd` https://github.com/ocaml/ocaml.org/pull/1280.

You need to repin the opam file or force install an older version of `omd` and try building again, you can try `opam install omd.1.3.1` which should fix things.

[2021-03-18 15:58] jyotibalodhi commented on #1276
Thanks a lot, @patricoferris !! I will do the needful!

[2021-03-19 04:25] IIITM-Jay commented on #1279
Hi @Octachron,
while going through the manual from the [website](https://ocaml.org/releases/4.12/htmlman/index.html), I found  that the bottom navigations are missing from the [Ocaml API pages](https://ocaml.org/releases/4.12/api/index.html) and unknowingly I felt that the appropriate changes has to made here in this repo to fix those, but thanks to @patricoferris for suggesting me the exact locat

[2021-03-19 06:04] IIITM-Jay opened #1283 "Revampinging Learn's landing page"
Currently, on the learn's landing page, under the section ***Tutorials & FAQ***, a list of *Tutorials* is listed which includes some sub-topics of *Getting Started* and some of those of *Data Structures*, as can be seen below:
![Screenshot from 2021-03-19 11-18-33](https://user-images.githubusercontent.com/65283880/111736380-b99c3100-88a3-11eb-9bbf-057f4d8a682d.png)

It will look good when the sam

[2021-03-19 08:39] Octachron commented on #1279
Please ping me in the corresponding subject to avoid polluting unrelated discussion.

[2021-03-19 09:24] yashi-hub commented on #1258
hello @patricoferris , i tried the new guide also, and every command runs fine.
but when I try to run the testing commands the same error prevails.
![WhatsApp Image 2021-03-19 at 2 49 38 PM](https://user-images.githubusercontent.com/69522036/111758348-65ed1000-88c2-11eb-8e29-bbe432eeb22a.jpeg)
and if I do not test the system and simply run make I get again the same error that is:
![WhatsApp Image

[2021-03-19 09:57] IIITM-Jay commented on #1283
@patricoferris what do you say for above...
waiting for your feedback.....

[2021-03-19 15:30] jyotibalodhi commented on #1276
Hello @patricoferris, I have resolved the empty white space problem which was there, seems there was some padding issue with the footer. I am attaching the screenshots, kindly let me know if that is fine.
![1](https://user-images.githubusercontent.com/63946672/111804367-06105c80-88f6-11eb-948e-d75e98330ad0.png)
![2](https://user-images.githubusercontent.com/63946672/111804425-14f70f00-88f6-11eb-9f

[2021-03-19 16:37] patricoferris commented on #1276
@jyotibalodhi great!

You can do a separate or combined PR, it's up to you :))

That's right -- ocaml.org is the build directory which changes every time someone pushes new code so it doesn't make much sense to commit it.

As for the navbar it is pieced together by a few different files:
  - The navbar items live here https://github.com/ocaml/ocaml.org/blob/master/template/navbar.mpp
  - The rest

[2021-03-19 17:37] jyotibalodhi commented on #1276
@patricoferris Thanks, I will try to do the Navbar issue change, else I will make the PR with the already made changes for sure and then try to work on the rest.

[2021-03-20 15:27] divya144 commented on #1245
Hello @patricoferris and other contributors. I hope everyone is doing well. As an outreach applicant for 2021, I would like to contribute to Ocaml. @patricoferris It would be really great if you help me in finding new issues as most of the issues are already assigned or solved. I have a basic knowledge of Ocaml and I am learning more about Ocaml. Please help me in finding some issues. Thank You.

[2021-03-20 16:11] Muskan-sam commented on #1245
Hi **@patricoferris** , I'm also an outreachy applicant for 2021. I am looking forward to make contributions for #1246 . Hoping to work for Ocaml as an Outreachy'21 intern and have a great time with the mentors and fellow contributors.
Thanks in advance!

[2021-03-21 11:03] patricoferris opened #1285 "Prototype a "skip to content" hidden button"
When navigating content heavy pages with a keyboard, it would be nice if there was a hidden "skip to content" button that by-passed things like the navbar. This would hopefully improve the user experience for keyboard users.

There is already a lot of guidance online about this:
  - [CSS-tricks guide](https://css-tricks.com/how-to-create-a-skip-to-content-link/)
  - [WCAG information on the skip l

[2021-03-22 10:37] patricoferris commented on #1258
Hmm, can you confirm you definitely followed this line:

[2021-03-22 12:49] yashi-hub commented on #1258
Yes, i did opam init -y --compiler=4.07.1 --disable-sandboxing and when this didn't work I tried just opam init --disable-sandboxing.
 I believe that the problem is with the bwrap sandboxing in WSL but the command --disable-sandboxing doesn't seem to work for the same.

[2021-03-22 12:53] patricoferris commented on #1258
Hm that is strange, could you run `opam init --disable-sandboxing` (having removed the previously initialised `.opam`) and paste the output here or somewhere? Sorry about this -- hopefully we will get to the bottom of it and can add the setup steps to CONTRIBUTING.md :))

[2021-03-22 17:15] nibble0101 opened #1287 "Typos and grammatical errors on https://ocaml.org/learn/companies.html page"
# Issue description

There are a couple of typos and grammatical errors in `Companies using OCaml` section of https://ocaml.org/learn/companies.html page. Below are the annotated screenshots of the specific sections.

**TrustInSoft, France**
![image](https://user-images.githubusercontent.com/52580190/112029055-e4a7ae80-8b49-11eb-82dc-1e6bde539f1c.png)

**Digirati dba Hostnet, Brazil**
![image](htt

[2021-03-22 17:56] shlokalakka opened #1288 "Spelling Mistakes"
**Issue description**

## 1. There are two spelling Mistakes on the https://ocaml.org/learn/ page.

   ### 1.  Under the Sucess Stories Subheading :
![image](https://user-images.githubusercontent.com/51351213/112035847-f9923b00-8b65-11eb-93ca-a0ab88570976.png)

   ### 2.   Under the Industrial Users Subheading
![image](https://user-images.githubusercontent.com/51351213/112035701-d2d40480-8b65-11eb

[2021-03-22 19:10] shlokalakka commented on #1245
Hello @patricoferris,
I realize you seem to have a lot of issues to find already.
This is my first go at open-source and would appreciate it if you assign me an Issue as well.
Thank you

[2021-03-22 19:54] patricoferris commented on #1254
Hi @Aditi-1400 thank you for your patience, please do not hesitate to ping me on here if I leave something like this for a few days :))

I checked out your code and think I found the bug. Omd isn't happy with the spaces between `class` and the class name `"stickers"` -- https://github.com/Aditi-1400/ocaml.org/commit/8785e6bba24729b879cfd4d3d3866ada6f0ae486#diff-fe705115e32260aef853334ffffd67671cb7

[2021-03-22 20:09] patricoferris commented on #1283
Hi @IIITM-Jay, thanks your patience.

With respect to rearranging the tutorial links to the broader topics and then linking to them, I think that might work quite well. Reorganising them into a sequential list (and I'm guessing tagging the headers with an `id` to land on or something like that) could work, but I can't get a good intuition as to how that page will look until it is implemented so I

[2021-03-22 20:24] patricoferris opened #1291 "Fix news section spacing"
Currently on ocaml.org/community the `news` section seems to have some odd spacing compared to a similar looking component for the `meetings`. It would be good if they looked the same.

More concretely:

<img width="393" alt="Screenshot 2021-03-22 at 20 20 38" src="https://user-images.githubusercontent.com/20166594/112053450-45d08180-8b4c-11eb-896c-d11d78a53e9d.png">

The spacing between `OCaml We

[2021-03-23 08:00] lead4013 commented on #1291
Hi @patricoferris!
Thanks for assigning this issue to me.
I've made some changes and this is the final look.
Should I move ahead with committing the changes ?

BEFORE
![Screenshot from 2021-03-23 12-55-10](https://user-images.githubusercontent.com/80776193/112112402-7c091200-8bdb-11eb-8158-cadef33c329d.png)

AFTER
![Screenshot from 2021-03-23 12-54-06](https://user-images.githubusercontent.com/807

[2021-03-23 08:10] #1288 closed

[2021-03-23 08:55] avsm opened #1292 "translation management: investigate crowdin"
following #1268 and the tutorial updates by @johnwhitington and a question from @gasche, I asked around about what other systems do for configuration management.

I got two answers:

- @smorimoto suggests https://crowdin.com/features which helps coordinate translators and has a very nice [open source support offer](https://crowdin.com/page/open-source-project-setup-request).
- @patricoferris sugge

[2021-03-23 09:35] nayaldivya opened #1293 "FreeBSD, OpenBSD, NetBSD links broken"
Issue: On Documentation Page, under Install OCaml Headline at the right column, (https://ocaml.org/docs/install) clicking on FreeBSD link does not redirect to the FreeBSD section. Same is true for OpenBSD and NetBSD links while Linux, macOS and Windows links work fine.

![link_broken](https://user-images.githubusercontent.com/73695161/112124563-7bc34380-8be8-11eb-8609-77ad074bfba3.PNG)

Note: Link

[2021-03-23 15:13] Aditi-1400 commented on #1254
Oh dear! 🤦‍♀️ Thank you :))!  That solved it !
Also, now, should I push to the main branch, or create another branch ?

[2021-03-23 16:29] smorimoto commented on #1292
We've been using Crowdin for quite some time in the Mastodon project, so I can help you set it up if you need it. However, I've also used Netlify CMS (I was helping them a little around 2018) as well, but both of them are designed to maintain i18n files without problems even if we don't use them, so I think there is no problem using either of them.

[2021-03-23 18:19] #1278 closed

[2021-03-23 19:20] lead4013 commented on #1291
Hey @patricoferris!
I closed the above PR because it had some issues
I'll submit a fresh PR very soon :)

[2021-03-23 20:21] kanishka-work commented on #1292
Sounds promising. Here is a related old issue (https://github.com/ocaml/ocaml.org/issues/376). I haven't done any homework on this yet, but I wanted to compare weblate with these other promising candidates whenever I do dive into this topic area.

[2021-03-24 09:24] smorimoto commented on #1292
I was talking with Garg on that, and we are not using Weblate for these reasons.

[2021-03-25 08:02] Aditi-1400 commented on #1223
I was just going through the list of issues, and came across this one, that, indeed is a really helpful application! :D
 @patricoferris  I believe, a link to this can be added in, the external links section on this page : https://ocaml.org/learn/tutorials/?🤔

[2021-03-25 08:45] patricoferris commented on #1223
@Aditi-1400 I agree :)) I asked Craig some time ago and he was all up for linking it, feel free to submit a PR for this thanks 👍

[2021-03-25 08:47] patricoferris commented on #1293
Thanks @nayaldivya this looks like something that needs fixed 👍

[2021-03-25 08:56] patricoferris commented on #1285
Hi @anshukaira, just wondering if you are still interested in this? If not, that's completely okay :)) If I don't hear back soon I will ask someone else if they would like to take this on.

[2021-03-25 09:52] comradekingu commented on #1292
I was sure I had contributed to Mastodon, but turns out it was only https://hosted.weblate.org/projects/mastodon-twitter-crossposter/, which isn't doing much worse in terms of coverage than its upstream project on Crowdin.
Had a look at the strings and it actually fares better than the usual Crowdin quality. That isn't to say it couldn't, or wouldn't have been better than it is. (no locale should

[2021-03-25 19:15] kanishka-work commented on #1292
If Netlify CMS's i18n support has about 50%-75% feature coverage of the purpose built translation systems, it sounds very promising also, since one could use a unified system for translation and general content approval workflows.

[2021-03-26 06:47] yashi-hub commented on #1258
i removed the previously installed opam using sudo apt-get remove --purge opam and then run opam init --disable-sandboxing. this is the output-
![Screenshot 2021-03-26 114605](https://user-images.githubusercontent.com/69522036/112590507-f24e8400-8e28-11eb-9a76-5b9a93b63684.png)
what can I do next to make things work? :/

[2021-03-26 07:00] Aditi-1400 commented on #1223
Hey @patricoferris, I've made a pr which solves this issue. Also, do let me know if there's something else, I could contribute to. Always happy to help. :)

[2021-03-26 13:03] patricoferris commented on #1285
@anshukaira I'm going to reassign this, if you still want to contribute could you ask again over in #1245 and I'll find another issue for you :)) ?

@divya144 would you like to have a go with this? Please let me know by commenting below, thanks.

[2021-03-26 15:36] divya144 commented on #1285
Yes, I would go with this one and will start working on this.

[2021-03-27 12:01] yashi-hub commented on #1258
hey @patricoferris  . i realised that ocamlfind was not installed , so I did it using - `sudo apt install ocaml-findlib`
this installed ocamlfind i believe and now when I run make I get a different error from the one mentioned earlier in this thread.
![Screenshot make](https://user-images.githubusercontent.com/69522036/112720060-3a050680-8f22-11eb-9077-dbada491c988.png)
what else I can do to resol

[2021-03-27 14:59] patricoferris commented on #1258
See my reply: https://discuss.ocaml.org/t/error-while-setting-up-ocaml-project-using-wsl/7466/6

Have you run `make deps` now that you have opam installed and working?

[2021-03-27 21:01] IkehAkinyemi commented on #1245
Hi @patricoferris , I'm an outreachy applicant for 2021. I want to make contributions tor #1246 . Hoping to work for Ocaml as an Outreachy'21 intern and have a great experience and time with the mentors and fellow contributors.
Thanks you!

[2021-03-28 01:17] IkehAkinyemi commented on #1293
I can't really tell in what context you regard the links broken but this is a markdown syntax failure — the jump-link to the header section is not working because the header is also a syntax(link) to an external content. This conflict in syntax means the two were never linked in the first place.

I would love to fix this.

[2021-03-28 01:30] IkehAkinyemi commented on #1246
The `ocaml.org` header would work perfectly but the idea won't be to "go back to" `ocaml.org` but a link to `ocaml.org` as parent website to the `opam.ocaml.org`. With this, the UX would be well intuitive.

@patricoferris I would love to work on this if you approve on it, then discuss better what the UI would look like.

[2021-03-28 04:55] nayaldivya commented on #1293
Go ahead.

[2021-03-28 19:05] pitag-ha opened #1305 "Improve language selector positioning"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

At the moment, the language selector `[ en fr ]` is below the header. I suggest to move it to the top-right corner of the page: on the desktop that would be next to the edit button; on the phone that would be next to the hamburger menu.

The reason for this suggestion is that in a left-

[2021-03-28 19:16] pitag-ha opened #1306 "On phone: improve order of sections"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

On the phone, the sections of the page are positioned in a top-down manner. Currently, the last three sections are *News*, *A taste of OCaml* and *Packages* (in that order). I suggest to swap the order of *News* and *A taste of OCaml*.

The reason is that the expectation of entering a w

[2021-03-28 19:17] IkehAkinyemi commented on #1305
I have looked at the layout and I agree with your suggestion, it helps the user experience. Currently working on that now. I will make a PR once I'm done implementing it.

[2021-03-28 19:20] pitag-ha opened #1307 "Make click-ability of texts visible"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

The two texts " Got a question? Ask OCaml experts!" and "Learn OCaml in your browser with TryOCaml " are clickable. At the moment visually that's not obvious, particularly on the phone. I suggest to improve the design in a way that it becomes obvious that they can be clicked, e.g. by ma

[2021-03-28 19:30] pitag-ha opened #1308 "Make external nature of `Packages` navigation item visible"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

The header contains six navigation items: `OCaml`, `Lean`, `Documentation`, `Packages`, `Community` and `News`. All of them apart from `Packages` navigate inside ocaml.org, whereas `Packages` links to an external page (opam.ocaml.org). I suggest to make that visible by marking `Packages

[2021-03-29 08:26] nayaldivya commented on #1307
I'll be working on this issue shortly.

[2021-03-29 09:39] patricoferris commented on #1308
This seems like a great idea, quite a few people are confused by this -- thanks @pitag-ha :))

@Muskan-sam would you like to work on this as part of #1245? Please let us know either way below.

[2021-03-29 09:41] patricoferris commented on #1306
Improving this user experience would be great, thanks for raising the issue :))

@shlokalakka would you like to work on this as part of #1245? Please let us know either way below.

[2021-03-29 10:19] #1279 closed

[2021-03-29 15:37] patricoferris commented on #1255
@nibble0101 thanks for the help here. @gunjan543 how is this going? Can I help you in any way?

[2021-03-29 15:38] #1250 closed

[2021-03-29 16:10] pitag-ha opened #1310 "Documentation section: explain version selector"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

The Documentation section offers a drop-down to choose the OCaml version. Extract:

![Screenshot from 2021-03-29 17-55-45](https://user-images.githubusercontent.com/39061003/112864373-0c51c600-90b8-11eb-828e-73ef9496dec2.png)

Selecting a version in the drop-down adapts the links in tha

[2021-03-29 16:19] Goodiec commented on #1308
Hello @pitag-ha, I am an outreachy applicant interested in working on improving the ocaml.org website. I would love to work on this issue, could it be assigned to me?

[2021-03-29 16:21] Muskan-sam commented on #1308
yes @patricoferris  , I would like to work on this issue this issue.
Thank you @patricoferris and @pitag-ha

[2021-03-29 16:24] Goodiec commented on #1245
Hi @patricoferris, I am an Outreachy applicant interested in working on improving the ocaml.org website. Currently working on issue #1308

[2021-03-29 16:28] jyotibalodhi commented on #1306
Hello @patricoferris I am an outreachy applicant this year and would like to work on the issue. If @pitag-ha is not already, then would be happy to proceed forward.

[2021-03-29 16:30] patricoferris commented on #1308
Hi both 👋

Thanks for the eagerness to contribute. @Goodiec would you mind working on https://github.com/ocaml/ocaml.org/issues/1310 instead, I did ask @Muskan-sam not that long ago :))

[2021-03-29 16:34] Goodiec commented on #1308
OK @patricoferris, thank you!

[2021-03-29 16:35] Goodiec commented on #1310
Hello @patricoferris please assign this to me.

[2021-03-29 16:48] mahakbansal2019 commented on #1245
Hi @patricoferris
I'm an outreachy applicant and I'm interested in 2 projects under OCaml organization.
The projects are "Improving the ocaml.org website" and "Add templating to the OCaml documentation generator".
It would be great If you can assign any relevant issue to me.
Thanks :)

[2021-03-29 16:54] pitag-ha commented on #1306
@jyotibalodhi, could you please wait for @shlokalakka to answer if they want to work on this issue? :) If they say no, you can certainly work on it, but we should give them some time to answer first.

We're adding more issues at the moment so that everyone who wants to contribute can do so. In general, if there's no open `good-first-issue`, you can let us know [here](https://github.com/ocaml/ocaml

[2021-03-29 16:59] pitag-ha commented on #1310
@Goodiec , you can start working on this issue, if you'd like :) Noone else should pick this up now, since we can all see that you've already expressed your interest here. There is no need to get the issue officially github assigned.

[2021-03-29 17:13] pitag-ha opened #1311 "Add 2020 OCaml workshop videos"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

On the media page there are a couple of videos about OCaml, most of them rather old though.

![Screenshot from 2021-03-29 19-06-33](https://user-images.githubusercontent.com/39061003/112873589-1ed0fd00-90c2-11eb-921c-b40552c30b6a.png)

I suggest to add the [2020 OCaml workshop videos](h

[2021-03-29 17:26] pitag-ha opened #1312 "Make click-ability of headers visual"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

There are several headers on different pages that are clickable. For example on Learn:

![Screenshot from 2021-03-29 19-21-05](https://user-images.githubusercontent.com/39061003/112874960-ddd9e800-90c3-11eb-84d0-31f3a1981eab.png)

In this extract, all of **Code Examples**, **Tutorials**

[2021-03-29 17:41] ith8 commented on #1311
I'm interested in working on this.

[2021-03-29 17:51] pitag-ha commented on #1311
Sure @ith8, go ahead :)

[2021-03-29 18:19] ChitvanRamani22 commented on #1312
Hi @patricoferris could you please assign this to me.

[2021-03-29 18:21] ChitvanRamani22 commented on #1305
@patricoferris can i work on this?

[2021-03-29 18:23] ChitvanRamani22 commented on #1287
@nibble0101 can i work on this

[2021-03-29 18:37] nibble0101 commented on #1287
Hi @ChitvanRamani22 . Welcome to ocaml.org. That issue already has a PR linked. @patricoferris  should be able to create an issue for you or else I can create one and ping him for approval before you start working on it.

[2021-03-29 18:44] gurleennsidhuu commented on #1307
Hi. Can I work on this issue?

[2021-03-29 18:44] ChitvanRamani22 commented on #1287
@nibble0101 thanks a lot i have to start it as soon as possible

[2021-03-29 18:47] patricoferris commented on #1245
Hi everyone 👋

Let me first say how grateful and excited I am to see so many new people want to help and contribute to the OCaml community! Thank you.

I appreciate that now the Outreachy contribution period has officially begun and people will want issues. We're adding issues and helping people to the best of our abilities. @pitag-ha is also helping and whenever possible @avsm :))

## Issue Assig

[2021-03-29 18:52] patricoferris commented on #1312
Hi @ChitvanRamani22 welcome to the community.

Sure you can work on this. I've added some extra information in #1245 about the process. The summary is you don't need to be "Github assigned" to the issue.

[2021-03-29 18:53] ChitvanRamani22 commented on #1312
@patricoferris okay thaks

[2021-03-29 18:56] ChitvanRamani22 commented on #1291
@patricoferris i want to work on this it seems to be a good issue to start my journey.

[2021-03-29 19:41] patricoferris commented on #1305
@ChitvanRamani22 I appreciate your enthusiasm and you now have a separate issue to work on #1312.

@IkehAkinyemi has quite clearly already registered his interest here, so I've just reiterated over on #1245 the process and our goal to try to foster the right kind of environment so people feel comfortable contributing.

@IkehAkinyemi thanks for taking this issue on, please take all the time you nee

[2021-03-29 19:44] patricoferris commented on #1291
Hi @ChitvanRamani22,

I really do appreciate your eagerness but you have now commented on an issue someone is already working on, an open issue that you are now assigned to, and two issues (this one included) which have pull requests open for them. Keeping track of this many issues seems hard. Can I suggest you focus on #1312 to begin with?

[2021-03-29 20:08] nibble0101 opened #1313 "Improve the footer section"
Currently when you navigate to the `footer` section of any page, you will notice the following.

1. All the headings of the different `footer` sections are `links` except the last section whose heading is `Website`. Since all the other sections have headings that link somewhere, it would be better to have the last one be a link  given the fact that  all of them have the same styling. I would sugge

[2021-03-29 20:11] nibble0101 commented on #1313
@patricoferris  and @avsm . I think this would be a good first issue for #1245. What do you think?

[2021-03-29 20:15] dinakajoy commented on #1313
Hi, I am an outreachy applicant and I would like to work on this task

[2021-03-29 20:26] nibble0101 opened #1314 "Inconsistency between French and English pages of https://ocaml.org/community/support.html"
# Issue description

If you navigate to the English version of [community/support](https://ocaml.org/community/support.html) page, you will see the following:
**English page**
![image](https://user-images.githubusercontent.com/52580190/112895170-759bfe00-90e5-11eb-8029-4eb2c3855f01.png)

When you switch to the French version, you see something else. Check the screenshot below.  My understanding is

[2021-03-29 20:30] nibble0101 commented on #1314
@patricoferris  and @avsm . I am not sure whether this one falls within the scope of `good first issue` or #1245. Let me know what you think.

[2021-03-29 20:40] nibble0101 commented on #1313
Hi @dinakajoy. Welcome to ocaml.org. You can start exploring and investigating how to come up with a fix but it would be best to first get the opinion of either @patricoferris  or @avsm to be sure the issue is:
1. Worth fixing
2. Within scope of #1234
That is why I pinged them. It will avoid wasting lots of time on an issue which might be out scope for beginners. I am not very familiar with the co

[2021-03-29 20:41] mahakbansal2019 commented on #1314
Hi @patricoferris!
I'm an outreachy applicant.
If this issue falls under #1245 then Can I work on this.

[2021-03-29 21:07] IkehAkinyemi commented on #1305
Thank you so much @patricoferris.

Currently, I have implement the changes needed. Just making sure that it doesn't break any other code somewhere else.

[2021-03-29 21:24] dldisha commented on #1311
Hey, @pitag-ha can I also work on this issue?

[2021-03-29 21:34] pitag-ha commented on #1311
@dldisha , thanks for your interest :) but there can only be one person working on an issue. Otherwise we might duplicate the work done. We will add more issues tomorrow, so tomorrow you should be able to get an issue no one is working on yet.

[2021-03-29 21:36] dldisha commented on #1311
Okay, no problem. I'll wait for new issues.

[2021-03-29 23:15] dharmelolar commented on #1259
Please can I work on this issue, I can see that it has not been resolved. @meenal06

[2021-03-30 00:37] TildaDares commented on #1245
Hello @patricoferris I'm having issues with building the site. Where do I ask for help?

[2021-03-30 02:06] jyotibalodhi commented on #1306
Hello @pitag-ha , Certainly. I probably missed the mention! :)

[2021-03-30 03:41] kaniaganda commented on #1245
Hello @patricoferris, I am an Outreachy Summer 2021 applicant, and I am interested in contributing to OCaml. I am a first-time open source contributor and am excited to have the opportunity to learn and contribute to OCaml's website.

I have looked at the first time issues list, but there are no current available issues to work on. Please let me know if there is an available issue for me to work o

[2021-03-30 03:52] shlokalakka commented on #1306
hey @kaniaganda
You can work on this Issue as I'm not attempting it.

[2021-03-30 04:02] kaniaganda commented on #1306
@shlokalakka Yes! I would be happy to work on this issue.
@pitag-ha and @patricoferris Is it fine if I work on this issue, or is @jyotibalodhi working on this issue?

[2021-03-30 04:14] jyotibalodhi commented on #1306
Hi @kaniaganda , as @shlokalakka is not working on the issue, I think I would like to work on it. I would however definitely reach out and mention if I have any problems and need help :)

[2021-03-30 04:30] kaniaganda commented on #1306
@jyotibalodhi No problem! Thanks for letting me know that you are working on the issue. I would be happy to contribute if help is still needed in the future.

[2021-03-30 04:54] jyotibalodhi commented on #1245
Hello @patricoferris, I am an outreachy applicant, I would love to work on issues related to frontend technologies and learn about other tools and technologies that can help me understand and contribute to this project better. I am looking forward to working with all the mentors and community members.  Currently I am working on #1306 ! Also, kindly tag me if you come across any issue that might he

[2021-03-30 05:54] gurleennsidhuu commented on #1245
Hi @patricoferris , I am an outreachy applicant. I searched some 'good first issues' but every issue has already been assigned to someone else. Please help me out with this. Thank you in advance! :)

[2021-03-30 06:08] ChitvanRamani22 commented on #1312
@patricoferris i am a bit stuck and confused on how to install opam. Could you please help me.

[2021-03-30 06:15] nayaldivya commented on #1307
Since the text is very long, I guess making them a button won't look much appealing. @pitag-ha What do you think of these changes? I changed the font color keeping the overall theme of the page in mind and added the underline effect as you suggested.
![ocaml index](https://user-images.githubusercontent.com/73695161/112941849-dad70a00-914c-11eb-99b9-78c866c4f0de.png)
.

[2021-03-30 07:36] TildaDares commented on #1245
I've installed opam and cloned the Ocaml codebase but when I try to build with `make` it returns this:
[code]

[2021-03-30 08:25] TildaDares commented on #1245
Thank you @patricoferris your solution worked. If anyone else has this problem try this: https://discuss.ocaml.org/t/error-while-setting-up-ocaml-project-using-wsl/7466/7

[2021-03-30 08:42] TildaDares commented on #1245
Hello, I am an outreachy applicant and I'm very excited to contribute. Currently all the good-first-issues are assigned to someone so if there are any unassigned issues to work on I'd be very grateful if I was tagged. Thank you and I look forward to working with all of you.

[2021-03-30 08:44] TildaDares commented on #1312
@ChitvanRamani22 Follow this guide: https://ocaml.org/learn/tutorials/up_and_running.html

[2021-03-30 08:46] pitag-ha commented on #1307
@nayaldivya, I'm no UX-expert, but to me that looks great, thanks! Don't hesitate to open a PR for it when you feel comfortable. That way we can have a look at the code. Did you use the same color as used for other links on ocaml.org?

[2021-03-30 08:56] ChitvanRamani22 commented on #1312
@TildaDares I referred this vedio https://youtu.be/xTsHMja8joA is it fine ?

[2021-03-30 08:59] Bhavika-Gianey commented on #1245
Hello , I am an outreacy 2021 applicant .Looking forward to contribute to this OCaml Community.I am new to open source community and after going through opened issues , I found that they are already assigned to someone. Kindly help me if you come across any issue that might help me in growing my skills and working with OCaml further.

Also can we open our own issues and start working on them??

[2021-03-30 09:11] nibble0101 opened #1315 "Improve https://ocaml.org/meetings/ page"
Currently when you navigate to the [meetings page](https://ocaml.org/meetings/), there are strange  characters in the text under the `Ocaml meetings > In Europe` section. Check the screenshot below at the end of the lines.

![image](https://user-images.githubusercontent.com/52580190/112962666-4c17bc80-914f-11eb-81f0-a711e02f0b30.png)

When you switch to the French page and translate it to English,

[2021-03-30 09:13] nibble0101 commented on #1315
@patricoferris  and @avsm. Could this be within the scope #1245?

[2021-03-30 09:17] pitag-ha opened #1316 "Improve the tutorials"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org. In particular, this issue would be great for someone interested in OCaml but with with no or little experience in it.

The tutorials in _Home -> Learn -> OCaml Tutorials_ are meant for people with no or little experience in OCaml. I suggest that someone with no or little experience goes

[2021-03-30 09:23] TildaDares commented on #1312
@ChitvanRamani22 You should ask @patricoferris . I'm an outreachy applicant.

[2021-03-30 09:23] pitag-ha opened #1317 "Resize icons in Community"
At the bottom of Community we have the OCaml around the World section. The icons there are all sized differently. Furthermore, all items but one are in the first line and the only icon in the second line is bigger than the others:

![Screenshot from 2021-03-30 11-19-21](https://user-images.githubusercontent.com/39061003/112965632-b88fbd00-9149-11eb-9c94-40f5db1eee8c.png)

I suggest to resize the i

[2021-03-30 09:24] pitag-ha commented on #1245
@TildaDares, does #1316 or #1317 sound interesting to you?

[2021-03-30 09:27] TildaDares commented on #1317
This looks interesting. Can I work on this?

[2021-03-30 09:28] pitag-ha commented on #1245
@Bhavika-Gianey, same question: does #1316 or #1317 sound interesting to you?

Which skills do you want to grow?

Yes, you definitely can and we highly encourage that :) Just make sure to open an issue before working on it so that we know what you're working and and let you know in case we would change anything

[2021-03-30 09:32] pitag-ha commented on #1317
@TildaDares , sure, go ahead :)

[2021-03-30 09:37] pitag-ha opened #1318 "Add discourse to OCaml Around the World"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

At the bottom of Community we have the OCaml around the World section.

![Screenshot from 2021-03-30 11-19-21](https://user-images.githubusercontent.com/39061003/112967908-0b6a7400-914c-11eb-864f-178d6be8fc2c.png)

I suggest to also add a discourse icon to it linking to [discuss.ocaml.o

[2021-03-30 09:38] pitag-ha commented on #1317
Notice that I've just opened another issue that is related to this one: #1318. I'm just mentioning that so that you can take into account that there will be one more icon soon.

[2021-03-30 09:44] pitag-ha opened #1319 "Remove Google+ links"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

On the News page we share blog posts and on their right have links to share them on social media:

![Screenshot from 2021-03-30 11-43-43](https://user-images.githubusercontent.com/39061003/112969010-22f62c80-914d-11eb-9a3a-21eab2adc304.png)

I suggest to remove the Google+ link from the

[2021-03-30 09:45] ChitvanRamani22 commented on #1312
@TildaDares have you done the setup in your machine.

[2021-03-30 09:52] TildaDares commented on #1317
Noted.

[2021-03-30 09:54] TildaDares commented on #1312
@ChitvanRamani22 Yeah I have. Do you have issues setting it up?

[2021-03-30 09:57] TildaDares commented on #1317
@pitag-ha How does this look?

![image](https://user-images.githubusercontent.com/63427719/112970883-934d7f80-9146-11eb-92d8-e7f11580a72d.png)

[2021-03-30 10:05] pitag-ha commented on #1317
@TildaDares , I'm no design expert, but to me that looks great, thanks! Don't hesitate to open a PR for it when you've implemented it and feel comfortable. That way we can have a look at the code.

[2021-03-30 10:10] pitag-ha commented on #1312
@ChitvanRamani22, do you have a concrete question about how to install opam? Have you had a look at the [up and running guide](https://ocaml.org/learn/tutorials/up_and_running.html) @TildaDares has pointed you to? Is there anything concrete you don't understand about it?

[2021-03-30 10:13] gurleennsidhuu commented on #1318
Hi. Can I work on this issue?

[2021-03-30 10:16] pitag-ha commented on #1318
Hi @gurleennsidhuu, sure, go ahead :)

[2021-03-30 10:19] nibble0101 commented on #1317
@pitag-ha  Isn't this issue a duplicate of #1270? Looks like someone is already working on it.

[2021-03-30 10:22] gurleennsidhuu commented on #1315
Hi. Can you please help me understand this a little more? Do we have to add a side navigation to the English page + remove the extra characters at the end?

[2021-03-30 10:34] pitag-ha commented on #1317
@nibble0101 , thanks a lot for noting that! @TildaDares , I'm very sorry I missed #1270. Do you think you could find another issue you're interested in?

[2021-03-30 10:34] nibble0101 commented on #1315
@gurleennsidhuu  It is great that you have registered interest in working on the issue. My opinion is yes but it is advisable to wait for what @patricoferris  or @avsm  thinks before you start working on it.  Nevertheless it shouldn't stop you from exploring.

I think the following are worth fixing:
1. Remove the stray characters
2. Transfer the outdated event under upcoming events to past events

[2021-03-30 10:36] patricoferris commented on #1313
Thanks @nibble0101 this is great👍

@dinakajoy feel free to submit a PR for this :))

[2021-03-30 10:39] patricoferris commented on #1314
This should probably be fixed (quite a few translations are out of sync). @mahakbansal2019 can I ask, do you speak french? I think this issue is best handled by someone bilingual.

[2021-03-30 10:40] Bhavika-Gianey commented on #1319
Hello @pitag-ha  and  @patricoferris,I want to  fix this issue as part of my outreach contribution phase.

[2021-03-30 10:41] pitag-ha commented on #1319
@Bhavika-Gianey , sounds good, please go ahead.

[2021-03-30 10:41] patricoferris commented on #1315
Thanks again @nibble0101 your contributions here have been nothing short of superb!

@gurleennsidhuu feel free to tackle this issue, to keep it manageable I would focus on (1) and (2) for now unless you feel capable to handle the translations.

[2021-03-30 10:49] Ndipbanyan commented on #1316
Hi @patricoferris @pitag-ha I will like to take on this issue

[2021-03-30 10:51] pitag-ha commented on #1316
@Ndipbanyan , great :) don't hesitate to ask questions here when you are unsure.

[2021-03-30 10:56] Srinithyee commented on #1316
Hi @pitag-ha I am a beginner in OCaml. I am looking for some good first issues as a part of my Outreachy application. Looks like most of the beginner issues have been assigned. It would be great if you could suggest some issues I can work on. Thanks!

[2021-03-30 10:59] pitag-ha opened #1320 "Fix header bug when resizing"
This would be a **good first issue** for anyone looking to get started improving and contributing to OCaml.org.

Currently, when resizing the browser window to 976x_, the header looks as follows:

![Screenshot from 2021-03-30 12-50-06](https://user-images.githubusercontent.com/39061003/112978107-33aba000-9157-11eb-813c-af4f8a105477.png)

I.e., the search bar pops into a second line and messes up t

[2021-03-30 11:00] pitag-ha commented on #1320
@TildaDares , would you be interested in this issue? If you can't reproduce the problem described (or aren't interested for another reason), let us know and we find you another issue.

[2021-03-30 11:01] pitag-ha commented on #1317
@TildaDares, would you be interested in #1320? Sorry again for the duplicate. I'm closing this.

[2021-03-30 11:01] #1317 closed

[2021-03-30 11:03] gurleennsidhuu commented on #1318
![discourse](https://user-images.githubusercontent.com/64313783/112978922-898f4080-9175-11eb-9790-c7edad8fe238.png)
Is this discourse icon fine?

[2021-03-30 11:04] dinakajoy commented on #1313
Sure, thank you

[2021-03-30 11:04] Ndipbanyan commented on #1316
Sure I will thanks @pitag-ha

[2021-03-30 11:05] Srinithyee commented on #1316
@Ndipbanyan have you been assigned this issue? or can I also work on it?

[2021-03-30 11:08] Srinithyee commented on #1320
@pitag-ha Can I try my hand at this issue?

[2021-03-30 11:10] TildaDares commented on #1320
@pitag-ha Yes I'd like to work on it.

[2021-03-30 11:19] nibble0101 commented on #1320
I think one possible way of investigating it is to open the browser console and set the browser width in the range `980px - 993px` because it happens when the browser width is in that range.

[2021-03-30 11:21] pitag-ha commented on #1316
Hi @Srinithyee

A good place to state that you're interested in contributing but can't find a good issue is [here](https://github.com/ocaml/ocaml.org/issues/1245). One usually tries to restrict the conversation on an issue to topics related to the issue.

I think @Ndipbanyan has stated their interest pretty clearly when saying "I will like to take on this issue". You can read more about issue "ass

[2021-03-30 11:27] patricoferris opened #1321 "Bump OMD to 2.0.0~alpha1"
This issue is to upgrade the OCaml scripts which use Omd to the latest version of Omd. This issue is not necessarily very straight forward, but would expose someone to a lot of OCaml code, compiler errors and working in harmony with the type checker.

The main change is in the omd abstract syntax tree (AST) -- for example in `scripts/code.ml` we have:

[code]

But the AST has changed, and `Omd.of_

[2021-03-30 11:27] Srinithyee commented on #1316
@pitag-ha  Thanks for the heads up. I am looking for any contribution in general. I thought tutorials would be an easy way to start, since I've had no prior experience with Ocaml. Thanks for the link as well. I will try commenting and looking for some new issues there. Sorry about initiating this conversation under the issue.

[2021-03-30 11:33] Srinithyee commented on #1245
Hi! This is Srinithyee, a fellow Outreachy applicant. I am looking for some beginner friendly issues since I am completely new to OCaml and am willing to learn by contributing. Any help with directing me to some good-first-issue is sincerely appreciated.

[2021-03-30 11:47] TildaDares commented on #1320
Were you able to reproduce the bug locally or on the live site? When I use dev tools on the local site, it looks like this:

![image](https://user-images.githubusercontent.com/63427719/112983731-ef6bd000-9155-11eb-83ff-092e879e45cf.png)

But it looks normal when I do the same thing on the live site.