[2021-03-30 11:54] saniikakulkarni commented on #1319
Hello @pitag-ha I would like to work on this issue.

[2021-03-30 11:56] gs0510 commented on #1246
@Muskan-sam Have you had any progress with the issue? :)

[2021-03-30 12:07] mahakbansal2019 commented on #1314
@patricoferris I don’t know french.
I think I should work on something else.
Could you assign some issue related to frontend work ?

[2021-03-30 12:09] Bhavika-Gianey commented on #1245
Can I set up the ocaml.org website repo on Windows ??

[2021-03-30 12:18] Bhavika-Gianey commented on #1319
@saniikakulkarni I am already working on this issue, I don't think this task requires two duplicated same codes.

[2021-03-30 12:22] patricoferris commented on #1245
@Bhavika-Gianey yes! Your best bet is to use WSL -- see this related discuss post from another Outreachy applicant https://discuss.ocaml.org/t/error-while-setting-up-ocaml-project-using-wsl/7466

[2021-03-30 13:04] patricoferris commented on #1245
Hi Everyone,

There is an incredible number of you on here which is fantastic! There are three OCaml projects this year, could you please react to this comment with the one (or more) you are interested in (please only do the ones you are actually committed to and feel comfortable you meet the requirements for). We're trying to gauge interest and approximate rough estimates of how many applicants t

[2021-03-30 13:08] Srinithyee commented on #1245
@patricoferris ❤️👍

[2021-03-30 13:09] patricoferris commented on #1245
@Srinithyee (and everyone else) please can you react to the comment.

[2021-03-30 13:10] Srinithyee commented on #1245
Oops! Sorry about that

[2021-03-30 13:20] gs0510 opened #1322 "Fix whitespace in header"
On mobile, there's a whitespace in the header which doesn't fill all the way and leaves a space at the end of the header.

![IMG_1728](https://user-images.githubusercontent.com/8718814/112995368-6e1f3800-916b-11eb-87e8-75f5f581f417.jpg)

[2021-03-30 13:21] gs0510 opened #1323 "Fix whitespace in footer"
On mobile, there's a whitespace in the footer which doesn't fill all the way and leaves a space at the end of the footer.

![IMG_1729](https://user-images.githubusercontent.com/8718814/112995499-9444d800-916b-11eb-8332-046dd1dc7d51.jpg)

[2021-03-30 13:24] gurleennsidhuu commented on #1318
I am first time using the 'make' command on bash and it's showing some error. Can you please me?

[2021-03-30 13:28] #1323 closed

[2021-03-30 13:29] gs0510 commented on #1323
Same as https://github.com/ocaml/ocaml.org/issues/1276!

[2021-03-30 13:29] gs0510 commented on #1322
Same as https://github.com/ocaml/ocaml.org/issues/1276

[2021-03-30 13:29] #1322 closed

[2021-03-30 15:08] gs0510 commented on #1318
@gurleennsidhuu  Can you post the errors here? It will be helpful for us to debug if you post the error you see. Additionally, please add what operating system you are running on. Thanks!

[2021-03-30 15:15] nayaldivya commented on #1307
@pitag-ha, I've made the PR. Also, I was thinking of adding some hovering effect to the elements but was not able to decide what? Any ideas or hints will be appreciated.

[2021-03-30 15:29] gs0510 opened #1325 "Make search icon a button"
Currently the search icon in the header is not clickable, which can be deceiving if you go to click on it. Changing the icon to a button that can be clicked will solve this.

[2021-03-30 15:34] gurleennsidhuu commented on #1318
![error](https://user-images.githubusercontent.com/64313783/113015737-768f6700-919b-11eb-848d-88f436f5c185.png)
Thanks in advance! :)

[2021-03-30 15:35] gurleennsidhuu commented on #1318
my directory is ~/ocaml.org

[2021-03-30 15:38] pitag-ha commented on #1318
@gurleennsidhuu , have you seen the [contribution document](https://github.com/ocaml/ocaml.org/pull/1241/files)?

[2021-03-30 15:44] NformiBlandine commented on #1245
Am sorry dear,am still looking for another possibility how how to solve
this kinc of situation,if I get any solution,will do let you know.Am happy
to hear from you

On Tue, Mar 30, 2021, 4:39 PM Sanduni Kariyawasam ***@***.***>
wrote:

[2021-03-30 16:00] gs0510 opened #1327 "Link text is unclear"
The text "Learn" in the nav-bar and the footer is unclear without context and may be confusing to screen readers.  You can add a special screen reader text than can help with accessibility.

Relevant code:
[code]

[2021-03-30 16:01] gs0510 opened #1328 "Images on opam.ocaml.org don't have alt text"
The Github, OCamlPro and Ocaml icons in the footer of `opam.ocaml.org` do not have alt text which might be helpful to screen readers.

You can add an alt text to the image like so:
[code]

[2021-03-30 16:13] somya104 commented on #1328
Hey @patricoferris
I am an outreachy applicant and would like to work on this issue.

[2021-03-30 16:14] IkehAkinyemi commented on #1325
Before now, while working on the header I discovered the icon is a background-image that was set to non-repeat, so it's not an icon at all. And putting an icon to the search component would very beneficial, countering the deceptive status.

[2021-03-30 16:16] IkehAkinyemi commented on #1325
So I propose we remove the background-image and replace it with an actual SVG icon, lightweight and highly compatible with all browsers, including IE. @patricoferris @gs0510

[2021-03-30 16:25] patricoferris opened #1329 "Issue and PR templates"
It would be nice to have some good Issue and PR templates for contributors to use. There have been some stellar examples already from contributors that we could definitely borrow from as inspiration. For example

 - @nibble0101's PR for adding some borders https://github.com/ocaml/ocaml.org/pull/1262 -- the before and after screen shots are great in providing us with some notion that the work has

[2021-03-30 16:27] #1287 closed

[2021-03-30 16:32] IkehAkinyemi commented on #1320
Hello @pitag-ha, @TildaDares, @patricoferris, @nibble0101 and @olleolleolle

While working on [#1305](https://github.com/ocaml/ocaml.org/issues/1305) issue, I noticed the header bug and did the due diligence of fixing it alongside the issue I was working on. Already made a PR to it concurrently, [#1326](https://github.com/ocaml/ocaml.org/pull/1326). Sorry for saying this late, just going through t

[2021-03-30 16:38] TildaDares commented on #1329
@patricoferris Can I work on this?

[2021-03-30 16:53] gurleennsidhuu commented on #1318
Yes. I just read it again. I am quite confused about the makefiles.

[2021-03-30 16:58] jyotibalodhi commented on #1306
Hi @pitag-ha @patricoferris, I have completed the local built of OCaml project. But while exploring the codebase, I am not able to find the correct location to make changes to for solving this particular issue. I have gone through the contributing guidelines, which state the script and site folders of the project contain most of these files but unable to find them. I would be really glad if you co

[2021-03-30 16:58] priyanka0906 commented on #1245
Hello My name is Priyanka.  I am an outreachy applicant, I have knowledge of html ,css and  javascript. I want to contribute  to ocaml. I am interested in this project: **Improve the ocaml.org website**.

[2021-03-30 17:04] patricoferris commented on #1329
Hi @TildaDares just saw that something you were working on got accidentally fixed, sorry about that. Could you work on the PR template and then I can find somebody else to work on the issue template? Does that sound okay? Thanks for you willingness to contribute :))

[2021-03-30 17:08] IkehAkinyemi opened #1330 "Update The CONTRIBUTING.md File To Provide More Guidance While Contributing."
The `CONTRIBUTING.md` file needs more content explaining:
!. The Issue and PR templating when making a PR.
2. How to make changes to the build folder, `ocaml.org`, while working on any issue or bug to visually view the changes on the browser and updating the respective folders outside the ocaml.org folder, (it will also be glad to mention that the `ocaml.org` folder is also listed among the .gitig

[2021-03-30 17:13] avsm commented on #1330
All these changes sound good. Please do go ahead and propose a PR with the clarifications you would like to see, and we'll work with you to get those merged.

[2021-03-30 17:23] crpto-bug commented on #1245
Hello everyone my name is Mahaboob Shariff an outreachy applicant. I would like to contribute to opam package search.
@patricoferris I have reacted to the comment.

[2021-03-30 17:47] Lovelyfin00 commented on #1328
Hi @patricoferris @gs0510
I'm Loveth and an outreachy intern. I would love to work on this issue.
Thanks

[2021-03-30 20:29] Annysah commented on #1245
Hello everyone,
I am an outreachy applicant 2021 and I'm very excited to contribute to Ocaml projects. All the good-first-issues are currently assigned to someone, if there are any unassigned issues to work on I would be grateful if I was tagged. Thank you in anticipation and I look forward to working with all of you.

[2021-03-30 22:12] Annysah commented on #1245
@patricoferris How do I get to install OCaml & Opam installed on Windows?. The guideline to installing it seem a bit confusing.
Thanks in anticipation.

[2021-03-30 23:21] Goodiec commented on #1245
Hi @Annysah one way to do that would be to set up Windows Subsystem for Linux (WSL) for your computer, you can research how to do that. Once you have that ready, you can run the following commands using the following commands:

sudo add-apt-repository ppa:avsm/ppa
sudo apt-get update
sudo apt-get install ocaml opam

You should have ocaml and opam installed on your system after running the commands

[2021-03-30 23:32] IkehAkinyemi commented on #1330
Thank you so much @avsm.

[2021-03-30 23:51] LindieK commented on #1245
Hi @Goodiec I followed the instructions in the guide up until installing the dependencies on the Cygwin  terminal. Is the next step to try to pin the package file as the Contribution.md file says? I tried running  `opam pin add -yn ocamlorg .` as stated but I get prompted to create a new package as the one I am trying to pin doesn't exist.

[2021-03-31 00:15] LindieK commented on #1329
I'd like to work on the issue template.

[2021-03-31 00:56] IkehAkinyemi commented on #1329
@LindieK, I believe @TildaDares is still working on this issue. I suggest you look through the open issues available to contribute to.

[2021-03-31 01:28] LindieK opened #1334 "Resize and Realign Buttons on opam home page"
The "Download and Install" button and the "How to use opam" button do not align on mobile and messes with the layout of the rest of the page. The buttons need to be vertically realigned on mobile devices.

Here's how it looks on mobile:
![Screenshot_20210331_021319_org mozilla firefox (2)](https://user-images.githubusercontent.com/38317939/113077124-7063af80-91c8-11eb-9953-ae752d26b8ba.jpg)

[2021-03-31 01:37] IkehAkinyemi commented on #1334
Hello @LindieK, this issue has already been raised at [#1259](https://github.com/ocaml/ocaml.org/issues/1259). You could either ask @meenal06 if she's currently working on it, then propose to work on it if it's still available.

This would help to avoid duplication of issues, even PRs on the same issue. Thanks for your understanding.

[2021-03-31 01:39] IkehAkinyemi commented on #1334
You can also scroll down to older open issues to see if there's any still available to work on, while newer issues get reported daily for fixes.

[2021-03-31 01:43] jyotibalodhi commented on #1245
Hi @LindieK, I am not sure but this may be due to the compatibility issues of omd>=2, You need to repin the opam file or force install an older version of omd and after that try building again, you can try `opam install omd.1.3.1 ` as I also got the error and this worked for me. Hope it helps :)

[2021-03-31 03:24] IkehAkinyemi commented on #1330
Hello @avsm, I have completed this, but I'm pending to make a PR because the last pending PR I made some hours ago is yet to be merged and it was made to the `master` branch as you suggested at [#1326](https://github.com/ocaml/ocaml.org/pull/1326) and the current PR is expected to be made to the `staging` branch. These difference in branches would cause errors/conflicts in the repository. So I wil

[2021-03-31 04:27] CarolVilarino commented on #1245
Hi Everyone! Good to be here /o/ I'm an Outreachy applicant I would like to contribute to the project! I was very interested in learning about the language and also helping to improve the website. I'm looking for tasks to be solved, but the newest ones have already been taken.

[2021-03-31 04:32] CarolVilarino commented on #1245
I am also very interested in helping with the translations! We have almost no content in Portuguese about this. I do believe that helping with the translation of the site and in the documentation could help attract more people interested!

[2021-03-31 04:55] dinakajoy commented on #1313
Hi @patricoferris is there a way to view project in browser development mode to see changes without building it out please?
I have to build on every change and it's time consuming.
Thank you.

[2021-03-31 04:55] gs0510 commented on #1328
@somya104 Please go ahead, you can work on this issue. :)

[2021-03-31 04:56] gs0510 commented on #1327
@IkehAkinyemi  Since you already have a PR open for a `good-first-issue`, I'd prefer if you took on a harder issue now :)

[2021-03-31 05:47] sakshi-06 commented on #1245
Hello, everyone I'm an outreachy applicant and would love to contribute to improve OCaml.org webiste. My current skills include HTML, CSS . I'm a beginner in open source and would love to learn more. If there are any unassigned good-first-issues,  I would love to start working on them. :)

[2021-03-31 06:55] crpto-bug commented on #1245
hello @patricoferris i have reacted for Opam package search

[2021-03-31 07:08] gs0510 commented on #1327
About context, I meant that the link just says "Learn" which can be harder to understand if someone is using a screen reader. If there's alt text that can help provide context for screen readers it will make the link more accessible.

[2021-03-31 07:10] Ndipbanyan commented on #1316
@pitag-ha I went through the `Up and Running` and ` The Basics` pages as someone with no experience in OCaml and have the following to say and will like to make changes :
* In `Up and Running` using `Next` instead of `Then` here
<img width="794" alt="Screenshot 2021-03-31 at 07 41 06" src="https://user-images.githubusercontent.com/67186679/113102701-4923d700-91f6-11eb-9b09-cf57f77bcafd.png">

make

[2021-03-31 07:11] Srinithyee commented on #1327
@gs0510 If @IkehAkinyemi is fine with me working on this issue, I'd love to start with this.

[2021-03-31 07:53] LindieK commented on #1245
@jyotibalodhi  Thanks. I tried it but it didn't work. Here's the error I get.

![opam error](https://user-images.githubusercontent.com/38317939/113109858-4af19880-91fe-11eb-86e3-37df77870b09.JPG)

[2021-03-31 08:10] anshukaira commented on #1285
Hey @patricoferris
Actually I was not able to come online for last 10 days due to some personal reasons. Sorry for that :(
Thanks a lot for assigning the issue and I think it is already been taken care of.
I will be online but I see a lot of potential applicants.
If you still find a new issue please assign me once again.
thanks again.

[2021-03-31 08:11] patricoferris commented on #1329
Actually @LindieK if you would like to draft up an *issue template* that would be fantastic. A good one to have would be a front-end focused one. And could require information like:

 - Description of the visual bug (with optional but greatly appreciated screenshot)
 - What browser someone is using
 - What device they are on

[2021-03-31 08:14] patricoferris commented on #1285
Hi @anshukaira

Very sorry to hear that, I hope everything is okay. I'll bump you up on my long stack of things to do and hopefully will create an issue for you some time today or tomorrow.

@divya144 how is everything going, do you need any help? No pressure, just want want to make sure you're not blocked on anything :))

[2021-03-31 08:17] LindieK commented on #1329
@patricoferris Okay cool. Will work on that.

[2021-03-31 08:19] dinakajoy commented on #1255
I am looking for another issue to take up. @nibble0101 @gunjan543 @patricoferris, has this issue been resolved or at work in progress level? Please let me know. Thank you

[2021-03-31 08:20] anshukaira commented on #1285
thanks a lot!!! @patricoferris  ^_^

[2021-03-31 08:22] dinakajoy commented on #1258
I am looking for another issue to take up. @yashi-hub are you still working on this? @patricoferris has this issue been resolved or at work in progress level? Please let me know. Thank you

[2021-03-31 08:25] nibble0101 opened #1336 "Improve https://ocaml.org/learn/portability.html page"
# Issue description

When you navigate to [learn/portability](https://ocaml.org/learn/portability.html) page, you will see a couple of tables which are quite difficult to read and comprehend. You can check the screenshots below.

![image](https://user-images.githubusercontent.com/52580190/113113312-d4ab6100-9212-11eb-9553-f4ce92ec3254.png)
![image](https://user-images.githubusercontent.com/5258019

[2021-03-31 08:26] nibble0101 commented on #1336
@patricoferris  and @avsm. What do you think?

[2021-03-31 08:28] patricoferris commented on #1336
That sounds great @nibble0101 is this something you want to work on?

[2021-03-31 08:29] nibble0101 commented on #1336
@patricoferris  No. You seem overwhelmed by the number of applicants. I am just trying to help. I will work on some issues perhaps later on when the numbers reduce.

[2021-03-31 08:37] yashi-hub commented on #1258
hey @dinakajoy . I've just finished the setup for the project and I am working on this issue now. it would be great if you could look for another one :)

[2021-03-31 08:48] nibble0101 opened #1337 "Improve presentation of list of contributors"
# Issue description

When you navigate to [contributors page](https://ocaml.org/contributors.html), there is a very long list of contributors arranged in alphabetical order. Check the screenshot below. As you can see there is one column leaving a lot of wasted space on the right in desktop view. Besides one will have to scroll all the way down to check the entire list.

![image](https://user-image

[2021-03-31 08:50] nibble0101 commented on #1337
@patricoferris  and @avsm. I am not sure if this will make a `good first issue` for #1245

[2021-03-31 09:11] Goodiec commented on #1245
Hello @LindieK you are getting that error because you are not in the repository directory. You have to cd into it. So if for instance, you have cloned the repository to your desktop you can do ``cd C:/Users/Your_Username/Desktop/ocaml.org`` then you can run the ``make deps`` command from there if you have installed ocaml and opam.

Do let me know if this is clear

[2021-03-31 09:20] pitag-ha commented on #1306
Hi @jyotibalodhi , a typical approach to find a section would be for example to search for some plain text in it. For example, I would guess that to find out where the `Taste of OCaml` section is, you could search for "OCaml is a lot more powerful than this simple example shows." or some part of it. You could do the search for example on the terminal with `grep` or in an editor like VSCode with Ct

[2021-03-31 09:28] pitag-ha commented on #1307
@nayaldivya , I like the idea! And great to see your initiative! :) What about explaining in the hovering what the links are about? For example, `Got a question? ...` links to the OCaml Discourse, the main platform to discuss OCaml. If you'd like, you can open an issue for that (which you can work on yourself).

[2021-03-31 09:35] Msgl commented on #1336
Hi! my name is Maria and I am an Outreachy candidate. Can I work on this issue?

[2021-03-31 09:41] nibble0101 commented on #1336
@Msgl Sure you can go ahead.

[2021-03-31 09:58] Jane-Kotovich commented on #1337
Heya! My name is Jane, im an Outreachy applicant. Could I work on this issue? Btw - is it necessary to present with numbers or you are okay with just lining them horizontally? Kind regards, Jane

[2021-03-31 10:26] shivanisinghnitp commented on #1337
Hello,
I am an Outreachy Applicant!
Can I work on this?
@avsm

[2021-03-31 10:27] Goodiec opened #1338 "Improve footer content arrangement on screen size 767px to 481px"
When you view the Ocaml website on a device with a screen size between 767px and 481 px, the last content column is displayed in the middle and this doesn't look too good.

![issue1](https://user-images.githubusercontent.com/15726413/113127779-0fac9500-9211-11eb-847f-c9cdcb4ee6ba.PNG)

I think it will look better if they were displayed in two columns and the font size for the top footer items for

[2021-03-31 10:30] shivanisinghnitp commented on #1338
Can I work on this?

[2021-03-31 10:33] pitag-ha commented on #1318
Hve you run `make deps`? Did it succeed?

It would be great if we could move this conversation to [irc](https://webchat.freenode.net/#ocaml) or to the [outreachy applicant issue](https://github.com/ocaml/ocaml.org/issues/1245) or similar. That way we'd leave the conversation on this issue about this issue and furthermore other applicatns who have already got the page up and running can try to give

[2021-03-31 10:51] pitag-ha commented on #1245
Hi @nayaldivya and @IkehAkinyemi, could you also react to Patrick's [comment above](https://github.com/ocaml/ocaml.org/issues/1245#issuecomment-810217825), please? I'm guessing that you're also interested in one of the projects since you're already working on some issues and have submitted PR's :)

[2021-03-31 10:51] pitag-ha commented on #1245
As Patrick has already mentioned it's fantastic that so many people are interested in contributing to OCaml! It just has the downside that it's hard to keep track of everyone who's looking for an issue. For the ones who are at the moment: if you could go through the issues (both `good-first-issue` and others) yourself to see if you find one or file new issues to work on, that would be great :)

[2021-03-31 10:53] LindieK commented on #1245
@Goodiec Yes this is clear. Thank you. I changed the directory and ran the `make deps` command as you said. it installed all the dependencies but one successfully. So to run the build locally, I called `make production` and started my local server (WAMP). I stumped on what to do next.

[2021-03-31 10:54] pitag-ha commented on #1245
@crpto-bug , great that you're interested in opam package search :) as stated above for eveyone, it would be perfect if you could try to find something to work on. What's your background? Do you already know some OCaml or are you eager to learn (either is fine)? And what about GraphQL?

[2021-03-31 11:01] patricoferris commented on #1338
This is a great suggestion thanks, go for it :))

[2021-03-31 11:16] patricoferris commented on #1245
Hi Everyone,

Some quick updates and hopefully helpful comments.

1. Great to see everyone helping each other get set up. If you are experiencing difficulties getting started (windows setup, building the site...) and are getting errors, please *open a new issue* and we can help there and people can easily search the issues in case they are having the same problem. There is also the Discord Outreac

[2021-03-31 11:29] Srinithyee commented on #1245
@patricoferris
It would be super helpful if you could let me know if Issue #1327 is claimed by @IkehAkinyemi or not. @gs0510 has opened the issue and has also suggested @IkehAkinyemi to work on another issue since he already has a PR open for a good-first-issue.
If it is open, I'd love to be assigned to it. Thanks!

[2021-03-31 11:39] patricoferris commented on #1327
Yep, I agree with @gs0510 here. @IkehAkinyemi I think your have at least two separate things you are working on (the moving of the language selector, fixes to the contributing docs) both still in the works, let's focus on those :))

@Srinithyee please submit a PR for this whenever you're ready 👍

[2021-03-31 11:42] Srinithyee commented on #1327
@patricoferris Thanks a lot! I'll start working on this!

[2021-03-31 12:02] nayaldivya commented on #1307
Thanks again @pitag-ha. I'll start working on this soon.

[2021-03-31 12:05] gs0510 commented on #1337
@Jane-Kotovich  go for it! Just lining them horizontally sounds good!

[2021-03-31 12:10] Jane-Kotovich commented on #1337
@gs0510 Sounds great, thanks for that! Will dive in!

[2021-03-31 12:13] gurleennsidhuu commented on #1245
![make](https://user-images.githubusercontent.com/64313783/113142436-81540580-9248-11eb-9bf3-9db48f9ebbd9.png)
 Can someone help me with this error? Would be really grateful! :)

[2021-03-31 12:21] gs0510 commented on #1245
@gurleennsidhuu  Can you open a new issue with your error? I can help you out there (it will also be useful for someone else who runs into the same problem). Thanks!

[2021-03-31 12:24] gurleennsidhuu opened #1339 "Issue running make deps"
![make](https://user-images.githubusercontent.com/64313783/113143629-fa079180-9249-11eb-96e3-833255d76d79.png)
I have installed ocaml and opam and also changed the directory but still I can't run  `make deps`. Please help me out.

[2021-03-31 12:29] SanduniK95 commented on #1325
@patricoferris  @gs0510  Hi! I'm an Outreachy applicant and would like to work on this issue

[2021-03-31 12:38] #1329 closed

[2021-03-31 12:48] jyotibalodhi commented on #1306
Yes, I was referring to this problem only. Thanks for the help @pitag-ha

[2021-03-31 12:57] patricoferris commented on #1339
Hi @gurleennsidhuu thanks for opening an issue to handle this.

Could you provide the following please:
 - What operating system are you using
 - The output of running `ls` in this directory

[2021-03-31 13:01] gurleennsidhuu commented on #1339
I am using windows (64 bit).
The output is:
![ls](https://user-images.githubusercontent.com/64313783/113148259-486b5f00-924f-11eb-9003-8b3be91eec9e.png)

[2021-03-31 13:05] somya104 commented on #1245
Hey Everyone! I am Somya from India. I am an outreachy applicant and currently I'm almost done with setting up my system locally. However, I am facing the following issue.:

I have installed and initialised opam and now I was starting to follow all the steps given on https://github.com/ocaml/ocaml.org for building site locally on my system but unfortunately I am getting the following error.:

![Sc

[2021-03-31 13:09] gs0510 commented on #1245
@somya104  You are missing the `netstring` package. You can install it with the following command:

`$ opam install netstring`

(and any other missing packages with similar command `$ opam install <package-name>`)

[2021-03-31 13:09] Ndipbanyan opened #1340 "Improve https://opam.ocaml.org/doc/Install.html on mobile view"
# Issue description
When you navigate to doc/install page on mobile view, you will notice that the list on `Opam releases on Github` are overflowing

<img width="367" alt="Screenshot 2021-03-31 at 13 54 53" src="https://user-images.githubusercontent.com/67186679/113148550-de8c8e80-9229-11eb-866b-36775b73ca88.png">

[2021-03-31 13:10] Ndipbanyan commented on #1340
@patricoferris I will love to work on this

[2021-03-31 13:11] LindieK opened #1341 "Issue building site locally"
I have successfully installed ocaml and opam on a windows 64 bit OS, initialized it and ran `make deps` and `make production`.

I'm stuck on how to run build locally. I have a wamp server installed already but I don't know if this will be suitable to run the site.

[2021-03-31 13:11] patricoferris commented on #1339
Okay (I'm not a windows expert or user) the easiest way to build the site is using WSL, this will make your life a lot easier (in fact the site *will not build on native windows*).

It also looks odd that there are no other folders here such as `scripts` and most importantly the `Makefile` hence you are getting the error that there is `no rule to make target deps`. Did something go wrong when you

[2021-03-31 13:15] patricoferris commented on #1341
Hi @LindieK thanks for opening the issue -- the [contributing doc]() should already help you out with this. To quote from it:

To summarise, if you run `make local` you should just be able to open `./ocaml.org/index.html` in your browser.

So long as you start a simple file server in the build directory (`ocaml.org`) then this should be fine too. Let me know if this helps and you get the site runn

[2021-03-31 13:19] IkehAkinyemi commented on #1339
Okay @patricoferris, it was a suggestion.

[2021-03-31 13:20] gurleennsidhuu commented on #1339
No. I didn't face any kind of errors while cloning the repository.

[2021-03-31 13:27] IkehAkinyemi commented on #1327
Yes @patricoferris, already made a PR to the moving of the language selector, hoping to see your message on the recent discussion we're having. Once that's merged, I will make PR for the fixes to the contributing docs.

[2021-03-31 13:33] yashi-hub commented on #1245
hey @somya104 , looks like you did not run make deps. once you do it you'll install all the dependencies required for running the site locally. I faced a similar issue you can refer to https://discuss.ocaml.org/t/error-while-setting-up-ocaml-project-using-wsl/7466/4.
if you face any error in make deps , please ensure that you have manually installed libgmp-dev and libssl-dev.
after this, you'll be

[2021-03-31 14:00] avsm commented on #1254
Fixed in #1296

[2021-03-31 14:00] #1254 closed

[2021-03-31 14:00] patricoferris commented on #1339
Appreciate your help @IkehAkinyemi it's been awesome having you around to help other applicants :))

@gurleennsidhuu interesting, can you see the Makefile in the directory that you `git clone`-ed the ocaml.org repository into?

[2021-03-31 14:02] patricoferris commented on #1340
Looks like a good bug to fix thanks @Ndipbanyan

[2021-03-31 14:07] #1334 closed

[2021-03-31 14:08] patricoferris commented on #1259
Seems @meenal06 isn't around currently, @dharmelolar do you still want to work on this, if not @LindieK you can work on it :))

[2021-03-31 14:19] gurleennsidhuu commented on #1339
![makefile](https://user-images.githubusercontent.com/64313783/113159221-0f84b780-925a-11eb-966e-017de16ebd12.png)
These are the makefiles that are visible to me.

[2021-03-31 14:23] #1282 closed

[2021-03-31 14:42] patricoferris commented on #1339
Hmm very interesting. Do you think you can start again using WSL from the very start and following the WIP guidance over here: https://github.com/ocaml/ocaml.org/blob/dfecc2d82746dea740e0e4fe635c96656fd24e31/CONTRIBUTING.md#errors-faced-while-building-the-site-using-wsl ?

[2021-03-31 14:57] gurleennsidhuu commented on #1339
Yes sure. I'll give it a try. Thanks for you help. :)

[2021-03-31 15:35] LindieK commented on #1341
Hi @patricoferris  I tried running make local but it didn't work. Here is the error I get.
![make local error](https://user-images.githubusercontent.com/38317939/113170997-fe7a7d00-923e-11eb-9fd6-b727afb4c5e4.JPG)

[2021-03-31 15:42] patricoferris commented on #1341
Ah, are you using Windows Subsystem for Linux (WSL)? The problem here is that `cohttp-lwt-unix` (which we depend on) is not installed or cannot be found, I don't know if it can be installed on native windows. Using WSL should fix this. What happens if you run `make deps` right now, does it install `cohttp-lwt-unix`?

[2021-03-31 15:44] TildaDares opened #1344 "Improve Books and Paper section in https://ocaml.org/docs/ on screen sizes less than 768px"
On screen sizes less than 768px, the sizes of the book images are not equal. I'd like to improve that section by making the first book image be the same size as the last two.

![image](https://user-images.githubusercontent.com/63427719/113172354-3660d080-91fd-11eb-9bb7-e3613ff44d3a.png)

[2021-03-31 15:45] LindieK commented on #1341
Oh no it skips it but runs everything else. I should try the WSL now.

[2021-03-31 15:46] TildaDares commented on #1344
@patricoferris I'd like to work on this if this is approved.

[2021-03-31 15:48] patricoferris commented on #1344
@TildaDares good catch, this looks like a good bug to fix 👍  I had a quick look and couldn't find any open issues that are the same so go right ahead :))

[2021-03-31 16:37] Bhavika-Gianey commented on #1339
Hello @patricoferris, I followed the steps given in [(https://github.com/ocaml/ocaml.org/blob/dfecc2d82746dea740e0e4fe635c96656fd24e31/CONTRIBUTING.md#errors-faced-while-building-the-site-using-wsl)]

When I tried to use  opam init --disable-sandboxing -a after doing rm -rf /home/bhavika/.opam;
it is showing errors while installing the OCaml compiler.

Kindly help me out as I am getting a bit conf

[2021-03-31 17:17] Ndipbanyan commented on #1316
@patricoferris @pitag-ha still waiting for clarification and approval to move on with this. Please reply if you have the time. Thanks.

[2021-03-31 17:26] pitag-ha commented on #1316
Thanks, it's great to see that it's all so well understandable!

I don't think it's worth opening a PR for such a small change.

That's also a good reason. I head the following reason in mind: at the moment the `ls` snippet comes after the advice to run `dune build`. After running `dune build`,  the folder will contain more then `_build`, `dune` and `helloworld.ml` (as in the snippet): it will als

[2021-03-31 17:30] dinakajoy opened #1346 "News Page: Create two or three columns on tabs for Syndications"
Going through the news page on my tablet, the Syndications  section was right aligned and very lengthy.
There is a lot of space on the left area. So I suggest making it two or three columns on tablet rather that one column to make scrolling easier  for users.
### Issue
![screencapture-ocaml-org-community-planet-2021-03-31-18_12_30](https://user-images.githubusercontent.com/39722740/113184856-9e3f0

[2021-03-31 17:34] LindieK commented on #1341
@patricoferris I have successfully installed WSL and set ubuntu running on it. How do I now install `cohttp-lwt-unix` and build the site with it?

[2021-03-31 17:37] patricoferris commented on #1341
Great @LindieK ! Make sure you install opam (following similar guidance to the WIP doc https://github.com/ocaml/ocaml.org/blob/dfecc2d82746dea740e0e4fe635c96656fd24e31/CONTRIBUTING.md#errors-faced-while-building-the-site-using-wsl). Then it should be as simple as running `make deps`.

[2021-03-31 17:54] pitag-ha commented on #1312
In general, when you're asking for help with that kind of problems, it's very helpful to state which operating system you're on. Is it Windows? If so, have a look at the great new [windows troubleshooting section on CONTRIBUTING.md](https://github.com/ocaml/ocaml.org/pull/1343/files). If that doesn't solve your problem, it would be great if you could ask for help on a new issue as done e.g. [here]

[2021-03-31 18:13] gurleennsidhuu commented on #1339
I am now working on WSL and installed opam and ocaml. But when I run `make deps` now, the following error occurs.
![Screenshot 2021-04-01 114130](https://user-images.githubusercontent.com/64313783/113191224-e9234400-927a-11eb-8d56-b065fe342108.png)

[2021-03-31 18:14] gurleennsidhuu commented on #1339
I am quite confused about how to proceed :(

[2021-03-31 18:16] patricoferris commented on #1339
I think we're close @gurleennsidhuu, don't worry -- can you try running something like `opam switch create 4.10.2 4.10.2` then if that doesn't fail,  run `make deps`.

[2021-03-31 18:53] CarolVilarino commented on #1321
Hi @patricoferris I haven't taken any issues yet to solve, do you think this would be a good start?  😃

[2021-03-31 19:15] dharmelolar commented on #1259
@patricoferris I'll work on it

[2021-03-31 19:19] gurleennsidhuu commented on #1339
I tried running `opam switch create 4.10.2 4.10.2`. Now, the following error occurs. I have tried disabling the sandox using `--disable-sandboxing` and the command runs without any error.
![Screenshot 2021-04-01 124654](https://user-images.githubusercontent.com/64313783/113198921-1fb18c80-9284-11eb-8995-a1b428663eba.png)

[2021-03-31 19:20] CarolVilarino opened #1349 "Improve texts on Companies"
### Issue description

When we navigate through the [Companies](https://ocaml.org/learn/companies.html) section on Ipad, there's too much space left on the right side

 I think adding more width to the text area would bring a smoother reading

[2021-03-31 19:21] CarolVilarino commented on #1349
If this could be a good-first-issue I would like to do so 😀

[2021-03-31 20:27] LindieK commented on #1341
@patricoferris  Almost done. I ran `make deps` successfully following the updated docs but `make local` brings up this error. Thank you for your help so far.

![local error 2](https://user-images.githubusercontent.com/38317939/113206685-ac9a1d00-9267-11eb-96a1-d03e97dfc856.JPG)

[2021-03-31 20:42] Ndipbanyan commented on #1340
@patricoferris So I have installed OCaml, and Opam and used `make` to build the project and everything seem to work fine on my local machine but I looked into the opam.ocaml.org folder and can't seem to find the the install page so I can work on it.  Please can you help with pointing where I can possibly find the install page in the project directory?

[2021-04-01 03:15] drishya25 commented on #1245
Hello everyone! This is Drishya Kandpal. I am an Outreachy applicant. This is my first ever open-source project. I have made small projects before using HTML, CSS.
While setting up the system locally (following contribution guide #1241 ), after installing OCaml, Dune build system and editor support for OCamls, it says to pin `ocamlorg.opam` package, but I am a bit confused whether this package wil

[2021-04-01 05:46] SowmyaSv commented on #1337
@avsm @patricoferris @gs0510 I would like to work on this as my good first issue.

[2021-04-01 05:47] SowmyaSv commented on #1336
@avsm @patricoferris @gs0510 I would like to work on this as my good first issue.

[2021-04-01 05:48] SowmyaSv commented on #1349
@avsm @patricoferris @gs0510 I would like to work on this as my good first issue.

[2021-04-01 06:36] gurleennsidhuu commented on #1339
The `make deps` ran successfully. Now, when I run `make` or `make local`, the following error occurs.
![m](https://user-images.githubusercontent.com/64313783/113253283-a7c67f00-92e2-11eb-84aa-848d7bca05fc.png)

[2021-04-01 06:43] mahakbansal2019 opened #1350 "Packages Page: Fix the layout on smaller screen sizes"
On Smaller screen sizes the orientation of the two buttons doesn't look good.
"How to use opam" button should be shifted at the bottom of the first button on smaller screen sizes

![Screenshot from 2021-04-01 12-01-42](https://user-images.githubusercontent.com/53010252/113253787-6387ae80-92e3-11eb-84cc-71314ace574c.png)

@patricoferris What do you think about this ?

[2021-04-01 07:03] LindieK commented on #1341
@avsm any ideas

[2021-04-01 07:08] patricoferris commented on #1341
Hi @LindieK -- can you try running `eval $(opam env)` and then `make`. Do you get the same result. In that list of installed packages it should say `ocamlfind`, is that the case?

[2021-04-01 07:09] Bhavika-Gianey commented on #1339
Thank You @patricoferris , the error was due to gcc and now everything is resolved :)).

[2021-04-01 07:11] patricoferris commented on #1350
Hi @mahakbansal2019, thank you for your patience.

Unfortunately, this is a duplicate of #1259 I believe, so I'm going to close this issue. I know you've been waiting for an issue, I will try and get you one today.

[2021-04-01 07:11] #1350 closed

[2021-04-01 07:13] patricoferris commented on #1339
@gurleennsidhuu this is good news, this is a known error so we're close.

I think the easiest thing to do here is to do a `git pull` and get the fix from #1309.

[2021-04-01 07:16] patricoferris commented on #1349
Hi @CarolVilarino, welcome to the community. This looks like a good thing to fix, please submit a PR for it whenever you are ready.

@SowmyaSv unfortunately @CarolVilarino is doing this issue, we'll try to create more `good-first-issues` today, thank you for your patience.

[2021-04-01 07:20] patricoferris commented on #1337
Hi @SowmyaSv,

Thank you so much for your eagerness to contribute, we're very grateful. If I could just point you in the direction of https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972 where you can register your interest.

@Jane-Kotovich please take as much time as you need, there's no pressure to rush a PR.

[2021-04-01 07:24] Jane-Kotovich commented on #1337
@patricoferris Hey there! Thanks heaps, I was stuck a bit with installation of the whole repo. If I want to change CSS I don't really need make whole app running am I? Sorry for been a bit silly :)
I managed easy to apply something like this, however I figured out that there are 4 css files in repo in total
<img width="1440" alt="Screen Shot 2021-04-01 at 5 20 14 pm" src="https://user-images.githu

[2021-04-01 07:25] Jane-Kotovich commented on #1337
or I easy can make a numbers if you'd like :) The little issue is that some of CSS rules are crossing each other. If you would like I can tell about it more ;)

[2021-04-01 07:29] LindieK commented on #1341
Yes the list says `ocamlfind`  in the list of installed packages. I ran `eval $(opam env)` and `make`. It brings up a different error now

![local error](https://user-images.githubusercontent.com/38317939/113258799-4ee7ee00-92c4-11eb-9e96-a9726ef77f21.JPG)

[2021-04-01 07:35] patricoferris commented on #1341
Getting different errors usually means we're making progress. I think there are some artefacts lying around from a previous build with an older compiler. Can you try `make clean` and then `make` again? Sorry this is taking some time.

[2021-04-01 07:59] LindieK commented on #1341
Now make is running. Majority of the things it is trying to download  either fails or ends up as a bad request. It has gone on for a while. I now looks like a cycle

![make cycle 1](https://user-images.githubusercontent.com/38317939/113262279-590beb80-92c8-11eb-8ed8-f276a24266b0.JPG)

[2021-04-01 08:11] Srinithyee commented on #1245
This worked just fine for me. Thanks a lot @Goodiec

[2021-04-01 08:20] gurleennsidhuu commented on #1339
Thank you @patricoferris. It worked. :)
I just have one last question. When I run the HTML file on browser, I can't see the images. Am I doing something wrong?

[2021-04-01 08:23] patricoferris commented on #1341
First of all, you are now building the site which is brilliant 🎉

Secondly, I think you've found a bug! You can see that for all of the URLs it is trying to get, they have `%0D` at the end which is a newline character. A recent change may have introduced this, I'm going to double check with some Windows/WSL experts and get back to you soon :))

[2021-04-01 08:24] DivyanshiSingh commented on #1237
May I know the status of this issue? Is it open to work @patricoferris

[2021-04-01 08:25] gs0510 commented on #1346
Hey @dinakajoy! Good catch! You can go ahead and work on this :)

[2021-04-01 08:26] DivyanshiSingh commented on #1270
Hey @patricoferris can I take up this issue?

[2021-04-01 08:31] gurleennsidhuu commented on #1339
I made all the changes and ran `make local`. The following error occurs, even though a new ocaml.org folder is created.
![Screenshot 2021-04-01 135910](https://user-images.githubusercontent.com/64313783/113266207-a1400380-92f2-11eb-8091-6e128bac4cb9.png)

[2021-04-01 08:48] patricoferris commented on #1341
@LindieK okay, so I think the problem is that you might be running commands from WSL on the repository you got when you started from native Windows which uses [CRLF](https://en.wikipedia.org/wiki/Newline)? When we read [the plant feed file](https://github.com/ocaml/ocaml.org/blob/master/planet_feeds.txt) we strip the `\n` but not the `\r`.

The easiest way to resolve this is to delete the ocaml.or

[2021-04-01 08:49] LindieK commented on #1341
Okay doing that now

[2021-04-01 08:55] patricoferris commented on #1237
Sorry, yes this issue was fixed in #1238 thanks @Shubham-Vishwakarma and for the reminded @meenal06. Sorry @DivyanshiSingh we're trying to make more issues.

[2021-04-01 08:55] #1237 closed

[2021-04-01 09:09] dldisha opened #1352 "Replace sharing icons on News page with Font Awesome icons"
While going through the news page, I noticed various icons to share the news like Twitter, Facebook, etc were added through the internal image's link which adds up extra space, lacks consistency, and relies on image extensions. Therefore, I suggest we should replace these icons with Font Awesome icons.

**Issue:**
![Screenshot from 2021-04-01 13-43-32](https://user-images.githubusercontent.com/260

[2021-04-01 09:45] patricoferris commented on #1339
Hmm, seems `rsync` is having some trouble. When you switched over to WSL did you do a fresh `git clone` of the repository? I'm not quite sure what's going on here, but one thing to try is to delete the repository then from **within WSL** `git clone` it again and try running `make`.

[2021-04-01 09:47] patricoferris commented on #1321
HI @CarolVilarino I'm not sure this is a good first issue -- there's quite a lot of OCaml code to change and this repository doesn't have the `dune` build system which makes it even more challenging to update. I think you have commented on some other issues so hopefully you have another one?

[2021-04-01 09:49] patricoferris commented on #1270
Hi @DivyanshiSingh,

@Kanak1081 is currently working on this and there is a PR open for it https://github.com/ocaml/ocaml.org/pull/1272.

[2021-04-01 09:57] LindieK commented on #1341
The build is running better now. Here are some of what it I see. Am I on track?
![next build](https://user-images.githubusercontent.com/38317939/113277703-ec4d1d00-92d8-11eb-8516-d2a1833a25c0.JPG)

![second build](https://user-images.githubusercontent.com/38317939/113277778-ff5fed00-92d8-11eb-8b7f-ba050170ecac.JPG)

[2021-04-01 10:00] patricoferris commented on #1341
Yes! Looks like it's building just fine from those images. Thank you for your patience and persistence to get this running!

[2021-04-01 10:10] dinakajoy opened #1353 "Different button colors on different pages"
I just noticed that the button color on other pages are green while it's grey on news page.
Accessibility wise, I think it needs to be fixed. Because from the home page down, users already have it registered in their mind that green means it's a button.

Button on other pages
![green](https://user-images.githubusercontent.com/39722740/113279070-99746500-92da-11eb-8a60-d0f9a035ed37.PNG)

Button on

[2021-04-01 10:42] gurleennsidhuu commented on #1318
Hi.
![dis](https://user-images.githubusercontent.com/64313783/113282665-dce3c900-9304-11eb-95fc-5006e318b682.png)
This is how it looks. Is it okay? I changed to file for fr translation too.

[2021-04-01 10:44] gurleennsidhuu commented on #1339
Thank you so much for helping and being so patient! @patricoferris  :) Cloning the repository again worked for me. Should I close this issue?

[2021-04-01 11:01] LindieK commented on #1341
Thank you so much for your help. I just wanted to clarify some things.

1. The initial build process is still running till now. There are some files that I see it has looked over more than once. Is this normal?
2. On opening up the build directory, I see it has not built the entire css, img and js directories (amongst other things) so opening index.html, I have to manually edit the paths to point

[2021-04-01 11:02] patricoferris commented on #1339
Fantastic, you are very welcome. I think everyone on this thread is up and running now so I'll close it :))

[2021-04-01 11:02] #1339 closed

[2021-04-01 11:35] pitag-ha commented on #1318
Great, thanks for your work! There is currently a [PR](https://github.com/ocaml/ocaml.org/pull/1272) open that improves the layout of the Community page quite a bit, including the OCaml Around the Web section. To avoid git conflicts later on, you might consider building your work upon the branch of that PR (and, if you do so, mention that when submitting your PR). But note that the other PR is sti

[2021-04-01 11:35] gurleennsidhuu commented on #1315
Hi. Does this look fine?
(1)
![meet](https://user-images.githubusercontent.com/64313783/113288164-356a9480-930c-11eb-8ddc-1a9add424a92.png)
(2)
![past](https://user-images.githubusercontent.com/64313783/113288180-3bf90c00-930c-11eb-9ef2-c5640d45fc4a.png)
I left the "Upcoming events" column empty. Should I delete the heading or leave it empty?

[2021-04-01 11:40] gurleennsidhuu commented on #1318
I was referring to the fr translation of the above page.
Also, I am quite unclear. Do I need to wait to make a PR?

[2021-04-01 11:46] Goodiec opened #1357 "Issue with focus on clickable image"
Noticed an issue in the Books column on the learn page. Clicking on the first image applies the style for focus on the second image. Clicking on the second image applies to the second and also the outline from the style displays off the outline of the images. This issue is shown in the images below:

![issue2](https://user-images.githubusercontent.com/15726413/113289215-d85ce780-92e7-11eb-8af7-5c4

[2021-04-01 12:20] Bhavika-Gianey commented on #1319
Hello @pitag-ha  ;
I am a bit confused about the linkage of code snippets in another folders as I am not able to find the required code lines in the index.md of the news section. Can you please help me understanding the marked red circle in that code?

![err](https://user-images.githubusercontent.com/63343906/113292802-9ac18400-9312-11eb-8bd5-070d3053112c.PNG)

[2021-04-01 13:18] gs0510 commented on #1357
This is a really good catch @Goodiec ! You can go ahead and fix this. Thank you!

[2021-04-01 13:25] patricoferris commented on #1341
Thanks for wanting to dig deeper on this, could provide some more information on each?

1. Still running? How long has it been running, I wouldn't expect running `make` to take more than about 5 minutes the first time you do it. Which files are being looked at more than once? I think it might retry the HTTP requests but only so many times. A log here might be useful.
2. What do you mean it has "no

[2021-04-01 14:25] LindieK commented on #1341
By the the build directory, yes I mean ocaml.org. The changes I made were from within the browser after waiting for 40 minutes for the build process to complete (and it still didn't complete). From what I noticed, it kept looping through the files in the learn directory.

[2021-04-01 14:41] LindieK commented on #1341
Hi @patricoferris so I ended the build process and started again. It seems not to be looping anymore. I'll be patient and keep watching to see if it completes.

Thanks

[2021-04-01 14:41] Srinithyee opened #1358 "Attaching Relevant OCaml Links to "OCaml Around the Web" under the Community Tab"
@patricoferris @gs0510 I've seen that there is already an issue that was based on resizing the icons in OCaml Around the Web. However, on clicking on them, they are linked to the general website and not specific to OCaml.

eg. On clicking the Github icon, we are directed to the Github page. I thought it would be better if we could link it to OCaml's github page here https://github.com/ocaml.

I th

[2021-04-01 15:27] gurleennsidhuu commented on #1315
Can I create a new issue for making the English page look like the French page?

[2021-04-01 15:30] nibble0101 opened #1359 "Ocaml version selector on documentation page looks different and little ugly on firefox"
# Issue description

When you navigate to [ocaml.org documentation](https://ocaml.org/docs/), there is a `select` dropdown element for selecting ocaml version. The styling looks elegant when viewed on chrome or opera but it looks a little ugly  on firefox, in my opinion (I am using firefox 87.0 ). I haven't tested using other browsers. Check the screenshots bellow.

**Chrome**
![image](https://use

[2021-04-01 15:32] nibble0101 commented on #1359
@patricoferris  and @avsm . Let me know what you think about this. I think it will be an interesting issue to investigate for #1245

[2021-04-01 15:57] gurleennsidhuu commented on #109
Hi. Is this issue still open? If yes, can an Outreachy applicant work on it?

[2021-04-01 16:06] LindieK opened #1360 "Spacing Sections on landing page"
On the landing page, the different sections - learn, documentation, packages and community are closely packed together on large screens and not properly aligned on mobile.

![landing desktop](https://user-images.githubusercontent.com/38317939/113321616-ad848a80-930b-11eb-9263-6d0dc849de4d.JPG)

To improve readability as well as the general flow of the page, I would suggest moving the "home-learn"

[2021-04-01 16:11] LindieK commented on #1341
I did a thorough check. All the folders were created this time. These are the last lines I see, does it signify the end of the build?
![build end](https://user-images.githubusercontent.com/38317939/113322832-16203700-930d-11eb-9ce4-fa9a5c9ca527.JPG)

Also can I delete the cgwin64 terminal I previously installed to conserve disk space? It isn't being used anymore is it?

[2021-04-01 16:18] patricoferris commented on #109
@gurleennsidhuu sure go ahead, this could be a fix 8 years in the making haha :)) If you need some help with the build process (i.e. the `Makefile`) or anything else let me know.

[2021-04-01 16:23] patricoferris commented on #1341
Yep that's everything built - the last parts are `rsync`-ing the static files and then (I'm guessing this is `make local`) "relativising" the URLs so you can view it directly in the browser without having to worry about running a server locally.

I'm not a windows expert, but I don't believe Cygwin is involved in any way anymore so it should be safe to remove it. Glad we got there in the end, than

[2021-04-01 16:23] #1341 closed

[2021-04-01 16:23] DivyanshiSingh commented on #233
Hey, @patricoferris I would like to work on this.

[2021-04-01 16:40] jyotibalodhi commented on #1306
Hello @pitag-ha @patricoferris I am facing a problem while working on the issue, and I am hoping you could help me with that.  On my local machine, when I built and open the site with live server it is showing me some very different errors in the layout. Although my working directory is clean, and there are no changes at all. As I tried viewing it with different branches, and even after removing a

[2021-04-01 16:46] patricoferris commented on #1306
Hi @jyotibalodhi, this problem is quite hard to diagnose but hopefully the following can help:

 - To check if it might be something wrong with the build or a consequence of a change you made, the best thing to do, is to stash your changes and then run `git checkout master`, remove all of the built files with `make clean` then re-run `make` and see if the changes persist.
 - If you are still strug

[2021-04-01 16:54] jyotibalodhi commented on #1306
Okay, I will try doing that, and update if still the problem continues. Thank you @patricoferris :)

[2021-04-01 17:00] mahakbansal2019 opened #1361 "Documentation Page: Fix the footer section on cheat sheats page"
Footer  should be at the bottom of the page like other pages

![Screenshot from 2021-04-01 22-25-11](https://user-images.githubusercontent.com/53010252/113328243-a5434400-9339-11eb-9129-62cb7f1cb3f3.png)

@patricoferris What do you think about this?
If It's Okay I would like to work on this.

[2021-04-01 17:02] #1313 closed

[2021-04-01 17:09] patricoferris commented on #1361
@mahakbansal2019 yep that would be a great thing to fix thank you, I think this impacts any page that doesn't have particularly long main content section.

[2021-04-01 17:19] mahakbansal2019 commented on #1361
Yeah, that's true @patricoferris!
I'll start working on this and also try to find others who have the same problem.

[2021-04-01 17:29] nibble0101 commented on #1361
@mahakbansal2019 I am just curios. On what screen size is that?

[2021-04-01 17:29] pitag-ha commented on #1319
Hello @Bhavika-Gianey , that's a tough one. That line invokes the script defined [here](https://github.com/ocaml/ocaml.org/blob/master/script/rss2html.ml). It's written in OCaml. So working on this issue means working in OCaml. When saying this was a **good first issue**, I hadn't noticed that, sorry!

I've seen you're interested in the "Improve ocaml.org" project. Are you happy with working on an

[2021-04-01 17:33] pitag-ha commented on #1319
It's still a pretty simple task. It's just that it requires OCaml.

[2021-04-01 17:52] mahakbansal2019 commented on #1361
@nibble0101 screen having witdth >= 768px

[2021-04-01 18:15] nibble0101 commented on #1361
@mahakbansal2019 I have failed to reproduce it on the live site on my normal laptop. I believe that effect has a lot more to do with the screen height than the width.

[2021-04-01 18:19] mahakbansal2019 commented on #1361
@nibble0101  It's on the live site. What do you see on the live site on this page ?

[2021-04-01 18:26] nibble0101 commented on #1361
@mahakbansal2019  I see the page displayed normally on chrome. I suspect  my screen size is not of appropriate height to reproduce the issue or it could be browser related.  Right now I can't emulate larger screen sizes.  The page appears normally like in the screenshot below.

![image](https://user-images.githubusercontent.com/52580190/113337471-7bd1ea80-9330-11eb-91a6-5a08465d6398.png)

[2021-04-01 18:32] pitag-ha commented on #1318
Cool, that's a nice initiative! I would advice you to open a different issue and a different PR for that, since those two things are unrelated. They might even require different reviewers (not everyone speaks French).

That's up to you :) Depending on your git experience the problem here might be a bit challenging, sorry for that!

Let me explain a bit more: in general, you build your work upon th

[2021-04-01 18:35] mahakbansal2019 commented on #1361
@nibble0101 that's strange.
I'm also on chrome and My max screen size is 1607x949 and it looks weird on that.
@patricoferris Should I go ahead with this?

[2021-04-01 18:39] patricoferris commented on #1361
I opened chrome dev tools and uses the `responsive` tool and seemed to recreate the issue. I'm also not aware of anything in the code either for clamping the footer to the bottom (although that's from memory I haven't looked), so I think this is a bug.

[2021-04-01 18:39] Bhavika-Gianey commented on #1319
Thanks, @pitag-ha for providing the reference link. I have resolved this issue :)) and I am eager to learn more about the OCaml language also :).

Is this fine now??

![news](https://user-images.githubusercontent.com/63343906/113339161-b3985c80-9347-11eb-8722-23176a862515.PNG)

[2021-04-01 18:53] pitag-ha commented on #1352
That seems like a great idea! Do you know that that part of the code is written in OCaml?

[2021-04-01 18:56] gurleennsidhuu commented on #109
I am not sure if I'm doing it right but this is what I designed.
![404](https://user-images.githubusercontent.com/64313783/113340772-ecd1cc00-9349-11eb-9c04-1857106b355e.png)

[2021-04-01 18:57] nibble0101 commented on #1361
@patricoferris  Thanks. I have managed to reproduce it using Chrome devtool  by emulating screen size of  `1024 x 1366 px` - dimensions of ipad pro. I believe one possible solution is to give the container preceding the `footer` a styling of `min-height: 90vh;` or thereabouts.  Assuming there is a container across all pages with a common selector preceding  the `footer`.

[2021-04-01 19:29] gurleennsidhuu commented on #1318
I am really new to git and open source so this is quite a task for me but I am here to learn. :)
I chose to go with the 1st option and I got the following error.
![sv](https://user-images.githubusercontent.com/64313783/113344376-9e72fc00-934e-11eb-98f6-5dbad79aac2b.png)
Am I doing something wrong?

[2021-04-01 19:31] dldisha commented on #1352
Yes, I'm an Outreachy applicant. That part is not in OCaml, I'll replace the <img> tags only.

[2021-04-01 19:34] benny-coy commented on #1245
Hello,
I am Patience Akpan, an Outreachy applicant. I will love to contribute to improving the OCaml.org website. Please I need unsigned goods- first-issues to work on. My current skills include HTML, CSS, a little JavaScript and Python and I'm a beginner in open source and would love to learn more.
Thanks. :)

[2021-04-01 19:39] mahakbansal2019 commented on #1361
Thanks @nibble0101 for the suggestions :)

[2021-04-01 19:53] benny-coy commented on #1312
I am an Outreachy applicant. I am new to open source and looking to get started improving and contributing to Ocaml.org. Please can I work on this issue.
Please I also need guidance in accomplishing task.
Thanks

[2021-04-01 19:59] dldisha opened #1363 "Fixed sidebar in Learn page"
On the learn/history page we can have a fixed sidebar for easy navigation and usability. The user wouldn't have to scroll up or down to explore other topics

Issue:
![Screenshot from 2021-04-02 01-08-23](https://user-images.githubusercontent.com/26017359/113345449-17268800-9350-11eb-9e62-5a0695031715.png)

Proposed fix:
![Screenshot from 2021-04-02 01-25-28](https://user-images.githubusercontent.c

[2021-04-02 03:15] ChitvanRamani22 commented on #1312
Yeash it is windows . With lot of efforts i have reached here. But it has been 2 hours since this step (eval $(opam env))is running and not getting completed.![20210402_084433.jpg](https://user-images.githubusercontent.com/68965499/113376593-b323b400-938f-11eb-932f-9a1c467f6d12.jpg)

[2021-04-02 03:18] Srinithyee commented on #1327
@gs0510 On looking at the directory structure, I am not able to locate the index.html file. I am only able to view index.md. It would be super nice if you could provide the path to the index.html file. Thanks.

I was planning on adding title tag in between a and href in the relevant code, to add relevant context

[2021-04-02 03:32] Srinithyee opened #1365 "Improving the Contribute.md file to include help with WSL"
@patricoferris @pitag-ha @gs0510 I was thinking of adding the relevant steps to contribute to this repo, using a Windows Machine. Having seen myself and the other Outreachy applicants face trouble with installing WSL and the building on that, I thought having a well documented section for Windows Users in the Contribute.md file will be beneficial in the long run.

If this seems to be a good idea,

[2021-04-02 03:39] ChitvanRamani22 opened #1366 "Issue in running eval $(opam env)"
I am facing this issue .
It has been 2 hours since i had run this command but its not getting completed.![20210402_090820.jpg](https://user-images.githubusercontent.com/68965499/113377799-ff242800-9392-11eb-9211-3003cbac468b.jpg)
Please help me out.
![20210402_090820.jpg](https://user-images.githubusercontent.com/68965499/113379240-98087280-9396-11eb-88f1-24fb228770c0.jpg)
These lines are being di

[2021-04-02 03:42] guptadiksha307 opened #1367 "Improve Videos section in https://ocaml.org/learn/ and https://ocaml.org/docs/"
On screen sizes less than 764px, when we navigate to Learn section, the videos are not aligned properly.

![image](https://user-images.githubusercontent.com/53967592/113377730-c421f480-9392-11eb-9512-e66ff335484b.png)

Similary in the documentation section, one video is not in order with the other two.

![image](https://user-images.githubusercontent.com/53967592/113377781-efa4df00-9392-11eb-964a-4

[2021-04-02 03:44] guptadiksha307 commented on #1367
@patricoferris I think this issue can be part of the "good-first-issue" and I would like to work on this.

[2021-04-02 03:57] ChitvanRamani22 commented on #1339
@gurleennsidhuu is the repo running successfully?

[2021-04-02 04:20] Srinithyee commented on #1245
Hi!
This is directed to those Outreachy applicants who have already made a PR. I am a beginner to opensource and am trying to understand the directory structure and am facing difficulty in locating the index.html file. I am only able to view the index.md file. Any help there would be sincerely appreciated.

[2021-04-02 04:50] Kanak1081 commented on #1318
Hi, @pitag-ha, hope you are doing great😊. As of now, I have closed my PR for the same issue. @gurleennsidhuu can feel free to contribute for the same.

[2021-04-02 04:58] gurleennsidhuu commented on #1339
Hi @ChitvanRamani22. Yes, it is. Are you facing any issue?

[2021-04-02 05:03] ChitvanRamani22 commented on #1339
When i ran make after make deps i got this error then i tried running opam init and got this could you please help me.
![20210402_103152.jpg](https://user-images.githubusercontent.com/68965499/113382274-bffbd400-939e-11eb-9b0c-f9abae4bdb38.jpg)

[2021-04-02 05:06] gurleennsidhuu commented on #1339
It's not an error. You can choose Yes/No. In my case, I chose Yes so I pressed y.

[2021-04-02 05:29] ChitvanRamani22 commented on #1339
Again yes??

[2021-04-02 05:30] ChitvanRamani22 commented on #1339
![20210402_110002.jpg](https://user-images.githubusercontent.com/68965499/113383944-980e6f80-93a2-11eb-9b46-dd5c0c17db88.jpg)

[2021-04-02 05:55] ChitvanRamani22 commented on #1339
Getting this
![20210402_112253.jpg](https://user-images.githubusercontent.com/68965499/113385601-0ef93780-93a6-11eb-8665-6531f658a25d.jpg)

[2021-04-02 06:02] ChitvanRamani22 commented on #1339
How to solve this switch note??

[2021-04-02 06:07] ChitvanRamani22 commented on #1339
@gurleennsidhuu please help

[2021-04-02 06:12] Bhavika-Gianey commented on #1339
Hello @ChitvanRamani22  , you can go through this doc  (https://github.com/ocaml/ocaml.org/blob/dfecc2d82746dea740e0e4fe635c96656fd24e31/CONTRIBUTING.md#errors-faced-while-building-the-site-using-wsl), It might help .

[2021-04-02 06:15] ChitvanRamani22 commented on #1339
@Bhavika-Gianey already tried that and so many other things since 3 days

[2021-04-02 06:20] gurleennsidhuu commented on #1339
Can you please show the output for the command `whereis ocaml`?

[2021-04-02 06:23] ChitvanRamani22 commented on #1339
@gurleennsidhuu ![20210402_115309.jpg](https://user-images.githubusercontent.com/68965499/113387483-073b9200-93aa-11eb-88d1-5a5ed58d64cf.jpg)
I am getting this for make deps

[2021-04-02 06:25] ChitvanRamani22 commented on #1339
@gurleennsidhuu ![20210402_115421.jpg](https://user-images.githubusercontent.com/68965499/113387579-32be7c80-93aa-11eb-9006-3c2f95104481.jpg)

[2021-04-02 06:25] ChitvanRamani22 commented on #1339
@patricoferris could you also help please

[2021-04-02 06:34] gurleennsidhuu commented on #1339
@ChitvanRamani22 I am sorry. I am not sure why this is happening. I guess, you should try installing ocaml and opam again.

[2021-04-02 06:40] gs0510 commented on #1367
This is a good catch @guptadiksha307! You can go ahead and work on this :)

[2021-04-02 06:42] gs0510 commented on #1365
Hi @Srinithyee! This is indeed a good idea, there's a PR already open for this here: https://github.com/ocaml/ocaml.org/pull/1343/files. Once that's merged you can add anything that's missing :) Thanks!

[2021-04-02 06:43] Srinithyee commented on #1365
Okay! Thanks @gs0510

[2021-04-02 07:17] Ndipbanyan commented on #1340
@patricoferris still waiting for help on this.

[2021-04-02 08:00] mahakbansal2019 commented on #1361
After running `make`, I can see the `cheat_sheets.html` file inside the docs folder. I want to add a div wrapping the content of the body.
But I'm a little curious about how can I add div in the `site/doc/cheat_sheets.md` file so that after running `make` the changes get reflected in the `cheat_sheets.html `file.

![Screenshot from 2021-04-02 13-23-57](https://user-images.githubusercontent.com/530

[2021-04-02 08:09] pitag-ha commented on #1319
Nice, that's great! Without rush, don't hesitate to open a PR for that when you're ready.

[2021-04-02 08:26] pitag-ha commented on #1352
Ok. The New page has been confusing to other applicants due to invoking OCaml scripts. So I wanted to give you a heads-up in case that would be the same here. But I was wrong then :)

Anyways, you've explained well why Font Awesome better. So you can go ahead and work on this.

When submitting the PR, it might be a good idea to also mention that Font Awesome complies the licensing (providing a lin

[2021-04-02 08:48] patricoferris commented on #1366
Hi @ChitvanRamani22,

This is strange but there's a few things you can try. First of all I would try starting from scratch by (a) removing `~/.opam` and (b) double-checking what state your `~/.profile` is in, that might be where those `eval` statements are coming from.

When you try init-ing again don't specify a compiler for now (incidentally `4.07.1` is too old for this project).

[2021-04-02 08:55] patricoferris commented on #1363
Hi @dldisha,

Thanks for the good idea, I think it would be great! Hopefully it's just a case of modifying the CSS classes. The TOCs are actually generated by an OCaml tool called omd, but I'm hoping we won't have to touch that. If you get stuck please don't hesitate to ask questions here. Thanks again :))

[2021-04-02 09:02] pitag-ha commented on #1312
@benny-coy, nice that you want to contribute to OCaml! Please have a look [here](https://github.com/ocaml/ocaml.org/issues/1245#issuecomment-809623832). We keep on opening new issues from time to time, but there are [a lot of applicants](https://github.com/ocaml/ocaml.org/issues/1245#issuecomment-810217825). Quite a few already open their own issues which is fantastic to see :)

[2021-04-02 09:06] pitag-ha commented on #1312
@ChitvanRamani22 , are you using WSL? [Here](https://github.com/ocaml/ocaml.org/pull/1343/files#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055R69-R71) it says that it might be good to run `opam init --disable-sandboxing`. Did you do that or did you run `opam init`? Could you also show the output of `cat ~/.profile`? As mentioned before, it would be great if you could ask the

[2021-04-02 09:13] patricoferris commented on #1361
So there are lots of ways to fix this. The way you are suggesting could work, you will have to write HTML into the markdown file (markdown supports this), if you have a look at other markdown files (like the main `index.md`) you should be able to see what I mean.

As @nibble0101 suggests you could also look at styling the `div.container` differently too (this impacts every single page). The script

[2021-04-02 09:13] Srinithyee commented on #1245
Hi Everyone!
I'm seeing that a lot of us are beginners in Open Source and I know that submitting your first PR can be quite intimidating. Here is a super useful link I found which helps you understand and make a Pull Request successfully!
https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github
Hope this helps someone, just like it helped me :)

[2021-04-02 09:17] pitag-ha commented on #1318
@Kanak1081, you were working on a different issue weren't you? Why have you closed the PR? :)

[2021-04-02 09:23] TildaDares opened #1370 "Improve packages page in https://opam.ocaml.org/packages/ on small screens"
On small screens the packages table causes an overflow and makes the entire screen have a horizontal screen.

![BEFORE](https://user-images.githubusercontent.com/63427719/113402730-67780700-939d-11eb-8457-84e1228ec028.gif)

I'd like to fix it by making only the packages table scrollable(horizontally).

![after](https://user-images.githubusercontent.com/63427719/113402658-444d5780-939d-11eb-9256-53

[2021-04-02 09:24] TildaDares commented on #1370
@patricoferris If this is a good issue I'd like to fix it.

[2021-04-02 09:36] benny-coy commented on #1245
Thank you.

On Fri, Apr 2, 2021, 10:13 Srinithyee S K ***@***.***> wrote:

[2021-04-02 09:38] Srinithyee opened #1371 "Adding images in learn/books"
@patricoferris @gs0510 @pitag-ha
There are some books which are without their images. It looks slightly ugly here, https://ocaml.org/learn/books.html

![1](https://user-images.githubusercontent.com/34683520/113403872-f51b1d00-93c4-11eb-9864-0b1dc4dced37.png)
![2](https://user-images.githubusercontent.com/34683520/113403887-f6e4e080-93c4-11eb-81e1-fbf80d55b95f.png)
![3](https://user-images.githubus

[2021-04-02 09:47] patricoferris commented on #1371
Hi @Srinithyee, are you sure there are relevant images for these "books" I have a feeling these are all pdfs or github repositories. If you could share the images (or links to them) here first that would be great thanks :))

[2021-04-02 10:03] ChitvanRamani22 commented on #1366
![IMG-20210402-WA0049.jpeg](https://user-images.githubusercontent.com/68965499/113406206-b6876180-93c8-11eb-9677-605be406fc43.jpeg)
That error has gone but when i do create switch it shows this

[2021-04-02 10:04] zapashcanon commented on #1366
Try `opam update`.

[2021-04-02 10:07] mahakbansal2019 commented on #1361
I tried adding a `min-height `of around `80vh`. It looked perfect on every page except the home page of the OCaml site. It happens because this page uses the `container` class two times.
@patricoferris Am I going in the right direction?

Home page:
![Screenshot from 2021-04-02 15-30-22](https://user-images.githubusercontent.com/53010252/113406351-f6e6df80-93c8-11eb-957b-c74af781a042.png)

![Screen

[2021-04-02 10:09] ChitvanRamani22 commented on #1312
That error has when i closed and opened the terminal again but now i am facing this![IMG-20210402-WA0049.jpeg](https://user-images.githubusercontent.com/68965499/113406739-a2902f80-93c9-11eb-8d80-b94f2c964cdc.jpeg)

[2021-04-02 10:11] patricoferris commented on #1312
Let's keep the conversation of this particular issue over on https://github.com/ocaml/ocaml.org/issues/1366

[2021-04-02 10:12] ChitvanRamani22 commented on #1366
@patricoferris i will ask everything here only sorry for making noise

[2021-04-02 10:25] ChitvanRamani22 commented on #1366
@patricoferris @zapashcanon
![IMG-20210402-WA0063.jpeg](https://user-images.githubusercontent.com/68965499/113407835-c3f21b00-93cb-11eb-8973-a4c770289fe6.jpeg)
This is the output
What next should i do.

[2021-04-02 10:26] Bhavika-Gianey opened #1373 "Adjusting spacing of books in books section"
There is one Italian book that is going out of order on the books page.

![fix2](https://user-images.githubusercontent.com/63343906/113407891-e6843400-93cb-11eb-88ba-8fc81ce42fa4.PNG)

[2021-04-02 10:26] Bhavika-Gianey commented on #1373
I would like to fix this if it is approved

[2021-04-02 10:27] zapashcanon commented on #1366
You have OCaml 4.05 installed, if you want 4.07 you can do `opam switch create 4.07.1`. Otherwise, you're good to go.

[2021-04-02 10:30] ChitvanRamani22 commented on #1366
@zapashcanon what should i do next to run the project

[2021-04-02 10:30] patricoferris commented on #1366
Hmm, it also looks like you are using an old version of opam, I don't know if this is going to be a problem or not. Moreover, if you want to contribute to ocaml.org you will need a compiler `>= 4.08.0` https://github.com/ocaml/ocaml.org/blob/master/ocamlorg.opam#L9 as I said above. Thanks @zapashcanon for the help :))

There's a contributing guide: https://github.com/ocaml/ocaml.org/blob/master/CO

[2021-04-02 10:34] ChitvanRamani22 commented on #1366
@patricoferris then how could i upgrade to 4.08.1

[2021-04-02 10:38] patricoferris commented on #1337
Hi @Jane-Kotovich that already looks much better, thank you :)) (I would go ahead and submit a PR)

What do you mean by this? Is it that some rules are redefined in different `.css` files? I think this is intentional, the site vendors an old version of bootstrap and (I think) this is then modified by over-ruling rules in the other `.css` files.

[2021-04-02 10:41] ChitvanRamani22 commented on #1366
@patricoferris @zapashcanon ![20210402_161054.jpg](https://user-images.githubusercontent.com/68965499/113409015-09afe300-93ce-11eb-853c-0210eea40567.jpg)
I ran opam upgrade again and now this is the output

[2021-04-02 10:46] patricoferris commented on #1366
You will need to install a new "switch" with a later version of OCaml. The following steps should help:

1. Install a switch with the compiler version we use for deployment: `opam switch create 4.10.2 4.10.2`. You might then need to run `eval $(opam env)`.
2. With this new switch you can then follow the contributing guide. From the root of the project you can run `make deps` to install the depende

[2021-04-02 10:55] ChitvanRamani22 commented on #1366
@patricoferris is it now safe to move inside the folder and run make deps?
![20210402_162455.jpg](https://user-images.githubusercontent.com/68965499/113409975-fc93f380-93cf-11eb-89e3-880302645f96.jpg)

[2021-04-02 10:57] patricoferris commented on #1339
Hi everyone, thanks for helping each other :))

@ChitvanRamani22 I think you got a hold of me elsewhere. As a general rule, commenting on a closed issue is not a good strategy for getting help. I don't think Github notifies any of the maintainers about it. Even if the issue seems related, you are better opening a fresh issue and maybe referencing the closed one if you think they are related. Thank

[2021-04-02 10:58] patricoferris commented on #1366
Looking good to me - you should be able to `cd` into the repository and run `make deps` and the `make` 👍

[2021-04-02 10:59] ChitvanRamani22 commented on #1339
@patricoferris okay sorry for the mistake i didnt know it earlier.

[2021-04-02 11:04] ChitvanRamani22 commented on #1366
@patricoferris should i write y here
![20210402_163332.jpg](https://user-images.githubusercontent.com/68965499/113410503-2dc0f380-93d1-11eb-8e05-7ed67153c907.jpg)

[2021-04-02 11:05] patricoferris commented on #1366
Yep, that'll get the `opam-depext` tool which will install any non-ocaml, external dependencies

[2021-04-02 11:07] ChitvanRamani22 commented on #1366
@patricoferris again the same
![20210402_163614.jpg](https://user-images.githubusercontent.com/68965499/113410659-9019f400-93d1-11eb-976e-1cd08c0be380.jpg)

[2021-04-02 11:10] patricoferris commented on #1366
Yep, that's asking to install the external dependencies 👍

[2021-04-02 11:19] gurleennsidhuu commented on #1318
Should I just make a PR or should I still follow the options you mentioned earlier?

[2021-04-02 11:19] nibble0101 commented on #1373
Hi @Bhavika-Gianey. Thanks for opening the issue. It would be a lot easier for others who would love to investigate the issue out of pure curiosity or those who might possibly review your PR  if you provided a link to the affected page in addition to the screenshots.

[2021-04-02 11:29] pitag-ha commented on #1318
If the other PR is closed and stays closed, you can open the PR as normal and can take the things you've read about git as a good learning experience :) I just hope I haven't very unintentionally put any pressure on anyone.

[2021-04-02 11:31] LindieK opened #1374 "Fix spacing of learn page on smaller screens"
The spacing of the learn landing page sections on tablet and mobile is quite tight. This affects the legibility of different sections and blacks of text.

See images of desktop and mobile views

![spacing issue 2](https://user-images.githubusercontent.com/38317939/113411944-fc373080-93ae-11eb-9a8e-3f245d39a34e.JPG)
![spacing issue 1](https://user-images.githubusercontent.com/38317939/113411983-107

[2021-04-02 11:33] ChitvanRamani22 commented on #1366
I think it done successfully.

![20210402_170209.jpg](https://user-images.githubusercontent.com/68965499/113412193-416e5900-93d5-11eb-8d89-3ef49937ba82.jpg)

[2021-04-02 11:37] Bhavika-Gianey commented on #1373
sure @nibble0101 :)).

This is the link of the affected page
https://ocaml.org/learn/books.html

[2021-04-02 11:38] patricoferris commented on #1366
That's looking really good, seems it got all of the dependencies successfully. The next step is to run `make` (or `make local`) and have a look at the built site (if it hopefully builds!). Let me know if it builds and then we can close this issue. Thank you for your perseverance :))

[2021-04-02 12:12] ChitvanRamani22 commented on #1339
@gurleennsidhuu how much time did you make command took to run completely.

[2021-04-02 12:34] ChitvanRamani22 commented on #1366
@patricoferris it is running till now does this really takes so much time.
![20210402_180323.jpg](https://user-images.githubusercontent.com/68965499/113415905-cf4e4200-93dd-11eb-9a89-10c2b2e63644.jpg)

[2021-04-02 12:42] jyotibalodhi commented on #1306
Hi @patricoferris I tried this solution but apparently, I am getting a new error while making the file again. What do you think went wrong.

![1](https://user-images.githubusercontent.com/63946672/113416432-f35e5300-93de-11eb-88f6-3f9e0bc88087.png)

[2021-04-02 12:45] gurleennsidhuu commented on #1339
It takes some time. I think more than 5 mins.

[2021-04-02 12:45] patricoferris commented on #1366
Hmm someone else experienced exactly this problem https://github.com/ocaml/ocaml.org/issues/1341#issuecomment-811830523

You could try:

1. Stopping it, running `make clean` and trying again.
2. Remove the repository entirely, re-`git clone` it from here and run `make`.

Not sure where this weird looping behaviour is coming from... seems only to impact WSL...

[2021-04-02 12:50] ChitvanRamani22 commented on #1366
@patricoferris it has reached here

[2021-04-02 13:02] patricoferris commented on #1366
Yes, I'm pretty sure that's it finished. The last thing IIRC is that it `rsync`s over the static files (like `css` ones etc.). Can you serve the site locally (i.e. something like `cohttp-server-lwt ./ocaml.org` and got to `localhost:8080` (I don't think this is `make local` so you will have to use a server rather than opening `./ocaml.org/index.html` in a browser).

[2021-04-02 13:08] ChitvanRamani22 commented on #1366
![20210402_183731.jpg](https://user-images.githubusercontent.com/68965499/113418132-81880880-93e2-11eb-86a1-dcc4644ed29c.jpg)
@patricoferris as finally it has reached here do i need to do that step u told earlier.

[2021-04-02 13:11] somya104 commented on #1328
Hey @gs0510 ! Due to Covid situations at home, I will be giving an update in 3-4 days.
Sorry for being late.

[2021-04-02 13:11] ChitvanRamani22 commented on #1366
![20210402_184057.jpg](https://user-images.githubusercontent.com/68965499/113418376-007d4100-93e3-11eb-9fe6-5d0037885123.jpg)
@patricoferris
Have i landed on the right page?

[2021-04-02 13:13] Srinithyee commented on #1371
@patricoferris Yeah, sure :)
1. Unix System Programming in OCaml : https://i0.wp.com/www.linuxlinks.com/wp-content/uploads/2019/08/Unix-System-Programming-OCaml.jpg?resize=166%2C218&ssl=1
2.  Using, Understanding, and Unraveling OCaml:
![0001](https://user-images.githubusercontent.com/34683520/113418113-77fea080-93e2-11eb-8bbc-611661829d91.jpg)
3. Introduction to OCaml:( The book is actually calle

[2021-04-02 13:18] Srinithyee commented on #1358
I realized that the Github icon directed to trending topics in Ocaml Language and not Github itself. The community tabs does look fine. Hence closing the issue :)

[2021-04-02 13:18] #1358 closed

[2021-04-02 13:39] Srinithyee opened #1376 "Fix Spacing in Documentation/Papers page"
@patricoferris @gs0510

I see that there is a lot of space in the left hand side of the page [here](https://ocaml.org/docs/papers.html#Industrial-Uses).

I'd like to fix the spacing from this:
![image](https://user-images.githubusercontent.com/34683520/113420321-bdbd6800-93e6-11eb-90e1-2baa065a6522.png)
![image](https://user-images.githubusercontent.com/34683520/113420345-c44bdf80-93e6-11eb-879a-b

[2021-04-02 13:39] patricoferris commented on #1366
It looks like it had managed to build the site (now with `make local`). But the screenshot is the "actual site" I think (because of the URL bar, I think that's just https://ocaml.org). You should be able to open the file path to `<some-file-path>/ocaml.org/ocaml.org/index.html` in your browser?

[2021-04-02 13:45] gs0510 commented on #1328
Okay, no worries. Please take your time @somya104

[2021-04-02 14:01] Ndipbanyan commented on #1340
@patricoferris Going by the help from the discord community, I suppose this issue can be closed since it isn't part of the ocaml.org website but opam.ocaml.org.

[2021-04-02 14:01] #1340 closed

[2021-04-02 14:29] patricoferris commented on #1306
Ah, you will need to rerun `make deps`. We have since updated `cohttp` to version `4.0.0` (you might need to run `opam update` too if it can't find it). After it has installed version `4.0.0` you should be good to go :))

[2021-04-02 14:43] dldisha commented on #1363
Yup, I'll have to just modify CSS only and it'll be done.

[2021-04-02 15:13] ChitvanRamani22 commented on #1366
@patricoferris could you please tell what should i write in my chrome browser.

[2021-04-02 15:21] ChitvanRamani22 commented on #1366
@patricoferris are u taking about this.
![20210402_205025.jpg](https://user-images.githubusercontent.com/68965499/113428815-1a278400-93f5-11eb-9914-c3cea38a427f.jpg)

[2021-04-02 15:27] pitag-ha commented on #1255
Given that @gunjan543 hasn't commented on this issue for 23 days and hasn't answered for 2 days if they need help, I'd say that it would be ok for someone else to give it a go.

@dinakajoy , note that an applicant can only work on one `good-first-issue` and you've already worked on [this one](https://github.com/ocaml/ocaml.org/issues/1313). Thanks for that by the way! So you should now either look

[2021-04-02 15:28] patricoferris commented on #1366
Sure, if you ran `make local` you need to get the full, absolute path to `ocaml.org/index.html`.

You will most likely have cloned the repository into a directory called `ocaml.org`. After running `make local` there should be a directory inside that one called `ocaml.org` and inside that a file called `index.html`. You need to get the path to that and paste it into your browser (on most modern mac

[2021-04-02 15:40] ChitvanRamani22 commented on #1366
@patricoferris do i need to run make again before running the path as i exited that command

[2021-04-02 15:59] SAY-droid427 commented on #1245
Hey! I am Sayani Mallick, an Outreachy applicant. I am a student in my second year in BITS Pilani, India. I hope to be able to contribute to this project and learn and unlearn in the process. I see that most of the good-first-issues have already been claimed. @patricoferris Could you please help me in finding a good-first-issue to get started with the project?Thank you

[2021-04-02 16:04] gurleennsidhuu commented on #1315
Hi @patricoferris and @avsm. Looking forward to your response. :)

[2021-04-02 16:13] ChitvanRamani22 commented on #1339
@gurleennsidhuu which code editor are u using?

[2021-04-02 16:20] gurleennsidhuu commented on #1339
I edited the file on notepad itself.

[2021-04-02 16:21] dinakajoy commented on #1255
@pitag-ha I am only contributing to this project and right now there is not much to do except redesign to modernize the look and feel of the website. I am not working on any stuff now and don't mind taking this up. By the way, are you think of redesigning, like add more space and animation, etc. I can contribute on that as well. Thank you.

[2021-04-02 16:22] ChitvanRamani22 commented on #1339
@gurleennsidhuu
Actually my make command is showing output as follows
![IMG-20210402-WA0113.jpeg](https://user-images.githubusercontent.com/68965499/113433942-bc4b6a00-93fd-11eb-82da-6944cbef8fe1.jpeg)

[2021-04-02 16:26] gurleennsidhuu commented on #1339
I think you are good to go. You should go to the newly created ocaml.org folder and locate your file and it will run on browser.

[2021-04-02 16:32] LindieK commented on #1258
@yashi-hub did you succeed in handling this issue? I am currently looking for an issue to take up. Please if so, let me know. Thank you.

[2021-04-02 16:38] gs0510 commented on #1373
@Bhavika-Gianey  This is a good catch! :) You can go ahead and work on this :)

[2021-04-02 16:40] gs0510 commented on #1370
@TildaDares This is a good catch! You can go ahead and work on this :)

[2021-04-02 16:41] ChitvanRamani22 commented on #1339
@gurleennsidhuu
Are u talking about this?
![20210402_221009.jpg](https://user-images.githubusercontent.com/68965499/113435353-3c72cf00-9400-11eb-91e4-62ee1fc39e87.jpg)

[2021-04-02 16:47] gurleennsidhuu commented on #1339
No. The one above this, 'ocaml.org'.

[2021-04-02 16:48] pitag-ha commented on #1276
@jyotibalodhi, how is it going? Do you need some help? Or have you already submitted a PR for this and I haven't seen it?

[2021-04-02 16:50] ChitvanRamani22 commented on #1339
@gurleennsidhuu i meant that only rest all folder names are white in color but that one is greyish something like muted text .

[2021-04-02 16:55] ChitvanRamani22 commented on #1339
@gurleennsidhuu hope u can see it in this ss![Screenshot_20210402-222450_WhatsApp.jpg](https://user-images.githubusercontent.com/68965499/113436394-4564a000-9402-11eb-9f34-94c9965bde57.jpg)

[2021-04-02 16:56] ChitvanRamani22 commented on #1366
![Screenshot_20210402-222450_WhatsApp.jpg](https://user-images.githubusercontent.com/68965499/113436516-7513a800-9402-11eb-92da-71c470077ecd.jpg)
@patricoferris this is how it is appearing in vs code. Why that folder is muted?

[2021-04-02 16:58] gurleennsidhuu commented on #1339
Are you able to open any file from the newly create ocaml.org folder?

[2021-04-02 17:01] ChitvanRamani22 commented on #1339
@gurleennsidhuu ![20210402_223030.jpg](https://user-images.githubusercontent.com/68965499/113436851-17339000-9403-11eb-87cc-72a6a4db2e25.jpg)
All the files are like this.

[2021-04-02 17:02] ChitvanRamani22 commented on #1339
![20210402_223150.jpg](https://user-images.githubusercontent.com/68965499/113436923-43e7a780-9403-11eb-975f-77ee5dc8a9c7.jpg)
And when i do open with live server.

[2021-04-02 17:03] gurleennsidhuu commented on #1339
I guess you can now run them on browser. Are you facing any issue while running them? Try running the file you edited and check if the changes are visible or not. :)

[2021-04-02 17:04] LindieK commented on #1353
@dinakajoy I truly feel the coloring of the read more buttons is misleading. It initially struck me as a disabled button till I clicked on it.

Although I just noticed that the linking of the "Read More" button is not the same as the title to the articles they are attached to. Did you notice this?

[2021-04-02 17:04] gurleennsidhuu commented on #1339
I don't know how to use VSC but you can check the newly created ocaml.org folder in the directory you cloned it. It will directly open it in the browser. This is what I did.
I hope it makes sense.

[2021-04-02 17:05] yashi-hub commented on #1258
Hey @LindieK , I'm working on this.
Just few patches left before I make a PR.
As soon as I close this issue, I'll try to open a new one if possible.
By then you can work on other issues or observe the site and open an issue yourself :))

[2021-04-02 17:07] ChitvanRamani22 commented on #1339
@gurleennsidhuu
![20210402_223650.jpg](https://user-images.githubusercontent.com/68965499/113437277-fc155000-9403-11eb-9c93-9c9161ba07cd.jpg)
I copied the path of index.html and ran it this is what is showed.

[2021-04-02 17:10] jyotibalodhi commented on #1276
Hello @pitag-ha , yes I have already made a PR for this issue #1300 , which has been merged just 3 days ago! Thanks!

Also I was wondering whether this will be considered as a contribution? as PR was made before the contribution period started and merged while the contribution period.

[2021-04-02 17:10] LindieK commented on #1360
@gs0510 would this be alright to work on now?

[2021-04-02 17:10] gurleennsidhuu commented on #1339
Nice. :) I think you should be able to see the changes that you made.

[2021-04-02 17:15] dinakajoy commented on #1353
Nothing has been said yet by the maintainers on it.
Regarding the link, can you drop a screenshot please because it was okay when I tried it except when you try to open in new tab.

[2021-04-02 17:25] ChitvanRamani22 commented on #1339
@gurleennsidhuu is this the right page
I mean the same is appearing on ur screen too?

[2021-04-02 17:26] ChitvanRamani22 commented on #1339
@gurleennsidhuu as till now i havent made any changes.

[2021-04-02 17:31] patricoferris commented on #1215
Fixed in #1256

[2021-04-02 17:31] #1215 closed

[2021-04-02 17:31] patricoferris commented on #1291
Fixed in #1298

[2021-04-02 17:31] #1291 closed

[2021-04-02 17:38] gurleennsidhuu commented on #1339
This address can run on your local device only and yes, this is the right page. :)
Just make some changes and run `make` or `make local` again, and you'll be able to see the changes that you made.

[2021-04-02 17:50] pitag-ha commented on #1255
There are 165 open issues that aren't tagged as good-first issues :) You could work on any of those ones.

The best thing would be to file a concrete issue with the idea you have in mind. That way we can have a look at the idea and let you know what we think.

And thanks again for your contributions!

[2021-04-02 17:56] ChitvanRamani22 commented on #1366
@patricoferris its working!!
I made the change for testing i.e replaced new packages with old packages and could see it.
![20210402_232442.jpg](https://user-images.githubusercontent.com/68965499/113440794-bad46e80-940a-11eb-8b70-e8885f14fd52.jpg)

[2021-04-02 18:03] pitag-ha commented on #1276
Perfect, thanks for letting me know!

The one-liner good-first-issues are a good way to get into touch with the code base. I don't think it matters much if the contribution is "officially considered" or not. Now, you could work on issues that aren't tagged as good-first-issue or come up with some issue yourself that you want to work on. That will all be more important for consideration anyways.

[2021-04-02 18:04] patricoferris commented on #1366
Hi @ChitvanRamani22 I'm glad you got everything working 👍

Just for future reference (and for anyone else who comes to this issue) much of the conversation happened on this closed issue https://github.com/ocaml/ocaml.org/issues/1339#issuecomment-812504315

Looking forward to your contributions :))

[2021-04-02 18:04] #1366 closed

[2021-04-02 18:09] patricoferris commented on #1339
Thanks @gurleennsidhuu for your help. A little disappointed to see the conversation carry on here after my comment https://github.com/ocaml/ocaml.org/issues/1339#issuecomment-812481664 but I'm glad to see applicants helping each other and for your problem to get resolved :))

[2021-04-02 18:17] dinakajoy commented on #505
I would love to know if this issue is still open, I might be able to come up with something

[2021-04-02 18:17] gurleennsidhuu commented on #1339
I am really sorry. I should have reopened this issue. Will keep that in mind from now onwards. :)

[2021-04-02 18:23] dinakajoy commented on #1246
I think the best thing to do is open the link on a new tab. Opam website is totally different from ocaml with their individual subsections. Users simply close the tab, return to ocaml and pick up from where they left off when they are done with the content they need on opam.

[2021-04-02 18:28] ChitvanRamani22 commented on #1339
@patricoferris as i was having very small doubts so i thought to discuss with other participants instead of disturbing you again and again .
Sorry for that.

[2021-04-02 18:30] ChitvanRamani22 commented on #1366
Thank you so much for helping and being so patient and handling an impatient child like me @patricoferris :).

[2021-04-02 18:33] dinakajoy opened #1378 "Repositioning of breadcrumbs on non top level pages"
I suggest we move the breadcrumbs to the right of the page.

![Capture](https://user-images.githubusercontent.com/39722740/113443612-3c67d480-93ea-11eb-9b9f-dae9d2220727.PNG)

If it's a good issue, I can make the fix

[2021-04-02 18:51] ChitvanRamani22 commented on #1339
Thankyou so much @gurleennsidhuu for helping out.

[2021-04-02 22:12] CQW-Code commented on #1245
Hi there- I'm also an Outreachy candidate/applicant and interested in the improving the ocaml site project-have been busy making sure my environment is set up- had previously set it up but didn't do the make deps and got an error on that. I'm also looking for a first time issue or a basic one as I'm familiar with Git and creating a PR...

[2021-04-02 23:57] TildaDares commented on #1370
@gs0510 I couldn't find this page in my local repo so I asked in the discord server and @patricoferris said that this site is a little outside of the scope of ocaml.org. Would you like me to go ahead with it?

[2021-04-03 00:20] mercybassey commented on #1258
![Screenshot from 2021-04-03 01-15-56](https://user-images.githubusercontent.com/57226464/113462763-781a9280-941a-11eb-9396-097076068b7a.png)

a quick fix to the success stories page.
@patricoferris  can i go ahead with this?

[2021-04-03 00:22] TildaDares opened #1379 "Fix overflow in https://ocaml.org/learn/tutorials/99problems.html on smaller screens"
Some of the code blocks in this [page](https://ocaml.org/learn/tutorials/99problems.html) are causing an overflow because the texts are not wrapping on smaller screen sizes.

![image](https://user-images.githubusercontent.com/63427719/113462755-6b963a00-941a-11eb-8248-d1283056d4a7.png)

I'd like to fix it by setting the white-space property to normal so that the texts can wrap and the overflow can

[2021-04-03 00:31] mercybassey commented on #1258
![Screenshot from 2021-04-03 01-26-53](https://user-images.githubusercontent.com/57226464/113463164-41de1280-941c-11eb-8f81-79fa24048f44.png)
A quick fix for the Success Stories Page

[2021-04-03 00:54] mercybassey commented on #1258
with your approval @patricoferris  i can get this done

[2021-04-03 01:17] Ndipbanyan opened #1380 "Improve the https://www.ocaml.org/community"
# Issue Description
When you navigate to /community page, the icons/images reflecting `OCaml around the Web` look too large and occupy a lot of space. I think they can look better thus:
# Before::
<img width="1213" alt="Screenshot 2021-04-03 at 02 07 46" src="https://user-images.githubusercontent.com/67186679/113464110-4279a780-9422-11eb-8cde-f377840539f5.png">

# After::
<img width="1207" alt="Sc

[2021-04-03 01:21] Ndipbanyan commented on #1380
I will love to work on this if it is worth fixing

[2021-04-03 01:37] dinakajoy commented on #1380
Someone has made a fix on this here #1317 and #1270, do check them out

[2021-04-03 01:44] divya144 commented on #1285
@patricoferris I am trying to incorporate the code into the template page. I have not faced any issues till now.  Thanks

[2021-04-03 02:20] jyotibalodhi commented on #1276
Actually, I am working on another first issue #1306 , I was not aware that we shall not work on one after our first contribution. As I am getting a few errors there while making the file, it's taking longer than required.

Yes, okay thanks! :)

[2021-04-03 04:52] Srinithyee commented on #1341
@patricoferris Sorry to continue the conversation here. But, since I am facing difficulty in building the site again, it would be great if you could reopen this issue, so that all the problems in building site locally is in one place and this issue might be all that is essential for any other applicant to build the site locally, in the future.

[2021-04-03 04:57] Srinithyee commented on #1341
@patricoferris This is the issue I am facing when I run make deps:
![image](https://user-images.githubusercontent.com/34683520/113468930-0d437880-9467-11eb-80dc-54d36bdbebc5.png)

Could you please help me with this? It worked just fine a few days back :/

[2021-04-03 05:48] Srinithyee opened #1381 "Issue with ssl installation as a part of make deps"
@patricoferris
I tried checking issue #1341, but I still seem to run into this error while running make deps.
This is the issue I am facing when I run make deps:
![image](https://user-images.githubusercontent.com/34683520/113468930-0d437880-9467-11eb-80dc-54d36bdbebc5.png)

Could you please help me with this? It worked just fine a few days back :/

On following the updated [document](https://githu

[2021-04-03 06:42] hitblunders opened #1383 "Images not displayed"
Images are not getting displayed in ocaml.org/site/learn/tutorials/99problems.md .

Screenshot -

![Screenshot from 2021-04-03 12-08-07](https://user-images.githubusercontent.com/72441280/113470779-b4c7a780-9475-11eb-9a6a-f027ff59d7f5.png)

[2021-04-03 08:10] LindieK commented on #1337
@gs0510 I also noticed some names are duplicated in the list. Should that be handled here or can I create a new issue pointing out the names I noticed were duplicated?

[2021-04-03 08:20] yashi-hub commented on #1245
hi everyone, this is a question for all those who have already submitted a PR. I'm facing an issue while checking my code work.
the contributing.md says that run make local and then go to the link.
 " Instead of links being /learn they could be ../../learn depending on which page you are in"
if I understood it correct , the links here mean  ocaml.org/(location of file).
but when I do this I get an

[2021-04-03 08:51] gurleennsidhuu opened #1385 "Adding table of contents on https://ocaml.org/learn/tutorials/ page."
I think it would be feasible for the user if we add a table of contents on https://ocaml.org/learn/tutorials/.
The site now looks like this.
![a](https://user-images.githubusercontent.com/64313783/113473501-7aff9c80-9487-11eb-8ef9-7c2721092acb.png)
After the change:
![b](https://user-images.githubusercontent.com/64313783/113473514-8f439980-9487-11eb-9994-190ef1cf5b72.png)

Please let me know if yo

[2021-04-03 08:53] gurleennsidhuu commented on #1245
Hi @yashi-hub . Not sure if this would help, but you can check #1339 #1341 #1366. :)

[2021-04-03 09:37] Bhavika-Gianey opened #1387 "extra spacing under news section on tablet view (screen size < 978 )"
There is extra spacing under the news section of the Home page on  tablet view i.e. screen size less than 978 px

## On large view
![old3-2](https://user-images.githubusercontent.com/63343906/113474440-9e2d4a80-948d-11eb-9959-9ba59dd32533.PNG)

## On medium view
![old3-1](https://user-images.githubusercontent.com/63343906/113474453-aa190c80-948d-11eb-819f-c48a7479b63c.PNG)

I would like to fix the

[2021-04-03 10:28] ChitvanRamani22 commented on #1312
@pitag-ha the setup is finally done and i have started working on the issue.
Just wanted to confirm that is this what we want as shown in the picture below.
![Screenshot_20210403-155831_WhatsApp.jpg](https://user-images.githubusercontent.com/68965499/113475881-77731200-9495-11eb-99c4-eaffee4893c9.jpg)

[2021-04-03 10:57] Ndipbanyan commented on #1380
@dinakajoy thank you. Didn't see that earlier. I am closing this now.

[2021-04-03 10:57] #1380 closed

[2021-04-03 12:25] SAY-droid427 opened #1388 "Increase the font-size of the website to improve the user experience"
Increase the font -size in the website. The current font-size makes it tough to read.
BEFORE:
![OcamlBefore1](https://user-images.githubusercontent.com/59281636/113478291-a8f3d980-94a5-11eb-9c6c-a944ef70c2a1.png)
![OcamlBefore2](https://user-images.githubusercontent.com/59281636/113478300-b315d800-94a5-11eb-8628-82ccda7abc71.png)

AFTER:
![OcamlAfter1](https://user-images.githubusercontent.com/592

[2021-04-03 12:29] Lovelyfin00 commented on #1388
Hi
I'm Loveth and an outreachy applicant. I would love to work on this

[2021-04-03 12:30] SAY-droid427 commented on #1388
@patricoferris I have completed the work for this issue. But I am facing an issue. I have created a separate branch contri1 and made all the changes but when I check with git status, it shows nothing changed. Could you please help me out? This is the first time I have faced such a problem and unable to understand what to do? Should I reclone the repository and make the changes again?
![BUG1](https

[2021-04-03 12:32] SAY-droid427 commented on #1388
https://github.com/ocaml/ocaml.org/issues/1388#issuecomment-812859053
 Hey I have already completed the work on this issue. You won't want to copy it right? Please find some other issue

[2021-04-03 12:34] Lovelyfin00 commented on #1388
Hi @SAY-droid427
I just saw your reply now. I'll look for other issues. Thanks😊

[2021-04-03 13:28] Lovelyfin00 opened #1390 "Table of Content in News section not arranged properly"
One of the list in the table of content isn't arranged properly. I would love to fix this issue if it gets approved.

![First issue](https://user-images.githubusercontent.com/38161296/113479741-a59e2500-9488-11eb-849f-c44a4f6b230a.png)

[2021-04-03 14:22] yashi-hub opened #1391 "unable to see changes after building the site using WSL"
I built the site locally , but when I'm running `make local` and then on my browser adding the path of the file such as
: `C:\Users\user\Desktop\ocaml.org\site\meetings\ocaml\index.html`
I see `Your file couldn’t be accessed`.
I also tried running it by first doing `make production` and then `cohttp-server-lwt ./ocaml.org ` i see the site built on localhost:8080 successfully. but then if I do some

[2021-04-03 15:18] roli25 commented on #1245
Hello everyone, I am Roli Jain, an Outreachy applicant. I wish to contribute in Ocaml.org project. Could you please tell me issues to get started with? Thankyou.

[2021-04-03 16:35] gurleennsidhuu commented on #1388
This screenshot shows that you are on branch master. Did you checkout to your new branch?

[2021-04-03 16:45] SAY-droid427 commented on #1388
@gurleennsidhuu Yeah I did. I recognized the problem. I had made changes to the ocaml.org which was placed in the gitignore file. Now I have made changes to the sites/ocamlorg.css file and the changes are reflected. But I had one question. If I have to make any changes in the index.html files(not altering the contents but for changing the tags or something) which files should I modify and how?

[2021-04-03 19:05] CQW-Code opened #1393 "Hovering over the green buttons does not change/animate the button clearly"
On the green buttons that take you to additional resources/information, when I hover over it - the cursor does change to a hand but the change in color is so slight I couldn't tell if it was a true button to click.  This would be an issue for low vision/vision impaired people.  On actually clicking the button, the border does change to a thin orange (?) line.
   If this is a good issue, I'd like t

[2021-04-03 19:30] TildaDares opened #1394 "Improve https://ocaml.org/manual/index.html#sec6 headings"
The headings at https://ocaml.org/manual/index.html#sec6 need more spacing.

![image](https://user-images.githubusercontent.com/63427719/113489246-14947180-94bb-11eb-8560-52573a2138c1.png)

This is what I think it should like.

![image](https://user-images.githubusercontent.com/63427719/113489275-43aae300-94bb-11eb-969c-be3ff3d606a9.png)

[2021-04-03 19:35] TildaDares opened #1395 "Add spacing to stickers section in https://ocaml.org/docs/logos.html for smaller screens"
The stickers section in https://ocaml.org/docs/logos.html looks like this on smaller screens.

![image](https://user-images.githubusercontent.com/63427719/113489362-be73fe00-94bb-11eb-801d-5c9fbd8e0ff9.png)

I think there should be a little space between the texts and the logo.

<img width="571" alt="Screenshot 2021-04-03 at 20 33 58" src="https://user-images.githubusercontent.com/63427719/1134893

[2021-04-03 19:35] TildaDares opened #1396 "Add spacing to stickers section in https://ocaml.org/docs/logos.html for smaller screens"
The stickers section in https://ocaml.org/docs/logos.html looks like this on smaller screens.

![image](https://user-images.githubusercontent.com/63427719/113489362-be73fe00-94bb-11eb-801d-5c9fbd8e0ff9.png)

I think there should be a little space between the texts and the logo.

<img width="571" alt="Screenshot 2021-04-03 at 20 33 58" src="https://user-images.githubusercontent.com/63427719/1134893

[2021-04-03 19:36] #1396 closed

[2021-04-03 20:03] pitag-ha commented on #1245
Hi Everyone! We (the mentors) are out of office on weekends and bank holidays. We'll come back to you at the beginning of next week. Have a nice weekend everyone :)

[2021-04-03 20:26] #1394 closed

[2021-04-04 06:29] yashi-hub commented on #1395
If no one is working on this issue, I would like to give it a try :))

[2021-04-04 06:36] Kanak1081 commented on #1318
Thats's so kind of you @pitag-ha and you didn't put up any pressure. Actually, I have worked upon the same issue but then my PR encountered some rendering error and since I was busy in some other work right now, couldn't focus on that issue as of now. I saw that new comers are currently working, so wanted to give them a clean way. Thanks!

[2021-04-04 07:44] guptadiksha307 opened #1397 "improve footer section"
Initially, the footer section on mobile devices looks like-

![image](https://user-images.githubusercontent.com/53967592/113502046-43582980-9547-11eb-8196-cd6421638255.png)

I usually follow material design UI and according to that footer section should be-

![image](https://user-images.githubusercontent.com/53967592/113502097-99c56800-9547-11eb-97f9-487b29127592.png)

[2021-04-04 07:52] guptadiksha307 commented on #1397
@patricoferris @gs0510 If this seems a good idea for you, please do let me know, I would like to work on this :)

[2021-04-04 10:06] #1370 closed

[2021-04-04 10:18] TildaDares opened #1398 "Add Issue Template"
@patricoferris This repo still doesn't have an issue template. Is @LindieK still working on it? If they aren't I'd like to take it up.

[2021-04-04 12:37] gs0510 commented on #1397
Hi @guptadiksha307! This is a good catch, but there's already an issue open to fix the footer view on mobile devices here: https://github.com/ocaml/ocaml.org/issues/1276 :)

[2021-04-04 12:54] guptadiksha307 commented on #1397
oh okay. So should I close this issue now?

[2021-04-04 12:56] gs0510 commented on #1337
@LindieK can you point out some names that were repeated. Since the names are taken from a git log, I think it's possible there's two people with similar names. B

[2021-04-04 12:57] gs0510 commented on #1397
Yes you can close it :) @guptadiksha307

[2021-04-04 13:00] #1397 closed

[2021-04-04 13:25] Ndipbanyan opened #1399 "Improve https://www.ocaml.org/learn/tutorials sub section contents"
# Issue Description
When you navigate to any section in /learn/tutorials, for example in the  `Up and Running` or `Basics` sections, you will notice that when you move to a particular content, it becomes tedious to have to scroll to another content up in the page.

# Suggestion
I suggest that the Content Table for all sections should be styled to a fixed position so that one can easily navigate to

[2021-04-04 13:26] Ndipbanyan commented on #1399
@patricoferris I will like to work on fixing this.

[2021-04-04 13:57] Ndipbanyan opened #1400 "Reduce the spacing between the Content Table and Contents in https://www.ocaml.org/learn/tutorials/up_and_running"
# Issue Description
When you view the `Up and Running` section in /learn/tutorials, you will see that the space between the content table and the content is quite large.
# Suggestions
 The screenshots below give a suggestion that I will like to fix
 # Before
<img width="1436" alt="Screenshot 2021-04-04 at 14 53 15" src="https://user-images.githubusercontent.com/67186679/113511108-195a3380-9556-11e

[2021-04-04 15:07] gurleennsidhuu commented on #1388
I am not sure if this is the correct way but one of the ways can be to run `make local`. It creates html files in a new folder 'ocaml.org' and then you can open that html file in your code editor.

[2021-04-04 15:08] Ndipbanyan opened #1402 "Improving user experience in the OCaml Documentation Tutorials"
# Issue description
 When you navigate to /docs and click on `Read the tutorials` button, you will be directed https://ocaml.org/manual/index . On this page I noticed that the OCaml Manual is divided into parts and each part has some chapters in it. When you click on any of the chapters, a page with the content of that chapter is displayed along side a hamburger(Which in my opinion isn't a great t

[2021-04-04 15:38] gurleennsidhuu opened #1403 "Organizing books.html page"
The https://ocaml.org/learn/books.html page looks a little disorganized. For eg:
![1](https://user-images.githubusercontent.com/64313783/113513455-6dc9d700-9587-11eb-8a0f-6b577fc93baa.png)
Here the sections for 2 different books overlap but they should look like below.
![2](https://user-images.githubusercontent.com/64313783/113513459-8508c480-9587-11eb-88d4-19da5cd854f8.png)
Also, the links to the

[2021-04-04 16:47] TildaDares opened #1404 "Fix typos in https://ocaml.org/learn/tutorials/"
'your are' should be 'you are'

![image](https://user-images.githubusercontent.com/63427719/113515628-91802380-956d-11eb-937a-10567ce72328.png)

There should be either a full stop after the 'Ocaml for Haskellers' or the sentence could be 'Ocaml for Haskellers provides some notes on the differences between OCaml and Haskell.'

![image](https://user-images.githubusercontent.com/63427719/113515663-bd

[2021-04-04 17:03] somya104 commented on #1328
Hey @gs0510 ! I have gone through all the files in the ocaml.org repository. However, I'm unable to find the code for footer for opam.ocaml.org; I have found the code for the main web page of the opam.ocaml.org website but that code did not contain the footer code that I need. I have also viewed a file named Superfooter in which only this code is available:
<div class="footer">
<t:insert xmlns:t="

[2021-04-04 18:43] LindieK commented on #1337
![Screenshot_20210404_193755](https://user-images.githubusercontent.com/38317939/113518331-98af2d80-957d-11eb-8015-ecea967a1d15.jpg)

@gs0510 this is one example. The names are different - yes - but refer to the same person. I noticed 3 other people from observing conversations in the issues and cross checking their github usernames and full names.

[2021-04-04 19:24] poornimashrivastava commented on #1404
Hi @TildaDares ! I'm Poornima, an Outreachy applicant. I'd like to contribute to this if no one's working on it.

[2021-04-04 20:16] dldisha commented on #1352
Hey, @pitag-ha I guess, earlier I was navigating to the wrong file and you were right, that part of the code is in OCaml.
And currently, we can't integrate Font Awesome with OCaml, it's supported with HTML/CSS. So sorry for the confusion.

[2021-04-04 20:31] dldisha commented on #1363
Hey @patricoferris, so to have a fixed sidebar, I'll have to add a new class to all TOC's.
So for eg, initially, it is `## The Origin`
but to have a fixed sidebar I'll have to do:
 `<h2 class="fixed-sidebar">The Origin</h2>` giving fixed-sidebar class all the styling.
Will it be fine? Will it disturb the OMD autogenerated TOC's?

[2021-04-04 20:55] yashi-hub commented on #1402
if this issue gets approved, I would love to implement it within the contribution period :)).
as I'm done with creating a PR for a good-first-issue and improving some docs already, I'm willing to work on other issues and this interests me a lot:).
@patricoferris what do you feel about this?

[2021-04-05 01:33] UnixJunkie commented on #505
Yes it is.

[2021-04-05 04:44] guptadiksha307 opened #1407 "Improve the news section on the main page."
It would be nice if the news section has a vertical scrolling feature so that it becomes easy to add more news feeds later on without wasting much space. Also, it will be easy to shift this section whenever needed.

![image](https://user-images.githubusercontent.com/53967592/113537970-ae613900-95f7-11eb-8647-d153a4350e6a.png)

[2021-04-05 04:50] guptadiksha307 commented on #1407
@gs0510 I would like to work on this if approved!

[2021-04-05 05:13] gurleennsidhuu opened #1408 "Translation error in 'Learn' page."
The heading for 'Books' in the French translation of the page https://ocaml.org/learn/index.html is:
![h](https://user-images.githubusercontent.com/64313783/113539402-5d534400-95fb-11eb-8861-4df1070a4e2e.png)
which translates to 'English and French books' but there are books in other languages too. I think the heading should be 'Livres' according to the online translator.

[2021-04-05 05:33] gurleennsidhuu opened #1409 "Improving https://ocaml.org/docs/index.fr.html"
https://ocaml.org/docs/index.fr.html page looks a little unorganized here:
![Screenshot 2021-04-05 110037](https://user-images.githubusercontent.com/64313783/113540719-5aa61e00-95fe-11eb-98f7-b0bcc3d41be0.png)
I would like to fix it to:
![Screenshot 2021-04-05 110328](https://user-images.githubusercontent.com/64313783/113540817-917c3400-95fe-11eb-879a-af2c4308ec5e.png)

[2021-04-05 07:23] TildaDares commented on #1395
@yashi-hub I've already fixed this. I'm just waiting for @patricoferris approval to make a pull request.

[2021-04-05 07:38] gurleennsidhuu commented on #1408
I found one error in https://ocaml.org/community/index.fr.html too.
![Screenshot 2021-04-05 130630](https://user-images.githubusercontent.com/64313783/113549872-c47af380-960f-11eb-9c5f-194c3c311138.png)
When we translate the French page to English, 'Rencontres et réunions' translates to 'Meetings and meetings'.

[2021-04-05 08:57] Ndipbanyan opened #1410 "Improving the look of Search bar in https://ocaml.org/api/index.html"
# Issue description
 The search bar in `/api/index` can be improved to look better. The screenshot below is what it currently looks like
<img width="726" alt="Screenshot 2021-04-05 at 09 47 32" src="https://user-images.githubusercontent.com/67186679/113556176-ff6f2e00-95f3-11eb-92c6-065b615e9265.png">

# Suggestion
The search bar can look better like the screenshot below.

<img width="491" alt="Sc

[2021-04-05 09:28] Ndipbanyan commented on #1410
@patricoferris I will love to work on this if it is worth fixing

[2021-04-05 09:57] Riddhima23 commented on #1245
Hello people! My name is Riddhima Singh and I am an outreachy applicant. I would love to contribute to the project "Improve  the ocaml.org website". @patricoferris could you please assign some beginner good first issues to me?

[2021-04-05 10:58] Bhavika-Gianey opened #1411 "Scroll to top button on the website"
I noticed that some of the web pages are quite long and cover a large amount of content. For User Convenience, there should be a scroll to the top button on the website.

I would like to add this new feature to the website within the contribution period if it is approved :).

[2021-04-05 11:13] yashi-hub commented on #1411
hey @Bhavika-Gianey, great issue, but I feel the home button on our keyboard provides us the same feature as the scroll-to-top button would do. :))

[2021-04-05 11:22] gurleennsidhuu opened #1413 "Improving success.fr.html"
The English and the French translated pages look quite different.
The English translated page has table of contents whereas the French page doesn't.
Also, some of the stories are missing on the French translated page.
The page also has some syntax errors like:
![Screenshot 2021-04-05 165109](https://user-images.githubusercontent.com/64313783/113568939-2d259880-962f-11eb-9493-b368f55692fb.png)
If a

[2021-04-05 11:37] yashi-hub opened #1414 "site display could be improved on a small screen view"
when navigating to the site -https://www.infoq.com/presentations/ocaml-browser-iot/?utm_source=twitter&utm_medium=link&utm_campaign=qcon , the top bar shows various options such as streaming, Machine learning, etc.
this gets hidden when used on a small screen. and instead, users have to scroll right which is a bit inconvenient.

large screen -
![error initial](https://user-images.githubusercontent

[2021-04-05 12:10] patricoferris commented on #1414
Hi @yashi-hub 👋

I agree this UI is a bit strange but I don't think there's anything we can do about it because it's the infoq wesbite? Am I missing something here?

[2021-04-05 12:39] patricoferris commented on #1363
Hi @dldisha,

This was what I was concerned about. If I understand correctly, the proposal here is to make changes to *all* headers in *all* markdown files so the class gets pulled into the TOC generation?

I think an easier solution which might work, is too investigate what can be done to the container of the table of contents (a `nav` with class `nav-secondary`) https://github.com/ocaml/ocaml.or

[2021-04-05 12:45] patricoferris commented on #1410
Hi @Ndipbanyan,

I agree this is more reminiscent of other search bars I've seen. The actual generation of these API docs is not a part of this repository, for more discussion on this see issue #1273 and #1279 and in particular this comment https://github.com/ocaml/ocaml.org/pull/1273#issuecomment-802658224.

So we can modify the HTML to see how it would look, but ultimately it would be back-porte

[2021-04-05 12:56] patricoferris commented on #1391
Hi @yashi-hub,

Thanks for opening this, I think I'll need a little more information to help you out here. In particular if you could add/try doing:

 - What files are you changing between `make production` calls?
 - What are the changes?
 - In a file explorer does the file "`C:\Users\user\Desktop\ocaml.org\site\meetings\ocaml\index.html`" exist?
 - If you run `make clean` and then `make` do you s

[2021-04-05 13:00] patricoferris commented on #1390
Hi @Lovelyfin00,

Thank you for taking the time to open this issue. IIRC, the `news` page is generated by reading RSS feeds of all the "`syndications`" and we (the ocaml.org site) simply present whatever gets returned to us. If you follow the link to Thomas Leonard's (very good!) blog post you will see this is actually part of their table of contents so the indentation is indeed correct.

Again, t

[2021-04-05 13:00] #1390 closed

[2021-04-05 13:10] TildaDares opened #1415 "Fix focus in https://ocaml.org/learn/success.html"
When the brand image/logo is clicked in https://ocaml.org/learn/success.html, the focus is on the text beside the image instead of the image.

![image](https://user-images.githubusercontent.com/63427719/113577031-846c3e80-9618-11eb-89df-2e261b82dfcc.png)

I'd like to fix this.

[2021-04-05 13:20] TildaDares opened #1416 "Rearrange order of content in https://ocaml.org/meetings/"
The first heading in https://ocaml.org/meetings/ should be 'Ocaml Meetings' instead of 'Ocaml Users and Developers Workshop'. This arrangement adds structure to the page since the title of the page is 'Ocaml Meetings'.

<img width="769" alt="Screenshot 2021-04-05 at 14 18 41" src="https://user-images.githubusercontent.com/63427719/113577855-d792c100-9619-11eb-994c-690011e19044.png">

[2021-04-05 13:30] patricoferris commented on #1381
Hi @Srinithyee, did you manage to get this resolved?

I'm not very familiar with windows/WSL but it doesn't appear to look like you are using WSL from these screenshots, you can tell this from `opam`'s output of `win32/x86_64`. I'm pretty sure when running WSL it should all appear to be a Linux machine (this could also be the reason there's no `sudo` and no `apt`?). Please let me know if this is t

[2021-04-05 13:52] Jane-Kotovich opened #1418 "Difference in Contributors.fr.html and Contributors.html. Add a missing section"
There is a difference in contributors.fr.html and contributors.html
We need to add a missing section.
<img width="1440" alt="Screen Shot 2021-04-05 at 11 50 42 pm" src="https://user-images.githubusercontent.com/76935202/113581045-f02ac780-9669-11eb-9ba8-a6b3206e5ff3.png">
<img width="1440" alt="Screen Shot 2021-04-05 at 11 50 35 pm" src="https://user-images.githubusercontent.com/76935202/113581060

[2021-04-05 13:53] Jane-Kotovich commented on #1418
If it gets approved I would love to work on this. Kind regards!

[2021-04-05 14:41] patricoferris commented on #1312
I can't speak for @pitag-ha but this looks like it is heading in the right direction, thanks @ChitvanRamani22 :)) I wonder if it would be better to style them like the other links on the page i.e. in the same orange/brown colour ?

[2021-04-05 15:08] ChitvanRamani22 commented on #1312
Ok @patricoferris will do it in that way and might confirm once again thankyou so much for replying.

[2021-04-05 16:29] gs0510 commented on #1328
Hi @somya104! The code for opam.ocaml.org does reside in another repository and turns out is out of scope for now. My apologies, you can work on another issue in the meantime :)

[2021-04-05 16:30] jyotibalodhi commented on #1306
Hello @pitag-ha @patricoferris For working on this issue I have tried using flexbox order property and a few other methods but nothing seems to work as the two sections that need to be swapped are nested in different divs. Can you plz help me out with what other solutions I can try? Also, I was wondering if I can position them hard-coded as I saw a few other elements being done like that in the bo

[2021-04-05 16:31] gs0510 commented on #1337
@LindieK Nice catch, you can open another issue and work on it! :)

[2021-04-05 16:49] LindieK opened #1421 "Removal of duplicate names in contributors list"
There are some persons in the contributors list whose names appear twice. Normally in the form of their Full name on one side and their github usernames elsewhere in the list. To show a more accurate list of contributors, the duplicates should be tracked down and removed.

![](https://user-images.githubusercontent.com/38317939/113518331-98af2d80-957d-11eb-8015-ecea967a1d15.jpg)

[2021-04-05 17:06] somya104 commented on #1421
Hey @LindieK ! I am an Outreachy Applicant and would like to work on this issue.

[2021-04-05 17:25] LindieK commented on #1421
Hi @somya104 I'm an Outreachy applicant too. I'm currently working on this issue. You can look through the site for possible things that need improvement and create an issue suggesting the improvement. That is if no one else has raised it before.

[2021-04-05 17:36] somya104 commented on #1421
Okay, thank you so much!

[2021-04-05 22:23] Ndipbanyan opened #1422 "Improve user experience on https://www.ocaml.org/learn/description.html"
# Issue Description
When you navigate to any section in /learn/description, you will notice that when you move to a particular content, it becomes tedious to have to scroll to another content up in the page.

# Suggestion
I suggest that the Contents Table  should be styled to a fixed position so that one can easily navigate to any content section by clicking that section on the content table witho

[2021-04-05 22:34] dldisha commented on #1363
This was helpful! @patricoferris  I have made changes please review them and if any more changes are required.

[2021-04-06 05:43] gurleennsidhuu opened #1424 "Unwanted line in OCaml Planet Syndication"
I am not sure if this line is needed here because it is not an example for institutional feed.
![Screenshot 2021-04-06 111051](https://user-images.githubusercontent.com/64313783/113664227-0025c400-96c9-11eb-90e8-fb1a30417011.png)

[2021-04-06 05:48] gurleennsidhuu opened #1425 "Line break in Older posts- OCaml"
![Screenshot 2021-04-06 111710](https://user-images.githubusercontent.com/64313783/113664666-c73a1f00-96c9-11eb-9faf-f526687de00e.png)

[2021-04-06 06:00] gurleennsidhuu commented on #1425
There are some missing links too.
![Screenshot 2021-04-06 112821](https://user-images.githubusercontent.com/64313783/113665650-75929400-96cb-11eb-8bfd-c756188e6151.png)

October 2003 can be linked to http://caml.inria.fr/pub/distrib/ocaml-3.07/.
August 2002 can be linked to http://caml.inria.fr/pub/distrib/ocaml-3.06/.

[2021-04-06 06:16] Bhavika-Gianey opened #1426 "Map overflow on https://ocaml.org/learn/teaching-ocaml.html on mobile view"
There is map overflow on https://ocaml.org/learn/teaching-ocaml.html  which is causing extra right spacing on mobile view.

## Before

![i-5-new](https://user-images.githubusercontent.com/63343906/113665375-0157f080-96cb-11eb-964b-7e47f506c10f.gif)

## After

![newone](https://user-images.githubusercontent.com/63343906/113666883-978d1600-96cd-11eb-9604-313f5551d384.gif)

I would like to fix this s

[2021-04-06 06:28] Riddhima23 opened #1427 "Adding dropdown menu for site translation to enhance accessibility"
The current list to translate could be a bit confusing with many people not knowing short forms of various languages. Also the current format would look messy when other languages are added hence I would like to create a dropdown menu somewhat like this:
<img width="375" alt="Screenshot 2021-04-06 115243" src="https://user-images.githubusercontent.com/58878761/113667956-29e1e980-96cf-11eb-853f-594

[2021-04-06 06:46] Srinithyee commented on #1381
@patricoferris I was using WSL1. I updated to WSL2 and was able to deploy the site. Thanks a lot!
issue #1341  was extremely helpful too.
I'll close the issue :)

[2021-04-06 07:28] shreyaswikriti commented on #1245
Hello everyone, I am shreya, an Outreachy applicant. I am interested in contributing to the project 'Improve ocaml.org website'. @patricoferris, I have seen many good first issues are already assigned, Can I open issues on my own and work on them?? KIndly guide

[2021-04-06 07:58] gs0510 commented on #1245
@shreyaswikriti Welcome! Yes, if you can open an issue, ask one of us (@patricoferris, @pitag-ha or me), we can take a look if the issue hasn't been opened before or is within the scope and you can go ahead and work on it :) Thanks!

[2021-04-06 08:05] gurleennsidhuu commented on #1245
Hi @gs0510. I have opened some new issues. It would be really helpful if you take a look so that I can start working on them. Thanks :)

[2021-04-06 08:08] patricoferris commented on #1306
Hi @jyotibalodhi,

So I've thought a little about this. The only way to make the changes is to either do some complicated JS code to rearrange the content on mobile, do some complicated CSS acrobatics or to change the actual ordering for all devices. I agree with @pitag-ha's idea though.

One suggestion (we'll have to see what the core maintainers think) is to change `A Taste of OCaml` and the `Ne

[2021-04-06 08:10] patricoferris commented on #1426
That looks like a good bug to fix, thanks @Bhavika-Gianey

[2021-04-06 08:13] patricoferris commented on #1381
Okay great, glad you got it building, thanks I'll close it now 👍

[2021-04-06 08:13] #1381 closed

[2021-04-06 08:15] patricoferris commented on #1422
Thanks @Ndipbanyan for the suggestion, unfortunately somebody already has a PR open to add exactly this functionality. I'm going to close this issue as duplicate of what https://github.com/ocaml/ocaml.org/pull/1423 is solving :))

[2021-04-06 08:15] #1422 closed

[2021-04-06 08:18] patricoferris commented on #1424
Thanks for opening the issue @gurleennsidhuu. I'm actually okay with leaving this as is, I think it's meant to indicate that these are just examples and not an exhaustive list.

[2021-04-06 08:18] #1424 closed

[2021-04-06 08:21] Riddhima23 opened #1429 "Hosting section seems missing from contributors in French translation"
<img width="926" alt="english" src="https://user-images.githubusercontent.com/58878761/113680911-01fa8200-96df-11eb-99c7-1b4ba3dcc417.png">
<img width="939" alt="french" src="https://user-images.githubusercontent.com/58878761/113680917-045cdc00-96df-11eb-8ea4-93c49601dd0f.png">
I would like to fix this :) !

[2021-04-06 08:21] patricoferris commented on #1421
@LindieK there is very little we can actually do about this. The only solution afaict is to revert back to the original command which only displayed authors if there author name was of the form `<FIRSTNAME> <LASTNAME>`. This has the benefit of removing these duplicates but also the downside of not displaying those who use their username. What do you think?

[2021-04-06 08:21] shreyaswikriti opened #1430 "News section page can not be translated in french language"
![Screenshot from 2021-04-06 13-49-04](https://user-images.githubusercontent.com/57635473/113680933-06bf3600-96df-11eb-8b7f-bb2aaa7d883f.png)
while navigating to the news page I found the news articles are only available in the English language.
![Screenshot from 2021-04-06 13-47-51](https://user-images.githubusercontent.com/57635473/113681071-3110f380-96df-11eb-9960-95e6fea6af37.png)

[2021-04-06 08:29] shreyaswikriti opened #1431 "Dark extension for code examples (editors snaps where code is written)"
Programmers often like the dark theme. I found this eye-catching.
![Screenshot from 2021-04-06 13-35-28](https://user-images.githubusercontent.com/57635473/113681859-1ee38500-96e0-11eb-8a8f-861268f1560b.png)
rather than a light theme, we can convert the editor to a dark theme. I'll start working on this if you like. @patricoferris

[2021-04-06 08:50] patricoferris commented on #1408
Hi @gurleennsidhuu thanks for opening the issue,

I think your initial suggestion makes sense. The second one, however, I think is just a limitation of whatever translation service is being used, I think there's nuance between `Rencontres` and `Réunions` the former being more like "meet-ups" and the latter, formal (business-like) "meetings". I checked with some people who can speak French and they

[2021-04-06 08:56] gurleennsidhuu commented on #1408
Ok. Thanks. Will make a PR from the 1st suggestion. :)

[2021-04-06 08:58] pitag-ha commented on #1276
Ok, thanks for pointing that out! That's on us for not noticing. Since it's already assigned to you, you can keep on working on it now. But please, don't work on a third first-good issue :)

[2021-04-06 09:10] gs0510 commented on #1429
This is a good catch! You can go ahead and work on this @Riddhima23  :)

[2021-04-06 09:11] pitag-ha commented on #1306
I agree. I think `A Taste of OCaml` is an important section, so to me it sounds good moving it up even on other devices than phones.

[2021-04-06 09:26] pitag-ha commented on #1393
@CQW-Code, sounds great to me. You can go ahead and work on this if you'd like.

[2021-04-06 09:31] pitag-ha commented on #1374
Sounds good to me. I think you can start working on this, if you'd like :)

[2021-04-06 09:34] pitag-ha commented on #1376
Thanks a lot for the initiative! I do agree with you that with your approach the page would look a bit nicer, but introducing so many line breaks inside the breadcrumbs seems to make it harder to get an easy from and fast overview than it is now. Do you agree with that?

[2021-04-06 09:37] pitag-ha commented on #1385
I agree that that would improve consistency inside tutorials given that every tutorial has a table of contents. So I'd say you can go ahead and work on this, if you'd like :) You have two sections in your screenshot: the first one doesn't have a name at the moment and the second one is calle `External links`. You could call the first one `Tutorials`.

[2021-04-06 09:45] pitag-ha commented on #1378
Why would you suggest that? We have the breadcrumbs on the left on all ocaml.org pages with breadcumbs. On other websites I've seen both, breadcrumbs on the left and breadcrumbs on the right, so I'm not sure there's a standard. Why do you prefer them on the right?

That sounds like a great idea to me! Notice that there's currently a [PR open that's also touching the language selector](https://gith

[2021-04-06 09:47] pitag-ha commented on #1379
To me it sounds like a good idea to wrap inlined code as the one for which you've provided the screenshot! I wouldn't inline code blocks though (I'm not sure if you also had that in mind or not). You can go ahead and work on wrapping inlined code :) For consistency, please, make sure you do that on the whole page.

[2021-04-06 09:49] pitag-ha commented on #1383
Good catch, thanks!

[2021-04-06 10:00] Riddhima23 commented on #1429
Okay @gs0510 thanks! I will do it!😊

[2021-04-06 10:01] pitag-ha commented on #505
To also add a comment from the Outreachy mentor's side: this would be a great issue for you to work on @dinakajoy , if you can come up with something nice! :) Don't hesitate to ask here if you have any doubts about something.

[2021-04-06 10:39] Srinithyee commented on #1376
@pitag-ha Yes, I do agree with that. Do you have any other suggestions to implement this? I thought of modifying the span class for the two sections of the page. But, I think that will have a universal change on the other pages as well. Could you please tell me what to do?

[2021-04-06 10:57] TildaDares commented on #1379
The code tag has a `white-space` property of `nowrap`. I was thinking of setting to `normal`.

[2021-04-06 10:59] Ndipbanyan opened #1436 "Improve user experience on https://www.ocaml.org/learn/tutorials/ on smaller screens"
# Issue Description
The navbar of most of the pages on the tutorial section remains static at the top on smaller screens view and this makes it difficult for a user to navigate to another page once they have scrolled down the page they are on.

# Suggestion
The user can have a better experience navigating to other pages if the navbar is set to a fixed or sticky position so that the user can easily

[2021-04-06 11:08] patricoferris commented on #1395
@TildaDares looks like a good fix to me, thanks for opening the issue

[2021-04-06 11:22] shreyaswikriti commented on #1245
@gs0510, I have opened some. kindly have a look at those, so that I'll proceed further.

[2021-04-06 11:41] jyotibalodhi commented on #1306
I do think it's a good idea. And yes the column width needs to be changes if that happens but that is still a easy task. And aa you mentioned that we don't want JS to be included for just swapping then I think this is probably the safest option to go along with.

[2021-04-06 11:57] jyotibalodhi commented on #1276
Thanks ! :)

[2021-04-06 12:02] Srinithyee opened #1437 "Setting Ocaml in Windows"
@patricoferris
I would like to add a new markdown file just to deal with all the steps to setting up the environment to contribute to OCaml using a windows machine.
While PR #1343 (has been merged) seems to deal with the errors faced while using WSL, there is no laid down steps right from how to install WSL to making "make deps" work.

I thought of creating a new folder and putting Contribution.md

[2021-04-06 12:02] LindieK commented on #1421
@patricoferris I see what you mean. I have looked through the commit list and I noted that not only are there people that did not add a Lastname but some use multiple accounts to contribute, some authored changes but did not commit them themselves - in such cases, instead of using the person's first name and last name, it uses their github username.

Would it be possible to use the author's email

[2021-04-06 12:06] Srinithyee commented on #1245
Yes, after you run make local, You'll see html files in the folder ocaml.org. You can click on the file you've modified to see the visible changes.

[2021-04-06 12:19] jyotibalodhi opened #1438 "The books on mobile view in the Documentation page needs to be positioned symmetrically"
On the page https://ocaml.org/docs/ the book's position is looking very unsymmetrical and out of proportion, as can be seen in the picture.
![Docs-page](https://user-images.githubusercontent.com/63946672/113710116-f15b0380-9700-11eb-8dc6-c683c63c6ded.jpg)

I would like to work on this issue! What do you think about this @patricoferris @pitag-ha @gs0510 ?

[2021-04-06 12:24] Goodiec opened #1439 "Add alt text for images on the OCaml website"
There is no alternative text on most of the images on the OCaml website. The Books page is an example, no of the images has an alt text. Adding alt text to the images will help improve accessibility for the visually impaired. In cases where the link to the image isn't correct or was changed and not updated, just the broken image icon gets displayed which doesn't communicate the content of the imag

[2021-04-06 12:26] Srinithyee opened #1440 "Repositioning images in Contributors"
@patricoferris
The images can be set a better positioning to make the page look symmetric. If this is something that you'd like to fix, I can work on it!
![image](https://user-images.githubusercontent.com/34683520/113710242-18193a00-9701-11eb-97e7-030fc4ed9487.png)

[2021-04-06 12:32] Goodiec commented on #1245
Say for instance you made changes to the books.html file, you can access it on your browser via <path to project location>/ocaml.org/ocaml.org/learn/books.html (You can use this as a guide to access other pages)
After making changes, run the ``make local`` command then refresh the page after it is done running and you should see the changes. Please do let me know if this is clear

[2021-04-06 12:36] Srinithyee opened #1441 "Realigning links in Contributors"
@patricoferris
I'd like to realign the two links to make them in line. It looks quite odd now.
![image](https://user-images.githubusercontent.com/34683520/113711551-b4900c00-9702-11eb-8c55-e4e32892654f.png)

Do let me know if I can fix this!

[2021-04-06 12:49] jyotibalodhi commented on #1438
By using flexbox in this section. I changed the positions like this. What do you think about this?
![Docs-OCaml](https://user-images.githubusercontent.com/63946672/113713112-93c8b600-9704-11eb-9290-c0d9a6896311.png)

[2021-04-06 12:49] #1365 closed

[2021-04-06 13:12] Srinithyee opened #1443 "Center Align Acknowledgements in Learn"
@patricoferris

Acknowledgement in the Learn page seems a bit left out. It would look better if it was center aligned, more like a  footer to a web page.
![image](https://user-images.githubusercontent.com/34683520/113715862-98db3480-9707-11eb-869d-3bf5fb2e155b.png)

If approved, I'll fix this :)

[2021-04-06 13:30] gs0510 commented on #1439
This is a good catch @Goodiec! You can go ahead and work on this :)

[2021-04-06 13:31] gs0510 commented on #1440
@Srinithyee this is a good catch, you can go ahead and work on this :)

[2021-04-06 13:37] pitag-ha commented on #1376
How would that look like?

[2021-04-06 13:39] shreyaswikriti opened #1444 "making links more visible and legible for users by adding button for the links"
![image](https://user-images.githubusercontent.com/57635473/113719316-1c4a5500-970b-11eb-86fa-34af128724d5.png)
here I have added a button to 'see more lists' while the other link 'see archives' lacks a button. You can see the difference .Now the link with the button is more visible and eyecatching. If you approve I'll proceed with the work. @patricoferris

[2021-04-06 13:42] gs0510 commented on #1403
This is a good catch @gurleennsidhuu ! You can go ahead and work on it :)

[2021-04-06 13:44] Srinithyee commented on #1440
@gs0510 Okay then!

[2021-04-06 13:45] Srinithyee commented on #1376
Like this

[2021-04-06 13:50] gs0510 commented on #1438
Hi @jyotibalodhi , this is indeed a good catch, but it's a duplicate for #1344 and there's a PR already open to fix it. :) You can close this issue.

[2021-04-06 13:53] jyotibalodhi commented on #1438
I am sorry I missed that, Thanks for confirming though! :)

[2021-04-06 13:53] #1438 closed

[2021-04-06 13:53] pitag-ha commented on #1379
Is the code tag the tag used for inlined code (for example `hs = ...` in your screenshot)? If so, that sounds like a good improvement!

[2021-04-06 14:04] TildaDares opened #1445 "Missing sections in https://ocaml.org/learn/tutorials/ for other languages."
Most of the language translations for this [page](https://ocaml.org/learn/tutorials/ ) are missing this section:

![image](https://user-images.githubusercontent.com/63427719/113723253-1479b900-96e9-11eb-9fc1-3ef4bb20e157.png)

I can use an online translator to convert the English version to the languages that are missing those sections.

[2021-04-06 14:06] pitag-ha commented on #1376
Isn't that the same screenshot you already put into the issue description? I think it's harder to get an overview over the table of contents there than the way it is now.

[2021-04-06 14:08] TildaDares commented on #1379
Yes but I'd have to replace the backticks with an actual code tag so that I can add a class. Is that okay?

[2021-04-06 14:15] shreyaswikriti opened #1447 "Modifying UI for home page"
![image](https://user-images.githubusercontent.com/57635473/113724574-1c008880-9710-11eb-8b45-580a8a9965d8.png)
 I have made some changes in the UI of the home page ( see the left side of the image -->learn, package blocks ) and see the right side without changes(documentation and community block). With Card-UI interface blocks look more beautiful. what's your view??
@gs0510 @patricoferris

[2021-04-06 14:28] #1346 closed

[2021-04-06 14:32] #1344 closed

[2021-04-06 14:33] gurleennsidhuu commented on #1385
I am facing an issue. I thought if I wanted to make changes in the html syntax, I need to run `make local` which would create html files of every md file. When I do so, the changes are visible on browser but the edited file's name is not visible when I run `git status`. I am not sure if I am doing it right.

[2021-04-06 14:42] TildaDares opened #1448 "Untranslated header and footer content for some languages"
Some pages like https://ocaml.org/learn/tutorials/index.de.html with translations apart from English and French do not have the footer and header content in that language.

<img width="1266" alt="Screenshot 2021-04-06 at 15 41 33" src="https://user-images.githubusercontent.com/63427719/113729071-93252500-96ee-11eb-836d-ce30aac697d0.png">

I'd like to fix this by translating the header and footer c

[2021-04-06 15:04] TildaDares opened #1450 "Change all occurences of real-world-ocaml.jpg to real-world-ocaml.jpeg"
Since I replaced real-world-ocaml.jpg with real-world-ocaml.jpeg in issue #1344, the real-world-ocaml image like the one in https://ocaml.org/learn/ is not being displayed.

<img width="461" alt="Screenshot 2021-04-06 at 16 03 32" src="https://user-images.githubusercontent.com/63427719/113732647-a84f8300-96f1-11eb-935b-f2bf1e98f769.png">

I'd like to change all img tags that are still referencing

[2021-04-06 15:04] pitag-ha commented on #1385
My guess would be that the generated html files end up somewhere in `ocaml.org/` which is in `.gitignore`. Is that possible?

[2021-04-06 15:08] pitag-ha commented on #1409
Good catch! I'd say you can start working on it, if you'd like :) In fact, the change you've proposed is how the English site looks like.

[2021-04-06 15:09] patricoferris commented on #1400
Hi @Ndipbanyan,

Thanks for opening this issue. As a general rule, it's always good to not only explain what you are changing, but to also justify the change. There are lots of little changes that *could* be made to the site regarding layout/design, but we also need to decide on changes that improve things or else we'd be inundated with PRs and issues.

What do you think is being improved here?

S

[2021-04-06 15:12] dinakajoy commented on #505
Thank you @pitag-ha, I will update you on whatever I come up with before adding it up for a PR

[2021-04-06 15:16] Riddhima23 opened #1452 "Grammatical and Punctuation errors in the API Documentation"
Some of the sentences seem to be  missing Punctuation and Capitalization.
![InkedScreenshot 2021-04-06 203437_LI](https://user-images.githubusercontent.com/58878761/113734386-ed3ae000-9718-11eb-9fb9-4e3287807727.jpg)

[2021-04-06 15:35] pitag-ha commented on #1416
I do agree that if there's a section on a page with the same name as the title of the page, then that section should come first in general. Here the problem is that `OCaml Meetings` mostly includes pretty old meetings, whereas the `OCaml Users and Developers Workshop` section is up-to-date. So swapping the order would mean having the "out-of-date" section before the up-to-date section. Do you agre

[2021-04-06 15:37] shreyaswikriti opened #1453 "Mistake in positions of div in Documentation page in french language"
![image](https://user-images.githubusercontent.com/57635473/113737875-0abd7900-971c-11eb-852f-5d53dc8041f3.png)

[2021-04-06 15:37] pitag-ha commented on #1450
Good catch, go ahead :)

[2021-04-06 15:38] pitag-ha commented on #1448
Do you know how to translate the content to all those languages?

[2021-04-06 15:39] shreyaswikriti commented on #1453
below is English  version documentation page

![Uploading image.png…]()

[2021-04-06 15:49] shreyaswikriti opened #1454 "'Content side menu ' is missing in learn/success stories in french page"
french page
![image](https://user-images.githubusercontent.com/57635473/113739705-aac7d200-971d-11eb-8650-ffea3247c9d3.png)

english page
![image](https://user-images.githubusercontent.com/57635473/113739767-bc10de80-971d-11eb-82b7-3643ce3bbee4.png)
@gs0510

[2021-04-06 15:51] pitag-ha commented on #1436
That sounds like a great idea! I'd say you can go ahead and work on it, if you'd like :)

[2021-04-06 16:03] pitag-ha commented on #505
Perfect! :) If you have concrete ideas, you can also directly open a PR and we can discuss there. I just wanted to let you know that it would also be ok if you had less concrete ideas and wanted discuss them with us.

[2021-04-06 16:22] TildaDares commented on #1448
Since the the header and footer content is mostly one or two words per link I think it'll be easy to use Google translate to translate them.

[2021-04-06 16:35] #1327 closed

[2021-04-06 16:37] #1318 closed

[2021-04-06 16:39] shreyaswikriti opened #1455 "Aligning Videos section of Learn page horizontally instead of vertically to make page more beautiful"
https://user-images.githubusercontent.com/57635473/113746519-0ac17700-9724-11eb-8773-b25b0e5cd26c.mp4

We can make 'Online Courses, Slides & Videos', 'Industrial Users' and 'Success Stories' sections horizontal. So that page looks more spacious and beautiful. We can take the reference of the 'Documentation page' where the 'videos' section is aligned horizontally. I have attached the video of both

[2021-04-06 16:48] gurleennsidhuu commented on #1385
I didn't know that. :( Can you please guide me about how to make the changes?

[2021-04-06 16:48] #1445 closed

[2021-04-06 16:49] avsm commented on #1305
@IkehAkinyemi thanks for having a go at fixing the language layout! The PR you proposed in #1327 is problematic due to overflow when there are multiple translations (see screenshot below).  I think the change could still work, but it needs some thought about how that will work.  An example of a URL with a chinese/french translation is https://ocaml.org/learn/tutorials/

<img width="424" alt="image

[2021-04-06 16:59] TildaDares commented on #1416
Or it could be 'Past Ocaml Meetings'. What do you think?

[2021-04-06 17:05] #1408 closed

[2021-04-06 17:11] patricoferris commented on #1245
Hi Everyone,

Thanks for all the contributions and issues. If you have a moment, we've updated the first comment on this issue with some important information and it would be great if you could have a look https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972

Thanks 🐫

[2021-04-06 17:20] dinakajoy commented on #1378
I am sorry @pitag-ha, that was an error. I meant that breadcrumbs should be on the left.
I will wait for the pull request to be merged to avoid conflicts, that should be better.
Thank you.

[2021-04-06 17:29] dinakajoy opened #1457 "Error! Book not displaying on 'learn' page"
![error](https://user-images.githubusercontent.com/39722740/113753411-f8d0db80-9705-11eb-9c42-d1af737148db.PNG)
I think someone already made a contribution on this.
If the contributor cannot fix this, please let me know so that I can check it out.

[2021-04-06 17:33] patricoferris commented on #1457
Thanks @dinakajoy -- this should be fixed by https://github.com/ocaml/ocaml.org/pull/1456

[2021-04-06 17:33] dinakajoy commented on #1457
Okay, thanks. I will close it right away

[2021-04-06 17:34] #1457 closed

[2021-04-06 17:40] Ndipbanyan commented on #1436
Alright I will get to it then.

[2021-04-06 18:04] Ndipbanyan commented on #1399
I am closing this because #1423 fixes this.

[2021-04-06 18:04] #1399 closed

[2021-04-06 18:04] Ndipbanyan commented on #1399
I am closing this because #1423 fixes this.

[2021-04-06 18:10] #1404 closed

[2021-04-06 18:19] pitag-ha commented on #1407
Thanks for your initiative to find improvements for ocaml.org! The idea of the news section is to point out 10 of the most important blog posts to give a taste for what to find on the News page. To see more, one can click on `News` or `more...` and see them all. Did you already know that? If so, why do you want to add a scroll bar to those 10 items? Do you think it would be good to add more items

[2021-04-06 18:25] #1429 closed

[2021-04-06 18:52] pitag-ha commented on #1430
That's because the posts themselves are written in English, so it seems to me like there's not much we could do. Or do you think there is? :)

[2021-04-06 18:53] pitag-ha commented on #1387
What do you have in mind to improve this? :)

[2021-04-06 19:04] pitag-ha commented on #1398
@TildaDares , please notice that adding an Issue Template was marked as good-first-issue and you've already worked on a good first issue.

@LindieK, how is it going? Are you still working on the Issue Template? :)

[2021-04-06 19:12] pitag-ha commented on #1378
Which PR are you referring to?

[2021-04-06 19:18] TildaDares commented on #1398
I'm sorry, I forgot it was a good-first-issue.

[2021-04-06 19:19] #1450 closed

[2021-04-06 19:20] shreyaswikriti commented on #1430
ok got it. We need some french translator for this. Unfortunately, I don't know french. @pitag-ha Can you review my other issues so that I can start working on those. Thanks.

[2021-04-06 19:31] pitag-ha commented on #1454
This seems like a good issue. You can go ahead and work on it :) I'm not sure how easy/hard it will be.

[2021-04-06 19:36] pitag-ha commented on #1416
@TildaDares , this is a very simple issue. You have already worked on 2-3 or even more simple issues, haven't you? (see [this comment](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972) for reference of what I'm referring to:))

[2021-04-06 19:38] pitag-ha commented on #1431
Having dark code snippets seems to break a bit with the rest of the site, which is light, doesn't it? Do you have an example of a site where that happens?

[2021-04-06 19:41] shreyaswikriti opened #1460 "Improvement in Home/release/Ocaml 4.12.0 page"
![image](https://user-images.githubusercontent.com/57635473/113767925-dd34f780-973c-11eb-9243-bff41ca57a82.png)

since the content is very large, we can provide users navigation-type Content. , So that users don't have to scroll down all the page to see the topics. They can easily navigate through the contents. @patricoferris

[2021-04-06 19:44] LindieK commented on #1398
@pitag-ha yes I am

[2021-04-06 19:45] #1398 closed

[2021-04-06 19:46] pitag-ha commented on #1453
This is a duplicate of #1409 . Don't worry about that: it's hard for all of us to keep track at the moment with so many simple issues!

[2021-04-06 19:54] pitag-ha commented on #1308
Hi @Muskan-sam, are you still working on this issue? Do you need any help? No pressure! I just want to know how it's going :)

[2021-04-06 19:55] pitag-ha commented on #1310
Hi @Goodiec, are you still working on this issue? Do you need any help? No pressure! I just want to know how it's going :)

[2021-04-06 19:56] pitag-ha commented on #1311
Hi @ith8, are you still working on this issue? Do you need any help? No pressure! I just want to know how it's going :)

[2021-04-06 20:03] dinakajoy commented on #1378
I meant this PR https://github.com/ocaml/ocaml.org/pull/1345

[2021-04-06 20:07] Goodiec commented on #1310
Yes, still working on this. I Will let you know if I need help, thank you @pitag-ha

[2021-04-06 20:08] shreyaswikriti commented on #1454
Thank you @pitag-ha. I'm working on it.

[2021-04-06 20:09] pitag-ha commented on #1430
In fact, I think there's nothing we can/should do in general. We're just fetching blog posts in whichever language they are written :)

[2021-04-06 20:11] pitag-ha commented on #1431
In the screenshot you've sent everything is dark. The proposal of the issue is making only the code blocks dark and leaving the rest light, right?

[2021-04-06 20:16] shreyaswikriti commented on #1431
yes, I proposed to make only code blocks dark not all websites.

[2021-04-06 20:17] pitag-ha commented on #1448
To be honest, I think using Google translate might lead to wrong translations. I think it's better to leave it in English than running the risk of translating of wrongly. I think so for two reasons:

- if people don't speak English fluently, but the headers are in English, they can still guess what might be meant. If it's in wrong French, they will simply missunderstand
- having wrong translations

[2021-04-06 20:19] TildaDares commented on #1448
Yeah, you're right.

[2021-04-06 20:21] pitag-ha commented on #1378
Oh sorry, I misunderstood: I thought you referred to a PR referring the breadcrumbs. Sure then! On how many simple issues have you worked already? Take into account [this](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972) :)

[2021-04-06 20:43] pitag-ha commented on #1437
Is the documentation of WSL not good enough? For example, is it not enough to follow [this](https://docs.microsoft.com/en-us/windows/wsl/install-win10)? I'm asking, since I don't use WSL and hence don't know. What would you add to that guide in addition to:
- how to install WSL
- run `make deps`
- run `make`?

[2021-04-06 20:52] dinakajoy commented on #1378
I have worked on:
1 'good first issue' here - #1313
1 issue created by me - #1346
Currently working on this one, which was also created by me
Lastly, I will try out - #505
Hope I can go on please?

[2021-04-06 20:53] pitag-ha commented on #1441
Good catch, you can work on this :)

[2021-04-06 20:54] pitag-ha commented on #1431
Sorry, I've misinterpreted the (second) screenshot you've sent. I think this issue is a matter of taste :) Some sites have it one way, others have it the other way; some prefer it one way others prefer it the other way.

Have you seen that applicants can only work on 2, max 3 simple issues (I'm referring to [this](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972))? I think you alread

[2021-04-06 21:01] pitag-ha commented on #1378
Thanks for the overview!

Ok, we've said max 3 simple issues and since #505 isn't simple and furthermore I had already told you you can work on this, you can go ahead :) but afterwards  don't work on more simple issues anymore, please.

[2021-04-06 21:07] dinakajoy commented on #1378
Noted, thank you

[2021-04-06 21:12] #1448 closed

[2021-04-06 22:34] dinakajoy commented on #1378
@pitag-ha and @nibble0101 please how do you see this -
![Capture](https://user-images.githubusercontent.com/39722740/113786187-904b2400-9730-11eb-80f8-4ea001a437a5.PNG)

[2021-04-07 02:15] CQW-Code commented on #1393
Thanks!  Right now I think I broke make- I had it working fine a day or two ago, now I can't get the local version of the site up.  No error messages at all that I can see.

[2021-04-07 02:53] Srinithyee commented on #1441
Thank you @pitag-ha! I'll work on this :)

[2021-04-07 03:07] Srinithyee commented on #1437
Yes, I've drafted the points to be added below:
1. Install WSL2 and launch a linux based distribution
2. Launch the WSL Terminal and create a password for the linux based distribution.
3. Run ```sudo apt-get install build-essential``` to be able to use make command
4. Install opam from [here](https://opam.ocaml.org/doc/Install.html)
5. cd to your directory using /mnt/ as the root
6. git clone the

[2021-04-07 03:11] Srinithyee commented on #1371
@patricoferris could I work on this?

[2021-04-07 03:13] Srinithyee commented on #1376
Oh Alright then, I think I'll probably close this issue , if you wouldn't like me to re space the page!

[2021-04-07 03:16] shreyaswikriti commented on #1431
I have given only one simple issue to work on. I would love to contribute more.

[2021-04-07 03:24] kanishka-work commented on #1439
If the image is purely decorative, some guides advise using `alt=""` to indicate that the image has no useful content. This may apply to some of the images that you encounter.

[2021-04-07 03:24] shreyaswikriti commented on #1245
@patricoferris, I have gone through the latest announcement where we are told to limit simpler issues. I want to contribute to the complex one so do mentors will next open the issues to work on??

[2021-04-07 04:07] Srinithyee commented on #1245
There are already several open issues. Depending on your skill set and complexity of the issue, I think you can start working on it. Our mentors might find it difficult to assign issues to us individually, given the huge number of applicants. So, once you find some open issue that you might be interested in, ask our mentors if you could work on it. If they give you a green flag, you should be all

[2021-04-07 05:11] mahakbansal2019 commented on #1361
@patricoferris I have submitted a PR.
Please let me know if you need any changes :)

[2021-04-07 07:45] Goodiec commented on #1439
I will keep that in mind and also research more on that, thank you @kanishka-work

[2021-04-07 07:52] esticojerry commented on #1308
Hi am Esther , an outreachy applicant interested in working on improving the ocaml.org website. I would love to work on this issue, could it be assigned to me?
Am new to open source and would like to start my journey of contribution.

[2021-04-07 07:55] pitag-ha commented on #1378
Looks pretty good! :) Why is `fr` underlined and the other languages aren't? Are you hovering over it?

[2021-04-07 07:57] pitag-ha commented on #1393
Ok, no hurries! These things happen all the time. If you have a concrete question, you can always open an issue asking about it :)

[2021-04-07 08:01] dinakajoy commented on #1378
I hovered it at that time. Thank you.

[2021-04-07 08:03] patricoferris commented on #1431
Hi @shreyaswikriti,

I agree with @pitag-ha that this is definitely one of those subjective issues, but I think to add a dark colour format now would entail two important aspects:

 - The ability to toggle between the dark and light -- I can't think of a reason why switching to dark from light is an improvement, but having both probably is.
 - More work related to the accessibility of the colour c

[2021-04-07 08:05] patricoferris commented on #1453
Thanks @shreyaswikriti! And thanks @pitag-ha for spotting the duplication, closing this issue now because of that.

[2021-04-07 08:05] #1453 closed

[2021-04-07 08:11] esticojerry commented on #1320
Hello, it actually looks normal when i viewed it on my browser, even on my phone.  anyway will there still be need to work on it?

[2021-04-07 09:09] pitag-ha commented on #1308
Hi @esticojerry, welcome! :) Let's give @Muskan-sam a chance to answer if they're still working in this; I'd say a day or so. If they don't answer, you can work on it.

[2021-04-07 09:09] Ndipbanyan commented on #1410
Oh I see @patricoferris this means making this change might not be as easy or so as I thought then.

[2021-04-07 09:11] pitag-ha commented on #1378
Ok, to me it looks good :)Thanks for both the idea and the implementation!

[2021-04-07 09:15] pitag-ha commented on #1431
Yes, I agree that that might be an improvement, if it is for the whole site. @patricoferris, do you think it would also make sense to only have dark mode for code examples? I think that's what the issue is about. @shreyaswikriti , please correct me if I got that wrong and you actually wanted to implement dark mode for the whole site :)

[2021-04-07 09:16] Ndipbanyan commented on #1400
Oh I see your point @patricoferris. I actually just took note of this page alone without considering other pages that can be affected if changes were to be made to it. Upon considering however that changes to this page can affect other pages in a manner that is not so good, I agree this change is not necessary so I will be closing this issue. Thanks.

[2021-04-07 09:16] #1400 closed

[2021-04-07 09:26] dinakajoy commented on #1353
I think the 'read more' button on the news can be improved. It is an accordion not a button, so I  suggest we indicate a drop down arrow with 'read more' text so as not to confuse users.
When 'Read More' is clicked,  it opens up the remaining content and still shows other news topic after it which is confusing as users think they are on a new page not the current page.

[2021-04-07 09:27] dinakajoy commented on #1378
@pitag-ha can you take a look at this please - https://github.com/ocaml/ocaml.org/issues/1353#issuecomment-814762129.
I could not tag you directly on that issue.

[2021-04-07 09:47] shreyaswikriti commented on #1431
Primarily, I raised this issue to change the color of code blocks only but as mentioned by @patricoferris theme switcher can be added to the whole site. I have seen many websites that do use the theme switcher.

[2021-04-07 09:59] pitag-ha commented on #1320
The issue still persists, but it's hard to reproduce. It only happens on the browser and for one concrete width (976). It doesn't occur when using the responsive dev tool.

@IkehAkinyemi has already written the fix for this issue. It got mixed up with other improvements to the site (concretely, with the fix of issue #1305). It hasn't been merged into master yet. @IkehAkinyemi is working on it and

[2021-04-07 10:03] pitag-ha commented on #1431
Sounds great. Could you send me a link to a couple of websites with theme switcher? It rings a bell having seen that somewhere, but I don't know where and I'm curious :)

[2021-04-07 10:05] nibble0101 commented on #1353
@dinakajoy  Personally I don't mind the button background color though there is no harm in changing it to be consistent with other buttons as well. What concerns me most is its positioning. Someone reading through will attempt to click the `...` after encountering it.  I believe it would make a lot more sense to place it immediately after `...` to convey to the user there is a hidden content which

[2021-04-07 10:06] IkehAkinyemi commented on #1305
Thank @avsm, I'm currently working on [it](https://github.com/ocaml/ocaml.org/issues/1305#issuecomment-814272314). Hope to make PR today.

[2021-04-07 10:07] pitag-ha commented on #1353
@dinakajoy , thanks for filing the issue! I agree that there's room for improvement, we just need to discuss the details. It should be implemented by someone who hasn't worked on 2 or more simple issue yet though :)

[2021-04-07 10:13] patricoferris commented on #1416
I think the content is actually okay. `OCaml Users and Developers Workshop` (OUD) which is now just commonly known as the OCaml Workshop at ICFP is the main "meeting" for many OCaml devs. in the year. The OCaml Meetings is generally for anything else I think. Closing this for now, if anyone feels very strongly about this feel free to add your thoughts :))

[2021-04-07 10:13] #1416 closed

[2021-04-07 10:21] pitag-ha commented on #1427
There is already someone working on improving the language selector layout. See [here](https://github.com/ocaml/ocaml.org/issues/1378#issuecomment-814478663) :)

[2021-04-07 10:23] pitag-ha commented on #1305
By the way, @IkehAkinyemi , when you make the PR, please make it against master, not against staging :) Every PR should be made against master

[2021-04-07 10:36] yashi-hub commented on #1414
@patricoferris this UI can be changed but one thing that confuses me is
![smaller screen view](https://user-images.githubusercontent.com/69522036/113853030-d3ea7000-97ba-11eb-9817-5c183540d200.png)
where do I find this code repo?
the standard ocaml.org repo with which all the code is related doesn't have any folders like shown in the dev tools sources.
is it possible that we can access this code w

[2021-04-07 10:58] LindieK commented on #1353
@nibble0101 if the read more button is placed immediately after the `...` then it would be better it is styled more as a link.

[2021-04-07 11:12] shreyaswikriti commented on #1245
Hii @patricoferris, I have come across many UX and usability flaws in the website that can be improved. For this, I am making a feedback doc where I have addressed those flaws and suggested some solutions.

[2021-04-07 11:14] yashi-hub commented on #1353
hey @pitag-ha , till now I have submitted 2 PRs . one for a good-first-issue https://github.com/ocaml/ocaml.org/issues/1258
and improved contribution.md.
can I work on this issue, as it will be my 2nd good-first issue?
I'm also observing the site carefully and after this I'll try and open an issue with medium difficulty to work on :))

[2021-04-07 11:14] Riddhima23 commented on #1427
Wouldn't the [proposed layout](https://github.com/ocaml/ocaml.org/issues/1378#issuecomment-814478663) still look messy if more languages are added!? I wanted to implement a dropdown menu to select language which will look clean and comapact even when we have number of different languages. Just a suggestion.Please correct me if I am wrong :)

[2021-04-07 11:33] TildaDares opened #1467 "Improve tutorial section"
I think each section/chapter in the tutorial page should have links to the previous and next chapters. For example this [page](https://ocaml.org/learn/tutorials/guidelines.html) would have links at the bottom of the page to https://ocaml.org/learn/tutorials/a_first_hour_with_ocaml.html and https://ocaml.org/learn/tutorials/compiling_ocaml_projects.html.

An example of this is in the [reactjs.org](

[2021-04-07 11:43] yashi-hub commented on #1402
hey @patricoferris please can you have a look at this?
I believe that this can be counted as an issue of medium-complexity as referred in https://github.com/ocaml/ocaml.org/issues/1245.
if approved , I would love to start working on it as soon as possible :))

[2021-04-07 11:44] #1452 closed

[2021-04-07 11:49] oma16 commented on #1353
Hi @pitag-ha , I would like to work on this issue as my 1st good-first issue.

[2021-04-07 11:50] Riddhima23 opened #1468 "Ocaml Manual button missing from Documentation page"
Others have a button while Ocaml Manual does not seem to have one!
<img width="947" alt="missing" src="https://user-images.githubusercontent.com/58878761/113861464-e2d62000-97c4-11eb-89f3-ad59dc9b9c31.png">
Would like to fix this if approved :)

[2021-04-07 12:05] guptadiksha307 commented on #1407
@pitag-ha The idea of adding a scroll bar is that we can add more than 10 (or all) news headlines in the home page itself so that it becomes easy for any user to go through all the headlines and find what they are looking for. If the user wants to know about a particular headline in detail he/she can visit the News section.
Second reason is that there is lot of blank space in the left of the news

[2021-04-07 12:12] TildaDares opened #1469 "Highlight sidebar links on scroll"
In pages like https://ocaml.org/learn/tutorials/a_first_hour_with_ocaml.html I think it would be a good idea to highlight the sidebar links when scrolling through the page. It is a lot easier for the reader/user to track their progress as they scroll through the page. An example of this is in https://www.digitalocean.com/community/tutorials/how-to-use-the-javascript-developer-console. The fix will

[2021-04-07 13:12] patricoferris commented on #1402
Thanks for raising the issue @Ndipbanyan and starting the conversation. This sounds like a good idea.

Changes to the OCaml Docs can be prototyped here directly on the HTML, but ultimately the contribution needs to be upstreamed to the compiler repository https://github.com/ocaml/ocaml/tree/trunk/manual. We might want to take a page and do a rough prototype (just change the HTML/CSS) to see what t

[2021-04-07 13:36] pitag-ha commented on #1427
Yes, a dropdown has advantages :) I wanted to point out that someone was already working on the language selector layout, since I'd like to avoid that applicants step on each other's toes. Now it's even worse: there is already a [PR](https://github.com/ocaml/ocaml.org/pull/1466) implementing exactly the idea of this issue (and another [PR](https://github.com/ocaml/ocaml.org/pull/1464) implementing

[2021-04-07 13:41] pitag-ha commented on #1353
@yashi-hub, it's nice that you're eager to contribute, but every applicant can only work on one issue tagged as good-first-issue.

@oma16, sure, go ahead :)

[2021-04-07 14:05] oma16 commented on #1353
@pitag-ha Thanks ,am glad.

[2021-04-07 14:11] Aman9026 commented on #1245
Hi folks!
I hope you are doing well, If you are a CentOS/RedHat user here's the correct repo for installing OCaml:
`
[PowerTools]
name=CentOS-$releasever - PowerTools
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=PowerTools&infra=$infra
#baseurl=http://mirror.centos.org/$contentdir/$releasever/PowerTools/$basearch/os/
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/r

[2021-04-07 14:16] yashi-hub commented on #1245
thanks for the help @Goodiec . i followed what you said , I made some changes to success.html file , then did make local and on my browser , went to `https://ocaml.org/ocaml.org/learn/success.md` or https://ocaml.org/ocaml.org/learn/success.html .
neither of them works and just shows
![image](https://user-images.githubusercontent.com/69522036/113881301-ed4ee480-97d9-11eb-8b02-fa781a6f4f6b.png).
co

[2021-04-07 14:17] johnwhitington opened #1472 "Paragraph spacing is oddly big"
The paragraph spacing on ocaml.org is wider than the spacing between paragraphs and code, or paragraphs and images. This looks strange to me. Do others agree? See image below.

<img width="652" alt="spacing" src="https://user-images.githubusercontent.com/1702581/113881394-4dcb2b00-97b4-11eb-8121-13eb401dcd19.png">

[2021-04-07 14:23] Ndipbanyan commented on #1414
@yashi-hub I think what  @patricoferris is trying to highlight here is  that you probably can't do anything about this because it is the infoq website and not the ocaml website and just as you mentioned in your comment earlier and I quote "the standard ocaml.org repo with which all the code is related doesn't have any folders like shown in the dev tools sources", this issue isn't within the ` Impr

[2021-04-07 14:25] yashi-hub commented on #1391
hey @patricoferris .
1. I'm changing the success.md file between make production call.
2.  for seeing the changes , I've tried multiple things like -
        1. removed a text paragraph to check if the editing is displayed in the site.
        2. made some changes to the UI (like changing the border length etc.) (nothing worked)
 3.  sorry for the wrong information , I run  `C:\Users\user\Desktop\

[2021-04-07 14:30] TildaDares opened #1473 "Improve https://ocaml.org/learn/companies.html UI"
Presently the https://ocaml.org/learn/companies.html looks like this

![image](https://user-images.githubusercontent.com/63427719/113879792-cc26cd80-97b2-11eb-8049-c623e0ad6c98.png)

This design wastes a lot of space and is a lot harder for the user to glance through quickly and get the gist of the page. So I decided to make use of the card UI design. This design provides a simplified and more acc

[2021-04-07 14:40] oma16 commented on #1353
![Screenshot 2021-04-07 151940](https://user-images.githubusercontent.com/48384861/113884965-56713080-97b7-11eb-8624-c6915fe8e829.png)
@pitag-ha  The button before
![Screenshot 2021-04-07 153715](https://user-images.githubusercontent.com/48384861/113885163-86203880-97b7-11eb-9479-1c6c48635da0.png)
![Screenshot 2021-04-07 153905](https://user-images.githubusercontent.com/48384861/113885202-90423700

[2021-04-07 14:44] Ndipbanyan commented on #1410
However @patricoferris going by your comment here [#1273](https://github.com/ocaml/ocaml.org/pull/1273#issuecomment-802698865) I will like to know if this issue is worth the effort to  consider whether an an agreement can be reached and consider upstreaming the change to the compiler.

[2021-04-07 14:52] patricoferris commented on #1410
Hi @Ndipbanyan this is what I meant by

Feel free to change the HTML and then draft PR it, it is still a contribution. We can push it to staging to see how it looks and then if there's agreement back-port the change.

[2021-04-07 14:58] Octachron commented on #1410
I had a look and this part of the manual post-processing is quite close to [raw html](https://github.com/ocaml/ocaml/blob/trunk/manual/src/html_processing/src/process_api.ml#L24 ) so backportiong should be straightforward.

[2021-04-07 15:02] Bhavika-Gianey commented on #1245
@yashi-hub  looks like you are entering the wrong URL. Make local will help us run the files without running the server. Therefore, it should not contain URLs like https unless you use make productive.
Directly click on the  .html  file from the required folder and you will be redirected to the webpage in the browser.

[2021-04-07 15:02] yashi-hub commented on #1414
@Ndipbanyan I get your point and also understood where I was wrong. thankyou so much for helping me out :))
@patricoferris should I close this issue now?

[2021-04-07 15:12] pitag-ha commented on #1407
@guptadiksha307, thanks! That's a good argumentation :) Two questions:
- Have you checked how that ends up being like on a phone?
- With your implementation one would have to scroll down now to see the `More...` option. Do you have an idea how to rectify that?

[2021-04-07 15:16] Ndipbanyan commented on #1410
@patricoferris I will get to it then.

[2021-04-07 15:47] pitag-ha commented on #1353
Thanks @oma16, I'm not sure if I can see well the before and after screenshots, but I think that's already better! Have you also tried indicating a drop down arrow with 'read more' as suggested by @dinakajoy and/or making the extension points clickable as pointed out by @nibble0101 might be what users expect? I'm not sure which solution would be best.

[2021-04-07 15:56] pitag-ha commented on #1425
Good catch, thanks! :)

[2021-04-07 15:57] oma16 commented on #1353
@pitag-ha,  I will try it now .

[2021-04-07 15:59] Srinithyee commented on #1245
@yashi-hub I cloned my repo into my desktop. So, after running make local, I was able to view index.html as below.
![image](https://user-images.githubusercontent.com/34683520/113897243-50477800-97e8-11eb-88b4-62cdaacd7f1f.png)
Hope this helps :)

[2021-04-07 16:30] pitag-ha commented on #1415
Good catch, thanks!

[2021-04-07 16:34] guptadiksha307 commented on #1407
1) On mobile devices it looks like

![image](https://user-images.githubusercontent.com/53967592/113899464-766e1780-97ea-11eb-9da2-7acb83e24cc7.png)

2) In news column, if we are adding all the news headlines then I think there is no need to add "more" option, else we can add the "more" option below the news column (apart from scroll bar) like this-

![image](https://user-images.githubusercontent.c

[2021-04-07 16:44] pitag-ha commented on #1467
Yes, that seems like a good idea, thanks! :)

@TildaDares, Outreachy applicants can only work on 2, max 3 simple issues (see [here](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972)/). From the top of my head I'd say you've already reached that. Is that right?

[2021-04-07 16:52] TildaDares commented on #1467
@pitag-ha I'm a bit confused on what is considered as simple or complex.

[2021-04-07 16:57] Ndipbanyan commented on #1410
@patricoferris You might want to check a draft of the PR I made here #1474 for this issue. Looking forward to the feedback on this. Thanks

[2021-04-07 17:00] Ndipbanyan commented on #1402
@yashi-hub  You might want to try what was suggested here I suppose. Best of Luck

[2021-04-07 17:10] pitag-ha commented on #1385
Yes, the way that's implemented in ocaml.org is not very standard xD

You can see on the page of one of the concrete tutorials, e.g. [a first hour with ocaml](https://raw.githubusercontent.com/ocaml/ocaml.org/master/site/learn/tutorials/a_first_hour_with_ocaml.md) how to include a ToC (have a look at the beginning of the file). You can see [here in the makefile](https://github.com/ocaml/ocaml.org/

[2021-04-07 17:12] LindieK commented on #1353
@pitag-ha  I discovered that the read more button reveals the rest of the article more like an accordion and clicking the title of the article takes you an article on the same topic on an external site. I realize that this might be expected behaviour as all the other articles listed behaved the same way.

[2021-04-07 17:19] pitag-ha commented on #1460
That's a great idea, thanks! :)

Just as a reference: there is another issue that already adds a ToC to another page: #1385.

@shreyaswikriti, Outreachy applicants can only work on 2, max 3 simple issues (see [here](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972)). From the top of my head I'd say you've already reached that. Is that right?

[2021-04-07 17:23] shreyaswikriti commented on #1431
Hii @pitag-ha, there is a theme switcher on the GitHub website itself, where we can toggle between dark and light themes. Actually, theme switcher is famous on that website where users spend a lot of time like book reading websites, coding websites, etc. The reason being dark mode gives less eye strain. For this website, we have to Learn section where users can spend more time reading codes, learn

[2021-04-07 17:41] gurleennsidhuu commented on #1385
In the screenshot that I attached above, I added the table of content by adding `*Table of contents*` to the md file, but now, I am confused because I want to make some changes to the ToC.

[2021-04-07 17:42] oma16 commented on #1353
@pitag-ha,  I have tried the drop down arrow  and this is the output
![Screenshot 2021-04-07 184054](https://user-images.githubusercontent.com/48384861/113910649-fb4c3780-97d0-11eb-8897-c51458584cd5.png)

[2021-04-07 17:47] pitag-ha commented on #1308
I'd say that since @Muskan-sam still hasn't answered, you can go ahead :)

[2021-04-07 17:58] pitag-ha commented on #1407
about 1. how is the scrolling experience on the phone? Does it happen that you want to scroll the page and scroll the news section instead?

about 2. Clicking on `more...` brings you to the Planet page, which includes the beginning of every post. Here we only include the header of the posts. Furthermore the Planet page includes links to the original post and to sharing to social media. So I do thi

[2021-04-07 18:01] pitag-ha commented on #1385
That might be an intersting task to do :) what kind of changes do you want to make?

[2021-04-07 18:04] pitag-ha commented on #1353
I would say that if we went down that route that would have to be styled differently. But I'm no design expert at all :) You can try out different things and see what works. If any of the others also has some more input, that's also appreciated :)

[2021-04-07 18:07] patricoferris commented on #1467
Hi @TildaDares thanks for the issue - we really appreciate all of your great contributions so far :))

This is a great question (and also quite a difficult one to answer). From our perspective we've seen you tackle other issues #1364 #1332 #1442 #1435 with great success, this is brilliant! We think this issue is fairly similar to these other issues (it requires applying some knowledge of the repos

[2021-04-07 18:11] patricoferris commented on #1265
This would make a nice issue for Outreachy applicants looking for something a little harder to debug. In particular this is most likely linked to missing dependencies and/or something wrong with the build process.

If anyone picks this up I'd be more than happy to help them with it.

[2021-04-07 18:15] gurleennsidhuu commented on #1385
Like you said, one section doesn't have a name but the other section is named `External Links`. I wanted to add the name for the 1st section.

[2021-04-07 18:17] pitag-ha commented on #1255
@dinakajoy, Patrick has just given a great answer for applicants who have already done a couple of nice contributions [here](https://github.com/ocaml/ocaml.org/issues/1467#issuecomment-815117089). I think that answer can also be helpful for you :)

[2021-04-07 18:19] patricoferris opened #1475 "Better Build Error if Toplevel Fails"
From #1265 it would seem if some tutorials are broken then the build process still succeeds, this makes sense as some of the tutorials purposefully fail in order to explain compiler errors (see https://ocaml.org/learn/tutorials/common_error_messages.html).

However, it would also be great to have the build fail (or at least a test case) if a toplevel codeblock we expected to work didn't so issues

[2021-04-07 18:21] nibble0101 commented on #1353
I have seen the v-shape symbol being used to symbolize the presence of a collapsible content but I think  it looks funny with the preceding `...`. And I think you also need to think about reversing the symbol if the accordion is open.

[2021-04-07 18:35] shreyaswikriti commented on #1460
No, I am working on only one issue right now.

[2021-04-07 18:49] TildaDares commented on #1467
Thank you @patricoferris It's a lot clearer now. Should I leave this open for anyone else who would like to work on it?

[2021-04-07 19:01] TildaDares commented on #1475
Can I try this?

[2021-04-07 19:01] #1473 closed

[2021-04-07 19:02] #1469 closed

[2021-04-07 19:13] oma16 commented on #1353
![Screenshot 2021-04-07 201139](https://user-images.githubusercontent.com/48384861/113921225-a7941b00-97dd-11eb-8671-f2fa7fc002cd.png)

![Screenshot 2021-04-07 201232](https://user-images.githubusercontent.com/48384861/113921328-c5618000-97dd-11eb-8142-9655e265872e.png)

[2021-04-07 19:17] pitag-ha commented on #1460
I've already seen several great ideas of yours :) What about #1431 and #1454 for example? Are you not working on them? By the way, I'm not sure if #1431 classifies as simple or not (cc @patricoferris ).

[2021-04-07 19:22] Goodiec commented on #1245
@Bhavika-Gianey

@yashi-hub you are loading the wrong URL, you have to load the file from the exact location where you have it on your local computer. Say you have cloned this repo to your desktop and your the name of the user on your laptop is yashi, you can use C:/Users/yashi/Desktop/ocaml.org/ocaml.org/learn/success.html to load the success page on your browser. Replace C:/Users/yashi/Desktop i

[2021-04-07 20:57] mercybassey commented on #1336
![Screenshot from 2021-04-07 21-54-44](https://user-images.githubusercontent.com/57226464/113933152-23955f80-97ec-11eb-8d65-b0e0478db50c.png)

with this the tables are easy to read and understand. I'd love to work on this issue

[2021-04-07 21:08] yashi-hub opened #1476 "increase the spacing of logos in footer in the packages section"
I personally feel that in the packages site (https://opam.ocaml.org/) , the footer logos are quite close to each other which makes it a bit clumsy between the three
enclosing a screenshot here-
![image](https://user-images.githubusercontent.com/69522036/113934045-ea241a80-9812-11eb-8a99-a92921920ecb.png)

I feel only some extra padding around the logos is required (correct me if I'm wrong) and if

[2021-04-07 21:30] Msgl commented on #1336
Hello @mercybassey ! Im still working on this issue.

[2021-04-07 21:52] mercybassey commented on #1336
x-special/nautilus-clipboard
copy
file:///home/mercybassey/Desktop/mobileview.png

and a little responsiveness on mobile view to enhance user experience @patricoferris  whats do you think

[2021-04-07 21:56] mercybassey commented on #1336
![mobileview](https://user-images.githubusercontent.com/57226464/113939777-4deb1b00-97f4-11eb-83ea-ee00b04da6b2.png)

And a little responsiveness to help for easier readability @patricoferris

[2021-04-07 22:01] yashi-hub commented on #1265
hey @patricoferris , can I give this issue a try?
as I've already submitted a PR for a good-first-issue and updated the contribution guide, I think this can be the time for me to take upon a harder issue for the outreachy contribution period :))

[2021-04-07 22:07] yashi-hub commented on #1245
@Goodiec  @Bhavika-Gianey  @Srinithyee I got it working now. thankyou so much for the help :))

[2021-04-07 22:10] #1391 closed

[2021-04-07 23:24] LindieK opened #1478 "CSS Overflow on opam.ocaml.org/doc/Install.html page"
## Context

On the install.html page, there is a line of text that doesn't realign and wrap itself on mobile and tablet screens causing an overflow

## Process

To recreate the issue, visit the https://opam.ocaml.org/doc/Install.html on a mobile or tablet or visit the [url](https://opam.ocaml.org/doc/Install.html) on a larger screen and emulate a mobile or tablet view.

## Current result

![curren

[2021-04-08 03:29] Srinithyee commented on #1472
@johnwhitington it doesn't look disturbingly big to me. But, I could fix it if you'd like :)

[2021-04-08 03:42] guptadiksha307 commented on #1407
Hii @pitag-ha I don't think there occurs that kind of issue while scrolling.

https://user-images.githubusercontent.com/53967592/113964466-2ffbd580-9849-11eb-88ac-3acb9c2b7b05.mp4

Talking about the second point, yes I'll keep the "more" option below the news column (apart from scroll bar) as explained in the 2nd point above.

[2021-04-08 04:04] Srinithyee commented on #1321
@patricoferris can I try working on this?

[2021-04-08 04:28] mahakbansal2019 commented on #1467
@TildaDares from the conversation I can see that you are not working on this.
So Can I take this up @patricoferris ?

[2021-04-08 05:04] Riddhima23 commented on #1427
@pitag-ha no no I haven't started yet. I get what you are saying ,you are right. Nevermind I'll find something else. Thank you :)

[2021-04-08 05:04] #1427 closed

[2021-04-08 05:46] Srinithyee commented on #1441
@patricoferris  @pitag-ha I've made the changes locally and it works. I am not able to push the changes to my cloned repository. After running make, I have the html files created and I've made changes to it. How do I convert that back to .md files so that it can be pushed?

Here is the change
![image](https://user-images.githubusercontent.com/34683520/113974616-da7cf400-985b-11eb-9dcf-3d0d621c4300

[2021-04-08 05:48] Srinithyee commented on #1440
@patricoferris @gs0510  I've made the changes locally and it works. I am not able to push the changes to my cloned repository. After running make, I have the html files created and I've made changes to it. How do I convert that back to .md files so that it can be pushed?

Here is the change:
![image](https://user-images.githubusercontent.com/34683520/113974774-19ab4500-985c-11eb-9382-767e36a19f56.

[2021-04-08 06:58] Ndipbanyan commented on #1467
@pitag-ha @patricoferris Please is there some resource you can point me to or recommend that can quickly help me learn the things you pointed out above so I can take on more complex task since I have made a PR for two(2) 'simple' tasks already? I am currently going through the Ocaml tutorial  in the `learn/tutorials` though and looking forward to pick on one of the tasks with the medium label(the

[2021-04-08 07:00] shreyaswikriti commented on #1460
yes surely I am working on the #1454 issue but I was not sure if the #1431 issue will get approved by you. That's why I didn't count it. By the way @pitag-ha  I have come across many UX and Usability issues on the webpage. For this, I have made a doc where I have addressed issues and possible solutions. Kindly have a look.  Thanks.
https://docs.google.com/presentation/d/1cF_QoT3KwNF4lbnLhqU7xwNvlh

[2021-04-08 07:01] shreyaswikriti commented on #1431
So, Can I start working on this??

[2021-04-08 07:47] Srinithyee commented on #1467
Hi @Ndipbanyan!
I think @patricoferris said they will open more medium labelled issues in the coming days. I guess we should just wait a bit :)

[2021-04-08 09:50] ozmos commented on #1478
Hi, I'd like to be assigned this issue please.

[2021-04-08 10:53] oma16 commented on #1353
![Screenshot 2021-04-08 115015](https://user-images.githubusercontent.com/48384861/114014787-e6b78000-9860-11eb-9759-c23636651cc4.png)

![Screenshot 2021-04-08 114101](https://user-images.githubusercontent.com/48384861/114014834-f2a34200-9860-11eb-8308-d9cbd87911a1.png)

[2021-04-08 12:02] gs0510 commented on #1336
@mercybassey  It's unfair that you went ahead and worked on this issue even though @Msgl said that they were working on this issue. There's a lot of open issues for you to work on, you can work on one of those.

[2021-04-08 12:09] gs0510 commented on #1353
Hi @oma16! I think the screenshot you've provided here: https://github.com/ocaml/ocaml.org/issues/1353#issuecomment-815662944 is good and conveys intent of the buttons well. You can go ahead and open a PR for this change. Thanks!

[2021-04-08 12:10] gs0510 commented on #1476
Hi @yashi-hub, the opam.ocaml.org website is out of scope for now, so we can leave this issue for now.

[2021-04-08 12:11] gs0510 commented on #1475
@TildaDares  go for it!

[2021-04-08 12:15] gs0510 commented on #1467
@mahakbansal2019  you can go ahead and work on this, thanks!

[2021-04-08 12:38] gs0510 commented on #1478
Hi @LindieK, thanks for opening this ! The code for opam.ocaml.org resides in another repository and turns out is out of scope for now. You can leave this issue for now.

[2021-04-08 12:47] pitag-ha commented on #1431
Yes! :) Sounds good to me (and I'm pretty sure it also does to @patricoferris ). You're right: I should have made that clearer.

[2021-04-08 12:56] #1257 closed

[2021-04-08 13:08] oma16 commented on #1353
@gs0510 , I will do that now. Thanks.

[2021-04-08 13:57] Muskan-sam commented on #1245
![image](https://user-images.githubusercontent.com/76677032/114037782-e9d16100-989e-11eb-9b8a-c83517690367.png)
![image](https://user-images.githubusercontent.com/76677032/114037957-12f1f180-989f-11eb-953b-0968d60f273a.png)

Hey Everyone! This is Muskan. I am almost done with setting up the project locally, but i'm getting some errors. Can someone help me with these errors? Would be really gratefu

[2021-04-08 14:04] mercybassey commented on #1336
I'm so sorry. I actually worked on it because I felt I  could work on it as long as it isn't assigned to anyone. Should I close the PR?

[2021-04-08 14:12] kanishka-work commented on #1198
https://github.com/dependabot/dependabot-core/issues/2116 - this issue is already tracking the work

[2021-04-08 14:23] Srinithyee commented on #1245
@Muskan-sam You can check this issue for clarity #1341. Looks like you haven't set up WSL

[2021-04-08 14:25] kanishka-work opened #1483 "Fetch and show recent PRs created in github for #ocaml tag"
It would be nice to get a quick glimpse of what PRs are being actively worked on for various ocaml libraries. Maybe this content could be added to a new page initially, and then we could move it into a section of an existing page.

In particular, we could use the github api to fetch all open PRs for repositories tagged `ocaml` using an ocaml script. A page could invoke the ocaml script and generat

[2021-04-08 14:44] Goodiec commented on #1310
Hello @pitag-ha, this is the way I have made it to display whenever a version is selected:

![ver1](https://user-images.githubusercontent.com/15726413/114046802-0d85ae80-9881-11eb-9368-568b895557ff.PNG)
![ver](https://user-images.githubusercontent.com/15726413/114046814-0fe80880-9881-11eb-860b-e424f65ed619.PNG)

Do you think it looks OK this way or would you suggest something else? If you think th

[2021-04-08 14:48] TildaDares commented on #1475
@patricoferris What is the loading procedure example #1265 is referencing?

[2021-04-08 15:15] Bhavika-Gianey commented on #1411
Hii @yashi-hub, it could be useful for touchscreen or mobile users especially when the pages are too long. I have seen many websites using this feature where the content pages are too long . it was just a suggestion :).

[2021-04-08 15:18] Bhavika-Gianey commented on #1411
What are your views  @pitag-ha  @patricoferris?

[2021-04-08 15:38] Muskan-sam commented on #1245
@Srinithyee  I have already set up WSL and followed all the instructions for setting up the project locally. But whenever i try executing the command  $ make deps  or $ make local  it shows me the following error:
![image](https://user-images.githubusercontent.com/76677032/114055363-56079100-98ae-11eb-9ecd-98eb53fd7e6f.png)
![image](https://user-images.githubusercontent.com/76677032/114055486-72a3

[2021-04-08 15:38] Bhavika-Gianey commented on #1387
We can increase the padding of each list item in the news section so that it covers the unused space.

Eg:

![ocaml org_ (2)](https://user-images.githubusercontent.com/63343906/114055581-85b69900-98ae-11eb-9653-9d5276d3980d.png)

[2021-04-08 16:06] johnwhitington commented on #1472
It's not that it's particularly big, it's that it's bigger than other spaces on the page. It groups the items on the page wrongly...

The problem could be fixed in several ways, but simply reducing the default paragraph space would do it.

[2021-04-08 19:59] pitag-ha commented on #1310
Hello @Goodiec , looks great :tada: Yes, you can go ahead and make a PR for it.

[2021-04-08 20:13] pitag-ha commented on #1411
That sounds like a good idea, particularly on the phone! Thanks @Bhavika-Gianey :)

And thanks for your contributions so far, @Bhavika-Gianey , they've been great! Now, it's time for you to move forward to a harder issue. See [here](https://github.com/ocaml/ocaml.org/issues/1245#issue-821019972) and [here](https://github.com/ocaml/ocaml.org/issues/1467#issuecomment-815117089). I think this issue c

[2021-04-08 20:29] pitag-ha commented on #1385
Sorry for my last 2 replies; after reading the beginning again I've noticed that I totally mixed this up with another issue!

For adding the name for the 1st section I would guess the easy way would be to add that section header to the page in a way that it is picked up by the ToC generator. The harder and more interesting way (maybe too hard, I'm not sure. cc @patricoferris ) would be to have a l

[2021-04-08 20:51] pitag-ha commented on #1483
I really like the idea! I'll have to discuss with @patricoferris, but -if teasible- this would be a great issue for Outreachy applicants for the opam package search project (maybe you already had that in mind...). Do you know if there is a way to pass the authentication process and interact with the github API from the client-side?

[2021-04-08 21:07] Muskan-sam commented on #1308
@pitag-ha I am really sorry for answering late. I was stuck with the issue of setting up the project locally on my system. I am done with that issue now and I have successfully installed ocaml.org .

[2021-04-08 21:11] Muskan-sam commented on #1308
@pitag-ha yes I am still working on this issue. Can you give me some more time.

[2021-04-08 21:28] pitag-ha commented on #1407
Nice, that's much better! :)

[2021-04-08 21:28] esticojerry commented on #1310
Hi, it looks ok, but I would love to view it from more browsers before you
push please.

On Thu, Apr 8, 2021, 8:59 PM Sonja Heinze ***@***.***> wrote:

[2021-04-08 21:47] Muskan-sam commented on #1308
![image](https://user-images.githubusercontent.com/76677032/114100519-0ba00780-98e2-11eb-8f01-89c67ba6b1e9.png)

@pitag-ha Is this fine? should I submit a PR ?

[2021-04-08 23:12] dldisha opened #1485 "Unavailable images on the logo page"
On the logo page, there are wrong absolute paths given therefore the images are unavailable.

![Screenshot from 2021-04-09 04-30-45](https://user-images.githubusercontent.com/26017359/114106524-9128b500-98ec-11eb-98ed-04a5f9ccd0b0.png)

If it's a good issue, then I would love to work on it by correcting the path location.

[2021-04-08 23:26] dldisha commented on #1311
Hi @pitag-ha can I take this issue if @ith8 is not working on it?

[2021-04-08 23:45] #1352 closed

[2021-04-09 00:19] #1485 closed

[2021-04-09 00:30] dldisha opened #1487 "Improve Learn page various section alignment"
The 3 column layout design on the learn page can be improved. Currently, it's not properly aligned and consistent.

Before:
![Screenshot from 2021-04-09 05-07-39](https://user-images.githubusercontent.com/26017359/114111445-abb45b80-98f7-11eb-9c5a-bfb4fb6637da.png)

After:
![Screenshot from 2021-04-09 05-49-05](https://user-images.githubusercontent.com/26017359/114111488-c1c21c00-98f7-11eb-92ef-ed

[2021-04-09 03:10] Srinithyee commented on #1472
@johnwhitington Alright then!
@patricoferris This looks like a good first issue to me. I have already contributed to 3 simple issues. Should I leave this open for some other Outreachy applicant, still looking for one?

[2021-04-09 03:51] Riddhima23 commented on #1403
@gurleennsidhuu are you working on this issue?

[2021-04-09 04:35] Srinithyee commented on #1245
@Muskan-sam can you try following the instructions mentioned in my last comment on issue #1437?
That helped me get thing right :)